<!DOCTYPE html>
<html lang="it">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="Content-Language" content="it-it"/>
    <title>Pappa-Mi Raccolta dati Commissioni Mensa</title>
    <meta name="ROBOTS" content="ALL"/>
    <meta http-equiv="imagetoolbar" content="no"/>
    <meta name="MSSmartTagsPreventParsing" content="true"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="Copyright" content="Pappa-Mi"/>
    <meta name="keywords" content="Scuola, Mensa, Commissioni Mensa, Refezione, Scuola, Educazione alimentare, Nutrizione, Bambini"/>
    <meta name="google-site-verification" content="KnNDo_lamFY34HnzBbuWNRDHCoBJESIaYbPpUxCgQJI" />
    <meta name="description" content="Commissioni Mensa community"/>

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <meta http-equiv="X-UA-Compatible" content="IE=7.5"/>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->
    <link type="text/css" href="/css/custom-theme/jquery-ui-1.8.16.custom.css" rel="stylesheet"/>
    <link type="text/css" href="/css/custom-theme/jquery.ui.1.8.16.ie.css" rel="stylesheet"/>
    <link type="text/css" href="/css/bootstrap.min.css" rel="stylesheet"/>
    <link type="text/css" href="/css/bootstrap-responsive.min.css" rel="stylesheet">
    <link type="text/css" href="/css/jquery.pnotify.default.css" rel="stylesheet">
    <link type="text/css" href="/css/comments.css" rel="stylesheet" media="screen"/>
    <link type="text/css" href="/css/activity.css" rel="stylesheet" media="screen"/>		
    
    <link type="text/css" href="/css/jquery.taghandler.css" rel="stylesheet" type="text/css" media="screen"/>
    <link type="text/css" href="/css/jquery.ajaxComboBox.css" rel="stylesheet"/>
    
    <link rel="stylesheet" href="/css/base.css" type="text/css" media="all" />
    <link rel="stylesheet" href="/css/stream.css" type="text/css" media="all" />
    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="/img/favicon.ico">
    <link rel="apple-touch-icon" href="/img/logo_57.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/img/logo_72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/img/logo_114.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/img/logo_144.png">
    
    <!-- Le javascript -->
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.1/jquery-ui.js"></script>
    <script type="text/javascript" src="/_ah/channel/jsapi"></script>
<!--[if IE]>
<script src="/js/ieresizefix.js" type="text/javascript"></script>
<![endif]-->	
    <script type="text/javascript" src="/js/jquery.tools.min.js"></script>
    <script type="text/javascript" src="/js/jquery.autogrow-textarea.js"></script> 
    <script type="text/javascript" src="/js/jquery.form.js"></script> 
    <script type="text/javascript" src="/js/jquery.timers.js"></script> 
    <script type="text/javascript" src="/js/jquery.countdown.js"></script> 
    <script type="text/javascript" src="/js/jquery.metadata.js"></script>
    <script type="text/javascript" src="/js/jquery.validate.min.js"></script> 
    <script type="text/javascript" src="/js/jquery.validate.messages_it.js"></script> 
    <script type="text/javascript" src="/js/bbq.js"></script> 
    <script type="text/javascript" src="/js/jquery.form.wizard.js"></script>     
    <script type="text/javascript" src="/js/jquery.ui.datepicker-it.js"></script> 
    <script type="text/javascript" src="/js/tiny_mce/tiny_mce.js"></script>
    <script type="text/javascript" src="/js/tiny_mce/jquery.tinymce.js"></script>
    <script type="text/javascript" src="/js/jquery.ajaxComboBox.4.3.js"></script>
    <script type="text/javascript" src="/js/jquery.event.move.js"></script>
    <script type="text/javascript" src="/js/jquery.event.swipe.js"></script>
    <script type="text/javascript" src="/js/jquery.pnotify.min.js"></script>
    
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap-button.js"></script>
	
    <script type="text/javascript" src="/js/stream.js"></script> 
    <script type="text/javascript" src="/js/activity.js"></script> 
    <script type="text/javascript" src="/js/main.js"></script>
    <script type="text/javascript" src="/js/jform.js"></script>
  </head>
<body data-channel-id="{{channel}}" style="padding:0px; margin:2px; border-spacing:0px; background: #{{bgcolor}}; background-color:#{{bgcolor}}; color:#{{fcolor}};">
<div style="position:absolute; left:5px; top:15px;z-index:99;"><a href="/" target="_new"><img border="0" src="/img/pappa-mi-logo.png" width="20" title="Pappa-Mi"/></a></div>
<div class="node_root" data-node-key='{{node_key}}'>
 <div id="main_stream">
  <ul id="main_stream_list" class="unstyled">
  </ul>
 </div>
 <div id="main_cmd">
  <div id="more_posts" class="btn btn-normal span5 offset2">Carica altri...</div>
  <div id="no_more_posts" class="span5 offset2 alert alert-info fade in" style="display:none;">Non sono presenti altri messaggi<a class="close" data-dismiss="alert" href="#">&times;</a>
 </div>
</div>
<script type="text/javascript">
var piattounico = false;
$(document).ready(function() {
    initNode('{{node_key}}');
    loadPosts('{{node_key}}', "");
});
</script>
{%include "footer.inc"%}
</body>
</html>