<html>
<body style="padding:0px; margin:0px; font-family:verdana; border-spacing:0px; background-color:#eeeeff">
<table border="0" style="padding:0px; margin:0px; font-family:verdana; font-size:12px; border-spacing:0px; background-color:#eeeeff">
<tr>
<td></td>
<td>A</td>
<td>G</td>
</tr>
<tr>
<td>P</td>
<td><img src="http://chart.apis.google.com/chart?chs=64x16&cht=gom&chd=t:{{stats.primoAssaggioNorm}},{{statCC.primoAssaggioNorm}},{{statCM.primoAssaggioNorm}}& chls=3,2,2|3,2,2|15|10&chco=FF0000,FFFF00,00FF00&chma=0,0,0,0|0,0&chf=bg,s,eeeeff"></td>
<td><img src="http://chart.apis.google.com/chart?chs=32x16&cht=gom&chd=t:{{stats.primoGradimentoNorm}},{{statCC.primoGradimentoNorm}},{{statCM.primoGradimentoNorm}}& chls=3,2,2|3,2,2|15|10&chco=FF0000,FFFF00,00FF00&chma=0,0,0,0|0,0&chf=bg,s,eeeeff"></td>
</tr>
<tr>
<td>S</td>
<td><img src="http://chart.apis.google.com/chart?chs=32x16&cht=gom&chd=t:{{stats.secondoAssaggioNorm}},{{statCC.secondoAssaggioNorm}},{{statCM.secondoAssaggioNorm}}& chls=3,2,2|3,2,2|15|10&chco=FF0000,FFFF00,00FF00&chma=0,0,0,0|0,0&chf=bg,s,eeeeff"></td>
<td><img src="http://chart.apis.google.com/chart?chs=32x16&cht=gom&chd=t:{{stats.secondoGradimentoNorm}},{{statCC.secondoGradimentoNorm}},{{statCM.secondoGradimentoNorm}}& chls=3,2,2|3,2,2|15|10&chco=FF0000,FFFF00,00FF00&chma=0,0,0,0|0,0&chf=bg,s,eeeeff"></td>
</tr>
<tr>
<td>C</td>
<td><img src="http://chart.apis.google.com/chart?chs=32x16&cht=gom&chd=t:{{stats.contornoAssaggioNorm}},{{statCC.contornoAssaggioNorm}},{{statCM.contornoAssaggioNorm}}& chls=3,2,2|3,2,2|15|10&chco=FF0000,FFFF00,00FF00&chma=0,0,0,0|0,0&chf=bg,s,eeeeff"></td>
<td><img src="http://chart.apis.google.com/chart?chs=32x16&cht=gom&chd=t:{{stats.contornoGradimentoNorm}},{{statCC.contornoGradimentoNorm}},{{statCM.contornoGradimentoNorm}}& chls=3,2,2|3,2,2|15|10&chco=FF0000,FFFF00,00FF00&chma=0,0,0,0|0,0&chf=bg,s,eeeeff"></td>
</tr>
<tr>
<td>P</td>
<td><img src="http://chart.apis.google.com/chart?chs=32x16&cht=gom&chd=t:{{stats.paneAssaggioNorm}},{{statCC.paneAssaggioNorm}},{{statCM.paneAssaggioNorm}}& chls=3,2,2|3,2,2|15|10&chco=FF0000,FFFF00,00FF00&chma=0,0,0,0|0,0&chf=bg,s,eeeeff"></td>
<td><img src="http://chart.apis.google.com/chart?chs=32x16&cht=gom&chd=t:{{stats.paneGradimentoNorm}},{{statCC.paneGradimentoNorm}},{{statCM.paneGradimentoNorm}}& chls=3,2,2|3,2,2|15|10&chco=FF0000,FFFF00,00FF00&chma=0,0,0,0|0,0&chf=bg,s,eeeeff"></td>
</tr>
<tr>
<td>F</td>
<td><img src="http://chart.apis.google.com/chart?chs=32x16&cht=gom&chd=t:{{stats.fruttaAssaggioNorm}},{{statCC.fruttaAssaggioNorm}},{{statCM.fruttaAssaggioNorm}}& chls=3,2,2|3,2,2|15|10chls=3,2,2|3,2,2|15|10&chco=FF0000,FFFF00,00FF00&chma=0,0,0,0|0,0&chf=bg,s,eeeeff"></td>
<td><img src="http://chart.apis.google.com/chart?chs=32x16&cht=gom&chd=t:{{stats.fruttaGradimentoNorm}},{{statCC.fruttaGradimentoNorm}},{{statCM.fruttaGradimentoNorm}}& chls=3,2,2|3,2,2|15|10&chco=FF0000,FFFF00,00FF00&chma=0,0,0,0|0,0&chf=bg,s,eeeeff"></td>
</tr>
<tr>
<td>S</td>
<td colspan="2"><img src="http://chart.apis.google.com/chart?chs=48x24&cht=gom&chd=t:{{stats.giudizioGlobaleNorm}},{{statCC.giudizioGlobaleNorm}},{{statCM.giudizioGlobaleNorm}}&chls=3,2,2|3,2,2|15|10&chco=FF0000,FFFF00,00FF00&chma=0,0,0,0|0,0&chf=bg,s,eeeeff">
<img src="http://chart.apis.google.com/chart?chs=48x24&cht=gom&chd=t:{{stats.puliziaRefettorioNorm}},{{statCC.puliziaRefettorioNorm}},{{statCM.puliziaRefettorioNorm}}&chls=3,2,2|3,2,2|15|10&chco=FF0000,FFFF00,00FF00&chma=0,0,0,0|0,0&chf=bg,s,eeeeff">
<img src="http://chart.apis.google.com/chart?chs=48x24&cht=gom&chd=t:{{stats.smaltimentoRifiutiNorm}},{{statCC.smaltimentoRifiutiNorm}},{{statCM.smaltimentoRifiutiNorm}}&chls=3,2,2|3,2,2|15|10&chco=FF0000,FFFF00,00FF00&chma=0,0,0,0|0,0&chf=bg,s,eeeeff">
</td>
</tr>
</table>
</body>
</html>