{% for post in postlist%}
<li>
			<div class="social_post, thumbnail"> 
				<div class="s_post_avatar">
					<img class="avatar" src="{{post.commissario.avatar(cmsro)}}" title="{{post.commissario.nomecompleto(cmsro)}}">
				</div>
				<div class="s_post_content">
					<div class="s_post_header">			
						<div class="s_post_title"><a href="/social/post/{{post.key.urlsafe()}}">{{post.title}}</a></div> 
						<div class="s_post_author">scritto da {{post.commissario.nome}}</div>
						<div class="s_post_date">&nbsp;- il {{post.creation_date.strftime('%d %m %Y')}}</div>
					</div>				
					<div class="s_post_body">{{post.content|truncate(length=200, end="...")}}</div>									
					<div class="s_post_commands">
						{%if subscription.can_admin%}<button class="btn btn-danger" onClick="onPostDelete('{{user.key.urlsafe()}}','{{node.key.urlsafe()}}','{{post.key.urlsafe()}}')"><i class="icon-remove"></i>Elimina</button>{%endif%}
					</div>		
					<div class="latest_comment">
						Ultimo commento<div class="s_latest_date">&nbsp;- {{post.latest_comment_date.strftime('%d %m %Y')}}</div> 
					</div>					
			
				</div>				
			</div>
		</li>	
		
{%endfor%}