<div id="content-nav" class="row">
<h1>Gestione Sistema</h1>
<a href="/admin/commissione" class="btn">Commissioni</a><br/>
<a href="/admin/commissario" class="btn">Commissari</a>
<a href="/admin/menu" class="btn">Men&ugrave;</a>
<a href="/admin?cmd=flush" class="btn">Flush All</a><br/>
<a href="/admin?cmd=flushnews" class="btn">Flush news</a><br/>
<a href="/admin?cmd=getCommissari" class="btn">Get Commissari</a><br/>
<a href="/admin?cmd=getGenitori" class="btn">Get Genitori</a><br/>
</div>
<div class="row">
 <form action="/admin" method="get">
  <div class="control-group">
   <div class="controls">
    <label class="control-label">Comando</label>
    <input type="text" name="cmd"/>
    <label class="control-label">Limit</label>
    <input type="text" name="limit"/>
    <label class="control-label">Offset</label>
    <input type="text" name="offset"/>
    <label class="control-label">Kind</label>
    <input type="text" name="kind"/>
    <label class="control-label">Year</label>
    <input type="text" name="year"/>
   </div>
   <div class="form-actions">
    <input type="submit" class="btn btn-button"/>
   </div>
  </div>
 </form>
</div>