<script type="text/javascript">

$(document).ready(function () {
  init_search()
});
    
</script>
{%set tab_node="active"%}
{%include "navigation.html"%}
<!--div id="map" style="height: 240px; border: 1px solid black; overflow:hidden;"></div-->
{%if user and admin%}
<div class="well" style="padding: 10px;">
 <div class="btn-toolbar">
  <a class="btn btn-primary" href="/social/createnode">Aggiungi Nodo</a>
 </div>
</div>
{%endif%}
<h3>Elenco Argomenti</h3>
<div class="row">
 <div class="span12">
  <div class="well">
   <form>
    <label for="search_text">Cerca per nome:</label>
    <input id="search_text" type="text">
   </form>
  </div>
  <ul id="node_list" class="thumbnails">{%include "social/pagination/node.html"%}</ul>
 </div>
</div>
<button id="add_nodes" class="btn btn-normal" type="submit" style="display:none;">Mostra altri nodi</button>
<div id="pagination_errors" style="display:none;">Non ci sono altri nodi</div>
