<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta property="og:title" content="Pappa-Mi notifications">
  <title>Pappa-Mi newsletter</title>
  <style type="text/css">
  %include "social/bootstrap.min.css"%
  </style>
 </head>	
 <body>
  <div class="container">
   <div class="row">
    <div class="span6">
     <h1><img src="http://www.pappa-mi.it/img/logo_72.png"/>Pappa-Mi</h1>
     <h3>Le novità della settimana</h3>
    </div>
   </div>
  {%for ntfy in notifications%}{%if ntfy.event.get().type == "post"%}{%set post = ntfy.event.get().source.get()%}<div class="row">
    <div class="span6">
     <h4><a href="http://www.pappa-mi.it/social/post/{{post.key.urlsafe()}}/">Nuovo post: {{post.title}}</a></h4>
     <div class="muted">di {{post.author.get().email}} il {{post.creation_date}}</div>
     <div>{{post.content}}</div>
     <div><a href="http://www.pappa-mi.it/social/post/{{post.key.urlsafe()}}/">continua...</a></div>
    </div>
   </div>
   {%elif ntfy.event.get().type == "comment"%}{%set post = ntfy.event.get().target.get()%}{%set cmnt = ntfy.event.get().source.get()%}<div class="row">
    <div class="span6">
     <h4><a href="http://www.pappa-mi.it/social/post/{{post.key.urlsafe()}}#{{cmnt.key.urlsafe()}}">Commento al post: {{post.title}}</a></h4>
     <div class="muted">di {{post.author.get().email}} il {{post.creation_date}}</div>
     <div>{{cmnt.content}}</div>
     <div><a href="http://www.pappa-mi.it/social/post/{{post.key.urlsafe()}}#{{cmnt.key.urlsafe()}}">{{post.title}}">rispondi...</a></div>
    </div>
   </div>{%endif%}{%endfor%}
   <div class="row">
    <div class="span6">
     <div id="follow">
      <a href="http://twitter.com/pappa_mi" target="_new"><img src="/img/twitter-icon.png" alt="Twitter" width="32" height="32" data-original-title="Twitter"></a>
      <a href="//plus.google.com/110770353259380281779?prsrc=3" rel="publisher" style="text-decoration:none;">
   <img src="//ssl.gstatic.com/images/icons/gplus-32.png" alt="Google+" style="border:0;width:32px;height:32px;" data-original-title=""></a>
      <a href="http://www.pappa-mi.it/feed"><img src="/img/rss.png" alt="RSS" width="32" height="32" data-original-title="Feed RSS"></a>	    
     </div>
    </div>
   </div>
   <div class="row">
    <div class="span6">
     <a href="http://www.pappa-mi.it/profilo#newsletter">Modifica impostazioni notifiche email</a>
    </div>
   </div>
  </div>
 </body>
</html>