<table border="0" style="padding:0px; margin:0px; font-family:verdana; font-size:12px; border-spacing:0px;">
<tr>
<td><a href="/" target="_new"><img width="20" border="0" src="/img/pappa-mi-logo.png" title="Pappa-Mi"/></a></td>
<td align="center"><img width="32" src="/img/chef.png" title="Assaggio"/></td>
<td align="center"><img width="32" src="/img/grad.png" title="Gradimento"/></td>
</tr>
<tr>
<td><img width="32" src="/img/pasta.png" title="Primo"/></td>
<td><img src="http://chart.apis.google.com/chart?chs=80x40&cht=gom&chd=t:{{stats.primoAssaggioNorm}}{%if statCC%},{{statCC.primoAssaggioNorm}}{%endif%}{%if statCM%},{{statCM.primoAssaggioNorm}}{%endif%}{%if statCC%}&chls=3,2,2|3,2,2|15|10{%endif%}&chco=FF0000,FFFF00,00FF00&chma=0,0,0,0|0,0&chf=bg,s,{{bgcolor}}00" title="Primo - Assaggio"/></td>
<td><img src="http://chart.apis.google.com/chart?chs=80x40&cht=gom&chd=t:{{stats.primoGradimentoNorm}}{%if statCC%},{{statCC.primoGradimentoNorm}}{%endif%}{%if statCC%},{{statCM.primoGradimentoNorm}}{%endif%}{%if statCC%}&chls=3,2,2|3,2,2|15|10{%endif%}&chco=FF0000,FFFF00,00FF00&chma=0,0,0,0|0,0&chf=bg,s,{{bgcolor}}00" title="Primo - Gradimento"/></td>
</tr>
<tr>
<td><img width="32" src="/img/carne.png" title="Secondo"/></td>
<td><img src="http://chart.apis.google.com/chart?chs=80x40&cht=gom&chd=t:{{stats.secondoAssaggioNorm}}{%if statCC%},{{statCC.secondoAssaggioNorm}}{%endif%}{%if statCM%},{{statCM.secondoAssaggioNorm}}{%endif%}{%if statCC%}&chls=3,2,2|3,2,2|15|10{%endif%}&chco=FF0000,FFFF00,00FF00&chma=0,0,0,0|0,0&chf=bg,s,{{bgcolor}}00" title="Secondo - Assaggio"/></td>
<td><img src="http://chart.apis.google.com/chart?chs=80x40&cht=gom&chd=t:{{stats.secondoGradimentoNorm}}{%if statCC%},{{statCC.secondoGradimentoNorm}}{%endif%}{%if statCM%},{{statCM.secondoGradimentoNorm}}{%endif%}{%if statCC%}&chls=3,2,2|3,2,2|15|10{%endif%}&chco=FF0000,FFFF00,00FF00&chma=0,0,0,0|0,0&chf=bg,s,{{bgcolor}}00" title="Secondo - Gradimento"/></td>
<td>
</tr>
<tr>
<td><img width="32" src="/img/salad.png" title="Contorno"/></td>
<td><img src="http://chart.apis.google.com/chart?chs=80x40&cht=gom&chd=t:{{stats.contornoAssaggioNorm}}{%if statCC%},{{statCC.contornoAssaggioNorm}}{%endif%}{%if statCM%},{{statCM.contornoAssaggioNorm}}{%endif%}{%if statCC%}&chls=3,2,2|3,2,2|15|10{%endif%}&chco=FF0000,FFFF00,00FF00&chma=0,0,0,0|0,0&chf=bg,s,{{bgcolor}}00" title="Contorno - Assaggio"/></td>
<td><img src="http://chart.apis.google.com/chart?chs=80x40&cht=gom&chd=t:{{stats.contornoGradimentoNorm}}{%if statCC%},{{statCC.contornoGradimentoNorm}}{%endif%}{%if statCM%},{{statCM.contornoGradimentoNorm}}{%endif%}{%if statCC%}&chls=3,2,2|3,2,2|15|10{%endif%}&chco=FF0000,FFFF00,00FF00&chma=0,0,0,0|0,0&chf=bg,s,{{bgcolor}}00" title="Primo - Gradimento"/></td>
<td>
</tr>
<tr>
<td><img width="32" src="/img/mela.png" title="Frutta"/></td>
<td><img src="http://chart.apis.google.com/chart?chs=80x40&cht=gom&chd=t:{{stats.fruttaAssaggioNorm}}{%if statCC%},{{statCC.fruttaAssaggioNorm}}{%endif%}{%if statCM%},{{statCM.fruttaAssaggioNorm}}{%endif%}{%if statCC%}&chls=3,2,2|3,2,2|15|10{%endif%}&chco=FF0000,FFFF00,00FF00&chma=0,0,0,0|0,0&chf=bg,s,{{bgcolor}}00" title="Frutta - Assaggio"/></td>
<td><img src="http://chart.apis.google.com/chart?chs=80x40&cht=gom&chd=t:{{stats.fruttaGradimentoNorm}}{%if statCC%},{{statCC.fruttaGradimentoNorm}}{%endif%}{%if statCM%},{{statCM.fruttaGradimentoNorm}}{%endif%}{%if statCC%}&chls=3,2,2|3,2,2|15|10{%endif%}&chco=FF0000,FFFF00,00FF00&chma=0,0,0,0|0,0&chf=bg,s,{{bgcolor}}00" title="Frutta - Gradimento"/></td>
<td>
</tr>
<tr>
<td><img width="32" src="/img/service.png" title="Servizio"/></td>
<td><img src="http://chart.apis.google.com/chart?chs=80x40&cht=gom&chd=t:{{stats.giudizioGlobaleNorm}}{%if statCC%},{{statCC.giudizioGlobaleNorm}}{%endif%}{%if statCM%},{{statCM.giudizioGlobaleNorm}}{%endif%}{%if statCC%}&chls=3,2,2|3,2,2|15|10{%endif%}&chco=FF0000,FFFF00,00FF00&chma=0,0,0,0|0,0&chf=bg,s,{{bgcolor}}00" title="Giudizio Globale sul cibo"/></td>
<td><img src="http://chart.apis.google.com/chart?chs=80x40&cht=gom&chd=t:{{stats.puliziaRefettorioNorm}}{%if statCC%},{{statCC.puliziaRefettorioNorm}}{%endif%}{%if statCM%},{{statCM.puliziaRefettorioNorm}}{%endif%}{%if statCC%}&chls=3,2,2|3,2,2|15|10{%endif%}&chco=FF0000,FFFF00,00FF00&chma=0,0,0,0|0,0&chf=bg,s,{{bgcolor}}00" title="Pulizia Refettorio"/></td>
<td>
</tr>
</table>