<style>#content-main { width:80em; height: 720px; padding:1em;}</style>
<script type="text/javascript">
dojo.require("dijit.form.Form");
dojo.require("dijit.form.TextBox");
dojo.require("dijit.form.Button");
dojo.require("dijit.form.FilteringSelect");
dojo.require("dojo.data.ItemFileReadStore");
dojo.require("dojo.parser");

function genWidget() {
    type = dojo.byId("e_type").value;
    cm = dijit.byId("e_cm_all").value;
    width = dojo.byId("e_width").value;
    height = dojo.byId("e_height").value;
    fc = dojo.byId("e_fgcolor").value;
    bc = dojo.byId("e_bgcolor").value;
    t = "";
    if(type == "stat_c") {
      type = "stat";
      t = "c";
    }
    
    text = '<iframe width="'+width+'" height="'+height+'" frameborder="0" marginwidth="0" scrolling="no" marginheight="0" src="http://{{host}}/widget/' + type + '?cm=' + cm + '&bc='+bc+'&fc='+fc+'&t=' + t + '"></iframe>';
    dojo.byId("e_text").value = text;
    document.getElementById("e_widget").innerHTML = text;
}
</script>
<h2>Widget di Pappa-Mi</h2>
<p>Le informazioni conmtenute in Pappa-Mi possono essere mostrate direttamente nel tuo sito o blog tramite "widget"</p>
<p>In questo momento esistono i seguenti tipi di widget:</p>
<ul>
<li>Cosa si Mangia: Il menu del giorno</li>
<li>Come si mangia: I valori medi delle misure di qualit&agrave; dei pasti e del servizio</li>
</ul>
<p>I widget possono riportare il valore comuni a tutte le scuole oppure specifici per una scuola.</p>
<p></p>
<h2>Personalizza il tuo widget</h2>
<table width="100%">
<tr>
<td colspan="2">
<select id="e_type">
<option value="menu">Menu del giorno</option>
<option value="stat_c">Qualit&agrave; dei pasti - riepilogo</option>
<option value="stat">Qualit&agrave; dei pasti - completo</option>
</select>
</td>
</tr>
<tr>
<td colspan="2">
<div dojoType="dojo.data.ItemFileReadStore" jsId="cmStore" url="/widget/getcm"></div>
<div class="errorbox-good"></div>
<div class="ss-form-entry" id="l_cm"><label class="ss-q-title" for="e_cm">Scuola
<span class="ss-required-asterisk"></span></label>
<input dojoType="dijit.form.FilteringSelect" value="" store="cmStore"
searchAttr="nome" name="commissione_all" id="e_cm_all" style="width:24em;" onchange="onSelComm();">
<br/><br/></div>
</td>
</tr>
<tr>
<td colspan="2">
Larghezza: <input type="text" id="e_width" value="200"><br/>
Altezza: <input type="text" id="e_height" value="260"><br/>
Colore primo piano: <input type="text" id="e_fgcolor" value="00000"><br/>
Colore sfondo: <input type="text" id="e_bgcolor" value="ffffff"><br/>
</td>
</tr>
<tr>
<td colspan="2">
<button onclick="genWidget()">Genera Widget</button>
</td>
</tr>
<tr>
<td>
<textarea id="e_text" cols="60" rows="10"></textarea>
</td>
<td>
Anteprima
<div id="e_widget"></div>
</td>
</tr>
</table>