<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=7.5"/>
<meta http-equiv="Content-Language" content="it-it"/>
<title>Pappa-Mi Raccolta dati Commissioni Mensa Milano</title>
<meta http-equiv="imagetoolbar" content="no"/>
<meta name="MSSmartTagsPreventParsing" content="true"/>
<meta name="Copyright" content=""/>
<meta name="keywords" content="Scuola, Milano, Mensa, Commissioni Mensa, Refezione"/>
<meta name="google-site-verification" content="KnNDo_lamFY34HnzBbuWNRDHCoBJESIaYbPpUxCgQJI" />
<meta name="description" content="Raccolta dati Commissioni mensa Milano"/>
</head>
<body style="padding:0px; margin:0px; font-family:verdana; border-spacing:0px; background-color:#{{bgcolor}}">
<!--img src="/img/pappa-mi-logo-big.jpg" width="160" style="position:absolute; left:25px; top:0px; z-index:-1; opacity:0.2;filter:alpha(opacity=20)"/-->
{%include wcontent%}
{%include "/footer.inc"%}
</body>
</html>