<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <!--meta http-equiv="X-UA-Compatible" content="IE=7.5"/-->
    <meta http-equiv="Content-Language" content="it-it"/>
    <title>Pappa-Mi Raccolta dati Commissioni Mensa</title>
    <meta name="ROBOTS" content="ALL"/>
    <meta http-equiv="imagetoolbar" content="no"/>
    <meta name="MSSmartTagsPreventParsing" content="true"/>
    <meta name="Copyright" content="Pappa-Mi"/>
    <meta name="keywords" content="Scuola, Milano, Mensa, Commissioni Mensa, Refezione"/>
    <meta name="google-site-verification" content="KnNDo_lamFY34HnzBbuWNRDHCoBJESIaYbPpUxCgQJI" />
    <meta name="description" content="Commissioni Mensa Milano community"/>

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->
    <link type="text/css" href="/css/custom-theme/jquery-ui-1.10.0.custom.css" rel="stylesheet"/>
    <link type="text/css" href="/css/bootstrap.min.css" rel="stylesheet">
    <link type="text/css" href="/css/bootstrap-responsive.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/base.css" type="text/css" media="all" />

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="/img/favicon.ico">
    <link rel="apple-touch-icon" href="/img/logo_57.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/img/logo_72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/img/logo_114.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/img/logo_144.png">
  </head>

<body id="homepage">
  <div> 
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
	  <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
	    <span class="icon-bar"></span>
	    <span class="icon-bar"></span>
	    <span class="icon-bar"></span>
	  </a>
	  <a class="brand" style="padding:8px 20px 0px" href="/"><img class="avatar" style="width:24px;height:24px;" src="/img/pappa-mi-logo.png"></img><img class="" src="/img/pappa-mi-logo-text_24.png"></img></a>
        </div>
      </div>
    </div>
  </div>  
  <div class="container main" style="padding-top: 60px;">
  <center><h1><h1>:-(<br/>Si &egrave; verificato un problema....</h1>
  <br/>
  <br/>
  <br/>  
  <a href="/" class="btn btn-normal">Clicca qui per tornare alla pagina principale</a></center>
  </div>
  <div style="height:400px; padding-top: 60px; background:url('/img/sad-tomato.jpg') no-repeat center;">
  </div>
  <footer>
{%include "footer.inc"%}
  </footer>  
  </body>
</html>
