{%for activity in activities %}
{%if not limit or loop.index < limit%}
<script type="text/javascript"> 
    // wait for the DOM to be loaded 
    $(document).ready(function() { 
        // bind 'myForm' and provide a simple callback function 
        $('#comment_{{activity.key.id()}}').ajaxForm({clearForm: true, success:function(data) { 
           $('#comment_list_{{activity.key.id()}}').append(data);
           last = $('#comment_list_{{activity.key.id()}}').children().last().children().first().attr('id').substring("comment_".length);
           $('#comment_last_{{activity.key.id()}}').val(last);
           $('#comments_num_{{activity.key.id()}}').text($('#comment_list_{{activity.key.id()}}').children().length);
           $('#comments_header_{{activity.key.id()}}').show();
           //$('#comments_{{activity.key.id()}}').load('/comments/comment?par={{activity.key.id()}}')
        }}); 
        {%if detail is defined%}onexpcomments('{{activity.key.id()}}');{%endif%}
    });
</script> 
<li class="activity_item" id="activity_{{activity.key.id()}}">
<div class="activity_box">
 <div class="activity_avatar">
  <img class="avatar" src="{{activity.author_avatar(cmsro)}}" title="{{activity.author(cmsro)}}">
 </div>
 <span class="permalink" onclick="permalink('{{activity.key.id()}}')"></span>
 <div class="activity_body">
  <div class="activity_author">{{activity.author(cmsro)}}</div>  
  <div class="activity_author_title">{{activity.author_title(cmsro)}}</div>
  <div class="activity_date"> - {{activity.data()}}</div>{%if activity.tags()%}
  <div class="activity_tags"><i class="icon-tags"></i> {%for tag in activity.tags()%}<a class="activity_tag" onclick="filteractivities('tag={{tag.nome}}');">{{tag.nome}}</a> {%endfor%}</div>{%endif%}
  <div class="activity_title" >{{activity.title()}}</div>
  {%if detail is defined%}{% include detail %}{%else%}<span id="detail_exp_{{activity.key.id()}}" role="button" class="exp" tabindex="0" onclick="ondetail('{{activity.key.id()}}')"></span>{%endif%}
  <div class="activity_summary" id="summary_{{activity.key.id()}}">{{activity.summary()}}</div>  
  <div class="activity_detail" id="detail_{{activity.key.id()}}"></div>
  <div class="activity_footer">   
   <div class="activity_feedback" id="votes_{{activity.key.id()}}" onclick="onshowvotes('{{activity.key.id()}}')" style="display:{%if activity.likes() %}inline{%else%}none{%endif%};">Piace a <span id="vnum_{{activity.key.id()}}">{{activity.likes()}}</span> persone <span id="vnum_{{activity.key.id()}}_me" {%if activity.canvote(user) %}style='display:none;'{%endif%}> (compreso te)</span></div>{%if user%}
   <div class="activity_vote" id="vote_1_{{activity.key.id()}}" style="display:{%if activity.canvote(user) %}inline{%else%}none{%endif%};">
    <div class="activity_vote_button" id="vote_{{activity.key.id()}}" onclick="onvote('{{activity.key.id()}}',1)">Mi piace</div>
    <!--button id="vote_{{activity.key.id()}}" onclick="onvote('{{activity.key.id()}}',-1)">Non mi piace</button-->
   </div>
   <div class="activity_vote" id="vote_2_{{activity.key.id()}}" style="display:{%if activity.canvote(user) %}none{%else%}inline{%endif%};">
    <div class="activity_vote_button" id="vote_{{activity.key.id()}}" onclick="onunvote('{{activity.key.id()}}')">Ho cambiato idea</div>
   </div>
   <div class="activity_comments" id="comments_header_{{activity.key.id()}}" style="display:{%if activity.comments() > 0 %}inline{%else%}none{%endif%};" onclick="onexpcomments('{{activity.key.id()}}')"><span id="comments_num_{{activity.key.id()}}">{{activity.comments()}}</span> commenti <span id="comments_exp_{{activity.key.id()}}" role="button" class="expcmt" tabindex="0" onclick="onexpcomments('{{activity.key.id()}}')">&nbsp;&nbsp;</span></div>
   <span>&nbsp;</span><div class="activity_comments" id="comments_header_{{activity.key.id()}}" style="display:inline;" onclick="onexpcommentnew('{{activity.key.id()}}')">Aggiungi un commento</span></div>
   <div id="comments_container_{{activity.key.id()}}" style="display:none;">
    <ul class="comment_list" id="comment_list_{{activity.key.id()}}"></ul>
   </div>   
   <div id="comment_new_exp_{{activity.key.id()}}" class="expcommentnew" tabindex="0" role="button" onclick="onexpcommentnew('{{activity.key.id()}}')">Aggiungi un commento</div>
   <div class="activity_comment_new" id="comment_new_container_{{activity.key.id()}}">
    {%if user%}
    <div class="comment_form">
    <form id="comment_{{activity.key.id()}}" action="/comments/comment" method="post"> 
    <input type="hidden" name="tipo" value="202" /> 
    <input type="hidden" name="livello" value="1" /> 
    <input type="hidden" name="last" id="comment_last_{{activity.key.id()}}" value="" /> 
    <input type="hidden" name="par" value="{{activity.key.id()}}" /> 
    <input type="hidden" name="root" value="{{activity.key.id()}}" /> 
     <div class="comment_avatar">
     <img src="{{user.avatar}}" title="{{user.fullname}}">
     </div>
     <div class="comment_body">
      <div class="comment_author">{{user.fullname}} </div>
      <div class="comment_author_title">{{user.title}}</div>
      <div class="comment_text"><textarea class="comment_textarea" name="testo"></textarea></div>
      <div class="actions"><button class="btn btn-primary" type="submit">Invia</button><button class="btn"  type="button" onclick="onexpcommentnew('{{activity.key.id()}}')">Annulla</button></div>
     </div>
    </form>
    </div>
    {%else%}
    <div onclick="location.href='{{login_url}}'">Accedi per aggiungere un commento</div>
    {%endif%}
   </div>
   </div>{%endif%}  
 </div>
</div>
</li>
{%endif%}  
{%endfor%}
{%if ease%}
<script type="text/javascript"> 
$(function() {
{%for activity in activities %}
$( "#activity_{{activity.key.id()}}" ).css("opacity", "0");
$( "#activity_{{activity.key.id()}}" ).animate({ opacity: 1}, 2000 );
{%endfor%}
location.href="#"+$("#activity_list").children().last().attr("id");
});
</script>
{%endif%}
