{%for activity in activities %}
<li class="activity_item" id="activity_{{activity.key()}}">
<div class="activity_box">
 <div class="activity_avatar">
  <img class="avatar" src="{{activity.author_avatar()}}" title="{{activity.author()}}">
 </div>
 <div class="activity_body">
  <div class="activity_author">{{activity.author()}}</div>  
  <div class="activity_author_title">{{activity.author_title()}}</div>
  <div class="activity_date"> - {{activity.data()}}</div>{%if activity.tags()%}
  <div class="activity_tags">In: {%for tag in activity.tags()%}<a class="activity_tag" onclick="filteractivities('tag={{tag.nome}}');">{{tag.nome}}</a> {%endfor%}</div>{%endif%}
  <span id=":24.l" class="f-oa-t f-oa-t-j" title="Add link"></span>
  <div class="activity_title" >{{activity.title()}}</div>
  <span class="permalink" onclick="permalink('{{activity.key()}}')"></span>
  <span id="detail_exp_{{activity.key()}}" role="button" class="exp" tabindex="0" onclick="ondetail('{{activity.key()}}')"></span>
  <div class="activity_summary" id="summary_{{activity.key()}}">{{activity.summary()}}</div>
  <div class="activity_detail" id="detail_{{activity.key()}}"></div>
  <div class="activity_footer">   
   <div class="activity_feedback" id="votes_{{activity.key()}}" onclick="onshowvotes('{{activity.key()}}')" style="display:{%if activity.likes() %}inline{%else%}none{%endif%};">Piace a <span id="vnum_{{activity.key()}}">{{activity.likes()}}</span> persone <span id="vnum_{{activity.key()}}_me" {%if activity.canvote() %}style='display:none;'{%endif%}> (compreso te)</span></div>{%if user%}
   <div class="activity_vote" id="vote_1_{{activity.key()}}" style="display:{%if activity.canvote() %}inline{%else%}none{%endif%};">
    <div class="activity_vote_button" id="vote_{{activity.key()}}" onclick="onvote('{{activity.key()}}',1)">Mi piace</div>
    <!--button id="vote_{{activity.key()}}" onclick="onvote('{{activity.key()}}',-1)">Non mi piace</button-->
   </div>
   <div class="activity_vote" id="vote_2_{{activity.key()}}" style="display:{%if activity.canvote() %}none{%else%}inline{%endif%};">
    <div class="activity_vote_button" id="vote_{{activity.key()}}" onclick="onunvote('{{activity.key()}}')">Ho cambiato idea</div>
   </div>
  </div>{%endif%}  
 </div>
</div>
</li>
{%if ease%}
<script type="text/javascript"> 
$(function() {
$( "#activity_{{activity.key()}}" ).css("background-color", "#aaa");
$( "#activity_{{activity.key()}}" ).animate({
	 backgroundColor: "#fff"
}, 2000 );
});
</script>
{%endif%}
{%endfor%}