<div id="avatar_dialog" style="display:none;">
<script src="http://connect.facebook.net/it_IT/all.js"></script> 
<img id="avatar_edit" src="{{form.avatar_url.data}}" class="avatar-big"/>
<form id="avatar_form" action="/profilo/avatar" method="POST">
<input type="hidden" name="cmd" value="upload"/>
Carica una immagine: <input type="file" id="avatar_file" name="avatar_file" allow="image/jpeg, image/png, image/gif"/>
</form>
<p>Oppure:</p>
<div id="fb-root"></div>
<div id="fb"><a id="fbgetimage" class="btn">Aggiorna da Facebook</a></div>
<div id="gp"><a id="gpgetimage" class="btn">Aggiorna da Google</a></div>
<div id="tw"><a id="twgetimage" class="btn">Aggiorna da Twitter</a></div>
<div id="tw"><a id="ligetimage" class="btn">Aggiorna da LinkedIn</a></div>
</div>
