<link href="/css/comments.css" rel="stylesheet" type="text/css" media="screen"/>
{%set tab_community="active"%}
{%include "navigation.html"%}
<div class="row">
<div class="span12">
<ul class="thumbnails">
{%for ck in commissari%}<li class="span6"><div class="thumbnail">{%set c = ck.get() %}
  <img class="avatar" src="{{c.avatar(cmsro)}}" title="{{c.nomecompleto(cmsro)}}">
  <div class="activity_author">{{c.nomecompleto(cmsro)}}</div>  
  <div class="activity_author_title">{{c.titolo(cmsro)}}</div>
  <div class="activity_author_email"><a href="mailto:{{c.email(cmsro)}}" target="new">{{c.email(cmsro)}}</a></div>
  </div>
</li>{%endfor%}
</ul>
</div>
</div>