<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="it" lang="it">
<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<meta http-equiv="X-UA-Compatible" content="IE=7.5"/>
		<meta http-equiv="Content-Language" content="it-it"/>
		<title>Pappa-Mi Raccolta dati Commissioni Mensa Milano</title>
		<meta name="ROBOTS" content="ALL"/>
		<meta http-equiv="imagetoolbar" content="no"/>
		<meta name="MSSmartTagsPreventParsing" content="true"/>
		<meta name="Copyright" content=""/>
		<meta name="keywords" content="Scuola, Milano, Mensa, Commissioni Mensa, Refezione"/>
		<meta name="google-site-verification" content="KnNDo_lamFY34HnzBbuWNRDHCoBJESIaYbPpUxCgQJI" />
		<meta name="description" content="Raccolta dati Commissioni mensa Milano"/>
		<link href="/css/homepage.css" rel="stylesheet" type="text/css" media="screen"/>
		<link href="/css/print.css" rel="stylesheet" type="text/css" media="print"/>
		<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/dojo/1.3.2/dijit/themes/nihilo/nihilo.css" />	
		<script src="http://www.google.com/jsapi" type="text/javascript"></script>
<script type="text/javascript">
djConfig={
          parseOnLoad: true,
          baseUrl: "./",
          modulePaths: { custom: "/js/dojo/custom" }
        };
</script>
<script type="text/javascript">google.load("dojo", "1.3.2", {uncompressed:false});</script>
<script type="text/javascript">google.load("jquery", "1.4.2", {uncompressed:true});</script>
<script type="text/javascript">
dojo.addOnLoad(function(){ dojo.style("subwrap", {visibility:"visible"});});
</script>
</head>
<body id="homepage" class="nihilo">
<div id="container">
 <div id="header">
   {%if user%}<div id="logon_user" style="position:absolute; top:0px;right:0px; z-index:2;">Ciao, {{user.email}}</div>{%endif%}
   <h1 id="logo"><a href="/"><img src="/img/pappa-mi-logo.png" alt="Pappa-Mi"/></a></h1>
    <h1 id="logo-txt"><a href="/">Pappa-Mi</a> {%if test%}Test{%endif%}</h1>
    <ul id="nav-global">
	<li><a href="/">Home</a></li>
	<li><a href="http://blog.pappa-mi.it" target="_new">Blog</a></li>
	<li><a href="/chi">Chi siamo</a></li>
	<li><a href="/docs">Documenti</a></li>
        {% if commissario or genitore %}	
	<li><a href="/stats">Statistiche</a></li>
	{% endif %}
        {% if commissario %}
	<li><a href="/commissario">Area Commissari</a></li>
	{% endif %}
        {% if genitore %}
	<li><a href="/genitore">Area Genitori</a></li>
	{% endif %}	
	{% if not commissario and not genitore %}
	<li><a href="/registrazione">Registrati</a></li>
	{% endif %}{% if commissario or genitore %}	
	<li><a href="/commissioni">Commissioni</a></li>
	{% endif %}{% if admin %}
	<li><a href="/admin">Gestione Sistema</a></li>
	{% endif %}
	<li><a href="/supporto">Aiuto</a></li>
	<li><a href="{{url}}">{{url_linktext}}</a></li>
  </ul>
 </div>
  <!-- END header -->
{%include billboard%}
 <div id="columnwrap">
  <div id="subwrap" style="visibility:hidden;">
{% include content_left %}
<!-- END #content-left -->
<div id="content-main">
{% include content %}
   </div>
<!-- END #content-main -->
{% include content_right %}
<!-- END #content-related -->
<!-- END #subwrap -->
{% include content_extra %}
<!-- END #content-extra -->
   </div>
  </div>
<!-- END #subwrap -->
</div>
<!-- END #colwrap -->
<!-- END #container -->
<div id="footer">
<p>Pappa-Mi versione {{version}} - <a href="/condizioni">Condizioni del Servizio</a>
</p>
</div>
<!-- END #footer -->
{%include "footer.inc"%}
<!-- END #container -->
</body></html>