<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="it" lang="it">
<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<meta http-equiv="Content-Language" content="en-us"/>
		<title>Pappa-Mi Raccolta dati Commissioni Mensa Milano</title>
		<meta name="ROBOTS" content="ALL"/>
		<meta http-equiv="imagetoolbar" content="no"/>
		<meta name="MSSmartTagsPreventParsing" content="true"/>
		<meta name="Copyright" content=""/>
		<meta name="keywords" content="Scuola, Milano, Mensa, Refezione"/>
		<meta name="description" content="Raccolta dati Commissioni mensa Milano"/>
		<link href="/css/homepage.css" rel="stylesheet" type="text/css" media="screen"/>
		<link href="/css/print.css" rel="stylesheet" type="text/css" media="print"/>
		<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/dojo/1.3/dijit/themes/nihilo/nihilo.css" />
		<script src="http://www.google.com/jsapi" type="text/javascript"></script>
<script type="text/javascript">
djConfig={
          parseOnLoad: true,
          baseUrl: "./",
          modulePaths: { custom: "/js/dojo/custom" }
        };
</script>
<script type="text/javascript">google.load("dojo", "1.3", {uncompressed:false});</script>
</head>
<body id="homepage" class="nihilo">
<div id="container">
  <div id="header">
    <h1 id="logo"><A href="/"><img src="/img/pappa-mi-logo.jpg"></A></h1>
    <h1 id="logo-txt"><A href="/">Pappa-Mi</A></h1>
    <ul id="nav-global">
	<li id="nav-homepage"><A href="/">Home</A></li>
	{% if user and commissario %}
	<li id="nav-homepage"><A href="/commissario">Area Commissari</A></li>
	{% endif %}
	{% if user and not commissario %}
	<li id="nav-homepage"><A href="/commissario/registrazione">Registrazione Nuovo Commissario</A></li>
	{% endif %}
	{% if admin %}
	<li id="nav-homepage"><A href="/admin">Gestione Sistema</A></li>
	{% endif %}
	{% if user %}
	<li id="nav-homepage"><A href="/supporto">Supporto</A></li>
	{% endif %}
	<li id="nav-homepage"><A href="{{url}}">{{url_linktext}}</A></li>
  <ul>
  </div>
  <!-- END header -->
{%include billboard%}
<div id="columnwrap">
<div id="subwrap">
{% include content_left %}
<div id="content-main">
{% include content %}
</div>
<!-- END #content-main -->
{% include content_right %}
<!-- END #content-related -->
</div>
<!-- END #subwrap -->
{% include content_extra %}
<!-- END #content-extra -->
</div>
<!-- END #colwrap -->
<div id="footer">
<P>Pappa-Mi versione {{version}}
</P>
</div>
<!-- END #footer -->
</div>{%include "footer.inc"%}
<!-- END #container -->
</body></html>