<script type="text/javascript">
var limit = {{limit}};
$(document).ready(function () {
  load({{citta.geo.lat}},{{citta.geo.lon}});
});      
</script>
{%set tab_map="active"%}
{%include "navigation.html"%}
<div style="position:absolute; top:20em; left:18em; width:30em; background: #ffffff; border: 1px;z-index:999;display:none;" id="loading"><center><img src="/img/loading.gif"/><br/>Caricamento in corso ...</center></div>
<ul class="nav nav-tabs">
<li class="dropdown">
 <a id="dropdown" class="dropdown-toggle dropdown-form" data-toggle="dropdown" href="#">
  Commissioni presso le Scuole di <b id="l_citta">{{citta.nome}}</b><i class="caret"></i>
 </a>
 <ul class="dropdown-menu dropdown-large">
  {#<form class="form-vertical" id="f_chgscope" action="/commissioni" method="post">#}
    <label class="control-label" for="citta">Citt&agrave;</label>
    <select class="large required" id="e_citta" name="citta" value="{{ctx.citta_key}}">
    <option value=""></option>
    {%for cit in cittas%}<option value="{{cit.key.id()}}"{%if ctx.citta_key and cit.key.id() == ctx.citta_key%} selected{%endif%}>{{cit.nome}}</option>{%endfor%}
    </select>
    <label class="control-label" for="citta">Centri cucina</label>
    <select class="large required" id="e_cc" name="centroCucina" value="">
    <option value="">Tutti</option>{%for cc in centriCucina%}
    <option value="{{cc.key.string_id()}}">{{cc.nome}}</option>{%endfor%}    
    </select>
    <label class="control-label" for="citta">Grado Scuole</label>
    <select name="tipoScuola" id="e_tipo">
    <option value="">Tutte</option>
    <option value="Materna"{% if tipoScuola == "Materna" %} selected{% endif %}>Materna</option>
    <option value="Primaria"{% if tipoScuola == "Primaria" %} selected{% endif %}>Primaria</option>
    <option value="Secondaria"{% if tipoScuola == "Secondaria" %} selected{% endif %}>Secondaria</option>
    </select>
    <label class="control-label" for="citta">Stato</label>
    <select name="numcm" id="e_numcm">
    <option value="0">Tutte</option>
    <option value="1" selected>Attive</option>
    </select>    
    <div class="controls">
      <button type="submit" class="btn primary" onclick="$('#dropdown').click(); redraw();">Ok</button>
      <button type="reset" class="btn" onclick="$('#dropdown').click();">Annulla</button>
    </div>
  {#</form>#}
 </ul>
</li>
</ul><div class="row">
 <div class="span3">
  <div id="left_list" class="scroll" style="height: 600px; overflow: auto;"></div>
 </div>
 <div class="span9">
  <div id="map" style="height: 600px;"></div>
 </div>
</div>
