<style>
#content-main {width: 69em;}
#subwrap {width: 82em;}
</style>
<script type="text/javascript">
dojo.require("dijit.form.Form");
dojo.require("dijit.form.ComboBox");
dojo.require("dijit.form.Button");
dojo.require("dijit.Dialog");
dojo.require("dijit.ProgressBar");
</script>
{%if test%}
<script src="http://maps.google.com/maps?file=api&amp;v=2&amp;key=ABQIAAAAUP4yJ8rq-bFQY7ZrtdvTQxR-kkwChykYW7WKcP9E61FIpqtdnBTu75SoRIRFZtvbJ_a6sG3HegmbSw" type="text/javascript"></script>
{%else%}<script src="http://maps.google.com/maps?file=api&amp;v=2&amp;key=ABQIAAAAUP4yJ8rq-bFQY7ZrtdvTQxRgWPZBKFIi4bT6qAD2oj5D-9d1VxSvfotcLV_kHqzVYNQxMt2W-p7t3w" type="text/javascript"></script>{%endif%}
    <script src="http://gmaps-utility-library.googlecode.com/svn/trunk/mapiconmaker/1.0/src/mapiconmaker.js" type="text/javascript"></script> 
    <script type="text/javascript">
    //<![CDATA[

    var locations = {};
    var list;
    var xml = null;
    var gmap;
    var iLast;
    var locArray;

    function drawMap(data) {
        if( !xml ) xml = GXml.parse(data);
        gmap.clearOverlays();
        locations = {};
        while (list.firstChild) {
          list.removeChild(list.firstChild);
        }
        var markers = xml.documentElement.getElementsByTagName("marker");
        var f_cc = dojo.byId("e_cc").value;
        var f_type = dojo.byId("e_tipo").value;
        var f_numcm = dojo.byId("e_numcm").value;
        for (var i = 0; i < markers.length; i++) {
          var name = markers[i].getAttribute("nome");
          var address = markers[i].getAttribute("indirizzo");
          var type = markers[i].getAttribute("tipo");
          var numcm = markers[i].getAttribute("numcm");
          var cc = markers[i].getAttribute("cc");
          if(( !f_cc || cc == f_cc) && (!f_type || type == f_type) && (f_numcm == 0 || numcm > 0)) {
            var latlng = new GLatLng(parseFloat(markers[i].getAttribute("lat")),
                                    parseFloat(markers[i].getAttribute("lon")));
            var store = {latlng: latlng, name: name, address: address, type: type, cm: numcm};
            var latlngHash = (latlng.lat().toFixed(6) + "" + latlng.lng().toFixed(6));
            latlngHash = latlngHash.replace(".","").replace(".", "").replace("-","");
            if (locations[latlngHash] == null) {
              locations[latlngHash] = []
            }
            locations[latlngHash].push(store);
          }
        }
        iLast = 0;
        locArray = [];
        var i = 0;
        for (var latlngHash in locations) {
          locArray[i++] = locations[latlngHash];
        }
        jsProgress.update({ maximum: locArray.length, progress:0 });     
        dojo.byId("progress").style.visibility = "visible";
        overlay();
      }    

    function overlay() {
      for (var i = iLast; i < locArray.length && i < iLast + 20; i++) {
        var stores = locArray[i];
        if (stores.length > 1) {
          gmap.addOverlay(createClusteredMarker(stores));
        } else {        
          gmap.addOverlay(createMarker(stores));
        }
      }
      iLast = i;
      jsProgress.update({progress: iLast});
      if(iLast < locArray.length) {
        setTimeout(overlay, 10);
      } else {
        dojo.byId("progress").style.visibility = "hidden";
      }
    }
    
    function load() {
      gmap = new GMap2(document.getElementById("map"));
      //gmap.addControl(new GLargeMapControl3D());
      gmap.setUIToDefault();
      gmap.setCenter(new GLatLng(45.4636889,9.1881408), 12);
      list = dojo.byId("left_list");
      
      GDownloadUrl("/map?cmd=all", drawMap);
    }

    function createMarker(stores) {
      var store = stores[0];
      if(store.type == "Materna") {
        color = (store.cm > 0 ? "#0000ff" : "#222277");
      } else if (store.type == "Primaria") {
        color = (store.cm > 0 ? "#00ff00" : "#227722");
      } else {
        color = (store.cm > 0 ? "#ff0000" : "#772222");
      }
      var newIcon = MapIconMaker.createMarkerIcon({width: 32, height: 32, primaryColor: color});
      var marker = new GMarker(store.latlng, {icon: newIcon});
      var html = "<b>" + store.name + " - " + store.type + "</b> <br/>" + store.address;
      GEvent.addListener(marker, 'click', function() {
        marker.openInfoWindowHtml(html);
      });
      addLocationToList(list, store, marker);      
      return marker;
    }

    function createClusteredMarker(stores) {
      var newIcon = MapIconMaker.createMarkerIcon({width: 44, height: 44, primaryColor: "#0000ff"});
      var marker = new GMarker(stores[0].latlng, {icon: newIcon});
      var html = "";
      for (var i = 0; i < stores.length; i++) {
        html += "<b>" + stores[i].name + " - " + stores[i].type + "</b> <br/>" + stores[i].address + "<br/>";
        addLocationToList(list, stores[i], marker);      
      }
      GEvent.addListener(marker, 'click', function() {
        marker.openInfoWindowHtml(html);
      });
      return marker;
    }

    function addLocationToList(list, store, marker) {
      school = document.createElement("div");
      school.style.cursor = "hand";
      var html = "<b>" + store.name + " - " + store.type + "</b> <br/>" + store.address + "";
      school.innerHTML = html;
      if(school.addEventListener)       
        school.addEventListener("click", function(){
        marker.openInfoWindow(html);
        }, false);
      list.appendChild(school);
    }
    
    //]]>
    
    dojo.addOnLoad(load);
    window.onunload = GUnload;
  </script>
  <style>
#content-main { width:100%; }
  </style>
<h1 class="ss-form-title">Le Commissioni</h1>
<div dojoType="dijit.form.DropDownButton">
  <span>Filtra dati</span>
  <div dojoType="dijit.TooltipDialog" id="tooltipDlg" title="Filtro dati">
<table>
<tr>
<td>
<LABEL class="ss-q-title" for="entry_3">Tipo</LABEL>
<SELECT name="tipoScuola" id="e_tipo">
<OPTION value="">Tutte</OPTION>
<OPTION value="Materna"{% ifequal tipoScuola "Materna" %} selected{% endifequal %}>Materna</OPTION>
<OPTION value="Primaria"{% ifequal tipoScuola "Primaria" %} selected{% endifequal %}>Primaria</OPTION>
<OPTION value="Secondaria"{% ifequal tipoScuola "Secondaria" %} selected{% endifequal %}>Secondaria</OPTION>
</SELECT>
</td>
</tr>
<tr>
<td>
<LABEL class="ss-q-title" for="entry_4">C.Cucina</LABEL>
<SELECT name="centroCucina" id="e_cc">
<OPTION value="">Tutti</OPTION>{%for cc in centriCucina%}
<OPTION value="{{cc.key.name}}">{{cc.nome}}</OPTION>{%endfor%}
</select>
</td>
</tr>
<tr>
<td>
<LABEL class="ss-q-title" for="entry_4">Stato</LABEL>
<SELECT name="numcm" id="e_numcm">
<OPTION value="0">Tutte</OPTION>
<OPTION value="1">Attive</OPTION>
</select>
</td>
</tr>
<tr>
<td>
<button dojoType="dijit.form.Button" type="submit" onclick="drawMap()">Applica</button>
</td>
</tr>
</table>
</div>
</div>
<div id="left_list" style="height: 600px; width: 14em; max-width=14em; float:left; border: 0px solid black; overflow: auto;"></div>
<div id="map" style="height: 600px; width: 58em; max-width=58em; float:left; border: 1px solid black"></div>
<div style="width:58em; position:absolute; top: 100px; left: 19.5em; visibility: hidden;" id="progress"><center>Caricamento in corso ...</center><div dojoType="dijit.ProgressBar" jsId="jsProgress" id="downloadProgress"></div>