<!-- Anything Slider -->
<link rel="stylesheet" href="/css/anythingslider.css">
<script src="/js/jquery.anythingslider.min.js"></script>
<style>
#slider { width: 870px; height: 450px; }

.mt {padding:0px;}
.md {padding:0px;}
.cg {cursor: hand;}
a {text-decoration:none;}
.dayheader {}
.day1 {}
.day2 {}
.today {}
</style>
<script> 
$(function(){
 // Initialize Slides
 // DOM Ready

 date = new Date("{{data1}}");
 
 $('#slider').anythingSlider({ 
  buildStartStop : false,
  buildNavigation: false,
  navigationFormatter : function(index, panel){ return ['Luned&igrave;', 'Marted&igrave;', 'Mercoled&igrave;', 'Gioved&igrave;', 'Venerd&igrave;'][index - 1];}
 });
 
 $('#slider').data("AnythingSlider").goForwardBase = $('#slider').data("AnythingSlider").goForward;
 $('#slider').data("AnythingSlider").goForward = function() {  
  if($('#slider').data("AnythingSlider").currentPage == 5) {
   date.setDate(date.getDate() + 7);
   $('#slider').load("/menuslide?data="+date.getFullYear()+"-"+(date.getMonth()+1)+"-"+date.getDate(), function() {
    $('#slider').anythingSlider(); 
    $('#slider').data("AnythingSlider").goForwardBase();
   });   
  } else {
   $('#slider').data("AnythingSlider").goForwardBase();
  }
 }; 
 $('#slider').data("AnythingSlider").goBackBase = $('#slider').data("AnythingSlider").goBack;
 $('#slider').data("AnythingSlider").goBack = function() {  
  if($('#slider').data("AnythingSlider").currentPage == 1) {
   date.setDate(date.getDate() + 7);
   $('#slider').load("/menuslide?data="+date.getFullYear()+"-"+(date.getMonth()+1)+"-"+date.getDate(), function() {
    $('#slider').anythingSlider(); 
    $('#slider').data("AnythingSlider").goBackBase();
   });  
  } else {
   $('#slider').data("AnythingSlider").goBackBase();
  }
 }; 

 $('#slider').load("/menuslide", function() {$('#slider').anythingSlider(); });

 $("#e_chgscope").popover({html: true, trigger: "manual", placement: "below", content:function(){return $("#d_chgscope").html();}}); 
 $('#e_chgscope').click(chgscope);
});

function chgscope() {
 if($('#f_chgscope').is(':visible')) {
  $("#e_chgscope").popover('hide');
 } else {
  $("#e_chgscope").popover('show');
 }
}
</script>
{%set tab_menu="active"%}
{%include "navigation.html"%}
<h3 style="display:inline;">Il Menu in vigore per la Scuola {{cm.nome}} - {{cm.tipoScuola}}</h3>&nbsp;<button id="e_chgscope" class="btn">Cambia...</button>
<div class="row">
 <div class="span16">
  <ul id="slider"> 
  </ul>
 </div> 
</div> 
<div id="d_chgscope" style="display:none;">
 <div class="row">
  <div class="span6">
   <form class="form-stacked" id="f_chgscope" onsubmit="$('#d_chgscope').popover('hide');return false;">
    <div class="clearfix">
     <label>Scuola: </label>
     <div class="input">
      <input type="text">
     </div>
     <div class="actions">
      <button type="submit" class="btn primary">Ok</button>&nbsp;<button type="reset" class="btn" onclick="$('#d_chgscope').popover('hide');">Annulla</button>
     </div>  
    </div>
   </form>
  </div>
 </div>
</div>