<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<HTML><HEAD><META http-equiv="Content-Type" content="text/html; charset=UTF-8">
<TITLE>Commissioni Mensa: Raccolda dati Ispezioni</TITLE>
{%include "header.inc"%}
</HEAD>
<body class="nihilo">
{%include "nav.inc"%}
<DIV class="ss-form-container">
<H1 class="ss-form-title">Benvenuti in Commissione Mensa</H1>
<br><br><br>
<p>
Questa applicazione permette la raccolta delle schede di valutazione del servizio di ristorazione offerto nelle scuole di Milano
</p>
<p>
Le schede sono compilate dai Commissari a seguito di una ispezione effettuata direttamente presso una Scuola, contestualmente all'erogazione del servizio di ristorazione.
</p>
<p>
I commissari sono volontari (genitori di allievi) che operano per conto di una o più Commissioni. Ogni Commissione è associata a una Scuola.
</p>
<p>
I dati raccolti sono utilzzati come base statistica per il monitoraggio del servizio offerto.
</p>
<p>
Se siete un Commissario e volete utilizzare l'applicazione per inserire i dati delle ispezioni potete registratevi con il link in basso.
</p>
<br><br><br>
</div>
</body> 
</html>