<style>
#content-main { width:60%; margin-left:20%;margin-right:20%;padding:10px;}
</style>
<h2>Registrazione</h2>
<p>Registrati per accedere a Pappa-Mi</p>
<p>Scegli se registrarti come Genitore o Commissario</p>
<p>Per registrarti devi disporre di un account Google, se non ne hai gi&agrave; uno puoi crearlo con <a href="https://www.google.com/accounts/NewAccount">questa procedura</a></p>
<div style="float:left;width:50%"><p>Sono un Genitore bla bla bla</p>
<button style="width:100%; height:40px; font-size:120%;" onclick="location.href='/genitore/registrazione'">Registrati come <b>Genitore</b></button></br>
</div>
<div style="float:left;width:50%"><p>Sono un Commissario</p>
<button style="width:100%; height:40px; font-size:120%;" onclick="location.href='/commissario/registrazione'">Registrati come <b>Commissario</b></button></br>
</div>
