<script type="text/javascript">

$(document).ready(function () {
 init('{{ctx.get('node')}}')
 init_search()
});

</script>

{%set tab_activity="active"%}
{%include "navigation.html"%}

<div id="node_selector">	
 <div class="row">
  <div class="span3 s_node_panel">
   <ul id="node_list" class="nav nav-list well">{%if user%}
    <li><a data-node-key="all" href="#"><i class="icon-home"></i><span title="I tuoi argomenti" class="node_name">I tuoi argomenti</span><i class="pull-right icon-chevron-right"></i></a></li>{%endif%}
    <li><a data-node-key="news" href="#"><i class="icon-list"></i><span title="Tutte le novità" class="node_name">Tutte le novità</span><i class="pull-right icon-chevron-right"></i></a></li>
    <li class="nav-header" id="sub_nodes"><i class="icon-tags"></i>Argomenti</li>
    {%for sub in subs%}<li><a data-node-key="{{sub.key.parent().urlsafe()}}" href="#"><span title="{{sub.key.parent().get().name}}" class="node_name">{{sub.key.parent().get().name|truncate(length=20, end="...")}}</span><span class="pull-right">{%if sub.ntfy>0%}<span class="sub_ntfy badge badge-warning">{{sub.ntfy}}</span>{%endif%}<i class="icon-chevron-right"></i></span></a></li>
    {%endfor%}
    <li id="node_search">
     <a href="/node/list"><i class="icon-search"></i>Altre scuole e argomenti</a>
    </li>
    <li class="nav-header hidden-phone"><i class="icon-fire"></i>Più discussi</li>
    {%for node in node_active%}<li><a data-node-key="{{node.key.urlsafe()}}" href="#"><span title="{{node.name}}" class="node_name">{{node.name|truncate(length=30, end="...")}}</span><i class="pull-right icon-chevron-right"></i></a></li>
    {%endfor%}
    <li class="nav-header hidden-phone"><i class="icon-asterisk"></i>Nuovi</li>
    {%for node in node_recent%}<li><a data-node-key="{{node.key.urlsafe()}}" href="#"><span title="{{node.name}}" class="node_name">{{node.name|truncate(length=30, end="...")}}</span><i class="pull-right icon-chevron-right"></i></a></li>
    {%endfor%}
   </ul>    
  </div>
  <div id="node_container" class="span9 s_node_container">
  </div>
 </div>
</div>	