<div>
<table>
<tbody>
<tr>
<td>Piatto</td><td>Assaggio</td><td>Gradimento</td>
</tr>
<tr>
<td>{{msg.root.primoEffettivo}}</td><td>{{msg.root.primoAssaggio}}</td><td>{{msg.root.primoGradimento}}</td>
</tr>
<tr>
<td>{{msg.root.secondoEffettivo}}</td><td>{{msg.root.secondoAssaggio}}</td><td>{{msg.root.secondoGradimento}}</td>
</tr>
<tr>
<td>{{msg.root.contornoEffettivo}}</td><td>{{msg.root.contornoAssaggio}}</td><td>{{msg.root.contornoGradimento}}</td>
</tr>
</tbody>
</table>
</div>
{% include "../comments/comments.html" %}a