<a href='#' onclick='location.href="/social/notifications"'>Tutte gli eventi</a>
<ul class="unstyled">
{%for notification in notifications %}
<li>
<div class="notification" date="{{notification.date}}">
{%if notification.status == 1%}<i class='icon-info-sign'></i>{{notification.set_read()}}{%endif%}
{{notification.event.get().source.get().commissario.nomecompleto(cmsro)}} ha aggiunto
{%if notification.event.get().type=='post'%}
 un <a href="#" onclick="location.href='/social/post/{{notification.event.get().source.urlsafe()}}'">post</a>
{%elif notification.event.get().type=='comment'%} 
 un <a href="#" onclick="location.href='/social/post/{{notification.event.get().target.urlsafe()}}#{{notification.event.get().source.urlsafe()}}'">commento</a>
{%endif%}
</div>
</li>
{%endfor%}
</ul>
