<!DOCTYPE html PUBLIC "<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<HTML><HEAD><META http-equiv="Content-Type" content="text/html; charset=UTF-8">
<TITLE>Commissioni Mensa: Raccolda dati Ispezioni</TITLE>
{%include "../header.inc"%}
<script type="text/javascript">
dojo.require("dijit.form.Form");
dojo.require("dijit.form.TimeTextBox");
dojo.require("dijit.form.Textarea");
dojo.require("dijit.form.NumberTextBox");
dojo.require("dijit.form.DateTextBox");
dojo.require("dijit.form.ComboBox");
dojo.require("dijit.form.RadioButton");
</script>
</HEAD><BODY class="nihilo">
{%include "../nav.inc"%}
<DIV class="ss-form-container"><H1 class="ss-form-title">Pagina Gestione Commissioni</H1>
  <p>
<FORM dojoType="dijit.form.Form" action="/admin/commissione" method="POST" id="form_0">
<input type="hidden" name="cmd" value="list"/>
<script type="dojo/method" event="onSubmit">
if(this.validate()){
    return true;
} else {
    alert('Il form contiene valori non corretti');
    return false;
}
</script>
<table width="100%">
<tr>
<td>
<LABEL class="ss-q-title" for="entry_1">Nome</LABEL>
<INPUT type="text" size="10" name="nome" value="{{nome}}" class="ss-q-short" id="entry_1">
<td>
<LABEL class="ss-q-title" for="entry_2">Scuola</LABEL>
<INPUT type="text" size="10" name="nomeScuola" value="{{nomeScuola}}" class="ss-q-short" id="entry_2">
</td>
<td>
<LABEL class="ss-q-title" for="entry_3">Tipo</LABEL>
<SELECT name="tipoScuola" id="entry_3">
<OPTION value=""></OPTION>
<OPTION value="Materna"{% ifequal tipoScuola "Materna" %} selected{% endifequal %}>Materna</OPTION>
<OPTION value="Primaria"{% ifequal tipoScuola "Primaria" %} selected{% endifequal %}>Primaria</OPTION>
<OPTION value="Secondaria"{% ifequal tipoScuola "Secondaria" %} selected{% endifequal %}>Secondaria</OPTION>
</SELECT></td>
<td>
<LABEL class="ss-q-title" for="entry_4">C.Cucina</LABEL>
<SELECT name="centroCucina" id="entry_4">
<OPTION value=""></OPTION>{%for cc in centriCucina%}
<OPTION value="{{cc.key}}"{% ifequal centroCucina cc.key %} selected{% endifequal %}>{{cc.nome}}</OPTION>{%endfor%}
</select>
</td>
<td>
<LABEL class="ss-q-title" for="entry_5">Zona</LABEL>
<INPUT type="text" size="2" name="zona" value="{{zona}}" class="ss-q-short" id="entry_5">
</td>
<td>
<LABEL class="ss-q-title" for="entry_6">Distretto</LABEL>
<INPUT type="text" size="2" name="distretto" value="{{distretto}}" class="ss-q-short" id="entry_6">
</td>
</tr>
</table>
<input type="submit" value="Cerca">
</form>  
<DIV id="jot-content" class="goog-ws-content goog-ws-clear">
<DIV id="goog-ws-list-floatingBar" class="goog-scrollfloater">
<DIV class="goog-ws-clear">
<DIV class="goog-ws-half-width goog-ws-right goog-ws-text-right">
<SPAN class="goog-ws-grey">
                    Visualizzazione di <SPAN xmlns="http://www.w3.org/1999/xhtml" class="goog-ws-list-rowCount">{{commissioni.count}}</SPAN> voci
                  </SPAN>
</DIV>
</DIV>
<TABLE class="goog-ws-table" cellspacing="0">
<THEAD class="goog-ws-list-header" ><TR>
<TH xmlns="http://www.w3.org/1999/xhtml" width="20&percnt;">Nome</TH>
<TH xmlns="http://www.w3.org/1999/xhtml" width="20&percnt;">Scuola</TH>
<TH xmlns="http://www.w3.org/1999/xhtml" width="20&percnt;">Tipo</TH>
<TH xmlns="http://www.w3.org/1999/xhtml" width="20&percnt;">Indirizzo</TH>
<TH xmlns="http://www.w3.org/1999/xhtml" width="20&percnt;">C.Cucina</TH>
<TH xmlns="http://www.w3.org/1999/xhtml" width="20&percnt;">Zona - Distretto</TH>
</TR>
</THEAD>
<TBODY class="goog-ws-list-table">
{% for c in commissioni %}
<TR xmlns="http://www.w3.org/1999/xhtml" id="wuid:gx:2ab00a7669ceea0e" class="goog-ws-list-tableRow">
<TD width="10&percnt;" dir="ltr"><a href="/admin/commissione?cmd=open&key={{c.key}}">{{c.nome}}</a></TD>
<TD width="10&percnt;" dir="ltr">{{c.nomeScuola}}</TD>
<TD width="10&percnt;" dir="ltr">{{c.tipoScuola}}</TD>
<TD width="10&percnt;" dir="">{{c.strada}} {{c.civico}}</TD>
<TD width="20&percnt;">{{c.centroCucina.nome}}</TD>
<TD width="20&percnt;">{{c.zona}} - {{c.distretto}}</TD>
</TR>
{% endfor %}
</TBODY>
</TABLE>
<DIV class="goog-ws-clear" style="padding-top:5px;">
<DIV class="goog-ws-half-width goog-ws-right goog-ws-text-right">
<SPAN class="goog-ws-grey">
                  Visualizzazione di <SPAN xmlns="http://www.w3.org/1999/xhtml" class="goog-ws-list-rowCount">{{commissioni.count}}</SPAN> voci
</SPAN>
</DIV>
</DIV>
</DIV>
<DIV class="goog-ws-half-width goog-ws-left">
<A id="test-list-page-add-button" href="/admin/commissione?cmd=open" class="btn"><B><B><B><B style="font-weight:bold !important;">Aggiungi Commissione</B></B></B></B></A>
</DIV>
  </body> 
</html>