  <script src="http://www.google.com/jsapi" type="text/javascript"></script>
  <script>
    google.load('visualization', '1', {packages:['table']});

    google.setOnLoadCallback(drawTable);
    
    function drawTable() {
      var json_table = new google.visualization.Table(document.getElementById('table_div_json'));
      var json_data = new google.visualization.DataTable({{json}}, 0.5);

      json_table.draw(json_data, {allowHtml: true, showRowNumber: true, page: 'enable'});
    }
  </script>
<h1>Gestione Commissari</h1>
<div id="table_div_json"></div>