<script>
$(document).ready(function(){
 $('#veespo_category').ajaxForm({dataType:'json', success:function(data) {alert(data);}});
 $('#veespo_category_ok').on('click', function() {
  for (d in dishes) {
   alert(dishes[d].name);
   var dish = dishes[d]
   $('#id').val('pappa-mi-dish-'+dish.id);
   $('#name').val(dish.name);
   $('#desc').val("");
   $('#veespo_category').submit();
  }
 });
});
var dishes = {{dishes}};

</script>
<h2>Pappa-Mi Veespo Admin</h2>
<div class="row">
 <div class="span6">
  <legend>Create dish targets</legend>
  <form id="veespo_category" action="http://production.veespo.com/admin/category/ctg-f86fbf9e-b53b-e7a5-d75d-57139ea6541d/target/add" method="post">
  <input type="hidden" name="jfMethodOverride" value="post"/>
  <input type="hidden" id="id" name="uuid" value="pappa-mi-"/>
  <input type="hidden" id="name" name="desc1" value=""/>
  <input type="hidden" id="desc" name="desc2" value=""/>
  </form>
  <button id="veespo_category_ok" class="btn btn-normal">Create menù targets</button>
 </div>
 <div class="span6">
  <div id="output"></div>
 </div>
</div>