<div class="row">
<h1 class="ss-form-title">Gestione Sistema</h1>
<br><br><br>
<span class="goog-ws-half-width">
<A id="test-list-page-add-button" href="/admin/commissione" class="btn"><B><B><B><B style="font-weight:bold !important;">Gestione Commissioni</B></B></B></B></A>
</span>
<span class="goog-ws-half-width">
<A id="test-list-page-add-button" href="/admin/commissario" class="btn"><B><B><B><B style="font-weight:bold !important;">Gestione Commissari</B></B></B></B></A>
</span>
<span class="goog-ws-half-width">
<A id="test-list-page-add-button" href="/admin/menu" class="btn"><B><B><B><B style="font-weight:bold !important;">Gestione Menu</B></B></B></B></A>
</span>
<br><br><br><br><br><br><br>
</div>
<div class="row">
 <form action="/admin" method="get">
  <div class="control-group">
   <div class="controls">
    <label class="control-label">Comando</label>
    <input type="text" name="cmd"/>
    <label class="control-label">Limit</label>
    <input type="text" name="limit"/>
    <label class="control-label">Offset</label>
    <input type="text" name="offset"/>
    <label class="control-label">Kind</label>
    <input type="text" name="kind"/>
   </div>
   <div class="form-actions">
    <input type="submit" class="btn btn-button"/>
   </div>
  </div>
 </form>
</div>