<div class="row">
  <div class="span12">
    <h2>Pagina Gestione Menu</h2>
    <form action="/adminmenu" method="POST" id="form_0">
      <div class="control-group">
       <div class="controls">
         <input type="hidden" name="cmd" value="upload" method="POST"/>
         <label>Città</label>
         <select name="citta">
         <option>Vuoto</option>
         </select>         
         <label>Menu</label>
         <textarea name="data" cols="120" rows="20"></textarea>
        </div>
      </div>
      <div class="form-actions">
        <input type="submit" class="btn btn-button"/>
      </div>
    </form>
  </div>
</div>
