<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="it" lang="it">
<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<meta http-equiv="Content-Language" content="it-it"/>
		<title>Pappa-Mi Raccolta dati Commissioni Mensa Milano</title>
		<meta name="ROBOTS" content="ALL"/>
		<meta http-equiv="imagetoolbar" content="no"/>
		<meta name="MSSmartTagsPreventParsing" content="true"/>
		<meta name="Copyright" content=""/>
		<meta name="keywords" content="Scuola, Milano, Mensa, Commissioni Mensa, Refezione"/>
		<meta name="google-site-verification" content="KnNDo_lamFY34HnzBbuWNRDHCoBJESIaYbPpUxCgQJI" />
		<meta name="description" content="Raccolta dati Commissioni mensa Milano"/>
</head>
<body id="homepage">
<ul>
{%for activity in activities%}
<li><a href="./act?key={{activity.key.id()}}">{{activity.title}}</a>{{activity.body}}</li>
{%endfor%}
</ul>
</body></html>