<H1>Statistiche</H1>
<TABLE cellspacing="0">
<thead>
<tr>
<th>Valori</th>
<th>Media totale</th>
<th>Media ultimo mese</th>
</tr>
</thead>
<tbody>
<tr>
<td>Numero Schede</td><td>{{stats.numeroSchede}}</td><td>{{statsMese.numeroSchede}}</td>
<tr></tr>
<td>Primo Piatto - Assaggio</td><td>{{stats.primoAssaggio}}</td><td>{{statsMese.primoAssaggio}}</td>
<tr></tr>
<td>Primo Piatto - Gradimento</td><td>{{stats.primoGradimento}}</td><td>{{statsMese.primoGradimento}}</td>
<tr></tr>
<td>Secondo Piatto - Assaggio</td><td>{{stats.secondoAssaggio}}</td><td>{{statsMese.secondoAssaggio}}</td>
<tr></tr>
<td>Secondo Piatto - Gradimento</td><td>{{stats.secondoGradimento}}</td><td>{{statsMese.secondoGradimento}}</td>
<tr></tr>
<td>Contorno Piatto - Assaggio</td><td>{{stats.contornoAssaggio}}</td><td>{{statsMese.contornoAssaggio}}</td>
<tr></tr>
<td>Contorno Piatto - Gradimento</td><td>{{stats.contornoGradimento}}</td><td>{{statsMese.contornoGradimento}}</td>
<tr></tr>
<td>Pulizia Refettorio</td><td>{{stats.puliziaRefettorio}}</td><td>{{statsMese.puliziaRefettorio}}</td>
<tr></tr>
<td>Smaltimento Rifiuti</td><td>{{stats.smaltimentoRifiuti}}</td><td>{{statsMese.smaltimentoRifiuti}}</td>
<tr></tr>
<td>Giudizio Globale</td><td>{{stats.giudizioGlobale}}</td><td>{{statsMese.giudizioGlobale}}</td>
<tr></tr>
<td>Numero Nonconformità complessive</td><td>{{stats.ncTotali}}</td><td>{{statsMese.ncTotali}}</td>
<tr></tr>
<td>Richiesta Campionatura</td><td>{{stats.ncRichiestaCampionatura}}</td><td>{{statsMese.ncRichiestaCampionatura}}</td>
</tr>
<tr>
</tbody>
</table>
