<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <link rel="apple-touch-icon" href="/img/logo_57.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/img/logo_72.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/img/logo_114.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/img/logo_144.png">

<!--  original -->
<link rel="stylesheet" href="//code.jquery.com/mobile/1.3.2/jquery.mobile-1.3.2.min.css" />
<link rel="stylesheet" href="/css/pappa-mi-mobile.min.css" />
<link rel="stylesheet" href="/css/mobile.css" />
<script src="//code.jquery.com/jquery-1.9.1.min.js"></script>
<script src="//code.jquery.com/mobile/1.3.2/jquery.mobile-1.3.2.min.js"></script>

  <title>PappaMi Come si mangia ascuola</title>
</head>
<body>
<div data-role="page" id="page-public" style="background:url('/img/slider/slide2_l.jpg') no-repeat center;height:100%;">
 <div data-role="header">
  <h1><img class="logo_small" src="/img/pappa-mi-logo.png"/>PappaMi</h1>
 </div>
 <div data-role="content">
    <div style="background: rgba(255, 255, 255, .8);padding:10px;border-radius:6px;">
      <div style="text-align: center;">
      <h2>PappaMi</h2>
      <p>Cosa si mangia a scuola, oggi? <a href="#popup-intro" data-inline="true" data-role="button" data-rel="popup" data-theme="a" data-icon="info" data-iconpos="notext" class="ui-btn-right">Info</a></p>
      </div>
    </div>
    <a data-role="button" href="/signup" data-ajax="false">Registrati</a>
    <a data-role="button" href="/eauth/login?next=/mobile/app" data-ajax="false">Accedi</a>
    <a data-role="button" href="/mobile/app" data-ajax="false">Entra come Ospite</a>
    <center><a href="https://itunes.apple.com/it/app/PappaMi/id673122977?mt=8&ign-mpt=uo%3D4" data-ajax="false"><img src="/img/Available_on_the_App_Store_Badge_IT_135x40_0824.png"></a></center>
  </div>
  <div data-role="popup" data-overlay-theme="a" data-theme="d" id="popup-intro">
    <a href="#page-public" data-role="button" data-theme="a" data-icon="delete" data-iconpos="notext" class="ui-btn-right">Chiudi</a>
    <center><h2>Benvenuto su PappaMi!</h2></center>
    <p>PappaMi aiuta i genitori dei bambini a conoscere le mense scolastiche e contribuire al miglioramento del servizio di refezione.</p>
    <p>Con questa app i genitori possono valutare la qualità dei pasti serviti a scuola e fornire utili indicazioni per il miglioramento continuo del servizio stesso.<p>
  </div>
</div>
<script>

function setCookie(c_name, value, exdays) {
    var exdate = new Date();
    exdate.setDate(exdate.getDate() + exdays);
    var c_value = escape(value) + ((exdays == null) ? "" : "; expires=" + exdate.toUTCString());
    document.cookie = c_name + "=" + c_value;
}

function getCookie(c_name) {
    var i, x, y, ARRcookies = document.cookie.split(";");
    for (i = 0; i < ARRcookies.length; i++) {
        x = ARRcookies[i].substr(0, ARRcookies[i].indexOf("="));
        y = ARRcookies[i].substr(ARRcookies[i].indexOf("=") + 1);
        x = x.replace(/^\s+|\s+$/g, "");
        if (x == c_name) {
            return unescape(y);
        }
    }
}

function checkReturning() {
  var returning = getCookie('returning');
  if( !returning ) {
    $( "#popup-intro" ).popup({history: false});
    $( "#popup-intro" ).popup( "open", {transition: 'fade', positionTo:'window'} );
    returning = true;
  }

  setCookie('returning', returning, 365)
}

function checkNative() {
  var native_ios = getCookie('native_ios');
  if( (navigator.platform == 'iPhone' || navigator.platform == 'iPod' || navigator.platform == 'iPad' ) && native_ios == null ) {
    native_ios = confirm("E' disponibile la app specifica per il tuo dispositivo, desideri scaricarla?");
    if(native_ios) {
      location.href = "https://itunes.apple.com/it/app/PappaMi/id673122977?mt=8&ign-mpt=uo%3D4";
    }
  }

 setCookie('native_ios', native_ios, 365)
}

$("#page-public").on('pageshow', function(event, entry) {
  checkReturning();
  checkNative();
});
</script>
{%include "footer.inc"%}
</body>
</html>
