<!-- Le styles -->
<link type="text/css" href="/css/custom-theme/jquery-ui-1.8.16.custom.css" rel="stylesheet"/>
<link type="text/css" href="/css/bootstrap.min.css" rel="stylesheet">
<link type="text/css" href="/css/bootstrap-responsive.min.css" rel="stylesheet">
<link type="text/css" href="/css/comments.css" rel="stylesheet" media="screen"/>
<link type="text/css" href="/css/activity.css" rel="stylesheet" media="screen"/>		
<link rel="stylesheet" type="text/css" href="/css/jcarousel.css" />
<script type="text/javascript" src="/js/jquery.jcarousel.min.js"></script>
<script type="text/javascript" src="/js/wmenu.js"></script>
<style>
.mt {font-size:7pt;}
.md {font-size:8pt;}
a {text-decoration:none;}
</style>
<ul id="menu" class="jcarousel-skin-tango">{%for m in menu%}
    <li><div><table width="100%" border="0" style="margin:0px; border-spacing:0px;">
<tr><td align="center" class="md">{{m.getData()}} {{m.data.strftime("%d/%m/%Y")}} {%if sett%}Sett. {{m.settimana}}{%endif%}</td></tr>
<tr><td align="center" class="mt">Primo piatto</td></tr>
<tr><td align="center" class="md" title="Calorie: {{m.primo.calorie}} Carboidrati: {{m.primo.carboidrati}} Proteine: {{m.primo.proteine}} Grassi: {{m.primo.grassi}}">{{m.primo.nome}}</td></tr>
<tr><td align="center" class="mt">Secondo piatto</td></tr>
<tr><td align="center" class="md" title="Calorie: {{m.secondo.calorie}} Carboidrati: {{m.secondo.carboidrati}} Proteine: {{m.secondo.proteine}} Grassi: {{m.secondo.grassi}}">{{m.secondo.nome}}</td></tr>
<tr><td align="center" class="mt">Contorno</td></tr>
<tr><td align="center" class="md" title="Calorie: {{m.contorno.calorie}} Carboidrati: {{m.contorno.carboidrati}} Proteine: {{m.contorno.proteine}} Grassi: {{m.contorno.grassi}}">{{m.contorno.nome}}</td></tr>
<tr><td align="center" class="mt">Dessert</td></tr>
<tr><td align="center" class="md" title="Calorie: {{m.dessert.calorie}} Carboidrati: {{m.dessert.carboidrati}} Proteine: {{m.dessert.proteine}} Grassi: {{m.dessert.grassi}}">{{m.dessert.nome}}</td></tr>
</table></div></li>{%endfor%}
</ul>