<html>
    <head>
      <title>My Great Website</title>
    </head>
    <body>
      <div id="fb-root"></div>
      <script src="http://connect.facebook.net/en_US/all.js">
      </script>
      <script>
         FB.init({ 
            appId:'103254759720309', cookie:true, 
            status:true, xfbml:true 
         });
          FB.getLoginStatus(function(response) {
            if (response.session) {
              dostuff();
            } else {
              FB.login(function(response) {
                if (response.session) {
                  dostuff();
                } else {
                }
              });
              }
          });         
function dostuff() {
  FB.api('/me', function(user) {
    if(user != null) {
       var image = document.getElementById('image');
       image.src = 'https://graph.facebook.com/' + user.id + '/picture';
       var name = document.getElementById('name');
       name.innerHTML = user.name
       var pic = document.getElementById('picture');                            
       pic.value = image.src;              
    }
  });
}
       </script>

           <div align="center">
           <img id="image"/>
           <div id="name"></div>
           </div>
           <form id="form1" action="/fb/save"><input id="picture" type="text" name="picture" value=""/><input type="submit"/></form>
    </body>
 </html>