{%for activity in activities %}
{%if not limit or loop.index < limit%}
<script type="text/javascript"> 
    "use strict";
    // wait for the DOM to be loaded 
    $(document).ready(function() { 
        // bind 'myForm' and provide a simple callback function 
        $('#comment_{{activity.key.id()}}').ajaxForm({clearForm: true, success:function(data) { 
           $('#comment_list_{{activity.key.id()}}').append(data);
           var last = "";
           if($(data).find(".comment_box:last").attr("id")) {
             last = $(data).find(".comment_box:last").attr("id").substring("comment_".length);  
           }           
           $('#comment_last_{{activity.key.id()}}').val(last);
           $('#comments_num_{{activity.key.id()}}').text($('#comment_list_{{activity.key.id()}}').children().length);
           $('#comments_header_{{activity.key.id()}}').show();
           $("#e_comment_{{activity.key.id()}}_submit").button("reset");
        }}); 
        {%if detail is defined%}onexpcomments('{{activity.key.id()}}');{%endif%}
        $("[data-original-title]").tooltip();
    });
</script> 
<li class="activity_item" id="activity_{{activity.key.id()}}">{%if detail%}
<meta property='og:title' content='{{activity.title}}' />
<meta name="description" content='{{activity.summary}}' />{%endif%}
<div class="activity_box">
 <div class="activity_avatar" onclick="filteractivities('user={{activity.c_ua.id()}}&type=&tag=&cm=')">
  <img class="avatar" src="{{activity.author_avatar(cmsro)}}" title="{{activity.author(cmsro)}}">
 </div>
 <span class="permalink" onclick="permalink('{{activity.key.id()}}')" rel="tooltip" data-html="true" data-original-title="apri in un'altra<br/>finestra"></span>
 {%if detail is undefined and activity.hasdetail%}<span id="detail_exp_{{activity.key.id()}}" role="button" class="exp" tabindex="0" onclick="ondetail('{{activity.key.id()}}')" rel="tooltip" data-html="true" data-original-title="mostra / nascondi<br/>dettagli"></span>{%endif%}  
 <div class="activity_body">
  <div class="activity_author" onclick="filteractivities('user={{activity.c_ua.id()}}&type=&tag=&cm=')">{{activity.author(cmsro)}}</div>  
  <div class="activity_author_title">{{activity.author_title(cmsro)}}</div>
  <div class="activity_date"> - {{activity.data()}}</div>{%if activity.tags%}
  <div class="activity_tags"><i class="icon-tags"></i> {%for tag in activity.tags%}{%if user%}<a class="activity_tag" onclick="filteractivities('tag={{tag.nome}}');">{%endif%}{{tag.nome}}{%if user%}</a>{%endif%} {%endfor%}</div>{%endif%}
  <div class="activity_title"{%if detail is undefined and activity.hasdetail%} style="cursor:pointer;" onclick="ondetail('{{activity.key.id()}}')"{%endif%}>{{activity.title}}</div>  
  {%if detail is undefined%}<div class="activity_summary" id="summary_{{activity.key.id()}}"{%if detail is undefined and activity.hasdetail%} style="cursor:pointer;" onclick="ondetail('{{activity.key.id()}}')"{%endif%}>{{activity.summary}}</div>{%else%}{% include detail %}{%endif%}
  <div class="activity_detail" id="detail_{{activity.key.id()}}"></div>
  <div class="activity_footer">   
   <div class="activity_feedback" id="votes_{{activity.key.id()}}" onclick="onshowvotes('{{activity.key.id()}}')" style="display:{%if activity.likes() %}inline{%else%}none{%endif%};"><span class="badge badge-success">Piace a <span id="vnum_{{activity.key.id()}}">{{activity.likes()}}</span> {%if activity.likes() > 1%}persone{%else%}persona{%endif%} </span><span id="vnum_{{activity.key.id()}}_me" {%if user is none or activity.canvote(user)%}style='display:none;'{%endif%}> (compreso te)</span></div>{%if user%}
   <div class="activity_vote" id="vote_1_{{activity.key.id()}}" style="display:{%if activity.canvote(user)%}inline{%else%}none{%endif%};">
    <div class="activity_vote_button" id="vote_{{activity.key.id()}}" onclick="onvote('{{activity.key.id()}}',1)">Mi piace</div>
    <!--button id="vote_{{activity.key.id()}}" onclick="onvote('{{activity.key.id()}}',-1)">Non mi piace</button-->
   </div>
   <div class="activity_vote" id="vote_2_{{activity.key.id()}}" style="display:{%if activity.canvote(user) %}none{%else%}inline{%endif%};">
    <div class="activity_vote_button" id="vote_{{activity.key.id()}}" onclick="onunvote('{{activity.key.id()}}')">Ho cambiato idea</div>
   </div>{%endif%}
   <div class="activity_comments" id="comments_header_{{activity.key.id()}}" style="display:{%if activity.comments() > 0 %}inline{%else%}none{%endif%};" onclick="onexpcomments('{{activity.key.id()}}')"><span class="badge badge-info"><span id="comments_num_{{activity.key.id()}}">{{activity.comments()}}</span> commenti</span> <span id="comments_exp_{{activity.key.id()}}" role="button" class="expcmt" tabindex="0" onclick="onexpcomments('{{activity.key.id()}}')">&nbsp;&nbsp;</span></div>
   {%if user%}<span>&nbsp;</span><div class="activity_comments" id="comments_header_{{activity.key.id()}}" style="display:inline;" onclick="onexpcommentnew('{{activity.key.id()}}')">Aggiungi un commento</span>{%endif%}</div>
   <div id="comments_container_{{activity.key.id()}}" style="display:none;">
    <ul class="comment_list" id="comment_list_{{activity.key.id()}}"></ul>
   </div>{%if user%}
   <div id="comment_new_exp_{{activity.key.id()}}" class="expcommentnew" tabindex="0" role="button" onclick="onexpcommentnew('{{activity.key.id()}}')">Aggiungi un commento</div>
   <div class="activity_comment_new" id="comment_new_container_{{activity.key.id()}}">    
    <div class="comment_form">
    <form id="comment_{{activity.key.id()}}" action="/comments/comment" method="post"> 
    <input type="hidden" name="tipo" value="202" /> 
    <input type="hidden" name="livello" value="1" /> 
    <input type="hidden" name="last" id="comment_last_{{activity.key.id()}}" value="" /> 
    <input type="hidden" name="par" value="{{activity.key.id()}}" /> 
    <input type="hidden" name="root" value="{{activity.key.id()}}" /> 
     <div class="comment_avatar">
     <img class="avatar" src="{{cmsro.avatar(cmsro)}}" title="{{cmsro.nomecompleto(cmsro)}}">
     </div>
     <div class="comment_body">
      <div class="comment_author">{{cmsro.nomecompleto(cmsro)}} </div>
      <div class="comment_author_title">{{cmsro.titolo(cmsro)}}</div>
      <div class="comment_text"><textarea class="span6 comment_textarea" name="testo"></textarea></div>
      <div class="actions"><button id="e_comment_{{activity.key.id()}}_submit" class="btn btn-primary" type="submit" onclick="$(this).button('loading');" data-loading-text="Invia...">Invia</button><button class="btn"  type="button" onclick="onexpcommentnew('{{activity.key.id()}}')">Annulla</button></div>
     </div>
    </form>
    </div>
   </div>
   </div>{%else%} {%if detail %} 
   <div><a class="btn btn-primary" href="{{url}}">Accedi &raquo;</a> oppure <a class="btn btn-success" href="/signup">Registrati &raquo;</a> per inserire un commento.</div>
   {%endif%} {%endif%}
 </div>
</div>
</li>
{%endif%}
{%endfor%}
{%if ease%}
<script type="text/javascript"> 
$(function() {
{%for activity in activities %}
{%if not limit or loop.index < limit%}
$( "#activity_{{activity.key.id()}}" ).css("opacity", "0");
$( "#activity_{{activity.key.id()}}" ).animate({ opacity: 1}, 2000 );
{%endif%}
{%endfor%}
//location.href="#";
});
</script>
{%endif%}