<script> 
$(function(){
 // Initialize Slides
 // DOM Ready

 var date = new Date("{{data1}}");
 init_value = "{{ctx.cm_key}}";
 $('#citta').change( oncitychanged);
 oncitychanged();
});
</script>
{%set tab_community="active"%}
{%include "navigation.html"%}
<ul class="nav nav-tabs">
<li class="dropdown">
 <a id="dropdown" class="dropdown-toggle dropdown-form" data-toggle="dropdown" href="#">
  Menu per la Scuola <b>{{ctx.cm_name}}</b><b class="caret"></b>
 </a>
 <ul class="dropdown-menu dropdown-large">
  <form class="form-vertical" id="f_chgscope" action="/contatti" method="post">
    <label for="citta">Citt&agrave;</label>
    <select class="large required" id="citta" name="citta">
    {%for cit in citta%}<option value="{{cit.key.id()}}"{%if ctx.citta_key and cit.key.id() == ctx.citta_key%} selected{%endif%}>{{cit.nome}}</option>{%endfor%}
    </select>
    <label for="commissione_sel">Scuola (Commissione Mensa)</label>
    <div class="input"><input class="" id="commissione_sel" name="commissione_sel" value="{{ctx.cm_name}}"/>
    <input type="hidden" id="cm" name="cm" value="{{ctx.cm_key}}"/>
    </div>
    <div class="controls">
      <button type="submit" class="btn primary">Ok</button>
      <button type="reset" class="btn" onclick="$('#dropdown').click();">Annulla</button>
    </div>
  </form>
 </ul>
</li>
</ul>
<div class="row">
<div class="span12">
<ul class="thumbnails">
{%for ck in commissari%}<li class="span6"><div class="thumbnail">{%set c = ck.get() %}
  <img class="avatar" src="{{c.avatar(cmsro)}}" title="{{c.nomecompleto(cmsro)}}">
  <div class="activity_author">{{c.nomecompleto(cmsro)}}</div>  
  <div class="activity_author_title">{{c.titolo(cmsro)}}</div>
  <div class="activity_author_email"><a href="mailto:{{c.email(cmsro)}}" target="new">{{c.email(cmsro)}}</a></div>
  </div>
</li>{%endfor%}
</ul>
</div>
</div>