<script src="/js/form.js" type="text/javascript"></script>
<script type="text/javascript">
    dojo.require("dijit.form.Button");
    dojo.require("dijit.Dialog");
    dojo.addOnLoad(function(){
    datea = "{{newsMsg.updated_parsed}}".replace(")","").replace("(","").split(",");
    updated = new Date(datea[0],datea[1] - 1,datea[2],datea[3],datea[4],datea[5]);
    cookie = readCookie("pappa-mi-lastlogon");
    var lastlogon;
    if(cookie) {
      lastlogon = new Date(cookie);
    }
    if((lastlogon==undefined || updated > lastlogon)) {
      dijit.byId("newsDlg").show();
    }
    createCookie("pappa-mi-lastlogon", new Date(), 365);
    })
</script>
<div id="content-extra" class="sidebar">	
<div style="height:460px; overflow:hidden;">
<h2>Ultime novit&agrave;</h2>
{%for item in news%}
<h3><a href="{{item.link}}">{{item.title}}</a></h3>
<p class="date"></p>
{% for i in item.content %}
<p>{{i.value}}</p>
{%endfor%}
{%endfor%}
</div>
<a href="http://blog.pappa-mi.it/">Annunci precedenti</a>
</div>
<div id="newsDlg" dojoType="dijit.Dialog" title="{{newsMsg.title}}" style="width: 500px; display:none;">
{{newsMsg.value}} <br/>
<center><button dojoType="dijit.form.Button" onClick="dijit.byId('newsDlg').hide();"
type="button">Chiudi</button></center>
</div>