<DIV id="content-nav" class="sidebar">	
<p>Cosa si mangia</p>
<div>{%include 'widget/menu.html'%}</div>
<!--div><iframe src="http://{{host}}/widget/menu?bc=d0d6e2&fc=000000" style=" border-width:0 " width="200" height="180" frameborder="0" scrolling="no"></iframe></div-->
<p>Come si mangia</p>
<div>{%include 'widget/stat_c.html'%}</div>
<!--div><iframe src="http://{{host}}/widget/stat?bc=d0d6e2&fc=000000&t=c" style=" border-width:0 " width="200" height="250" frameborder="0" scrolling="no"></iframe></div-->
</DIV>		