<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<HTML xmlns="http://www.w3.org/1999/xhtml" xml:lang="it" lang="it"><HEAD><META http-equiv="Content-Type" content="text/html; charset=UTF-8">
		
		<META http-equiv="Content-Language" content="en-us">

		<TITLE>Pappa-Mi Raccolta dati Commissioni Mensa Milano</TITLE>

		<META name="ROBOTS" content="ALL">
		<META http-equiv="imagetoolbar" content="no">
		<META name="MSSmartTagsPreventParsing" content="true">
		<META name="Copyright" content="">

		<META name="keywords" content="Scuola, Milano, Mensa, Refezione">
		<META name="description" content="Raccolta dati Commissioni mensa Milano">

		<LINK href="./css/homepage.css" rel="stylesheet" type="text/css" media="screen">
		<LINK href="./css/print.css" rel="stylesheet" type="text/css" media="print">
      
	</HEAD><BODY id="homepage" class="default">
	<DIV id="container">
		<DIV id="header">
			<H1 id="logo"><A href="/"><IMG src="./django_home_files/hdr_logo.gif" alt="Pappa-Mi"></A></H1>
			<UL id="nav-global">
				<LI id="nav-homepage"><A href="/">Home</A></LI>
				<LI id="nav-commissioni"><A href="">Commissioni</A></LI>
				<LI id="nav-statistiche"><A href="">Statistiche</A></LI>
				<LI id="nav-commissario"><A href="">Commissario</A></LI>
				<LI id="nav-news"><A href="">Novità</A></LI>
				<LI id="nav-login"><A href="">Code</A></LI>
			</UL>
		</DIV>
		<!-- END Header -->
		<DIV id="billboard"><H2>Il Database delle ispezioni effettuate dalle Commissioni Mensa di Milano</H2></DIV>
		<DIV id="columnwrap">
		<DIV id="subwrap">
		<DIV id="content-main">
		
<H1>Benvenuti in Pappa-Mi</H1>
<H2 class="deck">Pappa-Mi è ....</H2>
<P>
testo</P>
<P>Django focuses on automating as much as possible and adhering to the <A href="http://c2.com/cgi/wiki?DontRepeatYourself"><ABBR title="Don&#39;t Repeat Yourself">DRY</ABBR> principle</A>.</P>
<P>Dive in by <A href="http://docs.djangoproject.com/en/dev/intro/overview/">reading the overview &rarr;</A></P>
<P>When you&#39;re ready to code, read the <A href="http://docs.djangoproject.com/en/dev/intro/install/">installation guide</A> and <A href="http://docs.djangoproject.com/en/dev/intro/tutorial01/">tutorial</A>.</P>
<DIV id="content-secondary">
	<H2>Altro Container</H2>
	<H3>Questo</H3>
	<P>Define your <A href="http://docs.djangoproject.com/en/dev/topics/db/models/">data models</A> entirely in Python. You get a rich, <A href="http://docs.djangoproject.com/en/dev/topics/db/queries/">dynamic database-access API</A> for free &mdash; but you can still write SQL if needed.</P>
	<H3>Automatic admin interface</H3>
	<P>Save yourself the tedious work of creating interfaces for people to add and update content. <A href="http://docs.djangoproject.com/en/dev/intro/tutorial02/">Django does that automatically</A>, and it&#39;s production-ready.</P>
	<H3>Elegant URL design</H3>
	<P>Design pretty, <A href="http://docs.djangoproject.com/en/dev/topics/http/urls/">cruft-free URLs</A> with no framework-specific limitations. Be as flexible as you like.</P>
	<H3>Template system</H3>
	<P>Use Django&#39;s powerful, extensible and designer-friendly <A href="http://docs.djangoproject.com/en/dev/topics/templates/">template language</A> to separate design, content and Python code.</P>
	<H3>Cache system</H3>
	<P>Hook into memcached or other cache frameworks for <A href="http://docs.djangoproject.com/en/dev/topics/cache/">super performance</A> &mdash; caching is as granular as you need.</P>
        <H3>Internationalization</H3>
        <P>Django has full support for <A href="http://docs.djangoproject.com/en/dev/topics/i18n/">multi-language applications</A>, letting you specify translation strings and providing hooks for language-specific functionality.</P>
</DIV>
<!-- END #content-secondary -->

		</DIV>
		<!-- END #content-main -->
		<DIV id="content-related" class="sidebar">
<H2>Contenuti legati alla pagina</H2>
<UL class="linklist">
    <LI class="button-download"><A href="http://www.djangoproject.com/download/">Latest release: <STRONG>1.0.2</STRONG></A></LI>
</UL>
<P>Open source, <A href="http://code.djangoproject.com/browser/django/trunk/LICENSE">BSD license</A></P>
<H2>Documentazione</H2>
<UL class="linklist">
	<LI><A href="http://docs.djangoproject.com/en/dev/intro/install/">Installation guide</A></LI>
	<LI><A href="http://docs.djangoproject.com/en/dev/intro/tutorial01/">Tutorial</A></LI>
	<LI><A href="http://docs.djangoproject.com/en/dev/#using-django">Using Django</A></LI>
	<LI><A href="http://docs.djangoproject.com/en/dev/#reference">Reference</A></LI>
	<LI><A href="http://docs.djangoproject.com/">More...</A></LI>
</UL>
<H2>Sites that use Django</H2>
<DL>
    <DT><A href="http://www.lawrence.com/">lawrence.com</A></DT>
    <DD>An internationally renowned local-entertainment site with events, stories, bands, drink specials and more.</DD>
</DL>
<P><A href="http://code.djangoproject.com/wiki/DjangoPoweredSites">See more sites...</A></P>

		</DIV>
		<!-- END #content-related -->
	</DIV>
	<!-- END #subwrap -->
	<DIV id="content-extra" class="sidebar">	
<H2>Ultime novità</H2>

    <H3><A href="http://www.djangoproject.com/weblog/2009/mar/23/11-beta-1/">Django 1.1 beta released</A></H3>
    <P class="date">by <STRONG>Jacob Kaplan-Moss</STRONG> on Mar. 23, 2009</P>
    <P>Tonight the Django team has issued Django 1.1 beta 1, a preview package for the upcoming Django 1.1 release.</P>
    <P class="more"><A href="http://www.djangoproject.com/weblog/2009/mar/23/11-beta-1/">Read more</A></P>

    <H3><A href="http://www.djangoproject.com/weblog/2009/feb/23/11-alpha-1/">Django 1.1 alpha 1 released</A></H3>
    <P class="date">by <STRONG>James Bennett</STRONG> on Feb. 23, 2009</P>
    <P>Tonight the Django team has issued Django 1.1 alpha 1, a preview/testing package for the upcoming Django 1.1 release.</P>
    <P class="more"><A href="http://www.djangoproject.com/weblog/2009/feb/23/11-alpha-1/">Read more</A></P>

    <H3><A href="http://www.djangoproject.com/weblog/2009/feb/20/pycon/">PyCon 2009</A></H3>
    <P class="date">by <STRONG>Jacob Kaplan-Moss</STRONG> on Feb. 20, 2009</P>
    <P>
It&#39;s almost spring, and you know what that means: <A href="http://us.pycon.org/2009/">PyCon</A> is here! Early-bird registration ends soon, so take advantage of the low prices and <A href="http://us.pycon.org/2009/registration/">register</A> now!
</P>
    <P class="more"><A href="http://www.djangoproject.com/weblog/2009/feb/20/pycon/">Read more</A></P>

    <H3><A href="http://www.djangoproject.com/weblog/2009/feb/11/eurodjangocon/">EuroDjangoCon 2009</A></H3>
    <P class="date">by <STRONG>Jacob Kaplan-Moss</STRONG> on Feb. 11, 2009</P>
    <P><A href="http://euro.djangocon.org/">EuroDjangoCon 2009</A> is a go!</P>
    <P class="more"><A href="http://www.djangoproject.com/weblog/2009/feb/11/eurodjangocon/">Read more</A></P>



	</DIV>
	<!-- END #content-extra -->

		</DIV>
		<!-- END #content -->
		<DIV id="footer">
			<P>&copy; 2005-2009 <A href="http://www.djangoproject.com/foundation/">Copyright e altre<A href="http://mediatemple.net/">
			<IMG style="vertical-align: middle; position: relative; top: -1px;" src="./django_home_files/mt.png" alt="media temple"></A>
			</P>
		</DIV>
		<!-- END #footer -->
	</DIV>
	<!-- END #container -->
</BODY></HTML>