<div id="nav-priv-cnt">
<ul class="nav nav-pills" id="nav-priv">
<li id="stream_nav" class="{{tab_activity}}"><a href="/stream">Attivit&agrave;</a></li>
<li id="nodes_nav" class="{{tab_node}}"><a href="/node/list">Argomenti</a></li>
<li id="menu_nav" class="{{tab_menu}}"><a href="/menu">Menu</a></li>
<li id="stats_nav" class="{{tab_stats}}"><a href="/stats">Statistiche</a></li>
<li id="commissioni_nav" class="{{tab_map}}"><a href="/commissioni">Commissioni</a></li>{%if cmsro%}
<li id="contatti_nav" class="{{tab_community}}"><a href="/contatti">Contatti</a></li>
<li id="search_nav" class="{{tab_search}}"><a href="/search">Ricerca</a></li>{%endif%}
</ul>
</div>