<style>
#slider { width:940px; height: 270px; }
</style>
<script> 
$(function(){
 loadSmallMap({{geo.lat}},{{geo.lon}});  
 $('#slider').anythingSlider({ 
  buildStartStop : true,
  buildNavigation: true,
  onSlideInit: function(slider) { $('#slider').find('.caption').css("bottom",-35);},
  onSlideComplete: function(slider) {$(slider.$currentPage).find('.caption').animate({bottom:0},200);},
  navigationFormatter : function(index, panel){ return '';}
 });
});
</script> 
<div class="row">
	<div class="span12" style="margin-left:0;">
		<div id="slider"> 
			<div style="background:url('img/slider/slide1.jpg'); background-size:100%; width:940px;"> 
				<div class="slide_container">
					<div style="padding:20px; background:url('img/back_transp.png');">
					<h1>Benvenuti in Pappa-Mi</h1>
					<h2>Cosa e Come si mangia nelle mense scolastiche milanesi</h2>
					<p><a class="btn primary" href="/login">Accedi &raquo;</a> oppure <a class="btn success" href="/signup">Registrati &raquo;</a></p>
					</div> 
					<div class="caption" style="bottom:0"> 
						<p>Titolo</p> 					
					</div> 
				</div>
			</div> 
			<div class="slide" style="background:url('img/slider/slide2.jpg'); background-size:100%; width:940px;"> 
				<div class="slide_container">
					<div style="padding:20px; background:url('img/back_transp.png');">
					<h1>Cosa si mangia ?</h1>
					<p>Controlla cosa si mangia oggi nella scuola dei tuoi figli.</p>
					<p>Scrivi le tue opinioni sui piatti.</p>
					</div> 
					<div class="caption"> 
						<p>Partecipa !</p> 					
					</div> 
				</div>
			</div>
			<div class="slide" style="background:url('img/slider/slide1.jpg'); background-size:100%; width:940px;"> 
				<div class="slide_container">
					<div style="padding:20px; background:url('img/back_transp.png');">
					<h1>Come si mangia ?</h1>
					<p>Controlla i giudizi riportati dalle Commissioni Mensa e dagli altri genitori come te !</p>
					<p>Chiedi consigli agli altri</p>
					</div> 
					<div class="caption"> 
						<p>Partecipa !</p> 					
					</div> 
				</div>
			</div>
		</div> 
	</div>
</div> 

<div class="row">
  <div class="span4" style="margin-left:22px;">
    <h2>Commissioni iscritte</h2>
    <div id="map" style="height: 200px; border: 1px solid black; overflow:hidden;"></div>
    <p><a class="btn" href="/commissioni">Dettagli &raquo;</a></p>
  </div>
  <div class="span4" style="margin-left:18px;">
    <div id="stats">
      <h2>Dati raccolti {{stat.anno1}}/{{stat.anno2}}</h2>
      <table class="statsmall" cellspacing="0" width="100%">
      <tr>
      <td width="70%">Commissioni registrate</td><td align="right">{{stat.numeroCommissioni}}</td>
      </tr><tr>
      <td width="70%">Schede Ispezione</td><td align="right">{{stat.numeroSchede}}</td>
      </tr><tr>
      <td>Non conformit&agrave;</td><td align="right">{{stat.ncTotali}}</td>
      </tr><tr>
      <td width="70%">Schede Diete</td><td align="right">{{stat.diete}}</td>
      </tr><tr>
      <td width="70%">Note</td><td align="right">{{stat.note}}</td>
      </tr>
      </table>
    </div>
    <p><a class="btn" href="/stats">Dettagli &raquo;</a></p>
  </div>
  <div class="span4">
    <h2>Iscritti</h2>
    <div>
     <ul class="thumbnails">  
    {%for c in contacts%}
      <li><img src="{{c.avatar()}}" alt="{{c.nome}}"></li>
    {%endfor%}
     </ul>
    </div>
      <div id="fb-root"></div><script src="http://connect.facebook.net/en_US/all.js#xfbml=1"></script><fb:like-box href="http://www.facebook.com/pappami" width="280" show_faces="false" border_color="" stream="false" header="false"></fb:like-box>
    <div id="follow">
      <a href="http://twitter.com/pappa_mi"target="_new"><img src="/img/twitter-icon.png" alt="Twitter" title="Twitter" width="32" height="32"/></a>
      <a href="http://www.google.com/profiles/aiuto.pappami#buzz"target="_new"><img src="/img/gbuzz-icon.png" alt="Google Buzz" title="Google Buzz" width="32" height="32"/></a>
      <a href="/feed"><img src="/img/rss.png" alt="RSS" title="Feed RSS" width="32" height="32"/></a>	    
    </div>
  </div>
</div>

