<style>#content-main { width:60em;margin-left:10em;border-left:0;padding:1em;}</style>
<h2>Registrazione</h2>
<p>Registrati per accedere a Pappa-Mi</p>
<p>Scegli se registrarti come Genitore o Commissario</p>
<p>Per registrarti devi disporre di un account Google, se non ne hai gi&agrave; uno puoi crearlo con <a href="https://www.google.com/accounts/NewAccount" target="_new">questa procedura</a></p>
<div style="float:left;width:28em; padding:1em; background-color:#ddddff;"><div style="height:8em">Sono un Genitore e desidero conoscere cosa e come si mangia alla Scuola dei miei figli</div>
<button style="width:100%; height:40px; font-size:120%;" onclick="location.href='/genitore/registrazione'">Registrati come <b>Genitore</b></button></br>
</div>
<div style="float:left;width:28em; padding:1em; background-color:#ddffdd;"><div style="height:8em">Faccio parte di una Commissione Mensa e desidero poter salvare e consultare le schede di ispezione e non conformit&agrave; che ho compilato durante le mie ispezioni.</div>
<button style="width:100%; height:40px; font-size:120%;" onclick="location.href='/commissario/registrazione'">Registrati come <b>Commissario</b></button></br>
</div>
