<div id="content-related" class="sidebar">
<h2>Le Commissioni</h2>
{%if test%}
<script src="http://maps.google.com/maps?file=api&amp;v=2&amp;key=ABQIAAAAUP4yJ8rq-bFQY7ZrtdvTQxR-kkwChykYW7WKcP9E61FIpqtdnBTu75SoRIRFZtvbJ_a6sG3HegmbSw" type="text/javascript"></script>
{%else%}
{%if pappamiit%}
<script src="http://maps.google.com/maps?file=api&amp;v=2&amp;key=ABQIAAAAUP4yJ8rq-bFQY7ZrtdvTQxS90IAS8DNkLP3Leqt60hzHNb7APhQzsOmsQoCLiIdm5MQOnJhzFeiOZg" type="text/javascript"></script>
{%else%}
<script src="http://maps.google.com/maps?file=api&amp;v=2&amp;key=ABQIAAAAUP4yJ8rq-bFQY7ZrtdvTQxRgWPZBKFIi4bT6qAD2oj5D-9d1VxSvfotcLV_kHqzVYNQxMt2W-p7t3w" type="text/javascript"></script>
{%endif%}
{%endif%}
<script src="http://gmaps-utility-library.googlecode.com/svn/trunk/mapiconmaker/1.0/src/mapiconmaker.js" type="text/javascript"></script> 
<script src="/js/rightbar.js" type="text/javascript"></script>
<div id="map" style="height: 200px; border: 1px solid black; overflow:hidden;"></div>
<div id="stats">
<h2>Dati raccolti</h2>
<table class="statsmall" cellspacing="0" width="100%">
<tr>
<td width="70%">Commissioni registrate</td><td align="right">{{stat.numeroCommissioni}}</td>
</tr><tr>
<td width="70%">Schede Ispezione</td><td align="right">{{stat.numeroSchede}}</td>
</tr><tr>
<td>Non conformit&agrave; gravi</td><td align="right">{{stat.ncTotali}}</td>
</tr>
</table>
</div>
<br/>
<div id="register">{%if not commissario and not genitore%}
<button style="width:100%; height:60px; font-size:160%;" onclick="location.href='/registrazione'">Registrati !</b></button></br>
{%endif%}
</div>
<div id="follow"><p>Seguici su:</p>
<a href="http://www.facebook.com/pages/Pappa-Mi/123015951058406" target="_new"><img src="/img/facebook-icon.png" alt="Facebook" title="Facebook" width="32" height="32"/></a>
<a href="http://twitter.com/pappa_mi"target="_new"><img src="/img/twitter-icon.png" alt="Twitter" title="Twitter" width="32" height="32"/></a>
<a href="http://www.google.com/profiles/aiuto.pappami#buzz"target="_new"><img src="/img/gbuzz-icon.png" alt="Google Buzz" title="Google Buzz" width="32" height="32"/></a>
<a href="/feed"><img src="/img/rss.png" alt="RSS" title="Feed RSS" width="32" height="32"/></a>
</div>
</div>