<script type="text/javascript">
dojo.require("dijit.form.Form");
dojo.require("dijit.form.TextBox");
dojo.require("dijit.form.Button");
dojo.require("dijit.Tooltip");
</script>
<style>
#subwrap {width: 64em;}
#content-main {width: 64em;}
</style>
<H1>Statistiche</H1>
<p>
La seguente presentazione illustra i dati raccolti nelle prime 33 settimane scolastiche.
</p>
<iframe src="http://docs.google.com/present/embed?id=ah9h4wmg49zf_300f9gwcdjr&size=&size=l" frameborder="0" width="700" height="559"></iframe>
