<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <!--meta http-equiv="X-UA-Compatible" content="IE=7.5"/-->
    <meta http-equiv="Content-Language" content="it-it"/>
    <title>Pappa-Mi Raccolta dati Commissioni Mensa</title>
    <meta name="ROBOTS" content="ALL"/>
    <meta http-equiv="imagetoolbar" content="no"/>
    <meta name="MSSmartTagsPreventParsing" content="true"/>
    <meta name="Copyright" content="Pappa-Mi"/>
    <meta name="keywords" content="Scuola, Milano, Mensa, Commissioni Mensa, Refezione"/>
    <meta name="google-site-verification" content="KnNDo_lamFY34HnzBbuWNRDHCoBJESIaYbPpUxCgQJI" />
    <meta name="description" content="Commissioni Mensa Milano community"/>

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->
    <link type="text/css" href="/css/custom-theme/jquery-ui-1.10.0.custom.css" rel="stylesheet"/>
    <link type="text/css" href="/css/bootstrap.min.css" rel="stylesheet">
    <link type="text/css" href="/css/bootstrap-responsive.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/base.css" type="text/css" media="all" />

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">    
  </head>

<body id="homepage">
  <div> 
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
	  <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
	    <span class="icon-bar"></span>
	    <span class="icon-bar"></span>
	    <span class="icon-bar"></span>
	  </a>
	  <a class="brand" style="padding:8px 20px 0px" href="/"><img class="avatar" style="width:24px;height:24px;" src="/img/pappa-mi-logo.png"></img><img class="" src="/img/pappa-mi-logo-text_24.png"></img></a>
        </div>
      </div>
    </div>
  </div>  
  <div class="container main" style="padding-top: 60px;">
  <center><h1>:-(<br/>Pappa-Mi non funziona con il browser che stai utilizzando.</h1>
  <br/>
  <h3>Ecco i broser utilizzabili.</h3>
  <br/>
  <ul class="thumbnails">
   <li class="span2"><img src="/img/chrome.png"> <h3>Chrome v8.0 +</h3></li>
   <li class="span2"><img src="/img/firefox.png"> <h3>Firefox v5.0 +</h3></li>
   <li class="span2"><img src="/img/iexplorer.png"> <h3>Internet Explorer v7.0 +</h3></li>
   <li class="span2"><img src="/img/safari.png"> <h3>Safari v5.0 +</h3></li>
   <li class="span2"><img src="/img/opera.png"> <h3>Opera v8.0 +</h3></li>
  </ul></center>
  </div>
  <footer>
  {%include "footer.inc"%}
  </footer>  
  </body>
</html>
