<div id="welcome_dialog" class="modal hide fade">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Benvenuto in Pappa-Mi</h3>
  </div>
  <div class="modal-body">
  {%if welcome == "new"%}
    <p>Benvenuto in Pappa-Mi, facciamo un rapido giro di orientamento sul sito?</p>
  {%else%}
    <p>Bentornato in Pappa-Mi, le cose sono un po' cambiate, facciamo un giro per vedere le principali novità?</p>
  {%endif%}
    <p>Puoi sempre ripetere il giro in un secondo tempo, tramite il link "?" nella barra in alto.</p>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal" aria-hidden="true">Non ora, grazie</a>
    <a href="#" class="btn btn-primary start_tour">Ok, iniziamo!</a>
  </div>
</div>
<script>
$(document).ready(function() {
  welcome_dialog();
});
</script>
