<div id="post_reshare" class="modal fade in"  style="" aria-hidden="true">  
 <form id="post_reshare" action="/post/manage" method="post">
 <div class="modal-header">  
  <a class="close" data-dismiss="modal">x</a>  
  <h4>Pubblica questo post su un'argomento diverso</h4>  
 </div>  
  <input type="hidden" name="cmd" value="reshare_open_post"/>
  <input type="hidden" name="fullscreen" value="{{fullscreen}}"/>
  <input type="hidden" name="post" value=""/>
  <div class="modal-body">  
   <div id="node_selector" class="control-group">
    <label id="post_content_label" for="content">Argomento</label>
    <select class="large required" id="node_selector" name="node">
    {%for sub in subs%}<option value="{{sub.key.parent().urlsafe()}}">{{sub.key.parent().get().name}}</option>{%endfor%}
    </select>
   </div>
   <div id="post_title" class="control-group">
    <label id="post_content_label" for="titolo">Titolo</label>
    <input id="reshare_post_title_text" type="text" class="span5 required" name="title" value="{{post.title}}"/>
   </div>
   <div id="post_content" class="control-group">
    <label id="post_content_label" for="content">Contenuto</label>
    <textarea id="reshare_post_content_text" class="comment_textarea required" name="content"></textarea>
   </div>
   <div class="s_post_resource well s_reshare_preview">
   {%set postlist = [post]%}
   {%set reshare = True%}
   {%include "post/post_item.html"%}
   </div>
  </div>  
  <div class="modal-footer">  
   <button class="btn btn-primary" data-loading-text="Inoltro...">Inoltra</button>  
   <button class="btn btn-normal" data-dismiss="modal">Annulla</button>  
  </div>  
 </form>
</div>