<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta property="og:title" content="Pappa-Mi notifications">
  <title>Pappa-Mi newsletter</title>
 </head>	
 <body>
  <div class="container" style="
color: rgb(51, 51, 51);
display: block;
font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
font-size: 14px;
line-height: 20px;
margin-left: 8px;
margin-right: 8px;
padding-top: 6px;
">
   <div class="row">
    <div class="span12">
     <h1><img src="http://www.pappa-mi.it/img/pappa-mi-logo.png" width="32"/>Pappa-Mi</h1>
     <h3>Notifica</h3>
    </div>
   </div>
	<div class="">
	 <ul style="list-style-type: none;padding-left:0px;">
      {%for ntfy in notifications%}{%if ntfy.event.get().type == "post"%}{%set post = ntfy.event.get().source.get()%}
    <li style="list-style-type: none;">
	    <div class="">
	    {{post.commissario.nomecompleto(cmsro)}} ha aggiunto un <a href="http://{{host}}/post/{{post.id}}">messaggio</a> su {{post.key.parent().get().name}}
	    </div>
	    <div class=""> 
		    <div style="float:left;padding-right:5px;">
			    <img style="display: inline-block;width: 48px;max-width: 48px;height: 48px;vertical-align: top;margin-right: 6px;border-radius: 6px;border: none;" src="{%if 'http' not in post.commissario.avatar(cmsro)%}http://{{host}}/{%endif%}{{post.commissario.avatar(cmsro)}}" title="{{post.commissario.nomecompleto(cmsro)}}">
		    </div>
		    <div style="overflow:hidden;zoom:1;">
			    <div>			
				    <div class="s_post_title"><span class="s_node_link">{{post.key.parent().get().name}}</span> / <span class="s_post_title_1 post_expand"><a target="_new" href="http://{{host}}/post/{{post.key.parent().id()}}-{{post.key.id()}}">{{post.title}}</a></span></div> 
				    <div style="display: table-cell;font-style: italic;color: #999;padding-left: 1em;" class="s_post_author">scritto da {{post.commissario.nome}}</div>
				    <div class="s_post_date" style="display: table-cell;font-style: italic;color: #999;padding-left: 1em;" >&nbsp;- il {{post.created.strftime('%d/%m/%Y  %H:%M:%S')}}</div>
			    </div>				
			    <div class="s_post_body">{{post.content_summary}}</div>
		    </div>				
	    </div>
    </li>			
       {%elif ntfy.event.get().type == "comment"%}{%set post = ntfy.event.get().target.get()%}{%set cmnt = ntfy.event.get().source.get()%}
       <li>
	    <div class="">
	    {{cmnt.commissario.nomecompleto(cmsro)}} ha aggiunto un <a href="http://{{host}}/post/{{post.key.parent().id()}}-{{post.key.id()}}#{{cmnt.key.id()}}">commento</a> al <a href="http://{{host}}/post/{{post.key.parent().id()}}-{{post.key.id()}}">messaggio</a> su {{post.key.parent().get().name}}
	    </div>
	    <div class=""> 
		    <div style="float:left;padding-right:5px;">
			    <img class="avatar" style="display: inline-block;width: 48px;max-width: 48px;height: 48px;vertical-align: top;margin-right: 6px;border-radius: 6px;border: none;" src="{%if 'http' not in cmnt.commissario.avatar(cmsro)%}http://{{host}}/{%endif%}{{cmnt.commissario.avatar(cmsro)}}" title="{{cmnt.commissario.nomecompleto(cmsro)}}">
		    </div>
		    <div style="overflow:hidden;zoom:1;">
			    <div class="s_post_body">{{cmnt.content|truncate(length=200, end="...")}}</div>
		    </div>				
	    </div>
    </li>			
    {%endif%}{%endfor%}
   </div>   
   <div class="row">
     <a href="http://{{host}}/profilo#notifications">Modifica impostazioni notifiche email</a>
   </div>
  </div>
 </body>
</html>