<div class='s_post_avatar'>
	<img class='avatar' src='{{author.avatar(cmsro)}}' title='{{author.nomecompleto(cmsro)}}'>
</div>
<div class='s_post_container'>
	<div class='s_post_header'>		
		<div class='s_author_name'>{{author.nomecompleto(cmsro)}}</div>
		<div class='s_author_title'>{{author.titolo(cmsro)}}</div>{%if cmsro%}
		<form action='/search' method='post'>
		<input type='hidden' name='author' value='{{author.nomecompleto(cmsro)}}'>
		<input type='hidden' name='advanced' value='True'>
		<button type='submit' class='btn btn-normal'>Cerca i post</button></form>{%endif%}
	</div>
</div>
