<!DOCTYPE html> 
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  
  <title>Pappa-Mi Demo</title>
  
  <script>  
  console.log(self.name + " - " + window.location.href);
  if (window.location.href.indexOf('#')!=-1){
    window.location = window.location.href.substr(0,window.location.href.indexOf('#'));
  }
  window.veespo = {
      config:{
        apiUrl:        "http://glass.veespo.com:6900",
		    apiKey:        "api-demo-pappa-mi",
		    delayInit:     false,
		    userDetails:   {},
      },
  };
  </script>
</head> 

<body> 

<!--div data-role="page" id="page-init" >
  <div data-role="content">
    <div style="color: #B63017; font-size:16px; line-height:1.5em;">Pappa-Mi is Loading...</div>'  
  </div>
</div-->

<!-- app -->
<div data-role="page" id="page-menu">
 <div data-role="header"><h1>Pappa-Mi - Menù</h1></div> 
 <div data-role="content">
 <!--fieldset id="params" data-role="controlgroup" data-type="horizontal">
  <select id="cm" name="cm" data-mini="true">
  <option>Scuola</option>
  </select>
  <select id="data" name="data" data-mini="true" adata-native-menu="false">
  <option>Data</option>
  </select>
 </fieldset-->
 </div>
 <div id="menu"></div>
 <div data-role="footer" data-position="fixed"><h3 id="user"></h3></div>
</div>
<div data-role="page" id="page-veespo-settings" data-v-templates='g-veespo-confirm,p-spot-settings'></div>

</body>

<!--  original -->
<link rel="stylesheet" href="http://code.jquery.com/mobile/1.1.0/jquery.mobile-1.1.0.min.css" />
<link rel="stylesheet" href="http://dev.jtsage.com/cdn/simpledialog/latest/jquery.mobile.simpledialog.min.css" />

 <!-- local
<link rel="stylesheet" href="http://glass.veespo.com/lib/lib-ext/css/jquery.mobile-1.1.0.min.css" />
<link rel="stylesheet" href="http://glass.veespo.com/lib/lib-ext/css/jquery.mobile.simpledialog.min.css" /> 
-->

<link rel="stylesheet" href="http://glass.veespo.com/lib/core/css/veespo.css" />
<link rel="stylesheet" href="http://glass.veespo.com/lib/core/css/tags.css" />
<link rel="stylesheet" href="http://glass.veespo.com/lib/core/css/colors.css" />

<!-- Pappa Mi -->
<link rel="stylesheet" href="/css/mobile.css" />

<!--  original
<script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
<script src="http://code.jquery.com/mobile/1.1.0/jquery.mobile-1.1.0.min.js"></script>
<script src="http://dev.jtsage.com/cdn/simpledialog/latest/jquery.mobile.simpledialog2.min.js"></script>
-->

<script src="http://glass.veespo.com/lib/lib-ext/js/jquery-1.7.1.min.js"></script>
<script src="http://glass.veespo.com/lib/lib-ext/js/jquery-ui-1.8.23.custom.min.js"></script>
<script src="http://glass.veespo.com/lib/lib-ext/js/jquery.mobile-1.1.0.min.js"></script>
<script src="http://glass.veespo.com/lib/lib-ext/js/jquery.mobile.simpledialog2.min.js"></script>

<!--  veespo hosted -->  
<script src="http://glass.veespo.com/lib/lib-ext/js/jquery.nicescroll.js"></script>
<script src="http://glass.veespo.com/lib/lib-ext/js/touchpunch.js"></script>
<script src="http://glass.veespo.com/lib/lib-ext/js/mustache.js"></script>
 
<!--  veespo -->
<script src="http://glass.veespo.com/lib/core/js/mutils.js"></script>  
<script src="http://glass.veespo.com/lib/core/js/logging.js"></script>  
<script src="http://glass.veespo.com/lib/core/js/init.js"></script>  
<script src="http://glass.veespo.com/lib/core/js/lib.js"></script>  
<script src="http://glass.veespo.com/lib/core/js/state.js"></script>  
<script src="http://glass.veespo.com/lib/core/js/api.js"></script>  
<script src="http://glass.veespo.com/lib/core/js/settings.js"></script>
<script src="http://glass.veespo.com/lib/core/js/interface.js"></script>  
<script src="http://glass.veespo.com/lib/core/js/dialogs.js"></script>  
<script src="http://glass.veespo.com/lib/core/js/tags.js"></script>  
<script src="http://glass.veespo.com/lib/core/js/colors.js"></script> 
<script src="http://glass.veespo.com/lib/core/js/debug.js"></script>     
<script src="http://glass.veespo.com/lib/core/js/page.js"></script>   
<script src="http://glass.veespo.com/lib/core/js/popups.js"></script>   

<script src="http://glass.veespo.com/lib/lib-pages/js/pageManager.js"></script>
<script src="http://glass.veespo.com/lib/lib-pages/js/templateManager.js"></script>

<script src="http://glass.veespo.com/lib/core/pages/g-tabs.js"></script>
<script src="http://glass.veespo.com/lib/core/pages/g-main.js"></script>
<script src="http://glass.veespo.com/lib/core/pages/g-bare.js"></script>
<script src="http://glass.veespo.com/lib/core/pages/g-confirm.js"></script>
<script src="http://glass.veespo.com/lib/core/pages/g-dialog.js"></script>
<script src="http://glass.veespo.com/lib/core/pages/p-tags.js"></script>
<script src="http://glass.veespo.com/lib/core/pages/p-colors.js"></script>
<script src="http://glass.veespo.com/lib/core/pages/p-lang.js"></script>
<script src="http://glass.veespo.com/lib/core/pages/p-user.js"></script>
<script type="text/javascript">

</script>
<!-- pappa-mi environment -->
<script src="/js/mobile-test-data.js"></script>  

<!--  pages pappa mi-->
<script src="/js/mobile-init.js"></script>
<script src="/js/mobile-menu.js"></script>

</html>