<script type="text/javascript">
dojo.require("dijit.form.Form");
dojo.require("dijit.form.ComboBox");
dojo.require("dijit.form.Button");
dojo.require("dijit.Dialog");
dojo.require("dijit.Tooltip");
dojo.require("dijit.form.FilteringSelect");
dojo.require("dojo.data.ItemFileReadStore");
dojo.require("dojo.parser");
</script>
<script src="/js/form.js" type="text/javascript"></script>
<script src="/js/gviz.js" type="text/javascript"></script>
<script src="http://www.google.com/jsapi" type="text/javascript"></script>
<script>
    google.load('visualization', '1', {'packages' : ['table']});
    dojo.addOnLoad(initIspGen);    
</script>
<H1 class="ss-form-title">Elenco Schede Ispezione</H1>
<div dojoType="dijit.form.DropDownButton">
<span>Filtra dati</span>
<div dojoType="dijit.TooltipDialog" id="tooltipDlg" title="Filtro dati"
    execute="setQuery('isp');">
<!--form dojoType="dijit.form.Form" action="/genitore" method="get" id="form0"-->
<table>
<td>
<div dojoType="dojo.data.ItemFileReadStore" jsId="cmStore" url="/genitore/getcm">
<LABEL class="ss-q-title" for="e_cm">Commissioni</LABEL>
<input dojoType="dijit.form.FilteringSelect" value="" store="cmStore"
searchAttr="nome" name="cm" id="e_cm">
</td>
</tr>
<tr>
<td>
<LABEL class="ss-q-title" for="e_aa">Anno scolastico</LABEL>
<SELECT name="anno" id="e_aa">
<OPTION value="">Tutti</OPTION>
<OPTION value="2008">2008-2009</OPTION>
<OPTION value="2009">2009-2010</OPTION>
</select>
</td>
</tr>
<tr>
<td>
<button dojoType="dijit.form.Button" type="submit">Applica</button>
</td>
</tr>
</table>
<!--/form-->
</div>
</div>
<div dojoType="dijit.form.DropDownButton">
<span>Legenda</span>
<div dojoType="dijit.TooltipDialog" id="legendDlg" title="Legenda">
<table>
<tr>
<td>
<b>Assaggio</b><br>
<img src="img/icoasg1.png"> Non Accettabile<br>
<img src="img/icoasg2.png"> Normale<br>
<img src="img/icoasg3.png"> Gradevole
</td>
<td>
<b>Gradimento</b><br>
<img src="img/icogra1.png"> Rifiutato<br>
<img src="img/icogra2.png"> Parzialmente rifiutato<br>
<img src="img/icogra3.png"> Parzialmente accettato<br>
<img src="img/icogra4.png"> Accettato
</td>
<td>
<b>Cottura</b><br>
<img src="img/icocot1.png"> Scarsa<br>
<img src="img/icocot2.png"> Giusta<br>
<img src="img/icocot3.png"> Eccessiva
</td>
<td>
<b>Temperatura</b><br>
<img src="img/icotmp1.png"> Freddo<br>
<img src="img/icotmp2.png"> Giusta<br>
<img src="img/icotmp3.png"> Caldo
</td>
<td>
<b>Quantit&agrave;</b><br>
<img src="img/icoqta1.png"> Scarso<br>
<img src="img/icoqta2.png"> Sufficiente<br>
<img src="img/icoqta3.png"> Abbondante
</td>
<td>
<b>Maturazione</b><br>
<img src="img/icomat1.png"> Acerba<br>
<img src="img/icomat2.png"> Giusta<br>
<img src="img/icomat3.png"> Matura
</td>
</tr>
</table>
</div>
</div>
<div id="ispezioni" style="width:66em;"></div>
<div id="d_loading" style="opacity:0.9; text-align: center; border-style:solid; border-width:1px; background-color: white; width: 20%; height: 60px; position:absolute; top: 30%; left: 40%;"><br><img src="/img/loading.gif" style = "margin:auto;" alt="loading"/></div>
