<script type="text/javascript">
dojo.require("dijit.form.Form");
dojo.require("dijit.form.TextBox");
dojo.require("dijit.form.Button");
</script>{%if test%}
<script src="http://maps.google.com/maps?file=api&amp;v=2&amp;key=ABQIAAAAUP4yJ8rq-bFQY7ZrtdvTQxR-kkwChykYW7WKcP9E61FIpqtdnBTu75SoRIRFZtvbJ_a6sG3HegmbSw" type="text/javascript"></script>
{%else%}<script src="http://maps.google.com/maps?file=api&amp;v=2&amp;key=ABQIAAAAUP4yJ8rq-bFQY7ZrtdvTQxRgWPZBKFIi4bT6qAD2oj5D-9d1VxSvfotcLV_kHqzVYNQxMt2W-p7t3w" type="text/javascript"></script>{%endif%}
<script src="http://gmaps-utility-library.googlecode.com/svn/trunk/mapiconmaker/1.0/src/mapiconmaker.js" type="text/javascript"></script> 
<script type="text/javascript">
    var map = null;
    var geocoder = null;
    var marker = null;

    function initialize() {
      if (GBrowserIsCompatible()) {
        map = new GMap2(document.getElementById("map_canvas"));
        map.setCenter(new GLatLng(45.4636889,9.1881408), 11);
        geocoder = new GClientGeocoder();
        if(dojo.byId("entry_lat").value != "") {
          var point = new GLatLng(parseFloat(dojo.byId("entry_lat").value), parseFloat(dojo.byId("entry_lon").value));
          map.setCenter(point, 13);
          var marker = new GMarker(point);
          map.addOverlay(marker);
        } else if( dojo.byId("e_strada").value != "") {
          showAddress();
        }
      }
    }

    function showAddress() {
      var street = dojo.byId("e_strada").value;
      var num = dojo.byId("e_numero").value;
      var city = dojo.byId("e_citta").value;
      var cap = dojo.byId("e_cap").value;
      var address = street + ", " + num + ", " + cap + " " + city;
      if (geocoder && street != "" && num != "" && cap != "" && city != "") {
	geocoder.getLatLng(
          address,
          function(point) {
            if (!point) {
              alert(address + " non trovato");
            } else {
              map.setCenter(point, 13);
              if(marker == undefined) {
       		marker = new GMarker(point);
              	map.addOverlay(marker);
              } else {
              	marker.setLatLng(point);
              }
              dojo.byId("entry_lat").value = point.lat();
              dojo.byId("entry_lon").value = point.lng();
            }
          }
        );
      }
    }
    window.onload = initialize;
    window.onunload = GUnload;
</script>
<H1>Commissione</H1>
<P>
<P>
<SPAN class="ss-required-asterisk">* Campo obbligatorio</SPAN>
<BR>
<FORM dojoType="dijit.form.Form" action="/admin/commissione" method="POST" id="form_0">
<input type="hidden" name="cmd" value="save">
<input type="hidden" name="key" value="{{key}}">
<input type="hidden" name="lat" value="{{commissione.geo.lat}}" id="entry_lat">
<input type="hidden" name="lon" value="{{commissione.geo.lon}}" id="entry_lon">
<input type="hidden" name="offset" value="{{offset}}">
<input type="hidden" name="q_centroCucina" value="{{centroCucina}}">
<input type="hidden" name="q_tipoScuola" value="{{tipoScuola}}">
<input type="hidden" name="q_zona" value="{{zona}}">
<input type="hidden" name="q_distretto" value="{{distretto}}">
<script type="dojo/method" event="onSubmit">
if(this.validate()){
    return true;
} else {
    alert('Il form contiene valori non corretti');
    return false;
}
</script>
<table width="100%">
<tr>
<td>
<DIV class="errorbox-good">
<DIV class="ss-form-entry"><LABEL class="ss-q-title" for="e_nome">Nome Commissione
<SPAN class="ss-required-asterisk">*</SPAN></LABEL>
<LABEL class="ss-q-help" for="e_nome"></LABEL>
<INPUT type="text" dojoType="dijit.form.TextBox" required="true" name="nome" value="{{commissione.nome}}" class="ss-q-short" id="e_nome"></DIV></DIV>
</td>
<td>
<DIV class="errorbox-good">
<DIV class="ss-form-entry"><LABEL class="ss-q-title" for="e_nomeScuola">Nome Scuola
<SPAN class="ss-required-asterisk">*</SPAN></LABEL>
<LABEL class="ss-q-help" for="e_nomeScuola"></LABEL>
<INPUT type="text" dojoType="dijit.form.TextBox" required="true" name="nomeScuola" value="{{commissione.nomeScuola}}" class="ss-q-short" id="e_nomeScuola"></DIV></DIV>
</td>
<td>
<DIV class="errorbox-good">
<DIV class="ss-form-entry"><LABEL class="ss-q-title" for="e_tipoScuola">Tipo Scuola
<SPAN class="ss-required-asterisk">*</SPAN></LABEL>
<LABEL class="ss-q-help" for="e_tipoScuola"></LABEL>
<SELECT name="tipoScuola" id="e_tipoScuola">
<OPTION value="Materna"{% ifequal commissione.tipoScuola "Materna" %} selected{% endifequal %}>Materna</OPTION>
<OPTION value="Primaria"{% ifequal commissione.tipoScuola "Primaria" %} selected{% endifequal %}>Primaria</OPTION>
<OPTION value="Secondaria"{% ifequal commissione.tipoScuola "Secondaria" %} selected{% endifequal %}>Secondaria</OPTION>
</SELECT></DIV></DIV>
</td>
<td>
<DIV class="errorbox-good">
<DIV class="ss-form-entry"><LABEL class="ss-q-title" for="e_codiceScuola">Codice Scuola
<SPAN class="ss-required-asterisk">*</SPAN></LABEL>
<LABEL class="ss-q-help" for="e_codiceScuola"></LABEL>
<INPUT type="text" dojoType="dijit.form.TextBox" required="true" name="codiceScuola" value="{{commissione.codiceScuola}}" class="ss-q-short" id="e_codiceScuola" style="width:7em;"></DIV></DIV>
</td>
</tr>
<tr>
<td>
<DIV class="errorbox-good">
<DIV class="ss-form-entry"><LABEL class="ss-q-title" for="e_strada">Indirizzo
<SPAN class="ss-required-asterisk">*</SPAN></LABEL>
<LABEL class="ss-q-help" for="e_strada"></LABEL>
<INPUT type="text" dojoType="dijit.form.TextBox" required="true" onchange="showAddress()" name="strada" value="{{commissione.strada}}" class="ss-q-short" id="e_strada"></DIV></DIV>
</td>
<td>
<DIV class="errorbox-good">
<DIV class="ss-form-entry"><LABEL class="ss-q-title" for="e_numero">Numero Civico</LABEL>
<LABEL class="ss-q-help" for="e_numero"></LABEL>
<LABEL for="group_2_1_1"></LABEL>
<INPUT type="text" dojoType="dijit.form.TextBox" required="true" onchange="showAddress()" name="civico" value="{{commissione.civico}}" class="ss-form-input" id="e_numero" style="width:5em;">
</DIV></DIV>
</td>
<td>
<DIV class="errorbox-good">
<DIV class="ss-form-entry"><LABEL class="ss-q-title" for="e_citta">Città
<SPAN class="ss-required-asterisk">*</SPAN></LABEL>
<LABEL class="ss-q-help" for="e_citta"></LABEL>
<INPUT type="text" dojoType="dijit.form.TextBox" required="true" onchange="showAddress()" name="citta" value="{{commissione.citta}}" class="ss-q-short" id="e_citta"></DIV></DIV>
</td>
<td>
<DIV class="errorbox-good">
<DIV class="ss-form-entry"><LABEL class="ss-q-title" for="e_telefono">Telefono</LABEL>
<LABEL class="ss-q-help" for="e_telefono"></LABEL>
<LABEL for="group_2_1_1"></LABEL>
<INPUT type="text" dojoType="dijit.form.TextBox" name="telefono" value="{{commissione.telefono}}" class="ss-form-input" id="e_telefono" style="width:8em;">
</DIV></DIV>
</td>
</tr>
<tr>
<td>
<DIV class="errorbox-good">
<DIV class="ss-form-entry"><LABEL class="ss-q-title" for="e_cap">CAP
<SPAN class="ss-required-asterisk">*</SPAN></LABEL>
<LABEL class="ss-q-help" for="e_cap"></LABEL>
<INPUT type="text" dojoType="dijit.form.TextBox" required="true" onchange="showAddress()" name="cap" value="{{commissione.cap}}" class="ss-q-short" id="e_cap" style="width:5em;"></DIV></DIV>
</td>
<td>
<DIV class="errorbox-good">
<DIV class="ss-form-entry"><LABEL class="ss-q-title" for="e_cc">Centro Cucina
<SPAN class="ss-required-asterisk">*</SPAN></LABEL>
<LABEL class="ss-q-help" for="e_cc"></LABEL>
<SELECT name="centroCucina" id="e_cc">{% for cc in centriCucina %}
<OPTION value="{{cc.key}}"{% ifequal commissione.centroCucina.key cc.key %} selected{% endifequal %}>{{cc.nome}}</OPTION>{% endfor %}
</SELECT></DIV></DIV>
</td>
<td>
<DIV class="errorbox-good">
<DIV class="ss-form-entry"><LABEL class="ss-q-title" for="e_email">email
<SPAN class="ss-required-asterisk">*</SPAN></LABEL>
<LABEL class="ss-q-help" for="e_email"></LABEL>
<INPUT type="text" dojoType="dijit.form.TextBox" required="true" name="email" value="{{commissione.email}}" class="ss-q-short" id="e_email"></DIV></DIV>
</td>
<td>
<DIV class="errorbox-good">
<DIV class="ss-form-entry"><LABEL class="ss-q-title" for="e_fax">Fax
<SPAN class="ss-required-asterisk">*</SPAN></LABEL>
<LABEL class="ss-q-help" for="e_fax"></LABEL>
<INPUT type="text" dojoType="dijit.form.TextBox" required="true" name="fax" value="{{commissione.fax}}" class="ss-q-short" id="e_fax" style="width:8em;"></DIV></DIV>
</td>
</tr>
<tr>
<td>
<DIV class="errorbox-good">
<DIV class="ss-form-entry"><LABEL class="ss-q-title" for="e_zona">Zona
<SPAN class="ss-required-asterisk">*</SPAN></LABEL>
<LABEL class="ss-q-help" for="e_zona"></LABEL>
<INPUT type="text" dojoType="dijit.form.TextBox" required="true" name="zona" value="{{commissione.zona}}" class="ss-q-short" id="e_zona" style="width:4em;"></DIV></DIV>
</td>
<td>
<DIV class="errorbox-good">
<DIV class="ss-form-entry"><LABEL class="ss-q-title" for="e_distretto">Distretto
<SPAN class="ss-required-asterisk">*</SPAN></LABEL>
<LABEL class="ss-q-help" for="e_distretto"></LABEL>
<INPUT type="text" dojoType="dijit.form.TextBox" required="true" name="distretto" value="{{commissione.distretto}}" class="ss-q-short" id="e_distretto" style="width:4em;"></DIV></DIV>
</td>
<td>
<DIV class="errorbox-good">
<DIV class="ss-form-entry"><LABEL class="ss-q-title" for="e_distretto">Calendario
<SPAN class="ss-required-asterisk">*</SPAN></LABEL>
<LABEL class="ss-q-help" for="e_calendario"></LABEL>
<INPUT type="text" dojoType="dijit.form.TextBox" required="true" name="calendario" value="{{commissione.calendario}}" class="ss-q-short" id="e_calendario" style="width:4em;"></DIV></DIV>
</td>
</tr>
<tr>
<td>
<INPUT type="submit" value="Salva dati"/><button dojoType="dijit.form.Button" onclick="location.href='/admin/commissione?offset={{offset}}';return false;">Annulla</button>
</td>
</tr>
</table>
</FORM>
<div id="map_canvas" style="height: 300px"></div>