<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=7.5"/>
<meta http-equiv="Content-Language" content="it-it"/>
<title>Pappa-Mi Raccolta dati Commissioni Mensa Milano</title>
<meta http-equiv="imagetoolbar" content="no"/>
<meta name="MSSmartTagsPreventParsing" content="true"/>
<meta name="Copyright" content=""/>
<meta name="keywords" content="Scuola, Milano, Mensa, Commissioni Mensa, Refezione"/>
<meta name="google-site-verification" content="KnNDo_lamFY34HnzBbuWNRDHCoBJESIaYbPpUxCgQJI" />
<meta name="description" content="Raccolta dati Commissioni mensa Milano"/>
<link href="/css/homepage.css" rel="stylesheet" type="text/css" media="screen"/>
<script src="http://www.google.com/jsapi" type="text/javascript"></script>
<script type="text/javascript">google.load("jquery", "1.4.2", {uncompressed:true});</script>
</head>
<body style="padding:0px; margin:2px; border-spacing:0px; background: #{{bgcolor}}; background-color:#{{bgcolor}}; color:#{{fcolor}};">
{%if not pappamiit%}<div style="position:absolute; left:5px; top:15px;z-index:99;"><a href="/" target="_new"><img border="0" src="/img/pappa-mi-logo.png" width="20" title="Pappa-Mi"/></a></div>{%endif%}
{%include "menu.html"%}
{%include "../footer.inc"%}
</body>
</html>