<div class="row">
  <div class="span12">
    <h2>Pagina Gestione Menu</h2>
    <form action="/admin/menu" method="POST" id="form_0">
      <div class="control-group">
       <div class="controls">
         <input type="hidden" name="cmd" value="upload" method="POST"/>
         <label>Cosa</label>
         <select class="large required" id="what" name="what">
          <option value="menu">Menu</option>
          <option value="content">Ingredienti</option>
         </select>
         <label>Città</label>
         <select class="large required" id="citta" name="city">
          {%for cit in citta%}<option value="{{cit.key.id()}}"{%if ctx.citta_key and cit.key.id() == ctx.citta_key%} selected{%endif%}>{{cit.nome}}</option>{%endfor%}
         </select>
         <label>Menu</label>
         <textarea class="span12 required" name="data" cols="120" rows="20"></textarea>
        </div>
      </div>
      <div class="form-actions">
        <input type="submit" class="btn btn-button"/>
      </div>
    </form>
  </div>
</div>
