<script type="text/javascript">
dojo.require("dijit.form.ComboBox");
dojo.require("dijit.form.Button");
dojo.require("dijit.Dialog");
dojo.require("dijit.Tooltip");
dojo.require("dijit.form.FilteringSelect");
dojo.require("dojo.data.ItemFileReadStore");
dojo.require("dojo.parser");
dojo.require("dijit.form.Form");
dojo.require("dijit.form.TextBox");
dojo.require("dijit.layout.StackContainer");
dojo.require("dijit.layout.ContentPane");
dojo.require("dijit.form.Button");
dojo.require("dijit.Tooltip");
</script>
<style>
#subwrap {width: 81em;}
#content-main {width: 80em;}
div { padding: 0px; }
.tab_title {text-align:center; font-size:130% }
</style>
<script src="http://www.google.com/jsapi" type="text/javascript"></script>
<!--script src="/stats/getdata" type="text/javascript"></script-->
<script>
    google.load('visualization', '1.1', {'packages' : ['piechart','linechart','barchart','columnchart', 'table']});
    dojo.addOnLoad(init);

function init() {
  // Create and populate the data table.
  var cm_data = new google.visualization.DataTable();
  cm_data.addColumn('string', 'Tipo Scuola');
  cm_data.addColumn('number', 'Attive');
  cm_data.addColumn('number', 'Iscritte');
  cm_data.addColumn('number', 'Totali');
  cm_data.addRows(3);
  cm_data.setCell(0, 0, 'Materna');
  cm_data.setCell(1, 0, 'Primaria');
  cm_data.setCell(2, 0, 'Secondaria');
  cm_data.setCell(0, 1, 10);
  cm_data.setCell(1, 1, 20);
  cm_data.setCell(2, 1, 30);
  cm_data.setCell(0, 2, 20);
  cm_data.setCell(1, 2, 30);
  cm_data.setCell(2, 2, 40);
  cm_data.setCell(0, 3, 199);
  cm_data.setCell(1, 3, 152);
  cm_data.setCell(2, 3, 85);

  var dati_ins = new google.visualization.DataTable();
  dati_ins.addColumn('string', 'Settimane');
  dati_ins.addColumn('number', 'Schede');
  dati_ins.addColumn('number', 'Non conformita');
  dati_ins.addRows(12);
  dati_ins.setCell(0, 0, '1');
  dati_ins.setCell(1, 0, '2');
  dati_ins.setCell(2, 0, '3');
  dati_ins.setCell(3, 0, '4');
  dati_ins.setCell(4, 0, '5');
  dati_ins.setCell(5, 0, '6');
  dati_ins.setCell(6, 0, '7');
  dati_ins.setCell(7, 0, '8');
  dati_ins.setCell(8, 0, '9');
  dati_ins.setCell(9, 0, '10');
  dati_ins.setCell(10, 0, '11');
  dati_ins.setCell(11, 0, '12');
  dati_ins.setCell(0, 1, 20);
  dati_ins.setCell(1, 1, 30);
  dati_ins.setCell(2, 1, 40);
  dati_ins.setCell(3, 1, 14);
  dati_ins.setCell(4, 1, 24);
  dati_ins.setCell(5, 1, 43);
  dati_ins.setCell(6, 1, 21);
  dati_ins.setCell(7, 1, 34);
  dati_ins.setCell(8, 1, 22);
  dati_ins.setCell(9, 1, 34);
  dati_ins.setCell(10, 1, 33);
  dati_ins.setCell(11, 1, 23);
  dati_ins.setCell(0, 2, 15);
  dati_ins.setCell(1, 2, 25);
  dati_ins.setCell(2, 2, 35);
  dati_ins.setCell(3, 2, 24);
  dati_ins.setCell(4, 2, 34);
  dati_ins.setCell(5, 2, 13);
  dati_ins.setCell(6, 2, 31);
  dati_ins.setCell(7, 2, 24);
  dati_ins.setCell(8, 2, 12);
  dati_ins.setCell(9, 2, 24);
  dati_ins.setCell(10, 2, 23);
  dati_ins.setCell(11, 2, 13);

  var aa_data = new google.visualization.DataTable();
  aa_data.addColumn('string', 'Descrizione');
  aa_data.addColumn('number', '%');
  aa_data.addRows(10);
  aa_data.setCell(0, 0, 'Rispetto Capitolato');
  aa_data.setCell(1, 0, 'Tavoli Apparecchiati');
  aa_data.setCell(2, 0, 'Termiche Pulite');
  aa_data.setCell(3, 0, 'Acqua da cucine');
  aa_data.setCell(4, 0, 'Scalda Vivande');
  aa_data.setCell(5, 0, 'Self Service');
  aa_data.setCell(6, 0, 'Tabella Dietetica Esposta');
  aa_data.setCell(7, 0, 'Riciclo Stoviglie');
  aa_data.setCell(8, 0, 'Riciclo Posate');
  aa_data.setCell(9, 0, 'Riciclo Bicchieri');
  aa_data.setCell(0, 1, 41);
  aa_data.setCell(1, 1, 98);
  aa_data.setCell(2, 1, 74);
  aa_data.setCell(3, 1, 45);
  aa_data.setCell(4, 1, 76);
  aa_data.setCell(5, 1, 40);
  aa_data.setCell(6, 1, 19);
  aa_data.setCell(7, 1, 52);
  aa_data.setCell(8, 1, 85);
  aa_data.setCell(9, 1, 65);

  var nc_data = new google.visualization.DataTable({{nc_table}});
  
  var barOptsG = {width: 350, height: 100, isStacked: 'true', legend: 'right', colors: ['#FF0000','#FFFF00','#00CC00','#00FF00']};
  var barOpts = {width: 350, height: 100, isStacked: 'true', legend: 'right', colors: ['#FF0000','#FFFF00','#00FF00']};
  
  var pa_data = new google.visualization.DataTable({{pa_table}});
  var pg_data = new google.visualization.DataTable({{pg_table}});
  var pc_data = new google.visualization.DataTable({{pc_table}});
  var pt_data = new google.visualization.DataTable({{pt_table}});
  var pq_data = new google.visualization.DataTable({{pq_table}});
  var pd_data = new google.visualization.DataTable({{pd_table}});

  var sa_data = new google.visualization.DataTable({{sa_table}});
  var sg_data = new google.visualization.DataTable({{sg_table}});
  var sc_data = new google.visualization.DataTable({{sc_table}});
  var st_data = new google.visualization.DataTable({{st_table}});
  var sq_data = new google.visualization.DataTable({{sq_table}});
  var sd_data = new google.visualization.DataTable({{sd_table}});

  var ca_data = new google.visualization.DataTable({{ca_table}});
  var cg_data = new google.visualization.DataTable({{cg_table}});
  var cc_data = new google.visualization.DataTable({{cc_table}});
  var ct_data = new google.visualization.DataTable({{ct_table}});
  var cq_data = new google.visualization.DataTable({{cq_table}});

  var ba_data = new google.visualization.DataTable({{ba_table}});
  var bg_data = new google.visualization.DataTable({{bg_table}});
  var bq_data = new google.visualization.DataTable({{bq_table}});

  var fa_data = new google.visualization.DataTable({{fa_table}});
  var fg_data = new google.visualization.DataTable({{fg_table}});
  var fm_data = new google.visualization.DataTable({{fm_table}});
  var fq_data = new google.visualization.DataTable({{fq_table}});
  var fd_data = new google.visualization.DataTable({{fd_table}});
  
  // Create and draw the visualization.
  //new google.visualization.Table(document.getElementById('cm_table')).draw(cm_data, null);
  //new google.visualization.Table(document.getElementById('aa_table')).draw(aa_data, null);
  new google.visualization.Table(document.getElementById('nc_table')).draw(nc_data, null);
  //new google.visualization.Table(document.getElementById('pd_table')).draw(pd_data, {sort: 'disable'});
  //new google.visualization.Table(document.getElementById('pc_table')).draw(pc_data, {sort: 'disable'});
  //new google.visualization.Table(document.getElementById('pt_table')).draw(pt_data, {sort: 'disable'});
  //new google.visualization.Table(document.getElementById('pq_table')).draw(pq_data, {sort: 'disable'});
  //new google.visualization.Table(document.getElementById('pa_table')).draw(pa_data, {sort: 'disable'});
  //new google.visualization.Table(document.getElementById('pg_table')).draw(pg_data, {sort: 'disable'});
  new google.visualization.ColumnChart(document.getElementById('cm_chart')).draw(cm_data, {width: 800, height: 410, is3D: true, title: 'Commissioni'});  
  new google.visualization.LineChart(document.getElementById('dati')).draw(dati_ins, {width: 900, height: 410, smoothLine: 'true', title: 'Dati raccolti', titleX: 'Settimane', curveType: "function"});  
  new google.visualization.BarChart(document.getElementById('aa_chart')).draw(aa_data, {width: 600, height: 410, legend: 'none', title: 'Aspetti ambientali'});  
  new google.visualization.PieChart(document.getElementById('nc_chart')).draw(nc_data, {width: 800, height: 410, legend: 'right', legendFontSize: '12'});  
  
  new google.visualization.BarChart(document.getElementById('pd_chart')).draw(pd_data, barOpts);  
  new google.visualization.BarChart(document.getElementById('pc_chart')).draw(pc_data, barOpts);  
  new google.visualization.BarChart(document.getElementById('pt_chart')).draw(pt_data, barOpts);  
  new google.visualization.BarChart(document.getElementById('pq_chart')).draw(pq_data, barOpts);  
  new google.visualization.BarChart(document.getElementById('pa_chart')).draw(pa_data, barOpts);  
  new google.visualization.BarChart(document.getElementById('pg_chart')).draw(pg_data, barOptsG);  
  
  new google.visualization.BarChart(document.getElementById('sd_chart')).draw(sd_data, barOpts);  
  new google.visualization.BarChart(document.getElementById('sc_chart')).draw(sc_data, barOpts);  
  new google.visualization.BarChart(document.getElementById('st_chart')).draw(st_data, barOpts);  
  new google.visualization.BarChart(document.getElementById('sq_chart')).draw(sq_data, barOpts);  
  new google.visualization.BarChart(document.getElementById('sa_chart')).draw(sa_data, barOpts);  
  new google.visualization.BarChart(document.getElementById('sg_chart')).draw(sg_data, barOptsG);  

  new google.visualization.BarChart(document.getElementById('cc_chart')).draw(cc_data, barOpts);  
  new google.visualization.BarChart(document.getElementById('ct_chart')).draw(ct_data, barOpts);  
  new google.visualization.BarChart(document.getElementById('cq_chart')).draw(cq_data, barOpts);  
  new google.visualization.BarChart(document.getElementById('ca_chart')).draw(ca_data, barOpts);  
  new google.visualization.BarChart(document.getElementById('cg_chart')).draw(cg_data, barOptsG);  

  new google.visualization.BarChart(document.getElementById('bq_chart')).draw(bq_data, barOpts);  
  new google.visualization.BarChart(document.getElementById('ba_chart')).draw(ba_data, barOpts);  
  new google.visualization.BarChart(document.getElementById('bg_chart')).draw(bg_data, barOptsG);  

  new google.visualization.BarChart(document.getElementById('fq_chart')).draw(fq_data, barOpts);  
  new google.visualization.BarChart(document.getElementById('fa_chart')).draw(fa_data, barOpts);  
  new google.visualization.BarChart(document.getElementById('fm_chart')).draw(fm_data, barOpts);  
  new google.visualization.BarChart(document.getElementById('fg_chart')).draw(fg_data, barOptsG);  

  /*
	var cm = dijit.byId("e_cm");
	var anno = dojo.byId("e_aa");
	cookie = readCookie("pappa-mi-ctx");
	if(!cookie) {
	cookie = "true,,";
	}
	var p = cookie.split(",");
	cm.attr("value", p[1]);
	anno.value=p[2];
*/    

}

function query() {
    var cm = dijit.byId("e_cm");
    var anno = dojo.byId("e_aa");
    loadjsfile("/stats/getdata?cm="+cm.value+"&anno="+anno.value);
    //init();
}
</script>
<H1 style="display:inline;">Statistiche</H1>
<div dojoType="dijit.form.DropDownButton"><span>Seleziona l'insieme di dati</span>
<div dojoType="dijit.TooltipDialog" id="tooltipDlg" title="Filtro dati">
<form dojoType="dijit.form.Form" action="/stats" method="get" id="form0">
<table>
<tr>
<td>
<div dojoType="dojo.data.ItemFileReadStore" jsId="cmStore" url="/commissario/getcm">
<LABEL class="ss-q-title" for="e_cm">Commissioni</LABEL>
<input dojoType="dijit.form.FilteringSelect" value="" store="cmStore"
searchAttr="nome" name="cm" id="e_cm">
</td>
</tr>
<tr>
<td>
<LABEL class="ss-q-title" for="e_aa">Anno scolastico</LABEL>
<SELECT name="anno" id="e_aa">
<OPTION value="2008">2008-2009</OPTION>
<OPTION value="2009">2009-2010</OPTION>
</select>
</td>
</tr>
<tr>
<td>
<button dojoType="dijit.form.Button" type="submit">Applica</button>
</td>
</tr>
</table>
</form>
</div>
</div>
<br/>
<span dojoType="dijit.layout.StackController" containerId="stackContainer" style=""></span>
<button id="previous" onClick="dijit.byId('stackContainer').back()" dojoType="dijit.form.Button" style="margin:0;">&lt;</button>
<button id="next" onClick="dijit.byId('stackContainer').forward()" dojoType="dijit.form.Button" style="margin:0;">&gt;</button>
<div dojoType="dijit.layout.StackContainer" id="stackContainer" style="height: 430px;">
    <div dojoType="dijit.layout.ContentPane" title="Commissioni">
        <table width="100%"><tr><!--td><div id="cm_table" style="width: 300px; height: 300px;"></div></td--><td><div id="cm_chart"></div></td></tr></table>
    </div>
    <div dojoType="dijit.layout.ContentPane" title="Dati inseriti">
        <div id="dati"></div>
    </div>
    <div dojoType="dijit.layout.ContentPane" title="Aspetti ambientali">
        <table width="100%"><tr><!--td><div id="aa_table" style="width: 300px; height: 300px;"></div></td--><td><div id="aa_chart"></div></td></tr></table>
    </div>
    <div dojoType="dijit.layout.ContentPane" title="Non conformit&agrave;">
        <table><tr><td><div id="nc_table"></div></td><td><div id="nc_chart"></div></td></tr></table>
    </div>
    <div dojoType="dijit.layout.ContentPane" title="Primo">
        <table>
        <tr><td colspan="2" class="tab_title">Assaggio</td><td colspan="2" class="tab_title">Cottura</td></tr>
        <tr><td><div id="pa_table">{%if statCM %}<img src="http://chart.apis.google.com/chart?chs=200x100&cht=gom&chd=t:{{stat.primoAssaggioNorm}}|{{statCC.primoAssaggioNorm}}|{{statCM.primoAssaggioNorm}}&chls=1|3|5&chco=FF0000,FFFF00,00FF00&chxt=x&chxl=0:|CM|CC|Tutte&chma=0,0,0,0|0,0&chf=bg,s,{{bgcolor}}00" title="Primo - Assaggio"/>{%else%}<img src="http://chart.apis.google.com/chart?chs=200x100&cht=gom&chd=t:{{stat.primoAssaggioNorm}}&chls=1&chco=FF0000,FFFF00,00FF00&chxt=x&chxl=0:|Tutte&chma=0,0,0,0|0,0&chf=bg,s,{{bgcolor}}00" title="Primo - Assaggio"/>{%endif%}</div></td><td><div id="pa_chart"></div></td><td><div id="pc_table"></div></td><td><div id="pc_chart"></div></td></tr>
        <tr><td colspan="2" class="tab_title">Gradimento</td><td colspan="2" class="tab_title">Temperatura</td></tr>
        <tr><td><div id="pg_table">{%if statCM %}<img src="http://chart.apis.google.com/chart?chs=200x100&cht=gom&chd=t:{{stat.primoGradimentoNorm}}|{{statCC.primoGradimentoNorm}}|{{statCM.primoGradimentoNorm}}&chls=1|3|5&chco=FF0000,FFFF00,00FF00&chxt=x&chxl=0:|CM|CC|Tutte&chma=0,0,0,0|0,0&chf=bg,s,{{bgcolor}}00" title="Primo - Assaggio"/>{%else%}<img src="http://chart.apis.google.com/chart?chs=200x100&cht=gom&chd=t:{{stat.primoAssaggioNorm}}&chls=1&chco=FF0000,FFFF00,00FF00&chxt=x&chxl=0:|Tutte&chma=0,0,0,0|0,0&chf=bg,s,{{bgcolor}}00" title="Primo - Assaggio"/>{%endif%}</div></td><td><div id="pg_chart"></div></td><td><div id="pt_table"></div></td><td><div id="pt_chart"></div></td></tr>
        <tr><td colspan="2" class="tab_title">Quatit&agrave;</td><td colspan="2" class="tab_title">Distribuzione</td></tr>
        <tr><td><div id="pq_table"></div></td><td><div id="pq_chart"></div></td><td></td><td><div id="pd_chart"></div></td></tr>
        </table>
    </div>
    <div dojoType="dijit.layout.ContentPane" title="Secondo">
        <table>
        <tr><td colspan="2" class="tab_title">Assaggio</td><td colspan="2" class="tab_title">Cottura</td></tr>
        <tr><td><div id="sa_table">{%if statCM %}<img src="http://chart.apis.google.com/chart?chs=200x100&cht=gom&chd=t:{{stat.primoAssaggioNorm}}|{{statCC.primoAssaggioNorm}}|{{statCM.primoAssaggioNorm}}&chls=1|3|5&chco=FF0000,FFFF00,00FF00&chxt=x&chxl=0:|CM|CC|Tutte&chma=0,0,0,0|0,0&chf=bg,s,{{bgcolor}}00" title="Secondo - Assaggio"/>{%else%}<img src="http://chart.apis.google.com/chart?chs=200x100&cht=gom&chd=t:{{stat.primoAssaggioNorm}}&chls=1&chco=FF0000,FFFF00,00FF00&chxt=x&chxl=0:|Tutte&chma=0,0,0,0|0,0&chf=bg,s,{{bgcolor}}00" title="Primo - Assaggio"/>{%endif%}</div></td><td><div id="sa_chart"></div></td><td><div id="sc_table"></div></td><td><div id="sc_chart"></div></td></tr>
        <tr><td colspan="2" class="tab_title">Gradimento</td><td colspan="2" class="tab_title">Temperatura</td></tr>
        <tr><td><div id="sg_table">{%if statCM %}<img src="http://chart.apis.google.com/chart?chs=200x100&cht=gom&chd=t:{{stat.primoGradimentoNorm}}|{{statCC.primoGradimentoNorm}}|{{statCM.primoGradimentoNorm}}&chls=1|3|5&chco=FF0000,FFFF00,00FF00&chxt=x&chxl=0:|CM|CC|Tutte&chma=0,0,0,0|0,0&chf=bg,s,{{bgcolor}}00" title="Secondo - Gradimento"/>{%else%}<img src="http://chart.apis.google.com/chart?chs=200x100&cht=gom&chd=t:{{stat.primoAssaggioNorm}}&chls=1&chco=FF0000,FFFF00,00FF00&chxt=x&chxl=0:|Tutte&chma=0,0,0,0|0,0&chf=bg,s,{{bgcolor}}00" title="Secondo - Gradimento"/>{%endif%}</div></td><td><div id="sg_chart"></div></td><td><div id="st_table"></div></td><td><div id="st_chart"></div></td></tr>
        <tr><td colspan="2" class="tab_title">Quatit&agrave;</td><td colspan="2" class="tab_title">Distribuzione</td></tr>
        <tr><td><div id="sq_table"></div></td><td><div id="sq_chart"></div></td><td><div id="sd_table"></div></td><td><div id="sd_chart"></div></td></tr>
        </table>
    </div>
    <div dojoType="dijit.layout.ContentPane" title="Contorno">
        <table>
        <tr><td colspan="2" class="tab_title">Assaggio</td><td colspan="2" class="tab_title">Cottura</td></tr>
        <tr><td><div id="ca_table"></div></td><td><div id="ca_chart"></div></td><td><div id="cc_table"></div></td><td><div id="cc_chart"></div></td></tr>
        <tr><td colspan="2" class="tab_title">Gradimento</td><td colspan="2" class="tab_title">Temperatura</td></tr>
        <tr><td><div id="cg_table"></div></td><td><div id="cg_chart"></div></td><td><div id="ct_table"></div></td><td><div id="ct_chart"></div></td></tr>
        <tr><td colspan="2" class="tab_title">Quatit&agrave;</td><td colspan="2" class="tab_title">Distribuzione</td></tr>
        <tr><td><div id="cq_table"></div></td><td><div id="cq_chart"></div></td><td><div id="cd_table"></div></td><td><div id="cd_chart"></div></td></tr>
        </table>
    </div>
    <div dojoType="dijit.layout.ContentPane" title="Pane">
        <table>
        <tr><td colspan="2" class="tab_title">Tipo</td><td colspan="2" class="tab_title">Quatit&agrave;</td></tr>
        <tr><td><div id="bt_table"></div></td><td><div id="bt_chart"></div></td><td><div id="bq_table"></div></td><td><div id="bq_chart"></div></td></tr>
        <tr><td colspan="2" class="tab_title">Assaggio</td><td colspan="2" class="tab_title">Gradimento</td></tr>
        <tr><td><div id="ba_table"></div></td><td><div id="ba_chart"></div></td><td><div id="bg_table"></div></td><td><div id="bg_chart"></div></td></tr>
        </table>
    </div>
    <div dojoType="dijit.layout.ContentPane" title="Frutta">
        <table>
        <tr><td colspan="2" class="tab_title">Maturazione</td><td colspan="2" class="tab_title">Quatit&agrave;</td></tr>
        <tr><td><div id="fm_table"></div></td><td><div id="fm_chart"></div></td><td><div id="fq_table"></div></td><td><div id="fq_chart"></div></td></tr>
        <tr><td colspan="2" class="tab_title">Assaggio</td><td colspan="2" class="tab_title">Gradimento</td></tr>
        <tr><td><div id="fa_table"></div></td><td><div id="fa_chart"></div></td><td><div id="fg_table"></div></td><td><div id="fg_chart"></div></td></tr>
        </table>
    </div>
    <div dojoType="dijit.layout.ContentPane" title="Servizio">
    </div>
</div>
