<div id="nav-priv-cnt">
<ul class="nav nav-pills" id="nav-priv">
<li class="{{tab_activity}}"><a href="/a">Attivit&agrave;</a></li>
<li class="{{tab_menu}}"><a href="/menu">Menu</a></li>{%if cmsro%}
{#<li class="{{tab_cal}}"><a href="/calendario">Calendario</a></li>#}{%endif%}
<li class="{{tab_stats}}"><a href="/stats">Statistiche</a></li>
<li class="{{tab_map}}"><a href="/commissioni">Commissioni</a></li>{%if cmsro%}
<li class="{{tab_community}}"><a href="/contatti">Contatti</a></li>{%endif%}
</ul>
</div>