<script type="text/javascript">
dojo.require("dijit.form.Form");
dojo.require("dijit.form.Button");
</script>
{%if public_url%}
<!-- AddThis Button BEGIN -->
<a href="{{public_url}}" target="_new">Link pubblico a questa pagina</a>
<!-- AddThis Button END -->
{%endif%}
<DIV class="ss-form-container"><H1 class="table_separator">{{isp.commissione.nome}} - {{isp.commissione.tipoScuola}} - Ispezione del {{isp.dataIspezione|date:"d/m/Y"}} - Turno {{isp.turno}}</H1>
<table>
<tr>
<td colspan="3">
<BR> <DIV class="errorbox-good">
<DIV class="ss-form-entry"><LABEL class="ss-q-title" for="entry_1">Men&ugrave; previsto per il giorno</DIV></DIV>
</td>
</tr>
<tr>
<td>
<DIV class="errorbox-good">
<DIV class="ss-form-entry"><LABEL class="ss-q-title" for="e_primoPrevisto">Primo</LABEL>
{{isp.primoPrevisto}}
</DIV></DIV>
</td>
<td>
<DIV class="errorbox-good">
<DIV class="ss-form-entry"><LABEL class="ss-q-title" for="e_secondoPrevisto">Secondo
</LABEL>
{{isp.secondoPrevisto}}
</DIV></DIV>
</td>
<td>
<DIV class="errorbox-good">
<DIV class="ss-form-entry"><LABEL class="ss-q-title" for="e_contornoPrevisto">Contorno
</LABEL>
{{isp.contornoPrevisto}}
</DIV></DIV>
</td>
</tr>
<tr>
<td colspan="3">
<BR> <DIV class="errorbox-good">
<DIV class="ss-form-entry"><LABEL class="ss-q-title" for="entry_1">Men&ugrave; effettivo
</DIV></DIV>
</td>
</tr>
<tr>
<td>
<DIV class="errorbox-good">
<DIV class="ss-form-entry"><LABEL class="ss-q-title" for="e_primoEffettivo">Primo
</LABEL>
{{isp.primoEffettivo}}
</DIV></DIV>
</td>
<td>
<DIV class="errorbox-good">
<DIV class="ss-form-entry"><LABEL class="ss-q-title" for="e_secondoEffettivo">Secondo
</LABEL>
{{isp.secondoEffettivo}}
</DIV></DIV>
</td>
<td>
<DIV class="errorbox-good">
<DIV class="ss-form-entry"><LABEL class="ss-q-title" for="e_contornoEffettivo">Contorno
</LABEL>
{{isp.contornoEffettivo}}
</DIV></DIV>
</td>
</tr>
<tr>
<td colspan="3">
<br/> <div class="errorbox-good">
<div class="ss-form-entry" id="l_arrivoDist"><label class="ss-q-title" for="entry_15">Tempo trascorso dall'arrivo alla distribuzione
<span class="ss-required-asterisk">*</span></label>
<table border="0" cellpadding="5" cellspacing="0"><tbody>
<tr><td class="ss-scalerow ss-leftlabel">&lt; 10 min</td>
<td class="ss-scalerow"><input type="radio" disabled="true" name="arrivoDist" value="1" id="e_ad_1" {% ifequal isp.arrivoDist 1 %}CHECKED{%endifequal%}/></td>
<td class="ss-scalerow"><input type="radio" disabled="true" name="arrivoDist" value="2" id="e_ad_2" {% ifequal isp.arrivoDist 2 %}CHECKED{%endifequal%}/></td>
<td class="ss-scalerow"><input type="radio" disabled="true" name="arrivoDist" value="3" id="e_ad_3" {% ifequal isp.arrivoDist 3 %}CHECKED{%endifequal%}/></td>
<td class="ss-scalerow ss-rightlabel">&gt; 20 min</td></tr></tbody></table></div></div>
</td>
</tr>
<tr>
<th class="table_separator" colspan="3">Ambiente e Attrezzature</th>
</tr>
<tr>
<td>
<BR> <DIV class="errorbox-good">
<DIV class="ss-form-entry"><LABEL class="ss-q-title" for="entry_15">Pulizia Centro Cottura
</LABEL>
<TABLE border="0" cellpadding="5" cellspacing="0"><TBODY>
<TR><TD class="ss-scalerow ss-leftlabel">Scarso</TD>
<TD class="ss-scalerow"><INPUT type="radio" disabled="true" name="puliziaCentroCottura" value="1" id="e_pcc_1" {% ifequal isp.puliziaCentroCottura 1 %}CHECKED{%endifequal%}></TD>
<TD class="ss-scalerow"><INPUT type="radio" disabled="true" name="puliziaCentroCottura" value="2" id="e_pcc_2" {% ifequal isp.puliziaCentroCottura 2 %}CHECKED{%endifequal%}></TD>
<TD class="ss-scalerow"><INPUT type="radio" disabled="true" name="puliziaCentroCottura" value="3" id="e_pcc_3" {% ifequal isp.puliziaCentroCottura 3 %}CHECKED{%endifequal%}></TD>
<TD class="ss-scalerow"><INPUT type="radio" disabled="true" name="puliziaCentroCottura" value="4" id="e_pcc_4" {% ifequal isp.puliziaCentroCottura 4 %}CHECKED{%endifequal%}></TD>
<TD class="ss-scalerow ss-rightlabel">Buono</TD></TR></TBODY></TABLE></DIV></DIV>
</td>
<td>
<BR> <DIV class="errorbox-good">
<DIV class="ss-form-entry"><LABEL class="ss-q-title" for="entry_15">Pulizia Refettorio
</LABEL>
<TABLE border="0" cellpadding="5" cellspacing="0"><TBODY>
<TR><TD class="ss-scalerow ss-leftlabel">Scarso</TD>
<TD class="ss-scalerow"><INPUT type="radio" disabled="yes" name="puliziaRefettorio" value="1" id="e_pr_1" {% ifequal isp.puliziaRefettorio 1 %}CHECKED{%endifequal%}></TD>
<TD class="ss-scalerow"><INPUT type="radio" disabled="yes" name="puliziaRefettorio" value="2" id="e_pr_2" {% ifequal isp.puliziaRefettorio 2 %}CHECKED{%endifequal%}></TD>
<TD class="ss-scalerow"><INPUT type="radio" disabled="yes" name="puliziaRefettorio" value="3" id="e_pr_3" {% ifequal isp.puliziaRefettorio 3 %}CHECKED{%endifequal%}></TD>
<TD class="ss-scalerow"><INPUT type="radio" disabled="yes" name="puliziaRefettorio" value="4" id="e_pr_4" {% ifequal isp.puliziaRefettorio 4 %}CHECKED{%endifequal%}></TD>
<TD class="ss-scalerow ss-rightlabel">Buono</TD></TR></TBODY></TABLE></DIV></DIV>
</td>
<td>
</td>
</tr>
<tr>
<td colspan="2">
<br/> <div class="errorbox-good">
<div class="ss-form-entry"><label class="ss-q-title" for="entry_42">Le derrate alimentari corrispondono a quanto previsto nel capitolato d'appalto e nel men&ugrave in vigore?
<span class="ss-required-asterisk">*</span></label>
</td>
<td align="center">
<br/> <div class="errorbox-good">
<div class="ss-form-entry">
<table border="0" cellpadding="5" cellspacing="0"><tbody>
<tr><td class="ss-scalerow ss-leftlabel">Si</td>
<td class="ss-scalerow"><input type="radio" disabled="true" name="aaRispettoCapitolato" value="1" id="e_aarc_1" {% ifequal isp.aaRispettoCapitolato 1 %}CHECKED{%endifequal%}/></td> 
<td class="ss-scalerow"><input type="radio" disabled="true" name="aaRispettoCapitolato" value="0" id="e_aarc_2" {% ifequal isp.aaRispettoCapitolato 0 %}CHECKED{%endifequal%}/></td>
<td class="ss-scalerow ss-rightlabel">No</td></tr></tbody></table></div></div>
</td>
</tr>
<tr>
<td colspan="2">
<br/> <div class="errorbox-good">
<div class="ss-form-entry"><label class="ss-q-title" for="entry_42">Tavoli coperti da tovaglie o tovagliette
<span class="ss-required-asterisk">*</span></label>
</td>
<td align="center">
<br/> <div class="errorbox-good">
<div class="ss-form-entry">
<table border="0" cellpadding="5" cellspacing="0"><tbody>
<tr><td class="ss-scalerow ss-leftlabel">Si</td>
<td class="ss-scalerow"><input type="radio" disabled="true" name="aaTavoliApparecchiati" value="1" id="e_aata_1" {% ifequal isp.aaTavoliApparecchiati 1 %}CHECKED{%endifequal%}/></td> 
<td class="ss-scalerow"><input type="radio" disabled="true" name="aaTavoliApparecchiati" value="0" id="e_aatp_2" {% ifequal isp.aaTavoliApparecchiati 0 %}CHECKED{%endifequal%}/></td>
<td class="ss-scalerow ss-rightlabel">No</td></tr></tbody></table></div></div>
</td>
</tr>
<tr>
<td colspan="2">
<br/> <div class="errorbox-good">
<div class="ss-form-entry"><label class="ss-q-title" for="entry_42">Contenitori termici puliti e in buone condizioni
<span class="ss-required-asterisk">*</span></label>
</td>
<td align="center">
<br/> <div class="errorbox-good">
<div class="ss-form-entry">
<table border="0" cellpadding="5" cellspacing="0"><tbody>
<tr><td class="ss-scalerow ss-leftlabel">Si</td>
<td class="ss-scalerow"><input type="radio" disabled="true" name="aaTermichePulite" value="1" id="e_aatp_1" {% ifequal isp.aaTermichePulite 1 %}CHECKED{%endifequal%}/></td> 
<td class="ss-scalerow"><input type="radio" disabled="true" name="aaTermichePulite" value="0" id="e_aatp_2" {% ifequal isp.aaTermichePulite 0 %}CHECKED{%endifequal%}/></td>
<td class="ss-scalerow ss-rightlabel">No</td></tr></tbody></table></div></div>
</td>
</tr>
<tr>
<td colspan="2">
<br/> <div class="errorbox-good">
<div class="ss-form-entry"><label class="ss-q-title" for="entry_42">L'acqua servita proviene dalla cucina o dispensa
<span class="ss-required-asterisk">*</span></label>
</td>
<td align="center">
<br/> <div class="errorbox-good">
<div class="ss-form-entry">
<table border="0" cellpadding="5" cellspacing="0"><tbody>
<tr><td class="ss-scalerow ss-leftlabel">Si</td>
<td class="ss-scalerow"><input type="radio" disabled="true" name="aaAcqua" value="1" id="e_aaac_1" {% ifequal isp.aaAcqua 1 %}CHECKED{%endifequal%}/></td> 
<td class="ss-scalerow"><input type="radio" disabled="true" name="aaAcqua" value="0" id="e_aaac_2" {% ifequal isp.aaAcqua 0 %}CHECKED{%endifequal%}/></td>
<td class="ss-scalerow ss-rightlabel">No</td></tr></tbody></table></div></div>
</td>
</tr>
<tr>
<td colspan="2">
<br/> <div class="errorbox-good">
<div class="ss-form-entry"><label class="ss-q-title" for="entry_42">Ci sono sistemi di mantenimento della temperatura (ad esempio carrelli termici o scaldavivande)
<span class="ss-required-asterisk">*</span></label>
</td>
<td align="center">
<br/> <div class="errorbox-good">
<div class="ss-form-entry">
<table border="0" cellpadding="5" cellspacing="0"><tbody>
<tr><td class="ss-scalerow ss-leftlabel">Si</td>
<td class="ss-scalerow"><input type="radio" disabled="true" name="aaScaldaVivande" value="1" id="e_ncsv_1" {% ifequal isp.aaScaldaVivande 1 %}CHECKED{%endifequal%}/></td> 
<td class="ss-scalerow"><input type="radio" disabled="true" name="aaScaldaVivande" value="0" id="e_ncsv_2" {% ifequal isp.aaScaldaVivande 0 %}CHECKED{%endifequal%}/></td>
<td class="ss-scalerow ss-rightlabel">No</td></tr></tbody></table></div></div>
</td>
</tr>
<tr>
<td colspan="2">
<br/> <div class="errorbox-good">
<div class="ss-form-entry"><label class="ss-q-title" for="entry_42">Servizio in modalit&agrave; self service
<span class="ss-required-asterisk">*</span></label>
</td>
<td align="center">
<br/> <div class="errorbox-good">
<div class="ss-form-entry">
<table border="0" cellpadding="5" cellspacing="0"><tbody>
<tr><td class="ss-scalerow ss-leftlabel">Si</td>
<td class="ss-scalerow"><input type="radio" disabled="true" name="aaSelfService" value="1" id="e_nclp_1" {% ifequal isp.aaSelfService 1 %}CHECKED{%endifequal%}/></td> 
<td class="ss-scalerow"><input type="radio" disabled="true" name="aaSelfService" value="0" id="e_nclp_2" {% ifequal isp.aaSelfService 0 %}CHECKED{%endifequal%}/></td>
<td class="ss-scalerow ss-rightlabel">No</td></tr></tbody></table></div></div>
</td>
</tr>
<tr>
<td colspan="2">
<br/> <div class="errorbox-good">
<div class="ss-form-entry"><label class="ss-q-title" for="entry_42">Tabella dietetica esposta
<span class="ss-required-asterisk">*</span></label>
</td>
<td align="center">
<br/> <div class="errorbox-good">
<div class="ss-form-entry">
<table border="0" cellpadding="5" cellspacing="0"><tbody>
<tr><td class="ss-scalerow ss-leftlabel">Si</td>
<td class="ss-scalerow"><input type="radio" disabled="true" name="aaTabellaEsposta" value="1" id="e_ncte_1" {% ifequal isp.aaTabellaEsposta 1 %}CHECKED{%endifequal%}/></td> 
<td class="ss-scalerow"><input type="radio" disabled="true" name="aaTabellaEsposta" value="0" id="e_ncte_2" {% ifequal isp.aaTabellaEsposta 0 %}CHECKED{%endifequal%}/></td>
<td class="ss-scalerow ss-rightlabel">No</td></tr></tbody></table></div></div>
</td>
</tr>
<tr>
<td colspan="2">
<br/> <div class="errorbox-good">
<div class="ss-form-entry"><label class="ss-q-title" for="entry_42">Stoviglie Riciclabili
<span class="ss-required-asterisk">*</span></label>
</td>
<td align="center">
<br/> <div class="errorbox-good">
<div class="ss-form-entry">
<table border="0" cellpadding="5" cellspacing="0"><tbody>
<tr><td class="ss-scalerow ss-leftlabel">Si</td>
<td class="ss-scalerow"><input type="radio" disabled="true" name="ricicloStoviglie" value="1" id="e_ncte_1" {% ifequal isp.ricicloStoviglie 1 %}CHECKED{%endifequal%}/></td> 
<td class="ss-scalerow"><input type="radio" disabled="true" name="ricicloStoviglie" value="0" id="e_ncte_2" {% ifequal isp.ricicloStoviglie 0 %}CHECKED{%endifequal%}/></td>
<td class="ss-scalerow ss-rightlabel">No</td></tr></tbody></table></div></div>
</td>
</tr>
<tr>
<td colspan="2">
<br/> <div class="errorbox-good">
<div class="ss-form-entry"><label class="ss-q-title" for="entry_42">Bicchieri Riciclabili
<span class="ss-required-asterisk">*</span></label>
</td>
<td align="center">
<br/> <div class="errorbox-good">
<div class="ss-form-entry">
<table border="0" cellpadding="5" cellspacing="0"><tbody>
<tr><td class="ss-scalerow ss-leftlabel">Si</td>
<td class="ss-scalerow"><input type="radio" disabled="true" name="ricicloBicchieri" value="1" id="e_ncte_1" {% ifequal isp.ricicloBicchieri 1 %}CHECKED{%endifequal%}/></td> 
<td class="ss-scalerow"><input type="radio" disabled="true" name="ricicloBicchieri" value="0" id="e_ncte_2" {% ifequal isp.ricicloBicchieri 0 %}CHECKED{%endifequal%}/></td>
<td class="ss-scalerow ss-rightlabel">No</td></tr></tbody></table></div></div>
</td>
</tr>
<tr>
<td colspan="2">
<br/> <div class="errorbox-good">
<div class="ss-form-entry"><label class="ss-q-title" for="entry_42">Posate Riciclabili
<span class="ss-required-asterisk">*</span></label>
</td>
<td align="center">
<br/> <div class="errorbox-good">
<div class="ss-form-entry">
<table border="0" cellpadding="5" cellspacing="0"><tbody>
<tr><td class="ss-scalerow ss-leftlabel">Si</td>
<td class="ss-scalerow"><input type="radio" disabled="true" name="ricicloPosate" value="1" id="e_ncte_1" {% ifequal isp.ricicloPosate 1 %}CHECKED{%endifequal%}/></td> 
<td class="ss-scalerow"><input type="radio" disabled="true" name="ricicloPosate" value="0" id="e_ncte_2" {% ifequal isp.ricicloPosate 0 %}CHECKED{%endifequal%}/></td>
<td class="ss-scalerow ss-rightlabel">No</td></tr></tbody></table></div></div>
</td>
</tr>
<tr>
<th class="table_separator" colspan="3" id="s_primo">Primo Piatto
</th>
</tr>
<tr>
<td>
<br/> <div class="errorbox-good">
<div class="ss-form-entry" id="l_primoDist"><label class="ss-q-title" for="entry_15">Durata distribuzione
<span class="ss-required-asterisk">*</span></label>
<table border="0" cellpadding="5" cellspacing="0"><tbody>
<tr><td class="ss-scalerow ss-leftlabel">&lt; 10 min</td>
<td class="ss-scalerow"><input type="radio" disabled="yes" name="primoDist" value="1" id="e_pd_1" {% ifequal isp.primoDist 1 %}CHECKED{%endifequal%}/></td>
<td class="ss-scalerow"><input type="radio" disabled="yes" name="primoDist" value="2" id="e_pd_2" {% ifequal isp.primoDist 2 %}CHECKED{%endifequal%}/></td>
<td class="ss-scalerow"><input type="radio" disabled="yes" name="primoDist" value="3" id="e_pd_3" {% ifequal isp.primoDist 3 %}CHECKED{%endifequal%}/></td>
<td class="ss-scalerow ss-rightlabel">&gt; 20 min</td></tr></tbody></table></div></div>
<br/><div class="ss-form-entry"><label class="ss-q-title" for="entry_42">Condito al momento
<span class="ss-required-asterisk">*</span></label>
<table border="0" cellpadding="5" cellspacing="0"><tbody>
<tr><td class="ss-scalerow ss-leftlabel">Si</td>
<td class="ss-scalerow"><input type="radio" disabled="true" name="primoCondito" value="1" id="e_pc_1" {% ifequal isp.primoCondito 1 %}CHECKED{%endifequal%}/></td> 
<td class="ss-scalerow"><input type="radio" disabled="true" name="primoCondito" value="0" id="e_pc_2" {% ifequal isp.primoCondito 0 %}CHECKED{%endifequal%}/></td>
<td class="ss-scalerow ss-rightlabel">No</td></tr></tbody></table></div></div>
</td>
<td>
<BR> <DIV class="errorbox-good">
<DIV class="ss-form-entry"><LABEL class="ss-q-title" for="e_primoCottura">Cottura
</LABEL>
<TABLE border="0" cellpadding="5" cellspacing="0"><TBODY>
<TR><TD class="ss-scalerow ss-leftlabel">Scarsa</TD>
<TD class="ss-scalerow"><INPUT type="radio" disabled="yes" name="primoCottura" value="1" id="e_primoCottura_1" {% ifequal isp.primoCottura 1 %}CHECKED{%endifequal%}></TD>
<TD class="ss-scalerow"><INPUT type="radio" disabled="yes" name="primoCottura" value="2" id="e_primoCottura_2" {% ifequal isp.primoCottura 2 %}CHECKED{%endifequal%}></TD>
<TD class="ss-scalerow"><INPUT type="radio" disabled="yes" name="primoCottura" value="3" id="e_primoCottura_3" {% ifequal isp.primoCottura 3 %}CHECKED{%endifequal%}></TD>
<TD class="ss-scalerow ss-rightlabel">Eccessiva</TD></TR></TBODY></TABLE></DIV></DIV>
</td>
<td>
<BR> <DIV class="errorbox-good">
<DIV class="ss-form-entry"><LABEL class="ss-q-title" for="e_primoTemperatura">Temperatura
</LABEL>
<TABLE border="0" cellpadding="5" cellspacing="0"><TBODY>
<TR><TD class="ss-scalerow ss-leftlabel">Freddo</TD>
<TD class="ss-scalerow"><INPUT type="radio" disabled="yes" name="primoTemperatura" value="1" id="e_primoTemperatura_1" {% ifequal isp.primoTemperatura 1 %}CHECKED{%endifequal%}></TD>
<TD class="ss-scalerow"><INPUT type="radio" disabled="yes" name="primoTemperatura" value="2" id="e_primoTemperatura_2" {% ifequal isp.primoTemperatura 2 %}CHECKED{%endifequal%}></TD>
<TD class="ss-scalerow"><INPUT type="radio" disabled="yes" name="primoTemperatura" value="3" id="e_primoTemperatura_3" {% ifequal isp.primoTemperatura 3 %}CHECKED{%endifequal%}></TD>
<TD class="ss-scalerow ss-rightlabel">Caldo</TD></TR></TBODY></TABLE></DIV></DIV>
</td>
</tr>
<tr>
<td>
<BR> <DIV class="errorbox-good">
<DIV class="ss-form-entry"><LABEL class="ss-q-title" for="e_primoQuantita">Quantit&agrave
</LABEL>
<TABLE border="0" cellpadding="5" cellspacing="0"><TBODY>
<TR><TD class="ss-scalerow ss-leftlabel">Scarso</TD>
<TD class="ss-scalerow"><INPUT type="radio" disabled="yes" name="primoQuantita" value="1" id="e_primoQuantita_1" {% ifequal isp.primoQuantita 1 %}CHECKED{%endifequal%}></TD> 
<TD class="ss-scalerow"><INPUT type="radio" disabled="yes" name="primoQuantita" value="2" id="e_primoQuantita_2" {% ifequal isp.primoQuantita 2 %}CHECKED{%endifequal%}></TD> 
<TD class="ss-scalerow"><INPUT type="radio" disabled="yes" name="primoQuantita" value="3" id="e_primoQuantita_3" {% ifequal isp.primoQuantita 3 %}CHECKED{%endifequal%}></TD>
<TD class="ss-scalerow ss-rightlabel">Abbondante</TD></TR></TBODY></TABLE></DIV></DIV>
</td>
<td>
<BR> <DIV class="errorbox-good">
<DIV class="ss-form-entry"><LABEL class="ss-q-title" for="e_primoAssaggio">Assaggio
</LABEL>
<TABLE border="0" cellpadding="5" cellspacing="0"><TBODY>
<TR><TD class="ss-scalerow ss-leftlabel">Non Accettabile</TD>
<TD class="ss-scalerow"><INPUT type="radio" disabled="yes" name="primoAssaggio" value="1" id="e_primoAssaggio_1" {% ifequal isp.primoAssaggio 1 %}CHECKED{%endifequal%}></TD> 
<TD class="ss-scalerow"><INPUT type="radio" disabled="yes" name="primoAssaggio" value="2" id="e_primoAssaggio_2" {% ifequal isp.primoAssaggio 2 %}CHECKED{%endifequal%}></TD> 
<TD class="ss-scalerow"><INPUT type="radio" disabled="yes" name="primoAssaggio" value="3" id="e_primoAssaggio_3" {% ifequal isp.primoAssaggio 3 %}CHECKED{%endifequal%}></TD>
<TD class="ss-scalerow ss-rightlabel">Gradevole</TD></TR></TBODY></TABLE></DIV></DIV>
</td>
<td>
<BR> <DIV class="errorbox-good">
<DIV class="ss-form-entry"><LABEL class="ss-q-title" for="e_primoGradimento">Gradimento dei bambini
</LABEL>
<TABLE border="0" cellpadding="5" cellspacing="0"><TBODY>
<TR><TD class="ss-scalerow ss-leftlabel">Rifiutato</TD>
<TD class="ss-scalerow"><INPUT type="radio" disabled="yes" name="primoGradimento" value="1" id="e_primoGradimento_1" {% ifequal isp.primoGradimento 1 %}CHECKED{%endifequal%}></TD> 
<TD class="ss-scalerow"><INPUT type="radio" disabled="yes" name="primoGradimento" value="2" id="e_primoGradimento_2" {% ifequal isp.primoGradimento 2 %}CHECKED{%endifequal%}></TD> 
<TD class="ss-scalerow"><INPUT type="radio" disabled="yes" name="primoGradimento" value="3" id="e_primoGradimento_3" {% ifequal isp.primoGradimento 3 %}CHECKED{%endifequal%}></TD> 
<TD class="ss-scalerow"><INPUT type="radio" disabled="yes" name="primoGradimento" value="4" id="e_primoGradimento_4" {% ifequal isp.primoGradimento 4 %}CHECKED{%endifequal%}></TD>
<TD class="ss-scalerow ss-rightlabel">Accettato</TD></TR></TBODY></TABLE></DIV></DIV>
</td>
</tr>
<tr id="s_secondo_1">
<td colspan="3" class="table_separator">
Secondo Piatto
</td>
</tr>
<tr id="s_secondo_2">
<td>
<br/> <div class="errorbox-good">
<div class="ss-form-entry" id="l_primoDist"><label class="ss-q-title" for="entry_15">Durata distribuzione
<span class="ss-required-asterisk">*</span></label>
<table border="0" cellpadding="5" cellspacing="0"><tbody>
<tr><td class="ss-scalerow ss-leftlabel">&lt; 10 min</td>
<td class="ss-scalerow"><input type="radio" disabled="yes" name="secondoDist" value="1" id="e_pd_1" {% ifequal isp.secondoDist 1 %}CHECKED{%endifequal%}/></td>
<td class="ss-scalerow"><input type="radio" disabled="yes" name="secondoDist" value="2" id="e_pd_2" {% ifequal isp.secondoDist 2 %}CHECKED{%endifequal%}/></td>
<td class="ss-scalerow"><input type="radio" disabled="yes" name="secondoDist" value="3" id="e_pd_3" {% ifequal isp.secondoDist 3 %}CHECKED{%endifequal%}/></td>
<td class="ss-scalerow ss-rightlabel">&gt; 20 min</td></tr></tbody></table></div></div>
</td>
<td>
<BR> <DIV class="errorbox-good">
<DIV class="ss-form-entry"><LABEL class="ss-q-title" for="e_secondoCottura">Cottura
</LABEL>
<TABLE border="0" cellpadding="5" cellspacing="0"><TBODY>
<TR><TD class="ss-scalerow ss-leftlabel">Scarsa</TD>
<TD class="ss-scalerow"><INPUT type="radio" disabled="yes" name="secondoCottura" value="1" id="e_secondoCottura_1" {% ifequal isp.secondoCottura 1 %}CHECKED{%endifequal%}></TD> 
<TD class="ss-scalerow"><INPUT type="radio" disabled="yes" name="secondoCottura" value="2" id="e_secondoCottura_2" {% ifequal isp.secondoCottura 2 %}CHECKED{%endifequal%}></TD> 
<TD class="ss-scalerow"><INPUT type="radio" disabled="yes" name="secondoCottura" value="3" id="e_secondoCottura_3" {% ifequal isp.secondoCottura 3 %}CHECKED{%endifequal%}></TD>
<TD class="ss-scalerow ss-rightlabel">Eccessiva</TD></TR></TBODY></TABLE></DIV></DIV>
</td>
<td>
<BR> <DIV class="errorbox-good">
<DIV class="ss-form-entry"><LABEL class="ss-q-title" for="e_secondoTemperatura">Temperatura
</LABEL>
<TABLE border="0" cellpadding="5" cellspacing="0"><TBODY>
<TR><TD class="ss-scalerow ss-leftlabel">Freddo</TD>
<TD class="ss-scalerow"><INPUT type="radio" disabled="yes" name="secondoTemperatura" value="1" id="e_secondoTemperatura_1" {% ifequal isp.secondoTemperatura 1 %}CHECKED{%endifequal%}></TD> 
<TD class="ss-scalerow"><INPUT type="radio" disabled="yes" name="secondoTemperatura" value="2" id="e_secondoTemperatura_2" {% ifequal isp.secondoTemperatura 2 %}CHECKED{%endifequal%}></TD> 
<TD class="ss-scalerow"><INPUT type="radio" disabled="yes" name="secondoTemperatura" value="3" id="e_secondoTemperatura_3" {% ifequal isp.secondoTemperatura 3 %}CHECKED{%endifequal%}></TD>
<TD class="ss-scalerow ss-rightlabel">Caldo</TD></TR></TBODY></TABLE></DIV></DIV>
</td>
</tr>
<tr id="s_secondo_3">
<td>
<BR> <DIV class="errorbox-good">
<DIV class="ss-form-entry"><LABEL class="ss-q-title" for="e_secondoQuantita">Quantit&agrave
</LABEL>
<TABLE border="0" cellpadding="5" cellspacing="0"><TBODY>
<TR><TD class="ss-scalerow ss-leftlabel">Scarso</TD>
<TD class="ss-scalerow"><INPUT type="radio" disabled="yes" name="secondoQuantita" value="1" id="e_secondoQuantita_1" {% ifequal isp.secondoQuantita 1 %}CHECKED{%endifequal%}></TD> 
<TD class="ss-scalerow"><INPUT type="radio" disabled="yes" name="secondoQuantita" value="2" id="e_secondoQuantita_2" {% ifequal isp.secondoQuantita 2 %}CHECKED{%endifequal%}></TD> 
<TD class="ss-scalerow"><INPUT type="radio" disabled="yes" name="secondoQuantita" value="3" id="e_secondoQuantita_3" {% ifequal isp.secondoQuantita 3 %}CHECKED{%endifequal%}></TD> 
<TD class="ss-scalerow ss-rightlabel">Abbondante</TD></TR></TBODY></TABLE></DIV></DIV>
</td>
<td>
<BR> <DIV class="errorbox-good">
<DIV class="ss-form-entry"><LABEL class="ss-q-title" for="e_secondoAssaggio">Assaggio
</LABEL>
<TABLE border="0" cellpadding="5" cellspacing="0"><TBODY>
<TR><TD class="ss-scalerow ss-leftlabel">Non Accettabile</TD>
<TD class="ss-scalerow"><INPUT type="radio" disabled="yes" name="secondoAssaggio" value="1" id="e_secondoAssaggio_1" {% ifequal isp.secondoAssaggio 1 %}CHECKED{%endifequal%}></TD> 
<TD class="ss-scalerow"><INPUT type="radio" disabled="yes" name="secondoAssaggio" value="2" id="e_secondoAssaggio_2" {% ifequal isp.secondoAssaggio 2 %}CHECKED{%endifequal%}></TD> 
<TD class="ss-scalerow"><INPUT type="radio" disabled="yes" name="secondoAssaggio" value="3" id="e_secondoAssaggio_3" {% ifequal isp.secondoAssaggio 3 %}CHECKED{%endifequal%}></TD> 
<TD class="ss-scalerow ss-rightlabel">Gradevole</TD></TR></TBODY></TABLE></DIV></DIV>
</td>
<td>
<BR> <DIV class="errorbox-good">
<DIV class="ss-form-entry"><LABEL class="ss-q-title" for="entry_18">Gradimento dei bambini
</LABEL>
<TABLE border="0" cellpadding="5" cellspacing="0"><TBODY>
<TR><TD class="ss-scalerow ss-leftlabel">Rifiutato</TD>
<TD class="ss-scalerow"><INPUT type="radio" disabled="yes" name="secondoGradimento" value="1" id="group_18_1" {% ifequal isp.secondoGradimento 1 %}CHECKED{%endifequal%}></TD> 
<TD class="ss-scalerow"><INPUT type="radio" disabled="yes" name="secondoGradimento" value="2" id="group_18_2" {% ifequal isp.secondoGradimento 2 %}CHECKED{%endifequal%}></TD> 
<TD class="ss-scalerow"><INPUT type="radio" disabled="yes" name="secondoGradimento" value="3" id="group_18_3" {% ifequal isp.secondoGradimento 3 %}CHECKED{%endifequal%}></TD> 
<TD class="ss-scalerow"><INPUT type="radio" disabled="yes" name="secondoGradimento" value="4" id="group_18_4" {% ifequal isp.secondoGradimento 4 %}CHECKED{%endifequal%}></TD> 
<TD class="ss-scalerow ss-rightlabel">Accettato</TD></TR></TBODY></TABLE></DIV></DIV>
</td>
</tr>
<tr>
<td colspan="3" class="table_separator">
Contorno
</td>
<tr>
<td>
<br/> <div class="errorbox-good">
<div class="ss-form-entry"><label class="ss-q-title" for="entry_42">Condito al momento
<span class="ss-required-asterisk">*</span></label>
<table border="0" cellpadding="5" cellspacing="0"><tbody>
<tr><td class="ss-scalerow ss-leftlabel">Si</td>
<td class="ss-scalerow"><input type="radio" disabled="true" name="contornoCondito" value="1" id="e_cc_1" {% ifequal isp.contornoCondito 1 %}CHECKED{%endifequal%}/></td> 
<td class="ss-scalerow"><input type="radio" disabled="true" name="contornoCondito" value="0" id="e_cc_2" {% ifequal isp.contornoCondito 0 %}CHECKED{%endifequal%}/></td>
<td class="ss-scalerow ss-rightlabel">No</td></tr></tbody></table></div></div>
</td>
<td>
<BR> <DIV class="errorbox-good">
<DIV class="ss-form-entry"><LABEL class="ss-q-title"for="entry_15">Cottura
</LABEL>
<TABLE border="0" cellpadding="5" cellspacing="0"><TBODY>
<TR><TD class="ss-scalerow ss-leftlabel">Scarsa</TD>
<TD class="ss-scalerow"><INPUT type="radio" disabled="yes" name="contornoCottura" value="1" id="group_20_1" {% ifequal isp.contornoCottura 1 %}CHECKED{%endifequal%}></TD> 
<TD class="ss-scalerow"><INPUT type="radio" disabled="yes" name="contornoCottura" value="2" id="group_20_2" {% ifequal isp.contornoCottura 2 %}CHECKED{%endifequal%}></TD> 
<TD class="ss-scalerow"><INPUT type="radio" disabled="yes" name="contornoCottura" value="3" id="group_20_3" {% ifequal isp.contornoCottura 3 %}CHECKED{%endifequal%}></TD>
<TD class="ss-scalerow ss-rightlabel">Eccessiva</TD></TR></TBODY></TABLE></DIV></DIV>
</td>
<td>
<BR> <DIV class="errorbox-good">
<DIV class="ss-form-entry"><LABEL class="ss-q-title" for="entry_16">Temperatura
</LABEL>
<TABLE border="0" cellpadding="5" cellspacing="0"><TBODY>
<TR><TD class="ss-scalerow ss-leftlabel">Freddo</TD>
<TD class="ss-scalerow"><INPUT type="radio" disabled="yes" name="contornoTemperatura" value="1" id="group_22_1" {% ifequal isp.contornoTemperatura 1 %}CHECKED{%endifequal%}></TD> 
<TD class="ss-scalerow"><INPUT type="radio" disabled="yes" name="contornoTemperatura" value="2" id="group_22_2" {% ifequal isp.contornoTemperatura 2 %}CHECKED{%endifequal%}></TD> 
<TD class="ss-scalerow"><INPUT type="radio" disabled="yes" name="contornoTemperatura" value="3" id="group_22_3" {% ifequal isp.contornoTemperatura 3 %}CHECKED{%endifequal%}></TD>
<TD class="ss-scalerow ss-rightlabel">Caldo</TD></TR></TBODY></TABLE></DIV></DIV>
</td>
</tr>
<tr>
<td>
<BR> <DIV class="errorbox-good">
<DIV class="ss-form-entry"><LABEL class="ss-q-title" for="entry_23">Quantit&agrave
</LABEL>
<TABLE border="0" cellpadding="5" cellspacing="0"><TBODY>
<TR><TD class="ss-scalerow ss-leftlabel">Scarso</TD>
<TD class="ss-scalerow"><INPUT type="radio" disabled="yes" name="contornoQuantita" value="1" id="group_45_1" {% ifequal isp.contornoQuantita 1 %}CHECKED{%endifequal%}></TD> 
<TD class="ss-scalerow"><INPUT type="radio" disabled="yes" name="contornoQuantita" value="2" id="group_45_2" {% ifequal isp.contornoQuantita 2 %}CHECKED{%endifequal%}></TD> 
<TD class="ss-scalerow"><INPUT type="radio" disabled="yes" name="contornoQuantita" value="3" id="group_45_3" {% ifequal isp.contornoQuantita 3 %}CHECKED{%endifequal%}></TD> 
<TD class="ss-scalerow ss-rightlabel">Abbondante</TD></TR></TBODY></TABLE></DIV></DIV>
</td>
<td>
<BR> <DIV class="errorbox-good">
<DIV class="ss-form-entry"><LABEL class="ss-q-title" for="entry_23">Assaggio
</LABEL>
<TABLE border="0" cellpadding="5" cellspacing="0"><TBODY>
<TR><TD class="ss-scalerow ss-leftlabel">Non Accettabile</TD>
<TD class="ss-scalerow"><INPUT type="radio" disabled="yes" name="contornoAssaggio" value="1" id="group_24_1" {% ifequal isp.contornoAssaggio 1 %}CHECKED{%endifequal%}></TD> 
<TD class="ss-scalerow"><INPUT type="radio" disabled="yes" name="contornoAssaggio" value="2" id="group_24_2" {% ifequal isp.contornoAssaggio 2 %}CHECKED{%endifequal%}></TD> 
<TD class="ss-scalerow"><INPUT type="radio" disabled="yes" name="contornoAssaggio" value="3" id="group_24_3" {% ifequal isp.contornoAssaggio 3 %}CHECKED{%endifequal%}></TD> 
<TD class="ss-scalerow ss-rightlabel">Gradevole</TD></TR></TBODY></TABLE></DIV></DIV>
</td>
<td>
<BR> <DIV class="errorbox-good">
<DIV class="ss-form-entry"><LABEL class="ss-q-title" for="entry_18">Gradimento dei bambini
</LABEL>
<TABLE border="0" cellpadding="5" cellspacing="0"><TBODY>
<TR><TD class="ss-scalerow ss-leftlabel">Rifiutato</TD>
<TD class="ss-scalerow"><INPUT type="radio" disabled="yes" name="contornoGradimento" value="1" id="group_26_1" {% ifequal isp.contornoGradimento 1 %}CHECKED{%endifequal%}></TD> 
<TD class="ss-scalerow"><INPUT type="radio" disabled="yes" name="contornoGradimento" value="2" id="group_26_2" {% ifequal isp.contornoGradimento 2 %}CHECKED{%endifequal%}></TD> 
<TD class="ss-scalerow"><INPUT type="radio" disabled="yes" name="contornoGradimento" value="3" id="group_26_3" {% ifequal isp.contornoGradimento 3 %}CHECKED{%endifequal%}></TD> 
<TD class="ss-scalerow"><INPUT type="radio" disabled="yes" name="contornoGradimento" value="4" id="group_26_4" {% ifequal isp.contornoGradimento 4 %}CHECKED{%endifequal%}></TD> 
<TD class="ss-scalerow ss-rightlabel">Accettato</TD></TR></TBODY></TABLE></DIV></DIV>
</td>
</tr>
<tr>
<td colspan="3" class="table_separator">Pane</td>
</tr>
<tr>
<td>
<DIV class="ss-form-entry"><LABEL class="ss-q-title" for="e_paneTipo">Tipo
</LABEL>
{{isp.paneTipo}}</DIV></DIV>
</td>
<td>
<br/> <div class="errorbox-good">
<div class="ss-form-entry"><label class="ss-q-title" for="entry_42">Presente in tavola a inizio pasto
<span class="ss-required-asterisk">*</span></label>
<table border="0" cellpadding="5" cellspacing="0"><tbody>
<tr><td class="ss-scalerow ss-leftlabel">Si</td>
<td class="ss-scalerow"><input type="radio" disabled="true" name="paneServito" value="1" id="e_pp_1" {% ifequal isp.paneServito 1 %}CHECKED{%endifequal%}/></td> 
<td class="ss-scalerow"><input type="radio" disabled="true" name="paneServito" value="0" id="e_pp_2" {% ifequal isp.paneServito 0 %}CHECKED{%endifequal%}/></td>
<td class="ss-scalerow ss-rightlabel">No</td></tr></tbody></table></div></div>
</td>
<td>
</td>
</tr>
<tr>
<td>
<BR> <DIV class="errorbox-good">
<DIV class="ss-form-entry"><LABEL class="ss-q-title" for="entry_23">Quantita
</LABEL>
<TABLE border="0" cellpadding="5" cellspacing="0"><TBODY>
<TR><TD class="ss-scalerow ss-leftlabel">Scarsa</TD>
<TD class="ss-scalerow"><INPUT type="radio" disabled="yes" name="paneQuantita" value="1" id="group_46_1" {% ifequal isp.paneQuantita 1 %}CHECKED{%endifequal%}></TD> 
<TD class="ss-scalerow"><INPUT type="radio" disabled="yes" name="paneQuantita" value="2" id="group_46_2" {% ifequal isp.paneQuantita 2 %}CHECKED{%endifequal%}></TD> 
<TD class="ss-scalerow"><INPUT type="radio" disabled="yes" name="paneQuantita" value="3" id="group_46_3" {% ifequal isp.paneQuantita 3 %}CHECKED{%endifequal%}></TD> 
<TD class="ss-scalerow ss-rightlabel">Troppa</TD></TR></TBODY></TABLE></DIV></DIV>
</td>
<td>
<BR> <DIV class="errorbox-good">
<DIV class="ss-form-entry"><LABEL class="ss-q-title" for="entry_23">Assaggio
</LABEL>
<TABLE border="0" cellpadding="5" cellspacing="0"><TBODY>
<TR><TD class="ss-scalerow ss-leftlabel">Non Accettabile</TD>
<TD class="ss-scalerow"><INPUT type="radio" disabled="yes" name="paneAssaggio" value="1" id="group_28_1" {% ifequal isp.paneAssaggio 1 %}CHECKED{%endifequal%}></TD> 
<TD class="ss-scalerow"><INPUT type="radio" disabled="yes" name="paneAssaggio" value="2" id="group_28_2" {% ifequal isp.paneAssaggio 2 %}CHECKED{%endifequal%}></TD> 
<TD class="ss-scalerow"><INPUT type="radio" disabled="yes" name="paneAssaggio" value="3" id="group_28_3" {% ifequal isp.paneAssaggio 3 %}CHECKED{%endifequal%}></TD> 
<TD class="ss-scalerow ss-rightlabel">Gradevole</TD></TR></TBODY></TABLE></DIV></DIV>
</td>
<td>
<BR> <DIV class="errorbox-good">
<DIV class="ss-form-entry"><LABEL class="ss-q-title" for="entry_18">Gradimento dei bambini
</LABEL>
<TABLE border="0" cellpadding="5" cellspacing="0"><TBODY>
<TR><TD class="ss-scalerow ss-leftlabel">Rifiutato</TD>
<TD class="ss-scalerow"><INPUT type="radio" disabled="yes" name="paneGradimento" value="1" id="group_30_1" {% ifequal isp.paneGradimento 1 %}CHECKED{%endifequal%}></TD> 
<TD class="ss-scalerow"><INPUT type="radio" disabled="yes" name="paneGradimento" value="2" id="group_30_2" {% ifequal isp.paneGradimento 2 %}CHECKED{%endifequal%}></TD> 
<TD class="ss-scalerow"><INPUT type="radio" disabled="yes" name="paneGradimento" value="3" id="group_30_3" {% ifequal isp.paneGradimento 3 %}CHECKED{%endifequal%}></TD> 
<TD class="ss-scalerow"><INPUT type="radio" disabled="yes" name="paneGradimento" value="4" id="group_30_4" {% ifequal isp.paneGradimento 4 %}CHECKED{%endifequal%}></TD> 
<TD class="ss-scalerow ss-rightlabel">Accettato</TD></TR></TBODY></TABLE></DIV></DIV>
</td>
</tr>
<tr>
<td colspan="3" class="table_separator">
Frutta
</td>
<tr>
<td>
<BR> <DIV class="errorbox-good">
<DIV class="ss-form-entry"><LABEL class="ss-q-title" for="e_fruttaTipo">Tipo Frutta
</LABEL>
{{isp.fruttaTipo}}</DIV></DIV>
<BR> <DIV class="errorbox-good">
<DIV class="ss-form-entry"><LABEL class="ss-q-title" for="e_fruttaServita">Servita
</LABEL>
{{isp.fruttaServita}}</DIV></DIV>
</td>
<td>
<BR> <DIV class="errorbox-good">
<DIV class="ss-form-entry"><LABEL class="ss-q-title" for="entry_23">Assaggio
</LABEL>
<TABLE border="0" cellpadding="5" cellspacing="0"><TBODY>
<TR><TD class="ss-scalerow ss-leftlabel">Non Accettabile</TD>
<TD class="ss-scalerow"><INPUT type="radio" disabled="yes" name="fruttaAssaggio" value="1" id="group_32_1" {% ifequal isp.fruttaAssaggio 1 %}CHECKED{%endifequal%}></TD> 
<TD class="ss-scalerow"><INPUT type="radio" disabled="yes" name="fruttaAssaggio" value="2" id="group_32_2" {% ifequal isp.fruttaAssaggio 2 %}CHECKED{%endifequal%}></TD> 
<TD class="ss-scalerow"><INPUT type="radio" disabled="yes" name="fruttaAssaggio" value="3" id="group_32_3" {% ifequal isp.fruttaAssaggio 3 %}CHECKED{%endifequal%}></TD> 
<TD class="ss-scalerow ss-rightlabel">Gradevole</TD></TR></TBODY></TABLE></DIV></DIV>
</td>
<td>
<BR> <DIV class="errorbox-good">
<DIV class="ss-form-entry"><LABEL class="ss-q-title" for="entry_18">Gradimento dei bambini
</LABEL>
<TABLE border="0" cellpadding="5" cellspacing="0"><TBODY>
<TR><TD class="ss-scalerow ss-leftlabel">Rifiutato</TD>
<TD class="ss-scalerow"><INPUT type="radio" disabled="yes" name="fruttaGradimento" value="1" id="group_34_1" {% ifequal isp.fruttaGradimento 1 %}CHECKED{%endifequal%}></TD> 
<TD class="ss-scalerow"><INPUT type="radio" disabled="yes" name="fruttaGradimento" value="2" id="group_34_2" {% ifequal isp.fruttaGradimento 2 %}CHECKED{%endifequal%}></TD> 
<TD class="ss-scalerow"><INPUT type="radio" disabled="yes" name="fruttaGradimento" value="3" id="group_34_3" {% ifequal isp.fruttaGradimento 3 %}CHECKED{%endifequal%}></TD> 
<TD class="ss-scalerow"><INPUT type="radio" disabled="yes" name="fruttaGradimento" value="4" id="group_34_4" {% ifequal isp.fruttaGradimento 4 %}CHECKED{%endifequal%}></TD> 
<TD class="ss-scalerow ss-rightlabel">Accettato</TD></TR></TBODY></TABLE></DIV></DIV>
</td>
</tr>
<tr>
<td>
</td>
<td>
<DIV class="ss-form-entry"><LABEL class="ss-q-title" for="entry_23">Quantit&agrave
</LABEL>
<TABLE border="0" cellpadding="5" cellspacing="0"><TBODY>
<TR><TD class="ss-scalerow ss-leftlabel">Scarsa</TD>
<TD class="ss-scalerow"><INPUT type="radio" disabled="yes" name="fruttaQuantita" value="1" id="group_47_1" {% ifequal isp.fruttaQuantita 1 %}CHECKED{%endifequal%}></TD> 
<TD class="ss-scalerow"><INPUT type="radio" disabled="yes" name="fruttaQuantita" value="2" id="group_47_2" {% ifequal isp.fruttaQuantita 2 %}CHECKED{%endifequal%}></TD> 
<TD class="ss-scalerow"><INPUT type="radio" disabled="yes" name="fruttaQuantita" value="3" id="group_47_3" {% ifequal isp.fruttaQuantita 3 %}CHECKED{%endifequal%}></TD> 
<TD class="ss-scalerow ss-rightlabel">Abbondante</TD></TR></TBODY></TABLE></DIV></DIV>
</td>
<td>
<DIV class="ss-form-entry"><LABEL class="ss-q-title" for="entry_23">Maturazione
</LABEL>
<TABLE border="0" cellpadding="5" cellspacing="0"><TBODY>
<TR><TD class="ss-scalerow ss-leftlabel">Acerba</TD>
<TD class="ss-scalerow"><INPUT type="radio" disabled="yes" name="fruttaMaturazione" value="1" id="group_48_1" {% ifequal isp.fruttaMaturazione 1 %}CHECKED{%endifequal%}></TD> 
<TD class="ss-scalerow"><INPUT type="radio" disabled="yes" name="fruttaMaturazione" value="2" id="group_48_2" {% ifequal isp.fruttaMaturazione 2 %}CHECKED{%endifequal%}></TD> 
<TD class="ss-scalerow"><INPUT type="radio" disabled="yes" name="fruttaMaturazione" value="3" id="group_48_3" {% ifequal isp.fruttaMaturazione 3 %}CHECKED{%endifequal%}></TD> 
<TD class="ss-scalerow ss-rightlabel">Matura</TD></TR></TBODY></TABLE></DIV></DIV>
</td>
</tr>
<tr>
<td colspan="3" class="table_separator">
Fine Pasto
</td>
</tr>
<tr>
<td>
<br/> <div class="errorbox-good">
<div class="ss-form-entry" id="l_durataPasto"><label class="ss-q-title" for="entry_15">Durata complessiva pasto
<span class="ss-required-asterisk">*</span></label>
<table border="0" cellpadding="5" cellspacing="0"><tbody>
<tr><td class="ss-scalerow ss-leftlabel">&lt; 30 min</td>
<td class="ss-scalerow"><input type="radio" disabled="yes" name="durataPasto" value="1" id="e_pd_1" {% ifequal isp.durataPasto 1 %}CHECKED{%endifequal%}/></td>
<td class="ss-scalerow"><input type="radio" disabled="yes" name="durataPasto" value="2" id="e_pd_2" {% ifequal isp.durataPasto 2 %}CHECKED{%endifequal%}/></td>
<td class="ss-scalerow"><input type="radio" disabled="yes" name="durataPasto" value="3" id="e_pd_3" {% ifequal isp.durataPasto 3 %}CHECKED{%endifequal%}/></td>
<td class="ss-scalerow ss-rightlabel">&gt; 60 min</td></tr></tbody></table></div></div></td>
</tr>
<tr>
<td>
<DIV class="errorbox-good">
<DIV class="ss-form-entry"><LABEL class="ss-q-title" for="e_numeroPastiTotale">Numero Pasti serviti
</LABEL>
{{isp.numeroPastiTotale}}</DIV></DIV>
</td>
<td>
<DIV class="errorbox-good">
<DIV class="ss-form-entry"><LABEL class="ss-q-title" for="e_numeroPastiBambini">Numero Pasti serviti ai bambini
</LABEL>
{{isp.numeroPastiBambini}}</DIV></DIV>
</td>
<td>
<DIV class="errorbox-good">
<DIV class="ss-form-entry"><LABEL class="ss-q-title" for="e_numeroPastiSpeciali">Numero Pasti speciali serviti
</LABEL>
{{isp.numeroPastiSpeciali}}</DIV></DIV>
</td>
</tr>
<tr>
<td>
<BR> <DIV class="errorbox-good">
<DIV class="ss-form-entry"><LABEL class="ss-q-title" for="e_numeroAddetti">Numero addetti alla distribuzione
</LABEL>	
{{isp.numeroAddetti}}</DIV></DIV>
</td>
<td>
<BR> <DIV class="errorbox-good">
<DIV class="ss-form-entry"><LABEL class="ss-q-title" for="entry_42">Smaltimento rifiuti
</LABEL>
<TABLE border="0" cellpadding="5" cellspacing="0"><TBODY>
<TR><TD class="ss-scalerow ss-leftlabel">Scarso</TD>
<TD class="ss-scalerow"><INPUT type="radio" disabled="yes" name="smaltimentoRifiuti" value="1" id="group_41_1" {% ifequal isp.smaltimentoRifiuti 1 %}CHECKED{%endifequal%}></TD> 
<TD class="ss-scalerow"><INPUT type="radio" disabled="yes" name="smaltimentoRifiuti" value="2" id="group_41_2" {% ifequal isp.smaltimentoRifiuti 2 %}CHECKED{%endifequal%}></TD> 
<TD class="ss-scalerow"><INPUT type="radio" disabled="yes" name="smaltimentoRifiuti" value="3" id="group_41_3" {% ifequal isp.smaltimentoRifiuti 3 %}CHECKED{%endifequal%}></TD> 
<TD class="ss-scalerow"><INPUT type="radio" disabled="yes" name="smaltimentoRifiuti" value="4" id="group_41_4" {% ifequal isp.smaltimentoRifiuti 4 %}CHECKED{%endifequal%}></TD> 
<TD class="ss-scalerow"><INPUT type="radio" disabled="yes" name="smaltimentoRifiuti" value="5" id="group_41_5" {% ifequal isp.smaltimentoRifiuti 5 %}CHECKED{%endifequal%}></TD>
<TD class="ss-scalerow ss-rightlabel">Ottimo</TD></TR></TBODY></TABLE></DIV></DIV>
</td>
<td>
<BR> <DIV class="errorbox-good">
<DIV class="ss-form-entry"><LABEL class="ss-q-title" for="entry_43">Giudizio Globale sul Cibo
</LABEL>
<TABLE border="0" cellpadding="5" cellspacing="0"><TBODY>
<TR><TD class="ss-scalerow ss-leftlabel">Scarso</TD>
<TD class="ss-scalerow"><INPUT type="radio" disabled="yes" name="giudizioGlobale" value="1" id="group_43_1" {% ifequal isp.giudizioGlobale 1 %}CHECKED{%endifequal%}></TD> 
<TD class="ss-scalerow"><INPUT type="radio" disabled="yes" name="giudizioGlobale" value="2" id="group_43_2" {% ifequal isp.giudizioGlobale 2 %}CHECKED{%endifequal%}></TD> 
<TD class="ss-scalerow"><INPUT type="radio" disabled="yes" name="giudizioGlobale" value="3" id="group_43_3" {% ifequal isp.giudizioGlobale 3 %}CHECKED{%endifequal%}></TD> 
<TD class="ss-scalerow ss-rightlabel">Ottimo</TD></TR></TBODY></TABLE></DIV></DIV>
</td>
</tr>
<tr>
<td colspan="3">
<BR> <DIV class="errorbox-good">
<DIV class="ss-form-entry"><LABEL class="ss-q-title" for="e_note">Note
</LABEL>
<LABEL class="ss-q-help" for="entry_13"></LABEL>
{{isp.note|linebreaksbr}}
</DIV></DIV>
</td>
</tr>
</table>
<form action="/commissario/ispezione" method="POST">
<script type="dojo/method" event="onSubmit">
dojo.byId("e_submit").disabled = true;
dojo.byId("e_annulla").disabled = true;
return true;
</script>
<input type="hidden" name="cmd" value="copy">
<input type="hidden" name="key" value="{{isp.key}}">
<P align="center">
<button dojoType="dijit.form.Button" onclick="location.href='/genitore?tab=isp';return false;">Pagina precedente</button>
<P>
</form>
{%if comments%}
<!-- Load the Google AJAX API Loader -->
<script type="text/javascript" src="http://www.google.com/jsapi"></script>
<!-- Load the Google Friend Connect javascript library. -->
<script type="text/javascript">
google.load('friendconnect', '0.8');
</script>
<!-- Initialize the Google Friend Connect OpenSocial API. -->
<script type="text/javascript">
google.friendconnect.container.setParentUrl('/' /* location of rpc_relay.html and canvas.html */);
google.friendconnect.container.initOpenSocialApi({
  site: '13788793726497969888',
  onload: function(securityToken) { /* your callback, which is passed a security token */ }
});
</script>

<!-- Include the Google Friend Connect javascript library. -->
<script type="text/javascript" src="http://www.google.com/friendconnect/script/friendconnect.js"></script>
<!-- Define the div tag where the gadget will be inserted. -->
<div id="div-3362002234880724398" style="width:400px;border:1px solid #cccccc;"></div>
<!-- Render the gadget into a div. -->
<script type="text/javascript">
var skin = {};
skin['BORDER_COLOR'] = '#cccccc';
skin['ENDCAP_BG_COLOR'] = '#e0ecff';
skin['ENDCAP_TEXT_COLOR'] = '#333333';
skin['ENDCAP_LINK_COLOR'] = '#0000cc';
skin['ALTERNATE_BG_COLOR'] = '#ffffff';
skin['CONTENT_BG_COLOR'] = '#ffffff';
skin['CONTENT_LINK_COLOR'] = '#0000cc';
skin['CONTENT_TEXT_COLOR'] = '#333333';
skin['CONTENT_SECONDARY_LINK_COLOR'] = '#7777cc';
skin['CONTENT_SECONDARY_TEXT_COLOR'] = '#666666';
skin['CONTENT_HEADLINE_COLOR'] = '#333333';
skin['DEFAULT_COMMENT_TEXT'] = '- aggiungi qui il tuo commento -';
skin['HEADER_TEXT'] = 'Commenti';
skin['POSTS_PER_PAGE'] = '5';
google.friendconnect.container.setParentUrl('/' /* location of rpc_relay.html and canvas.html */);
google.friendconnect.container.renderWallGadget(
 { id: 'div-3362002234880724398',
   site: '13788793726497969888',
   'view-params':{"disableMinMax":"false","scope":"ID","docId":"{{isp.key}}","startMaximized":"false"}
 },
  skin);
</script>
{%endif%}
</DIV>