<script type="text/javascript">


$(document).ready(function () {
  $("div#main_stream").children().hide()
 {%if node_list%}
  init()
  {%endif%}
  init_search()
});

function onNodeClick(){
$(this).parent().siblings(".active").removeClass("active")
$(this).parent().addClass("active")
key=$(this).attr('key')

loadPosts(key,$("#node_stream_"+key).attr('next_cursor'))

}

function init_search(){
$('#search_text').typeahead({minLength:2,

    source: function (query, process) {

        return $.post('/social/paginate', { query: query,cmd:"search_nodes"}, function (data) {
        	data=jQuery.parseJSON(data)
        	if(data.html){
        	$("#search_result").empty().hide().html(data.html).show(200)
			}
        });
    }
});
}

function init(){
$("#node_list a").click(onNodeClick);
$("ul#node_list a").click(onNodeClick);
$("[key]").first().parent().addClass("active");
key=$("[key]").attr('key');
loadPosts(key,$("#node_stream_"+key).attr('next_cursor'));

}




function onMoreClick(key){

loadPosts(key,$("#node_stream_"+key).attr('next_cursor'))


}


function loadPosts(key,current_cursor){
$("ul#node_list li").unbind('click')
if(!$("div#node_stream_"+key).hasClass('no_more_posts')){
$.ajax({
		 type: 'POST',
		 url:'/social/paginate?cmd=post_main&node='+key+'&cursor='+current_cursor, 
		dataType:'json',
		
		 success:function(data){
		 $("#node_stream_"+key).siblings().hide()
		 $("div#node_stream_"+key).attr("next_cursor",data.cursor).show()
		 $("ul#node_list li").click(onNodeClick)
		 
			if(data.response=="success"){
			  $("div#node_stream_"+key+" ul").last().append(data.html)
			 }
			 else if(data.response="no_posts"){
			 	$("div#node_stream_"+key).addClass('no_more_posts')
			 	if(current_cursor!=undefined){
			 	$("div#add_posts_"+key).hide()
			 	
			 	if($("div#node_stream_"+key+">ul").children().length>0){
			 	$("div#node_stream_"+key+" .pagination_errors").show()
			 	}
			 	else
			 	{
			 	$("div#node_stream_"+key+" .empty_errors").show()
			 	
			 	}
			 	
			 	}
			 	
			 	
			 }
			 
			 }})
	}
 else{
  	$("ul#node_list li").click(onNodeClick)
	$("#node_stream_"+key).siblings().hide()
	$("div#node_stream_"+key).show()
		 	
 }
}



</script>

{%if node_list%}
<div id="node_selector">	
 <div class="row">
  
  <div class="span3">
   <ul id="node_list" class="nav nav-list well">
    <li class="nav-header"><i class="icon-tags"></i>Nodi</li>
    {%for node in node_list%}<li><a key="{{node.key.urlsafe()}}" href="#">{{node.name}}</a><span><a href="/social/node/{{node.key.urlsafe()}}">Link</a></span></li>
    {%endfor%}
   </ul>    
  <div>
  

  </div>
  </div>	

  <div class="span9" id="main_stream">{%for node in node_list%}
   <div id="node_stream_{{node.key.urlsafe()}}">
    <ul class="unstyled">
    </ul>
    <div id="add_posts_{{node.key.urlsafe()}}" onClick="onMoreClick(key)" class="btn btn-primary" type="submit">Mostra altri post</div>
    <div class="pagination_errors" style="visibility:hidden"  >Non ci sono altri post</div>
    <div class="empty_errors" style="visibility:hidden"  >Non ci sono post in questo gruppo</div>
   </div>{%endfor%}
  </div>
  

 </div>
</div>
{%else%}

<div>Non sei ancora iscritto a nessun gruppo. Usa la nostra funzione di ricerca per trovare gruppi di discussione che ti potrebbero interessare.</div>

{%endif%}
  <input id="search_text" type="text">
 	<div id="search_result"></div>