<script type="text/javascript">

function onOpenPostForm(){
$("#new_post_form").slideDown()
$("#open_post_button").hide()
}
function onOpenPostFormCancel(){
$("#new_post_form").slideUp()
$("#open_post_button").show()
}

$(document).ready(function () {
  $("#pagination_errors").hide()
  loadPosts(undefined)
});

function loadPosts(current_cursor){
$.ajax({
		 type: 'POST',
		 url:'/social/paginate?cmd=post&node={{node.key.urlsafe()}}&cursor='+current_cursor, 
		dataType:'json',
		
		 success:function(data){
			if(data.response=="success"){
			$("#add_posts").unbind("click").click(function(){loadPosts(data.cursor)})
			 $("#post_list").last().append(data.html)
			 }
			 else if(data.response="no_posts"){
			 	 	$("#add_posts").hide()
  				$("#pagination_errors").show()
			 }
			 
			 }})
	
}



</script>
<h2>Dettaglio Nodo</h2>
<div id="node_name">{{node.name}}</div>

{%if user%}
<div class="well" style="padding: 10px;">
 <div class="btn-toolbar">
  <div id="subscribe_btn" style="{% if not show_sub_button %}display:none {% endif%}" class="btn" onclick="onSubscription({{user.key.id()}},{{node.key.id()}})">Iscriviti</div>
  <div id="unsubscribe_btn" style="{% if not is_sub %}display:none {% endif%}" class="btn" onclick="onUnsubscription({{user.key.id()}},{{node.key.id()}})">Discriviti</div>
  <div id="subscribed_users">Utenti iscritti{% for i in subscriptions %}{% if i!=[] %}<div>{{i.nome}}</div>{% endif %}{% endfor %}</div>
 </div>
</div>
{%endif%}

{{node.resource.get().render()}}

{%if user and subscription.can_post%}	
<div id="open_post_button" class="btn btn-primary" type="submit" onclick="onOpenPostForm()">Inizia Nuova Discussione</div>
<form id="new_post_form" style="display:none">
	<div id="post_title" class="form_parent">
		<label id="post_content_label" for="titolo">Titolo</label>
		<input class="span8 comment_textarea required" name="titolo" id="post_title_text"></input>
	</div>
	<div id="post_content" class="form_parent">
		<label id="post_content_label" for="content">Contenuto</label>
		<input class="span8 comment_textarea required" name="content" id="post_content_text"></input>
	</div>
	<div class="form-actions">
		<div id="open_post_submit" class="btn btn-primary" type="submit" onclick="onOpenPostSubmitted('{{user.key.urlsafe()}}','{{node.key.urlsafe()}}')" data-loading-text="Invio risposta in corso..."/>Invia</div>	
		<div id="open_post_cancel_button" class="btn btn-primary" type="submit" onclick="onOpenPostFormCancel()">Annulla</div>
	</div>
</form>  
{%endif%}
<div id="node_posts span8"> 
	<ul id="post_list" class="thumbnails">
	
	</ul>
</div>
	<div id="add_posts" class="btn btn-primary" type="submit">Mostra altri post</div>
<div id="pagination_errors">Non ci sono altri post</div>


