<script type="text/javascript">

$(document).ready(function () {
	$("#reply_form").validate({
		errorClass: "error",
		errorPlacement: function(error, element) {
		var item = $(element);
		item.tooltip({title:error.text(), trigger:'manual'});
		item.tooltip('show');
	},
	highlight: function(element, errorClass, validClass) {
		var item = $(element).parents(".form_parent");
		item.addClass(errorClass); 
	},
	unhighlight: function(element, errorClass, validClass) {
		var item = $(element).parents(".form_parent");
		item.removeClass(errorClass); 
		$(element).tooltip('hide');
	},  
	rules: {}
	});
	
	$('#new_comment_form').ajaxForm({clearForm: true, dataType:'json',success: function(data) { 
		if (data.response!="success") {
			if(data.response=="flooderror"){
				onFloodError(data)
				return			  
			}
		}
		$("#comment_list").append(data.html)
		$("#comment_submit").button("reset");
	}, beforeSubmit: function(arr,$form) {
		$("#comment_submit").button("loading");
		//$('#new_comment').slideUp();
	}});
});
</script>
<div class="row">
	<div class="span12">
		<div class="s_post thumbnail"> 
			<div class="s_post_avatar">
				<img class="avatar" src="{{post.commissario.avatar(cmsro)}}" title="{{post.commissario.nomecompleto(cmsro)}}">
			</div>
			<div class="s_post_content">
				<div class="s_post_header">			
					<div class="s_post_title"><a href="/social/post/{{post.key.urlsafe()}}">{{post.title}}</a></div> 
					<div class="s_post_author">scritto da {{post.commissario.nome}}</div>
					<div class="s_post_date">&nbsp;- il {{post.creation_date.strftime('%d %m %Y')}}</div>
				</div>				
				<div class="s_post_body">
				<div  id="post_content_{{post.key.urlsafe()}}">{{post.content}}</div>
				<div  id="edit_hollow_{{post.key.urlsafe()}}"></div>
				
				<div>
				{% if post.resource%}				
				{{post.resource.get().render()}}
				{% endif%}	
				</div>			
				</div>									
			{% if user %} 
				<div class="s_post_commands">
 					{%if subscription.can_admin%}<button class="btn btn-danger" onClick="onPostDelete('{{user.key.urlsafe()}}','{{node.key.urlsafe()}}','{{post.key.urlsafe()}}')"><i class="icon-remove"></i>Elimina</button>{%endif%}
					{%if subscription.can_admin or user.key==post.author%}<button class="btn btn-primary" onClick="onPostEdit('{{user.key.urlsafe()}}','{{node.key.urlsafe()}}','{{post.key.urlsafe()}}')"><i class="icon-remove"></i>Modifica</button>{%endif%}
					{%if postsub %}
					<button class="btn btn-primary" onClick="onPostUnsubscribe('{{user.key.urlsafe()}}','{{post.key.urlsafe()}}')"><i class="icon-share-alt"></i>Non seguire</button>
					{%else%}
					<button class="btn btn-primary" onClick="onPostSubscribe('{{user.key.urlsafe()}}','{{post.key.urlsafe()}}')"><i class="icon-share-alt"></i>Segui</button>
					{%endif%}
					<button class="btn btn-primary" onClick="onPostReshare('{{user.key.urlsafe()}}','{{post.key.urlsafe()}}','{{node.key.urlsafe()}}')"><i class="icon-share-alt"></i>Reshare</button>
				</div>
			{% endif%}			
			</div>			
		</div>			

		<div class="s_replies span8" id="replies">
			<ul id="comment_list" class="thumbnails">
{%for reply in replies%}
{%include "social/pagination/comment.html"%}
{%endfor%}
			</ul>
	{%if user and subscription.can_post%}	
			<form id="new_comment_form" action="/social/managepost" method="post">
				<input type="hidden" name="cmd" value="create_reply_post"/>
				<input type="hidden" id="form_user" name="user" value="{{user.key.urlsafe()}}"/>
				<input type="hidden" id="form_node" name="node" value="{{node.key.urlsafe()}}"/>				<input type="hidden" id="form_post" name="post" value="{{post.key.urlsafe()}}"/>

				<div id="post_content" class="form_parent">
					<input row="3" class="span8 comment_textarea required" id="reply_message" name="content"></textarea>
					<input id="reply_submit" class="btn btn-primary" type="submit" value="Invia" data-loading-text="Invio risposta in corso..."/>
				</div>
			</form>
	{%endif%}
		</div>
	</div>
</div>

<div id="modal_reshare">
</div>
