<div class="social_post" style="margin:10px;border:2px solid;"> 

			<div class="post_title"><a href="/social/post/{{post.key.urlsafe()}}">{{post.title}}</a></div> 
			<div class="post_content">{{post.content}}</div> 
			<div class="post_author">{{post.commissario.nome}} {{post.commissario.cognome}}</div>
			<div class="post_date">{{post.creation_date.strftime('%d %m %Y')}}</div>
			<div class="post_buttons">
				<div class="reply_button"><span onClick="onPostReshare({{user.key.id()}},{{node.key.id()}},{{post.key.id()}})">Bt-Res</span></div>
			</div>
			{% if post.resource%}
			{{post.resource.get().render()}}
			{% endif%}
			
</div>

<div id="replies">
{%for reply in replies%}
	<div class="reply" style="border:2px solid; margin-left:30px">
			<div class="reply_buttons">
				{%if subscription.can_admin%}<div class="reply_button"><span onClick="onReplyDelete('{{user.key.urlsafe()}}','{{post.key.urlsafe()}}','{{node.key.urlsafe()}}','{{reply.key.urlsafe()}}')">Bt-Del</span></div>{%endif%}
			</div>
			<div class="reply_content">{{reply.content}}</div> 
			<div class="reply_author">{{reply.commissario.nome}} {{reply.commissario.cognome}}</div>
			<div class="reply_date">{{reply.creation_date.strftime('%d %m %Y')}}</div>
	</div>
{%endfor%}

</div>

{%if user and subscription.can_post%}	
<form id="reply_form">
	 <input class="span8 comment_textarea required" id="reply_message">
	 <div id="reply_submit" class="btn btn-primary" type="submit" onclick="onReplySubmitted('{{user.key.urlsafe()}}','{{post.key.urlsafe()}}','{{node.key.urlsafe()}}')" data-loading-text="Invio risposta in corso..."/>Invia Risposta</div>

</form>
	{%endif%}
	