<!DOCTYPE html PUBLIC "<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<HTML><HEAD><META http-equiv="Content-Type" content="text/html; charset=UTF-8">
<TITLE>Commissioni Mensa: Raccolda dati Ispezioni</TITLE>
{%include "../header.inc"%}
  <script src="http://www.google.com/jsapi" type="text/javascript"></script>
  <script>
google.load('visualization', '1', {packages:['table']});

google.setOnLoadCallback(drawTable);

function drawTable() {
  var table = new google.visualization.Table(document.getElementById('ispezioni'));
  var data = new google.visualization.DataTable({{ispezioni}}, 0.5);
  new google.visualization.DateFormat({pattern: 'dd/MM/yyyy'}).format(data, 1);
  table.draw(data, {allowHtml: true, showRowNumber: false});
}

    </script>
</HEAD><BODY class="nihilo">
{%include "../nav.inc"%}
<DIV class="ss-form-container"><H1 class="ss-form-title">Pagina Commissario</H1>
</p>
</p>
</p>
<div id="ispezioni"></div>
</p>
</p>
<DIV class="goog-ws-half-width goog-ws-left">
<A id="test-list-page-add-button" href="/commissario/ispezione" class="btn"><B><B><B><B style="font-weight:bold !important;">Aggiungi Ispezione</B></B></B></B></A>
</DIV>
</p>
</p>
</p>
</DIV>{%include "footer.inc"%}
</body> 
</html>