<script type="text/javascript">
dojo.require("dijit.form.Form");
dojo.require("dijit.form.TextBox");
dojo.require("dijit.form.Button");
dojo.require("dijit.Tooltip");
dojo.require("dijit.form.FilteringSelect");
dojo.require("dojo.data.ItemFileReadStore");
dojo.require("dojo.parser");
</script>
<script src="/js/jquery.form.js"></script> 
<script src="http://connect.facebook.net/it_IT/all.js"></script> 
<script>
function alreadySelected() {
    cm_all = dijit.byId("e_cm_all");
    cm_sel = dojo.byId("e_cm_sel");
    for( i=0;i<cm_sel.options.length;i++) {
        if(cm_all.attr("value") == cm_sel.options[i].value ) {
            alert(cm_sel.options[i].innerHTML + " gia' aggiunta");
            return true;
        }
    }
    return false;
}

function onSelComm() {
    cm_all = dijit.byId("e_cm_all");
    cm_sel = dojo.byId("e_cm_sel");

    if(cm_all.attr("value") != "" && !alreadySelected()) {
        var oOption = document.createElement('OPTION');
        try {
            cm_sel.add(oOption, null);
        } catch(ex) {
            cm_sel.add(oOption);
        }        
        oOption.innerHTML = cm_all.attr('displayedValue');
        oOption.value = cm_all.attr("value");
    }
}
function onRem() {
    cm_all = dojo.byId("e_cm_all");
    cm_sel = dojo.byId("e_cm_sel");
    if(cm_sel.selectedIndex >= 0) {
        cm_sel.remove(cm_sel.selectedIndex);
    }
}

function removeAll() {
    cm_all = dojo.byId("e_cm_all");
    cm_sel = dojo.byId("e_cm_sel");
    while(cm_sel.options.length) {
        cm_sel.remove(cm_sel.options.length-1);
    }
}
</script>
<script type="text/javascript"> 
fblogged = false;
// wait for the DOM to be loaded 
$(document).ready(function() { 
    $("#avatar_dialog").dialog({ autoOpen: false });
    $("#avatar").click(function() {
        $("#avatar_dialog").dialog("open");
        $("#fbgetimage").click(function() {
            if(!fblogged) {
                FB.login(function(response) {
                    getimage();
                });
            } else {
                getimage();
            }            
        });
    });
    // bind 'myForm' and provide a simple callback function 
    $('#avatar_file').change(function(){
        $('#avatar_form').ajaxSubmit(function(data) { 
            $('#avatar_edit').attr("src", data);
            $('#avatar').attr("src", data);
            $("#avatar_dialog").dialog("close");            
        }); 
    }); 
    FB.init({ 
       appId:'103254759720309', cookie:true, 
       status:true, xfbml:true 
    });        
    FB.getLoginStatus(function(response) {
       if (response.session) {
         fblogged = true;
       }
    });
});     

function getimage() {
  FB.api('/me', function(user) {
    if(user != null) {
        picturl = 'https://graph.facebook.com/' + user.id + '/picture'
        $('#avatar').attr("src", picturl);
        $('#avatar_edit').attr("src", picturl);
        data = {cmd: 'saveurl', picture: picturl};
        $.post('/commissario/avatar', data, function() {
            $("#avatar_dialog").dialog("close");            
        });
    }
  });
}

function onSelCity() {    
    cm_city = dijit.byId("e_citta");
    cm_all = dijit.byId("e_cm_all");

    cmStore.url = "/commissario/getcm?city="+cm_city.attr("value");
    cmStore.close();
    cm_all.attr("disabled", false);
}

</script>

<H1>I tuoi dati</H1>
<P>
<P>
<span class="ss-required-asterisk">* Campo obbligatorio</span>
<BR>
<FORM dojoType="dijit.form.Form" action="/commissario/profilo" method="POST" id="form_0">
<script type="dojo/method" event="onSubmit">
cm_sel = dojo.byId("e_cm_sel");
for(var i=0;i<cm_sel.options.length;i++) cm_sel.options[i].selected = true;
if(this.validate()&&
dojo.byId("e_n").value != "" &&
dojo.byId("e_c").value != "" &&
dojo.byId("e_cm_sel").value != ""){
    dojo.byId("e_submit").disabled = true;
    dojo.byId("e_annulla").disabled = true;
    return true;
} else {
    alert('Inserire tutti i dati richiesti');
    return false;
}
</script>
<table width="100%">
<tr>
<td>
<div class="errorbox-good">
<div class="ss-form-entry"><label class="ss-q-title" for="e_n">Nome
<span class="ss-required-asterisk">*</span></label>
<label class="ss-q-help" for="e_n"></label>
<input type="text" dojoType="dijit.form.TextBox" required="true" style="width:20em;" name="nome" value="{{cmsro.nome}}" class="ss-q-short" id="e_n"></div></div>
<div class="errorbox-good">
<div class="ss-form-entry"><label class="ss-q-title" for="e_c">Cognome
<span class="ss-required-asterisk">*</span></label>
<label class="ss-q-help" for="e_c"></label>
<input type="text" dojoType="dijit.form.TextBox" required="true" style="width:20em;" name="cognome" value="{{cmsro.cognome}}" class="ss-q-short" id="e_c"></div></div>
</td>
<td>
<img id="avatar" src="{{cmsro.avatar}}?size=normal" width="128" height="128"/>
</td>
</tr>
<tr>
<td>
<div dojoType="dojo.data.ItemFileReadStore" jsId="cityStore" url="/commissario/getcity">
<div class="errorbox-good">
<div class="ss-form-entry" id="l_cm"><label class="ss-q-title" for="e_cm">Citt&agrave;
<span class="ss-required-asterisk">*</span></label>
<input dojoType="dijit.form.FilteringSelect" value="{{cmsro.citta.key}}" store="cityStore" searchAttr="nome" name="citta" id="e_citta" style="width:24em;" onchange="onSelCity();"></input></div></div>
</td>
<td>&nbsp;
</td>
</tr>
<tr>
<td>
<div id="cmstore" dojoType="dojo.data.ItemFileReadStore" jsId="cmStore" url="/commissario/getcm" urlPreventCache="true" clearOnClose="true">
<div class="errorbox-good">
<div class="ss-form-entry" id="l_cm"><label class="ss-q-title" for="e_cm">Scuola
<span class="ss-required-asterisk">*</span></label>
<table><tr><td>
<input dojoType="dijit.form.FilteringSelect" value="" store="cmStore"
searchAttr="nome" name="commissione_all" id="e_cm_all" style="width:24em;" onchange="onSelComm();">
<br/><br/>
<SELECT name="commissione" id="e_cm_sel" multiple="yes" style="width:24em; height:6em;" ondblclick="onRem();">
{%if cmsro%}
{%for cm in cmsro.commissioni%}
<option value="{{cm.key}}">{{cm.nome}} - {{cm.tipoScuola}}</option>
{%endfor%}
{%endif%}
</SELECT><span dojoType="dijit.Tooltip" connectId="l_cm" position="above" style="display:none;" id="tt_cm"> 
Aggiungere una o pi&ugrave Commissioni per cui si desidera registrarsi.<br/><br/>
<ul>
<li>Selezionare una Commissione dalla lista per aggiungerlo all'elenco, ripetere l'operazione per tutte le Scuole desiderate</li>
<li>Fare doppio clic su una Scuola per eliminarla dall'elenco in caso di errore</li>
</ul></span> 
</td></tr></table>
</div></div>
</td>
<td><input name="emailalert" value="S" {%if cmsro.emailComunicazioni%}checked{%endif%} type="checkbox">Avvisami via mail se ci sono novit&agrave;</input></td>
</tr>
<tr>
{%if saved%}<tr>
<td align="center" colspan="2">
I dati sono stati salvati.
</td></tr>{%endif%}
<tr><td align="center" colspan="2">
<button type="submit" id="e_submit">Salva</button><button onclick="location.href='/';return false;" id="e_annulla">Annulla</button>
</td>
</tr>
</table>
</form>
<div id="avatar_dialog" style="display:none;>
<img id="avatar_edit" src="{{cmsro.avatar}}?size=normal" width="128" height="128"/>
<form id="avatar_form" action="/commissario/avatar" method="POST">
<input type="hidden" name="cmd" value="upload"/>
Carica una immagine: <input type="file" id="avatar_file" name="avatar_file" allow="image/jpeg, image/png, image/gif"/>
</form>
<p>Oppure:</p>
<div id="fb-root"></div>
<div id="fb">
<button id="fbgetimage">Usa l'immagine dal tuo profilo di Facebook</button>
</div>

