.jcarousel-skin-tango .jcarousel-container {
    border: 0px solid #346F97;
    font-size:80%;
}

.jcarousel-skin-tango .jcarousel-container-vertical {
    width: 170px;    
    height: 190px;
    padding: 5px;
}

.jcarousel-skin-tango .jcarousel-clip-vertical {
    width: 170px; /*must be container */
    height: 190px; /*must be container */
}

.jcarousel-skin-tango .jcarousel-item {
    width: 160px;  /*must be container - 2Xpadding */
    height: 180px; /*must be container - 2Xpadding */
}

.jcarousel-skin-tango .jcarousel-item-vertical {
    margin-bottom: 0px;
}

.jcarousel-skin-tango .jcarousel-item-placeholder {
    background: #fff;
    color: #000;
}

/**
 *  Vertical Buttons
 */
.jcarousel-skin-tango .jcarousel-next-vertical {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 180px;
    height: 10px;
    cursor: pointer;
    background: #cfcfcf;
}

.jcarousel-skin-tango .jcarousel-next-vertical:hover {
    background-position: 0 -32px;
}

.jcarousel-skin-tango .jcarousel-next-vertical:active {
    background-position: 0 -64px;
}

.jcarousel-skin-tango .jcarousel-next-disabled-vertical,
.jcarousel-skin-tango .jcarousel-next-disabled-vertical:hover,
.jcarousel-skin-tango .jcarousel-next-disabled-vertical:active {
    cursor: default;
    background-position: 0 -96px;
}

.jcarousel-skin-tango .jcarousel-prev-vertical {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 180px;
    height: 10px;
    cursor: pointer;
    background: #cfcfcf;
}

.jcarousel-skin-tango .jcarousel-prev-vertical:hover {
    background-position: 0 -32px;
}

.jcarousel-skin-tango .jcarousel-prev-vertical:active {
    background-position: 0 -64px;
}

.jcarousel-skin-tango .jcarousel-prev-disabled-vertical,
.jcarousel-skin-tango .jcarousel-prev-disabled-vertical:hover,
.jcarousel-skin-tango .jcarousel-prev-disabled-vertical:active {
    cursor: default;
    background-position: 0 -96px;
}