img.avatar {
display: inline;
width: 48px;
max-width: 48px;
height: 48px;
margin-right: 6px;
vertical-align: middle;
border-radius: 24px;
border: none;
cursor: pointer;
}

.s_post_list .ui-li .ui-btn-inner a.ui-link-inherit, .ui-li-static.ui-li {
#display: inline;
}

.s_post_avatar {
border-radius: 3px;
}

.s_post_title {
margin-left:16px;
}

.s_post_node {
display:inline;
}

.s_post_author {
display:inline;
}
.s_post_date {
display:inline;
}

.s_post_d_title {
}

.s_post_d_node {
display:inline;
}

.s_post_d_author {
display:inline;
}

.s_post_d_date {
display:inline;
}

.s_post_content {
display:block;
margin-left:4px;
margin-right:48px;
zoom:0.8;
overflow:auto;
}

@media (max-width: 767) {
.s_post_title {
}
.s_post_node {
display:block;
font-size:10px;
margin-top:-8px;
margin-bottom:-2px;
}
.s_post_author {
display:inline;
font-size:8px;
}
.s_post_date {
display:inline;
font-size:8px;
}

.s_post_content {
}
}
@media (max-width: 480px) {
.s_post_title {
font-size:12px;
}
.s_post_node {
display:block;
font-size:10px;
margin-top:-8px;
margin-bottom:-2px;
}
.s_post_author {
display:inline;
font-size:8px;
}
.s_post_date {
display:inline;
font-size:8px;
}

.s_post_content {
display:block;
zoom:0.6;
}
}
