.logo_small {
width:20px;
height:20px;
margin-top:-4px;
margin-bottom:-8px;
margin-right:4px;
}

img.avatar {
display: inline;
width: 48px;
max-width: 48px;
height: 48px;
margin-right: 6px;
vertical-align: middle;
border-radius: 24px;
border: none;
cursor: pointer;
}

.s_post_list .ui-li .ui-btn-inner a.ui-link-inherit, .ui-li-static.ui-li {
#display: inline;
}

.s_post_item_a {
overflow:visible !important;
padding:4px !important;
margin-right:40px;
min-height:32px;
}

.s_post_feedback {
width:auto;
}

.s_post_avatar {
border-radius: 4px;
}

.s_post_title {
margin-left:20px;
text-overflow: ellipsis;
overflow: hidden;
}

.s_post_node {
display:inline;
font-size:12px;
color:#555;
}

.s_post_author {
display:inline;
font-size:12px;
font-weight:lighter;
color:#555;
}
.s_post_date {
display:inline;
font-size:12px;
font-weight:lighter;
color:#555;
}

.s_post_d_title {
}

.s_post_d_subtitle {
font-size:12px;
display:inline;
}
.s_post_d_node {
display:inline;
}

.s_post_d_author {
display:inline;
}

.s_post_d_date {
display:inline;
color:#555;
}

.s_post_content {
display:block;
margin-top:2px;
}

.s_post_img_thumb {
position:relative;
max-height:24px !important;
}

.s_map {
height:320px;
width:320px;
}

.ui-icon-vote {
    background: url('images/custom-icons-18-black.png');
    width:18px;
    height:18px;
    background-position: 0px 0px;
}

.ui-icon-stats {
    background: url('images/custom-icons-18-black.png');
    width:18px;
    height:18px;
    background-position: -18px 0px;
}

@media (max-width: 767) {
.s_post_title {
}
.s_post_node {
display:block;
#font-size:8px;
}
.s_post_author {
display:inline;
#font-size:10px;
}
.s_post_date {
display:inline;
#font-size:8px;
}

.s_post_content {
}
}
@media (max-width: 480px) {
.s_post_title {
#font-size:12px;
}
.s_post_node {
font-size:10px;
}
.s_post_author {
#display:inline;
font-size:10px;
}
.s_post_date {
#display:inline;
font-size:10px;
width:60px;
overflow:hidden;
}
.s_post_content {
#display:block;
#zoom:0.8;
}

.s_post_d_subtitle {
#font-size:10px;
}

.s_post_d_author {
font-size:10px;
}

.s_post_d_date {
font-size:10px;
}
}
