<!DOCTYPE html> 
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <link rel="shortcut icon" href="/img/favicon.ico">
  <link rel="apple-touch-icon" href="/img/logo_57.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/img/logo_72.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/img/logo_114.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/img/logo_144.png">
  <title>Pappa-Mi Mobile</title>
<!--  original -->
<link rel="stylesheet" href="http://code.jquery.com/mobile/1.3.1/jquery.mobile-1.3.1.min.css" />
<link rel="stylesheet" href="/css/pappa-mi-mobile.min.css" />  
<link rel="stylesheet" href="/css/base.css" />  
<link rel="stylesheet" href="/css/mobile.css" />  
<!--link rel="stylesheet" href="/css/mobile_extra.css" /-->  

<!--  original -->
<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
<script src="http://code.jquery.com/mobile/1.3.1/jquery.mobile-1.3.1.min.js"></script>
<script src="/js/jquery.form.js"></script> 
<script src="http://cdn.veespo.com/widget.wrapper_api_production/javascripts/jquery.veespo.js"></script>
<script type="text/javascript" src="/_ah/channel/jsapi"></script>
<script src="/js/Chart.min.js"></script>    
</head> 

<body data-channel-id="{{channel}}"> 
<!-- app -->
<div data-role="page" id="page-stream">
 <div data-role="header">
  <a href="#node-panel" data-theme="b" data-icon="arrow-r" data-iconpos="notext" data-shadow="false" data-iconshadow="true">Argomenti</a>
  <h1><img style="width:20px;height:20px;margin-top:-4px;margin-bottom:-8px;margin-right:4px;" src="/img/pappa-mi-logo.png"/>Pappa-Mi</h1>
 </div> 
 <div id="page-stream-content" data-role="content">
  <div id="stream" class="stream-page">
    <ul id="post_list" class="s_post_list" data-role="listview" data-inset="true"></ul>
  </div>
  <button data-role="button" id="load_more">Carica altri</button>
 </div>
 <div data-role="panel" data-display="reveal" id="node-panel" data-theme="b">
  <div class="user_info"></div>
  <div id="node_lists" data-role="collapsible-set" data-theme="b" data-content-theme="d"></div>
  <a href="/eauth/logout" data-role="button" data-ajax="false" data-theme="c">Esci</a> 
 </div><!-- /panel -->

  <div data-role="footer" data-id="foo1" data-position="fixed">
	  <div data-role="navbar">
		  <ul>
			  <li><a class="ui-btn-active" data-icon="star" href="#page-stream">Attività</a></li>
			  <li><a data-icon="grid" href="#page-menu">Menù</a></li>
			  <li><a data-icon="alert" href="#page-notifiche">Notifiche</a></li>
		  </ul>
	  </div><!-- /navbar -->
  </div><!-- /footer -->
</div>

<div data-role="page" id="page-post-detail">
 <div data-role="header">
  <h1><img style="width:20px;height:20px;margin-top:-4px;margin-bottom:-8px;margin-right:4px;" src="/img/pappa-mi-logo.png"/>Pappa-Mi</h1>
 </div> 
  <div data-role="content" data-theme="c">
    <h2 id="title"></h2>
    <div>
      <div class="s_post_d_node" id="node"></div>
      <div class="s_post_d_author" id="author"></div>
      <div class="s_post_d_date" id="date"></div>
    </div>
    <div class="s_post_d_content" id="content"></div>
    <div id="resources"></div>
    <div id="attachments"></div>
    <div id="post_commands" style="display:none;">
      <button href="#" data-icon="delete" data-role="button" data-mini="true" data-inline="true" data-theme="b">Elimina</button>  
      <button href="#" data-icon="forward" data-role="button" data-mini="true" data-inline="true" data-theme="c">Inoltra</button>  
      <button href="#" data-icon="star" data-role="button" data-mini="true" data-inline="true" data-theme="c">Vota</button> 
    </div>
    <a href="#page-stream" data-icon="arrow-l" data-role="button" data-rel="back" data-theme="c">Chiudi</a>    
  </div>
</div>
<div data-role="page" id="page-post-new">
 <div data-role="header">
  <h1><img style="width:20px;height:20px;margin-top:-4px;margin-bottom:-8px;margin-right:4px;" src="/img/pappa-mi-logo.png"/>Pappa-Mi</h1>
 </div> 
  <div data-role="content" data-theme="c">
  <form id="form_post_new" action="/api/post/create" method="post" enctype="multipart/form-data">
    <div data-role="fieldcontain" class="ui-hide-label">
      <label for="title">Argomento:</label>
      <select name="node" id="node_select" data-mini="true">
      </select>
    </div>
    <div data-role="fieldcontain" class="ui-hide-label">
      <label for="title">Titolo:</label>
      <input type="text" name="title" id="title" value="" placeholder="Titolo"/>
    </div>
    <div data-role="fieldcontain" class="ui-hide-label">
      <label for="content">Testo:</label>
      <textarea name="content" id="content" value="" placeholder="Testo"></textarea>
    </div>
    <div data-role="fieldcontain" class="ui-hide-label">
      <label for="attach">Allega:</label>
      <input type="file" name="attach_file" placeholder="Allega..." allow="image/jpeg, image/png, image/gif, image/tiff, application/pdf, application/msword, application/x-excel"/>
    </div>
    <button id="post_save" data-icon="check" data-role="button" data-mini="true" data-inline="true" data-theme="a">Salva</button>  
    <a href="#page-stream" data-rel="back" data-role="button" data-mini="true" data-inline="true" data-theme="c">Annulla</a>  
  </form>
  </div>
</div>

<div data-role="page" id="page-menu">
 <div data-role="header">
  <a href="#menu-panel" data-theme="b" data-icon="arrow-r" data-iconpos="notext" data-shadow="false" data-iconshadow="true">Argomenti</a>
  <h1><img style="width:20px;height:20px;margin-top:-4px;margin-bottom:-8px;margin-right:4px;" src="/img/pappa-mi-logo.png"/>Pappa-Mi - Menù</h1>
 </div> 
 <div data-role="content">
  <div id="menu_form"></div>
  <ul id="menu_list" data-role="listview" data-inset="true"></ul>
 </div>
 <div data-role="footer" data-id="foo1" data-position="fixed">
	<div data-role="navbar">
	  <ul>
	    <li><a data-icon="star" href="#page-stream">Attività</a></li>
	    <li><a class="ui-btn-active" data-icon="grid" href="#page-menu">Menù</a></li>
	    <li><a data-icon="alert" href="#page-notifiche">Notifiche</a></li>
	  </ul>
	</div><!-- /navbar -->
 </div><!-- /footer -->	
 <div data-role="panel" data-display="reveal" id="menu-panel" data-theme="b">
  <div class="user_info"></div>
  <a href="/eauth/logout" data-role="button" data-ajax="false" data-theme="c">Esci</a> 
 </div><!-- /panel -->
</div>
<div data-role="page" id="page-dish-detail">
  <div data-role="header" data-theme="d">
   <h1 class="dish_name"></h1>
  </div>
  <div data-role="content" data-theme="c">
    <div>
    <fieldset class="ui-grid-a">
      <div class="ui-block-a"><a class="dish_stat" data-role="button" data-mini="true" data-icon="info" data-iconpos="left">Opinioni</a></div>
      <div class="ui-block-b"><a class="dish_vote" data-role="button" data-mini="true" data-icon="check" data-iconpos="left">Vota</a>
      </div>
    </fieldset>
    </div>
    <table id="dish_table" data-role="table" class="ui-responsive table-stroke">
      <thead>
	<tr>
	  <th data-priority="1">Ingrediente</th>
	  <th data-priority="2">Qt.à</th>
	</tr>
      </thead>
      <tbody id="dish_components">
      </tbody>
    </table>
    <a data-role="button" data-rel="back" data-theme="c">Chiudi</a>    
  </div>
</div>
<div data-role="page" id="page-dish-vote">
  <div data-role="content" data-theme="c" style="margin:0;padding:0;width:320px;height:600px" id="widget_vote">
  </div>
</div>
<div data-role="page" id="page-dish-stat">
  <div data-role="header" data-theme="d">
   <h1 class="dish_name"></h1>
  </div>
  <div data-role="content" data-theme="c">
    <div>
      <canvas id="dish_stat_graph" height="320px" width="320px"></canvas>
    </div>
    <div>
      <table id="dish_stat_table" data-role="table" class="ui-responsive table-stroke">
	<thead>
	</thead>
	<tbody>
	</tbody>
      </table>
     </div>
    </div>
    <a data-role="button" data-rel="back" data-theme="c">Chiudi</a>    
  </div>
</div>

<div data-role="page" id="page-notifiche">
 <div data-role="header">
  <a href="#user-panel" data-theme="b" data-icon="arrow-r" data-iconpos="notext" data-shadow="false" data-iconshadow="true">Utenti</a>
  <h1><img style="width:20px;height:20px;margin-top:-4px;margin-bottom:-8px;margin-right:4px;" src="/img/pappa-mi-logo.png"/>Pappa-Mi</h1>
 </div> 
 <div data-role="content">
  <ul id="message_list" data-role="listview"></ul>
  <div data-role="fieldcontain" class="ui-hide-label">
   <label for="user_to">Per:</label>
   <select name="user_to" id="user_to" data-mini="true">
   <option value="">A: tutti</option>
   </select>
   <label for="message">Messaggio:</label>
   <input type="text" name="message" id="message" data-mini="true" value="" placeholder="Messaggio"/>
   <button id="message_send" data-icon="check" data-mini="true" data-inline="true" data-theme="a">Invia</a>  
   <button data-icon="delete" data-rel="" data-mini="true" data-inline="true" data-theme="c">Annulla</a>  
  </div>
 </div>
 <div data-role="panel" data-display="overlay" id="user-panel" data-theme="b">
  <div class="user_info"></div>
  <ul id="user_list" data-role="listview" data-inset="true" data-divider-theme="d">
  </ul>
  <a href="/eauth/logout" data-role="button" data-ajax="false" data-theme="c">Esci</a> 
 </div><!-- /panel -->

 <div data-role="footer" data-id="foo1" data-position="fixed">
	<div data-role="navbar">
	  <ul>
	    <li><a data-icon="star" href="#page-stream">Attività</a></li>
	    <li><a data-icon="grid" href="#page-menu">Menù</a></li>
	    <li><a class="ui-btn-active" data-icon="alert" href="#page-notifiche">Notifiche</a></li>
	  </ul>
	</div><!-- /navbar -->
 </div><!-- /footer -->	
</div>

<div data-role="dialog" id="page-profile">
  <div data-role="header" data-theme="d">
  <h1>Profilo utente</h1>
  </div>
  <div data-role="content" data-theme="c">
    <p><span id="user"></span></p>
    <a href="/eauth/logout" data-role="button" data-ajax="false" data-theme="c">Esci</a>  
    <a data-role="button" data-rel="back" data-theme="c">Chiudi</a>    
  </div>
</div>
    <script>  
      var jsUrl = 'http://cdn.veespo.com/widget.wrapper_api_production/javascripts/widget.js';
      var s = document.createElement('script');
      s.async = true; s.src = jsUrl;
      document.body.appendChild(s);
    </script>  
</body>
<!--  pages pappa mi-->
<script src="/js/mobile/mobile-menu.js"></script>
</html>