<script type="text/javascript">
dojo.require("dijit.form.Button");
</script>
<script src="/js/form.js" type="text/javascript"></script>
{%if public_url%}
<!-- AddThis Button BEGIN -->
<div class="addthis_toolbox addthis_default_style ">
<a href="http://www.addthis.com/bookmark.php?v=250&amp;username=xa-4cdb224129b45357" class="addthis_button_compact">Share</a>
<span class="addthis_separator">|</span>
<a class="addthis_button_googlebuzz"></a>
<a class="addthis_button_facebook"></a>
<a class="addthis_button_twitter"></a>
<a class="addthis_button_email"></a>
</div>
<a href="{{public_url}} target="_new">Link pubblico a questa pagina</a>
<script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#username=xa-4cdb224129b45357"></script>
<!-- AddThis Button END -->
{%endif%}
<div class="ss-form-container"><h1 class="table_separator">{{nc.commissione.nome}} - {{nc.commissione.tipoScuola}} - Ispezione del {{nc.dataNonconf|date:"d/m/Y"}} - Turno {{nc.turno}}</h1>
<table width="100%">
<tr>
<th colspan="3" class="table_separator">
Non Conformit&agrave
</th>
</tr>
<tr>
<td colspan="2">
<div class="errorbox-good">
<div class="ss-form-entry"><label class="ss-q-title" for="e_tipo">Tipo Non Conformit&agrave
</label>
{{nc.tipoNome}}
</div></div>
</td>
<td>
<br/> <div class="errorbox-good">
<div class="ss-form-entry"><label class="ss-q-title" for="e_rc">Richiesta campionatura
<table border="0" cellpadding="5" cellspacing="0"><tbody>
<tr><td class="ss-scalerow ss-leftlabel">Si</td>
<td class="ss-scalerow"><input type="radio" disabled="true" name="richiestaCampionatura" value="1" id="e_rc_1" {% ifequal nc.richiestaCampionatura 1 %}CHECKED{%endifequal%}/></td> 
<td class="ss-scalerow"><input type="radio" disabled="true" name="richiestaCampionatura" value="0" id="e_rc_2" {% ifequal nc.richiestaCampionatura 0 %}CHECKED{%endifequal%}/></td>
<td class="ss-scalerow ss-rightlabel">No</td></tr></tbody></table></div></div>
</td>
</tr>
<tr>
<td colspan="3">
<br/> <div class="errorbox-good">
<div class="ss-form-entry"><label class="ss-q-title" for="e_ncNote">Note
</label>
<label class="ss-q-help" for="e_note"></label>
{{nc.note|linebreaksbr}}</div></div>
</td>
</tr>
</table>
{%if comments%}
<div id="fb-root"></div><script src="http://connect.facebook.net/en_US/all.js#appId=103254759720309&amp;xfbml=1"></script><fb:comments xid="111" numposts="10" width="600" publish_feed="false"></fb:comments>{%endif%}