<style>
#content-nav { width:14em; }
#content-main {width: 66em;padding:1em;}
</style>
<div id="content-nav" class="sidebar">	
<h1>Genitore</h1>
<a href="/genitore/menu" class="btn" style="width:120px;">Menu</a>
<a href="/genitore/isp" class="btn" style="width:120px;">Ispezioni</a><br/>
<a href="/genitore/nc" class="btn" style="width:120px;">Non conformit&agrave;</a>
<a href="/genitore/diete" class="btn" style="width:120px;">Diete</a>
<a href="/genitore/stats" class="btn" style="width:120px;">Statistiche</a>
<a href="/genitore/commissioni" class="btn" style="width:120px;">Commissioni</a>
<a href="/genitore/profilo" class="btn" style="width:120px;">Profilo utente</a>
</div>		
