<script type="text/javascript">
dojo.require("dijit.form.Form");
dojo.require("dijit.form.ComboBox");
dojo.require("dijit.form.Button");
dojo.require("dijit.Dialog");
dojo.require("dijit.Tooltip");
dojo.require("dijit.form.FilteringSelect");
dojo.require("dojo.data.ItemFileReadStore");
</script>
<script src="/js/form.js" type="text/javascript"></script>
<script src="http://www.google.com/jsapi" type="text/javascript"></script>
<script src="/js/gviz.js" type="text/javascript"></script>
<script>
    google.load('visualization', '1', {'packages' : ['table']});
    dojo.addOnLoad(initNCGen);
</script>
<H1 class="ss-form-title">Elenco Schede Non Conformit&agrave</H1>
<div dojoType="dijit.form.DropDownButton">
<span>Filtra dati</span>
<div dojoType="dijit.TooltipDialog" id="tooltipDlg" title="Filtro dati"
    execute="setQuery('nc');">
<!--form dojoType="dijit.form.Form" action="/commissario" method="get" id="form0"-->
<table>
<td>
<div dojoType="dojo.data.ItemFileReadStore" jsId="cmStore" url="/commissario/getcm">
<LABEL class="ss-q-title" for="e_cm">Commissioni</LABEL>
<input dojoType="dijit.form.FilteringSelect" value="" store="cmStore"
searchAttr="nome" name="cm" id="e_cm">
</td>
</tr>
<tr>
<td>
<LABEL class="ss-q-title" for="e_aa">Anno scolastico</LABEL>
<SELECT name="anno" id="e_aa">
<OPTION value="">Tutti</OPTION>
<OPTION value="2008">2008-2009</OPTION>
<OPTION value="2009">2009-2010</OPTION>
</select>
</td>
</tr>
<tr>
<td>
<button dojoType="dijit.form.Button" type="submit">Applica</button>
</td>
</tr>
</table>
<!--/form-->
</div>
</div>
<div id="nonconf"></div>
<div id="d_loading" style="display:none; opacity:0.9; text-align: center; border-style:solid; border-width:1px; background-color: white; width: 300px; height: 60px; position:absolute; top: 160px; left: 400px;"><br><img src="/img/loading.gif" style = "margin:auto;" alt="loading"/></div>