<h1>Cosa &egrave; Pappa-Mi e chi siamo noi</h1>
<div class="row">
 <div class="span12">
  <img class="img-rounded" style="height:128px;float:left; margin-right:20px;" src="/img/mensa_scolastica.jpg"-->
  <div class="lead"><p>Cosa mangiano i vostri figli a scuola ? Ma soprattutto come mangiano ?</p>
  <p>Mangiano cibi buoni, sani, cucinati e serviti nel modo giusto ?</p></div>
 <p>
 Questo sito nasce per rispondere a queste domande.<br/>
 Ma non proponendo risposte preconfezionate, come fosse un libro stampato, ma lasciando piuttosto la parola direttamente ad altri genitori che partecipano attivamente al continuo controllo dei pasti serviti a scuola, le <b>Commissioni Mensa</b>.
 </p>
 <p>
 <b>Genitori come voi</b> che quotidianamente si recano presso le scuole e osservano, assaggiano, controllano in modo diretto quello che succede nella mensa dei nostri figli, <b>attivando un processo virtuoso di miglioramento continuo della qualit&agrave; dei pasti</b>.
 </p>
 <p>
 <b>Pappa-Mi desidera facilitare e potenziare questo processo, dare visibilit&agrave; al lavoro svolto dai genitori a vantaggio di tutti i bambini, facilitare la diffusione dell'informazione e delle buone pratiche</b>.
 </p>
 <p>
 Questo sito internet, realizzato e gestito da un gruppo di genitori di bambini che frequentano le scuole dell'obbligo milanesi, permette la raccolta di schede di valutazione dei pasti e l'esecuzione di statistiche, cos&igrave; come stabilito dalle Linee Guida della Regione Lombardia per la Refezione Scolastica.
 </p>
 <p>
 I dati in esso contenuti sono inseriti direttamente dalle commissioni mensa delle singole scuole.
 </p>
 <p>
 Il Sistema di Valutazione presentato in questa applicazione ha come obiettivo principale il miglioramento del servizio, nel senso della soddisfazione dei bisogni e delle attese di bambini ed alunni che usufruiscono della Ristorazione Scolastica.
 </p>
 <p>
 <b>Altro obiettivo primario di Pappa-Mi &egrave; la diffusione di informazioni di educazione alimentare e stili di vita corretti</b>.
 </p>
 <p>
 Per raggiungere questo obiettivo la rete di scuole Pappa-mi ha prodotto una raccolta di informazioni chiamata <a href="http://pappapedia.pappa-mi.it" target="new">PappaPedia</a>.
 </p>
 <p>
 Le informazioni contenute sulla PappaPedia sono in libero accesso e chiunque pu&ograve; aggiungere informazioni richiedendo l'accesso tramite il seguente form:
 </p>
<iframe src="https://docs.google.com/spreadsheet/embeddedform?formkey=dE82eHdyRVJ0VVpNUVBCLXIwNDMwN1E6MQ" width="760" height="625" frameborder="0" marginheight="0" marginwidth="0">Caricamento in corso...</iframe> </div>
</div>

