<style>
#content-main { width:100%; }
</style>

<h2>Condizioni del Servizio</h2>
<p>L'iscrizione gratuita a Pappa-Mi permette di:</p>
<ul>
<li>Inserire messaggi di testo, anche con documenti allegati, commenti, schede di ispezione e segnalazioni di non conformit&agrave;</li>
<li>Consultare le informazioni inserite dagli altri utenti</li>
<li>Consultare l'elaborazione statistica dei dati raccolti in tutte le commissioni</li>
<li>Consultare i menù del giorno (ove il dato sia disponibile)</li>
</ul>
<p>
Accedendo a "Pappa-Mi" (in seguito "noi", "nostro", "Pappa-Mi"),
l'utente accetta di essere vincolato legalmente alle seguenti
condizioni d'uso. </p>
<p>Se non accetti di essere limitato legalmente alle
condizioni d'uso seguenti non utilizzare i servizi offerti da
"Pappa-Mi".</p>
<p>Le condizioni d'uso possono cambiare in qualunque momento,
sar&agrave; nostra premura avvisarti di tali modifiche, bench&egrave; sia opportuno
controllare con frequenza queste pagine per eventuali modifiche, dato
che l'uso continuato dei servizi di "Pappa-Mi" implica la completa
accettazione delle condizioni d'uso.
</p>
<p>
Pappa-Mi utilizza il sistema Google App Engine (in seguito "Google",
"App Engine software", "code.google.com/appengine/") che &egrave; un software
per la creazione di applicazioni web. Google non &egrave; responsabile dei
contenuti e della gestione. Per ulteriori informazioni su Google App
Engine: http://code.google.com/appengine/.
</p>
<p>
Accetti di non inviare alcun tipo di offesa, oscenit&agrave;, volgarit&agrave;,
calunnia, minaccia, orientamento sessuale, o qualsiasi altro tipo di
materiale che pu&ograve; violare una qualsiasi legge del proprio stato, o
dello stato dove "Pappa-Mi" &egrave; ospitato, o di una legge Internazionale.
Fare ci&ograve; porta all'immediato e permanente divieto di accesso, con
notifica al tuo provider Internet se &egrave; ritenuto da noi opportuno.
</p>
<p>
Accetti che "Pappa-Mi" ha il diritto di rimuovere,
riscrivere, spostare o chiudere qualsiasi argomento in qualsiasi
momento lo ritenga necessario. Come usufruitore di questo servizio,
accetti che ogni informazione tu abbia inviato sia conservata in un
database.</p>
<p>Accetti di rendere accessibile agli altri Commissari iscritti l'indirizzo email utilizzato per accedere a Pappa-Mi. I Commissari potranno utilizzare tale indirizzo per contattarti riguardo l'attivit&agrave; delle Commissioni Mensa di Milano.
</p>
<p>Al contempo queste informazioni non saranno divulgate a
nessun altro senza il tuo consenso, n&egrave; "Pappa-Mi" o Google si ritengono
responsabili per qualsiasi violazione al sistema che possa
compromettere queste informazioni.
</p>
<a href="https://www.iubenda.com/privacy-policy/827944" class="iubenda-white iubenda-embed" title="Privacy Policy">Privacy Policy</a><script type="text/javascript">(function (w,d) {var loader = function () {var s = d.createElement("script"), tag = d.getElementsByTagName("script")[0]; s.src = "https://cdn.iubenda.com/iubenda.js"; tag.parentNode.insertBefore(s,tag);}; if(w.addEventListener){w.addEventListener("load", loader, false);}else if(w.attachEvent){w.attachEvent("onload", loader);}else{w.onload = loader;}})(window, document);</script>
