<div id="post_reshare" class="modal fade in"  style="" aria-hidden="true">  
 <form id="post_reshare" action="/profilo/deactivate" method="post">
 <input type="hidden" name="cmd" value="deactivate">
 <div class="modal-header">  
  <a class="close" data-dismiss="modal">x</a>  
  <h4>Disattiva il tuo profilo</h4>  
 </div>  
  <input type="hidden" name="cmd" value="reshare_open_post"/>				
  <input type="hidden" name="post" value=""/>
  <div class="modal-body">  
  <div style="height:340px; background:url('/img/sad-tomato.jpg') no-repeat center;">
  </div>
  <button type="submit" class="btn btn-large btn-danger">Disattiva definitivamente</button>
  <button type="button" class="btn btn-large btn-success" onclick="$('#dialog').modal('close'); $('#dialog').empty(); $('#dialog').hide();">Ci ho ripensato!</button>
  </div>  
 </form>
</div>