{% if preview %}
<script type="text/javascript">
var ulmsg=true;
function closeIt() {
if(ulmsg) return "Attenzione, la pagina contiene dati non salvati, uscire comunque ?";
}
window.onbeforeunload = closeIt;
</script>
{% endif %}
{%if public_url%}
<!-- AddThis Button BEGIN -->
<div class="addthis_toolbox addthis_default_style ">
<a href="http://www.addthis.com/bookmark.php?v=250&amp;username=xa-4cdb224129b45357" class="addthis_button_compact" addthis:url="{{public_url}}">Share</a>
<span class="addthis_separator">|</span>
<a class="addthis_button_googlebuzz" addthis:url="{{public_url}}"></a>
<a class="addthis_button_facebook" addthis:url="{{public_url}}"></a>
<a class="addthis_button_twitter" addthis:url="{{public_url}}"></a>
<a class="addthis_button_email" addthis:url="{{public_url}}"></a>
<a href="{{public_url}}" target="_new">Link pubblico a questa pagina</a>
</div>
<script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#username=xa-4cdb224129b45357"></script>
<!-- AddThis Button END -->
{%endif%}
<div>
 <div class="row rowspaced">
  <div class="span12">
   <h3>Ispezione Diete Sanitarie ed Etico-Religiose: {{dieta.commissione.nome}} - {{dieta.commissione.tipoScuola}} - Ispezione del {{dieta.dataIspezione}} - Turno {{dieta.turno}}</h3>
  </div>
 </div>
 <div class="row rowspaced">
  <div class="span12">
  <h4>Ambiente e Attrezzature</h4>
  </div>
 </div>
 <div class="row rowspaced">
  <div class="span6">
  Etichetta &egrave; leggibile? {%if dieta.etichettaLeggibile%}<span class="label success">Si{%else%}<span class="label important">No{%endif%}</span>
  </div>
  <div class="span6">
  La vaschetta &egrave; pi&ugrave; fredda, al tatto, rispetto al piatto del vicino ? {%if dieta.temperaturaVaschetta%}<span class="label success">Si{%else%}<span class="label important">No{%endif%}</span>
  </div>
 </div>
 <div class="row rowspaced">
  <div class="span6">
  Etichetta &egrave; leggibile? {%if dieta.etichettaLeggibile%}<span class="label success">Si{%else%}<span class="label important">No{%endif%}</span>
  </div>
  <div class="span6">
  Bambino seduto vicino educatore ? {%if dieta.vicinoEducatore%}<span class="label success">Si{%else%}<span class="label important">No{%endif%}</span>
  </div>
 </div>
 <div class="row rowspaced">
  <div class="span6">
  Vaschetta travasata in altro piatto e conservata ? {%if dieta.vaschettaOriginale%}<span class="label success">Si{%else%}<span class="label important">No{%endif%}</span>
  </div>
  <div class="span6">
  Se il cibo non &egrave; condito trova facilmente in refettorio olio, aceto, sale e formaggio ? {%if dieta.condimentiVicini%}<span class="label success">Si{%else%}<span class="label important">No{%endif%}</span>
  </div>
 </div>
 <div class="row rowspaced">
  <div class="span12">
  <h4>Gradimento</h4>
  </div>
 </div>
 <div class="row rowspaced">
  <div class="span6">
  Il bambino ha mangiato almeno met&agrave; del primo ? {%if dieta.primoAccettato%}<span class="label success">Si{%else%}<span class="label important">No{%endif%}</span>
  </div>
  <div class="span6">
  Il bambino ha mangiato almeno met&agrave; del secondo ? {%if dieta.secondoAccettato%}<span class="label success">Si{%else%}<span class="label important">No{%endif%}</span>
  </div>
 </div>
 <div class="row rowspaced">
  <div class="span6">
  Il bambino ha mangiato almeno met&agrave; del contorno ? {%if dieta.contornoAccettato%}<span class="label success">Si{%else%}<span class="label important">No{%endif%}</span>
  </div>
  <div class="span6">
  Il bambino ha mangiato almeno met&agrave; della frutta ? {%if dieta.fruttaAccettata%}<span class="label success">Si{%else%}<span class="label important">No{%endif%}</span>
  </div>
 </div>
 <div class="row rowspaced">
  <div class="span12">
  <h4>Assaggio</h4>
  </div>
 </div>
 <div class="row rowspaced">
  <div class="span6">
  Domani vorrebbe mangiare lo stesso primo ? {%if dieta.gradimentoPrimo%}<span class="label success">Si{%else%}<span class="label important">No{%endif%}</span>
  </div>
  <div class="span6">
  Domani vorrebbe mangiare lo stesso secondo ? {%if dieta.gradimentoSecondo%}<span class="label success">Si{%else%}<span class="label important">No{%endif%}</span>
  </div>
 </div>
 <div class="row rowspaced">
  <div class="span6">
  Domani vorrebbe mangiare lo stesso contorno ? {%if dieta.gradimentoContorno%}<span class="label success">Si{%else%}<span class="label important">No{%endif%}</span>
  </div>
  <div class="span6">
  Domani vorrebbe mangiare la stessa frutta ? {%if dieta.gradimentoFrutta%}<span class="label success">Si{%else%}<span class="label important">No{%endif%}</span>
  </div>
 </div>
 <div class="row rowspaced">
  <div class="span12">
  Consegnerai questa valutazione ai genitori del bambino, tramite l'educatore ? {%if dieta.comunicazioneGenitori%}<span class="label success">Si{%else%}<span class="label important">No{%endif%}</span>
  </div>
 </div>
 <div class="row rowspaced">
  <div class="span12">
  <h4>Note</h4>
  </div>
 </div>
 <div class="row rowspaced">
  <div class="span12">
  {{dieta.note}}
  </div>
 </div>
{% if preview %}
<div class="actions">
 <form action="/isp/dieta" method="post" id="form1">
 <input type="hidden" name="preview" value="{{preview}}">
 <button type="submit" onclick="ulmsg=false;">Conferma salvataggio dati</button>
 <button onclick="ulmsg=false; previewback();return false;">Torna a modifiche</button>
 </form>
</div>
{% endif %}
</div>
