<div id="formwiz-progress">
<ul class="nav nav-tabs">
<li id="formwiz-progress-step1"><a>Intestazione</a></li>
<li id="formwiz-progress-step2"><a>Ambiente e Attrezzature</a></li>
<li id="formwiz-progress-step3"><a>Gradimento</a></li>
<li id="formwiz-progress-step4"><a>Assaggio</a></li>
</ul>
</div>
<div>
<h1 class="table_separator" id="title" style="display:none;">Nuova Ispezione Diete Sanitarie ed Etico-Religiose</h1>
<form action="/isp/dieta" method="post" id="form0" novalidate>
<input type="hidden" name="key" value="{{key}}"/>
<div class="step form-stacked" id="step1">
 <div class="row">
  <div class="span4">
   <div class="control-group">
    <label for="e_commissione">Commissione</label>
    <select class="required" name="commissione" id="e_commissione" value="">{% for cm in commissioni %}
     <option value="{{cm.key.id()}}">{{cm.nome}} - {{cm.tipoScuola}}</option>{% endfor %}
    </select>
   </div>
  </div>
  <div class="span2">
   <div class="control-group">
    <label for="e_dataNonconfViz">Data Ispezione</label>
    <input title="Inserire la data in cui &egrave; stata effettuata l'ispezione." type="text" class="span2 required" name="dataIspezioneViz" value="" id="e_dataIspezioneViz"/>
    <input type="hidden" name="dataIspezione" value="" id="e_dataIspezione"/>
   </div>
  </div>
  <div class="span2">
   <div class="control-group">
    <label for="e_turno">Turno</label>
    <select name="turno" id="e_turno" class="span2 required">
     <option value="1"{% if form.data.turno == "1" %} selected{% endif %}>Primo</option>
     <option value="2"{% if form.data.turno == "2" %} selected{% endif %}>Secondo</option>
    </select>
   </div>
  </div>
 </div>
 <div class="row">
  <div class="span8">
   <div class="control-group">
    <label for="e_commissione">Tipo Dieta</label>
    <select name="tipoDieta" id="e_tipoDieto" class="span8 required" value="{{form.data.tipoDieta}}">
     <option value=""></option>
     <option value="1">menu privo di fave e piselli</option>
     <option value="2">menu privo di cereali contenenti glutine</option>
     <option value="3">menu privo di proteine del latte</option>
     <option value="4">menu privo di uovo</option>
     <option value="5">menu privo di pesce, molluschi e crostacei</option>
     <option value="6">menu privo di proteine del latte, e uova</option>
     <option value="7">menu privo di solanacee</option>
     <option value="8">menu privo di frutta a guscio, pinoli, lupini, semi di sesamo</option>
     <option value="9">menu privo di legumi, soia,arachidi</option>
     <option value="10">menu a ridotto apporto di sostanze istamino-liberatrici</option>
     <option value="11">menu ridotto in nichel</option>
     <option value="12">menu privo di tutti gli allergeni (D.L.vo n.114/ 06)</option>
     <option value="13">esclusione di sola frutta</option>
     <option value="14">menu diabete e/o ipocalorico</option>
     <option value="15">menu ipolipidico</option>
     <option value="16">menu iposodico</option>
     <option value="17">menu tritato / frullato</option>
     <option value="18">menu per stipsi (nido)</option>
     <option value="19">menu privo di carni bianche</option>
     <option value="20">menu privo di carne suina</option>
     <option value="21">menu privo di tutte le carni</option>
     <option value="22">menu privo di carni bovine e suine</option>
     <option value="23">menu privo di carni di origine animale</option>
     <option value="24">menu privo di carne e pesce</option>
    </select>
   </div>
  </div>
 </div>
 <div class="row">
  <div class="span8" id="formwiz-container">
   <div id="formwiz-error" class="alert alert-error fade in" style="display:none;"></div> 
  </div>
 </div>
</div>
<div class="step form-vertical" id="step2">
 <div class="row">
  <div class="span4">
   <div class="control-group">
    <label >Etichetta &egrave; leggibile?</label>
    <div class="control">
     <div class="btn-group radio-group" data-toggle="buttons-radio" title="In caso di scuola dotata di Centro Cucina selezionare '&lt; 10 min'">
      <label class="btn"><input type="radio" name="etichettaLeggibile" value="1" class="required" id="e_aarc_1" {%if form.data.etichettaLeggibile == "1" %}CHECKED{%endif%}/>Si</label>
      <label class="btn"><input type="radio" name="etichettaLeggibile" value="0" class="required" id="e_aarc_2" {%if form.data.etichettaLeggibile == "0" %}CHECKED{%endif%}/>No</label>
     </div>
    </div>
   </div>
   <div class="control-group">
    <label >La vaschetta &egrave; pi&ugrave; fredda, al tatto, rispetto al piatto del vicino ?</label>
    <div class="controls">   
     <div class="btn-group radio-group" data-toggle="buttons-radio" title="In caso di scuola dotata di Centro Cucina selezionare '&lt; 10 min'">
      <label class="btn"><input type="radio" name="temperaturaVaschetta" value="1" class="required" id="e_aata_1" {%if form.data.temperaturaVaschetta == "1" %}CHECKED{%endif%}/>Si</label>
      <label class="btn"><input type="radio" name="temperaturaVaschetta" value="0" class="required" id="e_aatp_2" {%if form.data.temperaturaVaschetta == "0" %}CHECKED{%endif%}/>No</label>
     </div>
    </div>
   </div>
   <div class="control-group">
    <label >Bambino seduto vicino educatore ?</label>
    <div class="controls">   
     <div class="btn-group radio-group" data-toggle="buttons-radio" title="In caso di scuola dotata di Centro Cucina selezionare '&lt; 10 min'">
      <label class="btn"><input type="radio" name="vicinoEducatore" value="1" class="required" id="e_aatp_1" {%if form.data.vicinoEducatore == "1" %}CHECKED{%endif%}/>Si</label>
      <label class="btn"><input type="radio" name="vicinoEducatore" value="0" class="required" id="e_aatp_1" {%if form.data.vicinoEducatore == "0" %}CHECKED{%endif%}/>No</label>
     </div>
    </div>
   </div>
  </div>
  <div class="span4">
   <div class="control-group">
    <label >Vaschetta travasata in altro piatto e conservata ?</label>
    <div class="controls">   
     <div class="btn-group radio-group" data-toggle="buttons-radio">
      <label class="btn"><input type="radio" name="vaschettaOriginale" value="1" class="required" id="e_aaac_1" {%if form.data.vaschettaOriginale == "1" %}CHECKED{%endif%}/>Si</label>
      <label class="btn"><input type="radio" name="vaschettaOriginale" value="0" class="required" id="e_aaac_1" {%if form.data.vaschettaOriginale == "0" %}CHECKED{%endif%}/>No</label>
     </div>
    </div>
   </div>
   <div class="control-group">
    <label >Se il cibo non &egrave; condito trova facilmente in refettorio olio, aceto, sale e formaggio ?</label>
    <div class="controls">   
     <div class="btn-group radio-group" data-toggle="buttons-radio" title="Se il cibo non &egrave; condito trova facilmente in refettorio olio, aceto, sale e formaggio ?">
      <label class="btn"><input type="radio" name="condimentiVicini" value="1" class="required" id="e_aata_1" {%if form.data.condimentiVicini == "1" %}CHECKED{%endif%}/>Si</label>
      <label class="btn"><input type="radio" name="condimentiVicini" value="0" class="required" id="e_aata_1" {%if form.data.condimentiVicini == "0" %}CHECKED{%endif%}/>No</label>
     </div>
    </div>
   </div>
  </div>
 </div>
</div>
<div class="step form-vertical" id="step3">
 <div class="row">
  <div class="span4">
   <div class="control-group">
    <label >Il bambino ha mangiato almeno met&agrave; del primo ?</label>
    <div class="controls">   
     <div class="btn-group radio-group" data-toggle="buttons-radio">
      <label class="btn"><input type="radio" name="primoAccettato" value="1" class="required" id="e_ncsv_1" {%if form.data.primoAccettato == "1" %}CHECKED{%endif%}/>Si</label>
      <label class="btn"><input type="radio" name="primoAccettato" value="0" class="required" id="e_ncsv_1" {%if form.data.primoAccettato == "0" %}CHECKED{%endif%}/>No</label>
     </div>
    </div>
   </div>
   <div class="control-group">
    <label >Il bambino ha mangiato almeno met&agrave; del secondo ?</label>
    <div class="controls">   
     <div class="btn-group radio-group" data-toggle="buttons-radio">
      <label class="btn"><input type="radio" name="secondoAccettato" value="1" class="required" id="e_nclp_1" {%if form.data.secondoAccettato == "1" %}CHECKED{%endif%}/>Si</label>
      <label class="btn"><input type="radio" name="secondoAccettato" value="0" class="required" id="e_nclp_1" {%if form.data.secondoAccettato == "0" %}CHECKED{%endif%}/>No</label>
     </div>
    </div>
   </div>
  </div>
  <div class="span4">
   <div class="control-group">
    <label >Il bambino ha mangiato almeno met&agrave; del contorno ?</label>
    <div class="controls">   
     <div class="btn-group radio-group" data-toggle="buttons-radio">
      <label class="btn"><input type="radio" name="contornoAccettato" value="1" class="required" id="e_ncte_1" {%if form.data.contornoAccettato == "1" %}CHECKED{%endif%}/>Si</label>
      <label class="btn"><input type="radio" name="contornoAccettato" value="0" class="required" id="e_ncte_1" {%if form.data.contornoAccettato == "0" %}CHECKED{%endif%}/>No</label>
     </div>
    </div>
   </div>
   <div class="control-group">
    <label >Il bambino ha mangiato almeno met&agrave; della frutta ?</label>
    <div class="controls">   
     <div class="btn-group radio-group" data-toggle="buttons-radio">
      <label class="btn"><input type="radio" name="fruttaAccettata" value="1" class="required" id="e_ncti_1" {%if form.data.fruttaAccettata == "1" %}CHECKED{%endif%}/>Si</label>
      <label class="btn"><input type="radio" name="fruttaAccettata" value="0" class="required" id="e_ncti_1" {%if form.data.fruttaAccettata == "0" %}CHECKED{%endif%}/>No</label>
     </div>
    </div>
   </div>
  </div>
 </div>
</div>
<div class="step form-vertical" id="step4">
 <div class="row">
  <div class="span4">
   <div class="control-group">
    <label >Domani vorrebbe mangiare lo stesso primo ?</label>
    <div class="controls">   
     <div class="btn-group radio-group" data-toggle="buttons-radio">
      <label class="btn"><input type="radio" name="gradimentoPrimo" value="1" class="required" id="e_nctf_1" {%if form.data.gradimentoPrimo == "1" %}CHECKED{%endif%}/>Si</label>
      <label class="btn"><input type="radio" name="gradimentoPrimo" value="0" class="required" id="e_nctf_1" {%if form.data.gradimentoPrimo == "0" %}CHECKED{%endif%}/>No</label>
     </div>
    </div>
   </div>
   <div class="control-group">
    <label >Domani vorrebbe mangiare lo stesso secondo ?</label>
    <div class="controls">   
     <div class="btn-group radio-group" data-toggle="buttons-radio">
      <label class="btn"><input type="radio" name="gradimentoSecondo" value="1" class="required" id="e_nctg_1" {%if form.data.gradimentoSecondo == "1" %}CHECKED{%endif%}/>Si</label>
      <label class="btn"><input type="radio" name="gradimentoSecondo" value="0" class="required" id="e_nctg_1" {%if form.data.gradimentoSecondo == "0" %}CHECKED{%endif%}/>No</label>
     </div>
    </div>
   </div>
  </div>
  <div class="span4">
   <div class="control-group">
    <label >Domani vorrebbe mangiare lo stesso contorno ?</label>
    <div class="controls">   
     <div class="btn-group radio-group" data-toggle="buttons-radio">
      <label class="btn"><input type="radio" name="gradimentoContorno" value="1" class="required" id="e_ncth_1" {%if form.data.gradimentoContorno == "1" %}CHECKED{%endif%}/>Si</label>
      <label class="btn"><input type="radio" name="gradimentoContorno" value="0" class="required" id="e_ncth_1" {%if form.data.gradimentoContorno == "0" %}CHECKED{%endif%}/>No</label>
     </div>
    </div>
   </div>
   <div class="control-group">
    <label >Consegnerai questa valutazione ai genitori del bambino, tramite l'educatore ?</label>
    <div class="controls">   
     <div class="btn-group radio-group" data-toggle="buttons-radio">
      <label class="btn"><input type="radio" name="comunicazioneGenitori" value="1" class="required" id="e_ncti_1" {%if form.data.comunicazioneGenitori == "1" %}CHECKED{%endif%}/>Si</label>
      <label class="btn"><input type="radio" name="comunicazioneGenitori" value="0" class="required" id="e_ncti_1" {%if form.data.comunicazioneGenitori == "0" %}CHECKED{%endif%}/>No</label>
     </div>
    </div>
   </div>
  </div>
  <div class="span8">
   <div class="control-group">
    <label >Note</label>
    <div class="controls">   
     <textarea name="note" rows="8" cols="120" class="ss-q-long" id="entry_13" style="margin-top: 1px; margin-bottom: 1px; margin-left: 0px; margin-right: 0px; width:100%;">{{form.data.note}}</textarea>
    </div>
   </div>
   <div class="control-group">       
    <label class="control-label" for="e_attach">Allegati</label>
    <div class="controls">
     <input type="file" name="allegato_file_1" id="allegato_file_1" allow="image/jpeg, image/png, image/gif, image/tiff, application/pdf, application/msword, application/x-excel"/>
     <input type="file" name="allegato_file_2" id="allegato_file_2" style="display:none;" allow="image/jpeg, image/png, image/gif, image/tiff, application/pdf, application/msword, application/x-excel"/>
     <input type="file" name="allegato_file_3" id="allegato_file_3" style="display:none;" allow="image/jpeg, image/png, image/gif, image/tiff, application/pdf, application/msword, application/x-excel"/>      
    </div>
   </div>
  </div>
 </div>
</div>
<div id="formnav" class="modal-footer modal-actions">
  <button id="e_submit" class="btn btn-primary" type="submit" onclick="" value="Avanti" style="float:right;">Avanti</button>
  <button type="reset" class="btn" onclick="" id="e_annulla" value="Indietro" style="float:right;">Indietro</button>
</div>
</form>
</div>

<script type="text/javascript">
$(function() {
 $( "#e_dataIspezioneViz" ).datepicker({ altField: '#e_dataIspezione', altFormat: 'yy-mm-dd', dateFormat: 'dd/mm/yy', minDate: new Date(2008, 9, 1), maxDate: '0d' });
 
 $('#allegato_file_1').change(function(){
  $('#allegato_file_2').show(); 
 });
 $('#allegato_file_2').change(function(){
  $('#allegato_file_3').show();
 }); 
});
</script>