<div id="form-error"></div>
<div class="ui-widget ui-widget-content" style="border:none;">
<h1 class="table_separator" id="title" style="display:none;">Nuova Non Conformit&agrave;</h1>
<form action="/isp/nc" method="post" id="form0" novalidate>
<input type="hidden" name="key" value="{{key}}"/>
<div class="form-stacked">
 <div class="row">
  <div class="span4">
   <label for="e_commissione">Commissione</label>
   <select class="span4 required" name="commissione" id="e_commissione" value="">{% for cm in commissioni %}
    <option value="{{cm.key.id()}}">{{cm.nome}} - {{cm.tipoScuola}}</option>{% endfor %}
   </select>
  </div>
  <div class="span2">
   <label for="e_dataNonconfViz">Data Ispezione</label>
   <input title="Inserire la data in cui &egrave; stata effettuata l'ispezione." type="text" class="span2 required" name="dataNonconfViz" value="" id="e_dataNonconfViz"/>
   <input type="hidden" name="dataNonconf" value="" id="e_dataNonconf"/>
  </div>
  <div class="span2">
   <label for="e_turno">Turno</label>
   <select name="turno" id="e_turno" class="span2 required">
    <option value="1"{% if form.turno.data == "1" %} selected{% endif %}>Primo</option>
    <option value="2"{% if form.turno.data == "2" %} selected{% endif %}>Secondo</option>
   </select>
  </div>
 </div>   
 <div class="row">
  <div class="span6">
   <div class="control-group"> 
    <label for="e_tipo">Tipo Non Conformit&agrave</label>
    <div class="controls">    
     <select name="tipo" id="e_tipo" class="required span6" value="{{form.tipo.data}}">
      <option value=""></option>
      <option value="1">Cambiamenti di men&ugrave</option>
      <option value="2">Cibo avanzato oltre 30%</option>
      <option value="3">Quantit&agrave insufficiente di una vivanda</option>
      <option value="4">Tavoli o apparecchiatura tavoli non adeguata</option>
      <option value="5">Arredi e attrezzature inadeguate della sala di rigoverno</option>
      <option value="6">Inadeguata pulizia dei locali</option>
      <option value="7">Errata / mancata consegna o distribuzione delle diete speciali</option>
      <option value="8">Ritardo o anticipo nella consegna delle termiche</option>
      <option value="9">Corpo estraneo</option>
      <option value="10">Temperatura non conforme alla legge</option>
      <option value="11">Temperatura della dieta sanitaria giudicata inadeguata</option>
      <option value="12">Inadeguato smaltimento della spazzatura</option>
      <option value="99">Altro</option>
     </select>
    </div>
   </div>
  </div>
  <div class="span2">
   <label class="label_isp_1">Richiesta campionatura</label>
   <div class="radio-group btngroup">
    <label class="btn"><input type="radio" name="richiestaCampionatura" value="1" class="required" id="e_rc_1" {%if form.richiestaCampionatura.data == "1" %}CHECKED{%endif%}/>Si</label>
    <label class="btn"><input type="radio" name="richiestaCampionatura" value="0" class="required" id="e_rc_2" {%if form.richiestaCampionatura.data == "0" %}CHECKED{%endif%}/>No</label>
   </div>
  </div>
 </div>   
 <div class="row">
  <div class="span6">
   <div class="control-group"> 
    <label for="e_ncNote">Note</label>
    <div class="controls">    
     <textarea name="note" rows="8" cols="120" id="e_note" class="span8">{{form.note.data}}</textarea>
    </div>
   </div>
  </div>
 </div>   
 <div class="row">
  <div class="span8">
   <label class="label_isp_1">Categorie</label>
   <div class="comment_tags">  
    <div style="width:40em; display:inline;">
     <ul id="item_tags_handler"></ul>
    </div>
   </div>
  </div>
 </div>
</div>
<div class="modal-footer modal-actions">
 <button id="e_submit" type="submit" class="btn btn-primary" style="float:right;" data-loading-text="Salvataggio in corso...">Salva dati</button>
 <button onclick="closedialog();" id="e_annulla" class="btn" style="float:right;">Annulla</button>
</div>
</form>
</div>
<script type="text/javascript">
$().ready(function() {
 $( "#e_dataNonconfViz" ).datepicker({ altField: '#e_dataNonconf', altFormat: 'yy-mm-dd', dateFormat: 'dd/mm/yy', minDate: new Date(2008, 9, 1), maxDate: '+0d' }); 
});
</script>