<div class="form-vertical">
{% if True  %}
 <div class="row">
  <div class="span8">
   <h3>{{nc.commissione.get().desc()}} - Non Conformit&agrave; del {{nc.data()}} - Turno {{nc.turno}}</h3>
  </div>
 </div>
{% endif %} 
 <div class="row">
  <div class="span8">
   <h4><small>Tipo Non Conformit&agrave;</small><br/> {{nc.tipoNome()}}</h4>
  </div>
 </div>
 <div class="row">
  <div class="span8">
  <h4><small>Richiesta campionatura</small><br/>{%if nc.richiestaCampionatura%}Si{%else%}No{%endif%}</h4>
  </div>
 </div>
 <div class="row">
  <div class="span2">
    Note
  </div>
 </div>
 <div class="row">
  <div class="span8">
  <div{% if preview %} class="scroll" style="height:250px; overflow:auto;"{% endif %}>{{nc.note|replace("\n","<br/>")}}</div>
  </div>
 </div>
{% if preview %}
 <div class="row">
  <div class="span2">
  <div><i class="icon-tags"></i> Categorie</div>
  </div>
 </div>
 <div class="row">
  <div class="span8">
 {%for tag in nc.tags%}{{tag}}&nbsp;{%endfor%}
  </div>
 </div>
 <div class="modal-footer modal-actions">
  <form action="/isp/nc" method="POST" id="form1">
  <input type="hidden" name="preview" value="{{preview}}" >
  <input type="hidden" id="act_last" name="last" value="">  
  <button type="submit" id="e_submit" class="btn btn-primary" onclick="ulmsg=false;" style="float:right;" data-loading-text="Salvataggio in corso...">Conferma e Salva</button>
  <button class="btn" onclick="previewback(); return false;" style="float:right;">Torna a modifiche</button>
  </form>
 </div>
{% endif %}
</div>