<div>
 <div class="row">
  <div class="span12">
   <h3>{{nota.commissione.nome}} - {{nota.commissione.tipoScuola}} - Nota del {{nota.dataNota}}</h3>
   <div>Titolo</div>
   <h4>{{nota.titolo}}</h4>
   <div>Testo</div>
   <div class="input" style="height:248px; overflow:auto;">
    <div>{{nota.note|replace("\n","<br/>")}}</div>
   </div>
{% if allegati %}
   <div for="e_attach">Allegati</div>
   <div>{%for allegato in allegati%}
    <a href="{{allegato.path()}}" target="_new">{{allegato.nome}}</a>&nbsp;{{allegato.descrizione}}<br/>{%endfor%}   
   </div>
{% endif %}  
   <div>Categorie</div>
   <div>
    {%for tag in nota.tags%}<span class="tagItem">{{tag}}</span>{%endfor%}  
   </div>
{% if preview %}
   <div class="actions modal-actions">
    <form action="/isp/nota" method="POST" id="form1">
     <input type="hidden" name="preview" value="{{preview}}">
     <button type="submit" id="e_submit" class="btn primary" onclick="ulmsg=false;" style="float:right;">Conferma salvataggio dati</button>
     <button class="btn" onclick="previewback();" style="float:right;">Torna a modifiche</button>
    </form>
   </div>
 {% endif %}
  </div>
 </div>
</div>