<div>
{%if preview%}
 <div class="row">
  <div class="span8">
   <h3>{{dieta.commissione.get().desc()}} - Ispezione del {{dieta.dataIspezione}} - Turno {{dieta.turno}}</h3>
  </div>
 </div>
{%endif%} 
 <div class="row">
  <div class="span8">
  <h3>Ambiente e Attrezzature</h3>
  </div>
 </div>
 <div class="row">
  <div class="span4">
   <h4><small>Etichetta &egrave; leggibile ?</small> {%if dieta.etichettaLeggibile%}Si{%else%}No{%endif%}</h4>
   <h4><small>La vaschetta &egrave; pi&ugrave; fredda, al tatto, rispetto al piatto del vicino ?</small> {%if dieta.temperaturaVaschetta%}Si{%else%}No{%endif%}</h4>
   <h4><small>Etichetta &egrave; leggibile ?</small> {%if dieta.etichettaLeggibile%}Si{%else%}No{%endif%}</h4>
  </div>
  <div class="span4">
   <h4><small>Bambino seduto vicino educatore ?</small> {%if dieta.vicinoEducatore%}Si{%else%}No{%endif%}</h4>
   <h4><small>Vaschetta travasata in altro piatto e conservata ?</small> {%if dieta.vaschettaOriginale%}Si{%else%}No{%endif%}</h4>
   <h4><small>Se il cibo non &egrave; condito trova facilmente in refettorio olio, aceto, sale e formaggio ?</small> {%if dieta.condimentiVicini%}Si{%else%}No{%endif%}</h4>
  </div>
 </div>
 <div class="row">
  <div class="span8">
  <h3>Gradimento</h3>
  </div>
 </div>
 <div class="row">
  <div class="span4">
   <h4><small>Il bambino ha mangiato almeno met&agrave; del primo ?</small> {%if dieta.primoAccettato%}Si{%else%}No{%endif%}</h4>
   <h4><small>Il bambino ha mangiato almeno met&agrave; del secondo ?</small> {%if dieta.secondoAccettato%}Si{%else%}No{%endif%}</h4>
  </div>
  <div class="span4">
   <h4><small>Il bambino ha mangiato almeno met&agrave; del contorno ?</small> {%if dieta.contornoAccettato%}Si{%else%}No{%endif%}</h4>
   <h4><small>Il bambino ha mangiato almeno met&agrave; della frutta ?</small> {%if dieta.fruttaAccettata%}Si{%else%}No{%endif%}</h4>
  </div>
 </div>
 <div class="row">
  <div class="span8">
  <h3>Assaggio</h3>
  </div>
 </div>
 <div class="row">
  <div class="span4">
   <h4><small>Domani vorrebbe mangiare lo stesso primo ?</small> {%if dieta.gradimentoPrimo%}Si{%else%}No{%endif%}</h4>
   <h4><small>Domani vorrebbe mangiare lo stesso secondo ?</small> {%if dieta.gradimentoSecondo%}Si{%else%}No{%endif%}</h4>
  </div>
  <div class="span4">
   <h4><small>Domani vorrebbe mangiare lo stesso contorno ?</small> {%if dieta.gradimentoContorno%}Si{%else%}No{%endif%}</h4>
   <h4><small>Domani vorrebbe mangiare la stessa frutta ?</small> {%if dieta.gradimentoFrutta%}Si{%else%}No{%endif%}</h4>
  </div>
 </div>
 <div class="row">
  <div class="span4">
  <h4><small>Consegnerai questa valutazione ai genitori del bambino, tramite l'educatore ?</small> {%if dieta.comunicazioneGenitori%}Si{%else%}No{%endif%}</h4>
  </div>
 </div>
 <div class="row">
  <div class="span8">
   <h3>Note</h3>
   <div style="height:120px; overflow:auto;">
    {{dieta.note|replace("\n","<br/>")}}
   </div>
  </div>
 </div>
   <div><i class="icon-tags"></i> Categorie</div>
   <div>
    {%for tag in dieta.tags%}<span class="tagItem">{{tag}}</span>{%endfor%}  
   </div>
{% if preview %}
<div class="modal-footer modal-actions">
 <form action="/isp/dieta" method="post" id="form1">
 <input type="hidden" name="preview" value="{{preview}}">
 <input type="hidden" id="act_last" name="last" value="">
 <button type="submit" onclick="ulmsg=false;" class="btn btn-primary" style="float:right;" data-loading-text="Salvataggio in corso...">Conferma e Salva</button>
 <button type="reset" onclick="previewback();" class="btn" style="float:right;">Torna a modifiche</button>
 </form>
</div>
{% endif %}
</div>
