<div id="formwiz-progress">
 <ul class="nav nav-tabs">
  <li id="formwiz-progress-step1"><a>Intestazione</a></li>
  <li id="formwiz-progress-step2"><a>Ambiente</a></li>
  <li id="formwiz-progress-step3"><a id="tab_primo">Primo</a></li>
  <li id="formwiz-progress-step4"><a id="tab_secondo">Secondo</a></li>
  <li id="formwiz-progress-step5"><a>Contorno</a></li>
  <li id="formwiz-progress-step6"><a>Pane</a></li>
  <li id="formwiz-progress-step7"><a>Dessert</a></li>
  <li id="formwiz-progress-step8"><a>Giudizio globale</a></li>
 </ul>
</div>
<div>
 <h1 id="title" class="table_separator" style="display:none;">Nuova Ispezione</h1>
 <form action="/isp/isp" method="post" id="form0" novalidate>
<input type="hidden" name="key" value="{{key}}"/>
  <div class="step form-vertical" id="step1">
   <div class="row">
    <div class="span3">
     <div class="control-group">
      <label class="" for="e_commissione">Commissione</label>
      <select class="span3 required" name="commissione" value="" id="e_commissione" onchange="getPrevIspData()">{% for cm in commissioni %}
       <option value="{{cm.key.id()}}">{{cm.nome}} - {{cm.tipoScuola}}</option>{% endfor %}
      </select>
     </div>
    </div>
    <div class="span2">
     <div class="control-group">
      <label class="" for="e_dataIspezioneViz">Data Ispezione<i class="icon-info-sign" data-content="Inserire la data in cui &egrave; stata effettuata l'ispezione."></i></label>
      <input type="text" onchange="getPrevIspData()" name="dataIspezioneViz" value="" class="span2 required" id="e_dataIspezioneViz"/>
      <input type="hidden" name="dataIspezione" value="" id="e_dataIspezione"/>
     </div>
    </div>
    <div class="span2">
     <div class="control-group">
      <label class="" for="e_turno">Turno</label>
      <select name="turno" id="e_turno" class="span2 required">
      <option value="1"{% if form.data.turno == "1" %} selected{% endif %}>Primo</option>
      <option value="2"{% if form.data.turno == "2" %} selected{% endif %}>Secondo</option>
      </select>
     </div>
    </div>
   </div>
   <div class="row">
    <div class="span4">
     <h4>Men&ugrave; previsto per il giorno</h4>
     <div class="control-group">
      <label class="" for="e_primoPrevisto">Primo</label>
      <input class="span4" type="text" name="primoPrevisto" readonly="readonly" value="{{form.data.primoPrevisto}}" id="e_primoPrevisto"/>
     </div>
     <div class="control-group">
      <label class="" for="e_secondoPrevisto">Secondo</label>
      <input class="span4" type="text" name="secondoPrevisto" readonly="readonly" value="{{form.data.secondoPrevisto}}" id="e_secondoPrevisto"/>
     </div>
     <div class="control-group">
      <label class="" for="e_contornoPrevisto">Contorno</label>
      <input class="span4" type="text" name="contornoPrevisto" readonly="readonly" value="{{form.data.contornoPrevisto}}" id="e_contornoPrevisto"/>
     </div>
    </div>
    <div class="span4">
     <h4>Men&ugrave; effettivo</h4>
     <div class="control-group">
      <label class="" for="e_primoEffettivo">Primo</label>
      <input type="hidden" name="primoPiattoEffettivo" value="{{form.data.primoPiattoEffettivo}}" size="40" id="e_primoPiattoEffettivo"/>
      <input class="span4 required" type="text" name="primoEffettivo" value="{{form.data.primoEffettivo}}" id="e_primoEffettivo" onchange="onMenuChanged()"/>
     </div>
     <div class="control-group">
      <label class="" for="e_secondoEffettivo">Secondo</label>
      <input type="hidden" name="secondoPiattoEffettivo" value="{{form.data.secondoPiattoEffettivo}}" id="e_secondoPiattoEffettivo"/>
      <input class="span4 required" type="text" name="secondoEffettivo" value="{{form.data.secondoEffettivo}}" id="e_secondoEffettivo" onchange="onMenuChanged()"/>
     </div>
     <div class="control-group">
      <label class="" for="e_contornoEffettivo">Contorno</label>
      <input type="hidden" name="contornoPiattoEffettivo" value="{{form.data.contornoPiattoEffettivo}}" id="e_contornoPiattoEffettivo"/>
      <input class="span4 required" type="text" name="contornoEffettivo" value="{{form.data.contornoEffettivo}}" size="40" id="e_contornoEffettivo" onchange="onMenuChanged()"/>
     </div>
    </div>
   </div>
   <div class="row">
    <div class="span4">
     <div class="control-group">
      <label class="" for="entry_15">Tempo trascorso dall'arrivo alla distribuzione<i class="icon-info-sign" data-content="In caso di scuola dotata di Centro Cucina selezionare '&lt; 10 min'"></i></label>
      <div class="btn-group radio-group" data-toggle="buttons-radio">
       <label class="btn"><input type="radio" name="arrivoDist" value="1" class="required" id="e_ad_1" {%if form.data.arrivoDist == "1" %}CHECKED{%endif%}/>10 min.</label>
       <label class="btn"><input type="radio" name="arrivoDist" value="2" class="required" id="e_ad_2" {%if form.data.arrivoDist == "2" %}CHECKED{%endif%}/>20 min.</label>
       <label class="btn"><input type="radio" name="arrivoDist" value="3" class="required" id="e_ad_3" {%if form.data.arrivoDist == "3" %}CHECKED{%endif%}/>30 min.</label>
      </div>
     </div>    
    </div>
   </div>
   <div class="row">
    <div class="span8" id="formwiz-container">
     <div id="formwiz-error" class="alert alert-error fade in" style="display:none;"></div> 
    </div>
   </div>
  </div>
  <div class="step form-vertical" id="step2">
   <div class="row">
    <div class="span4">
     <div class="control-group">
      <label class="" for="entry_15">Pulizia Centro Cottura/Cucina/Dispensa</label>
      <div class="radio-group btn-group" data-toggle="buttons-radio">
       <label class="btn"><input type="radio" name="puliziaCentroCottura" value="1" class="required" id="e_pc_1" {%if form.data.puliziaCentroCottura == "1" %}CHECKED{%endif%}/>Scarsa</label>
       <label class="btn"><input type="radio" name="puliziaCentroCottura" value="2" class="required" id="e_pc_2" {%if form.data.puliziaCentroCottura == "2" %}CHECKED{%endif%}/>Mediocre</label>
       <label class="btn"><input type="radio" name="puliziaCentroCottura" value="3" class="required" id="e_pc_3" {%if form.data.puliziaCentroCottura == "3" %}CHECKED{%endif%}/>Sufficiente</label>
       <label class="btn"><input type="radio" name="puliziaCentroCottura" value="3" class="required" id="e_pc_3" {%if form.data.puliziaCentroCottura == "4" %}CHECKED{%endif%}/>Buona</label>
      </div>
     </div>
    </div>
    <div class="span4">
     <div class="control-group">
      <label class="" for="entry_15">Pulizia Refettorio</label>
      <div class="radio-group btn-group" data-toggle="buttons-radio">
       <label class="btn"><input type="radio" name="puliziaRefettorio" value="1" class="required" id="e_pr_1" {%if form.data.puliziaRefettorio == "1" %}CHECKED{%endif%}/>Scarsa</label>
       <label class="btn"><input type="radio" name="puliziaRefettorio" value="2" class="required" id="e_pr_2" {%if form.data.puliziaRefettorio == "2" %}CHECKED{%endif%}/>Mediocre</label>
       <label class="btn"><input type="radio" name="puliziaRefettorio" value="3" class="required" id="e_pr_3" {%if form.data.puliziaRefettorio == "3" %}CHECKED{%endif%}/>Sufficiente</label>
       <label class="btn"><input type="radio" name="puliziaRefettorio" value="3" class="required" id="e_pr_4" {%if form.data.puliziaRefettorio == "4" %}CHECKED{%endif%}/>Buona</label>
      </div>
     </div>
    </div>
   </div>
   <div class="row">
    <div class="span4">
     <div class="control-group">
      <label class="" for="entry_42">Derrate alimentari come da capitolato? <i class="icon-info-sign" data-content="Differenze tra men&ugrave; previsto e men&ugrave; effettivo devono essere segnalate anche nella scheda 'Non conformit&agrave;'.<br/>
   Indicare 'No' anche nel caso in cui il Capitolato d'Appalto (i termini del contratto in essere tra Comune di Milano e MilanoRistorazione S.p.A. che riguardano le caratteristiche dei cibi erogati) non &egrave; a disposizione della Commissione Mensa."></i></label>
      <div class="radio-group btn-group" data-toggle="buttons-radio">
       <label class="btn"><input type="radio" name="aaRispettoCapitolato" value="1" class="required" id="e_aarc_1" {%if form.data.aaRispettoCapitolato == "1" %}CHECKED{%endif%}/>Si</label>
       <label class="btn"><input type="radio" name="aaRispettoCapitolato" value="0" class="required" id="e_aarc_2" {%if form.data.aaRispettoCapitolato == "0" %}CHECKED{%endif%}/>No</label>   
      </div>
     </div>
    </div>
    <div class="span4">
     <div class="control-group">
      <label class="" for="entry_42">Tavoli coperti da tovaglie o tovagliette?</label>
      <div class="radio-group btn-group" data-toggle="buttons-radio">  
       <label class="btn"><input type="radio" name="aaTavoliApparecchiati" value="1" class="required" id="e_aata_1" {%if form.data.aaTavoliApparecchiati == "1" %}CHECKED{%endif%}/>Si</label>
       <label class="btn"><input type="radio" name="aaTavoliApparecchiati" value="0" class="required" id="e_aata_2" {%if form.data.aaTavoliApparecchiati == "0" %}CHECKED{%endif%}/>No</label>   
      </div>
     </div>
    </div>
   </div>
   <div class="row">
    <div class="span4">
     <div class="control-group">
      <label class="" for="entry_42">Contenitori termici puliti e in buone condizioni?</label>
      <div class="radio-group btn-group" data-toggle="buttons-radio">     
       <label class="btn"><input type="radio" name="aaTermichePulite" value="1" class="required" id="e_aatp_1" {%if form.data.aaTermichePulite == "1" %}CHECKED{%endif%}/>Si</label>
       <label class="btn"><input type="radio" name="aaTermichePulite" value="0" class="required" id="e_aatp_2" {%if form.data.aaTermichePulite == "0" %}CHECKED{%endif%}/>No</label>   
      </div>
     </div>
    </div>
    <div class="span4">
     <div class="control-group">
      <label class="" for="entry_42">L'acqua servita proviene dalla cucina o dispensa</label>
      <div class="radio-group btn-group" data-toggle="buttons-radio">
       <label class="btn"><input type="radio" name="aaAcqua" value="1" class="required" id="e_aaac_1" {%if form.data.aaAcqua == "1" %}CHECKED{%endif%}/>Si</label>
       <label class="btn"><input type="radio" name="aaAcqua" value="0" class="required" id="e_aaac_2" {%if form.data.aaAcqua == "0" %}CHECKED{%endif%}/>No</label>   
      </div>
     </div>
    </div>
   </div>
   <div class="row">
    <div class="span4">
     <div class="control-group">
      <label class="" for="entry_42">Ci sono sistemi di mantenimento della temperatura? <i class="icon-info-sign"  data-content="Si intendono ad esempio carrelli termici o scaldavivande. Le scatole termiche di trasporto ('termobox') non sono equiparabili a carrelli o tavoli termici in quanto non sono in grado di mantenere costante la temperatura del cibo una volta aperte."></i></label>
      <div class="radio-group btn-group" data-toggle="buttons-radio">
       <label class="btn"><input type="radio" name="aaScaldaVivande" value="1" class="required" id="e_ncsv_1" {%if form.data.aaScaldaVivande == "1" %}CHECKED{%endif%}/>Si</label>
       <label class="btn"><input type="radio" name="aaScaldaVivande" value="0" class="required" id="e_ncsv_2" {%if form.data.aaScaldaVivande == "0" %}CHECKED{%endif%}/>No</label>   
      </div>
     </div>
    </div>
    <div class="span4">
     <div class="control-group">
      <label class="" for="entry_42">Servizio in modalit&agrave; self service</label>
      <div class="radio-group btn-group" data-toggle="buttons-radio">
       <label class="btn"><input type="radio" name="aaSelfService" value="1" class="required" id="e_nclp_1" {%if form.data.aaSelfService == "1" %}CHECKED{%endif%}/>Si</label>
       <label class="btn"><input type="radio" name="aaSelfService" value="0" class="required" id="e_nclp_2" {%if form.data.aaSelfService == "0" %}CHECKED{%endif%}/>No</label>   
      </div>
     </div>
    </div>
   </div>
   <div class="row">
    <div class="span4">
     <div class="control-group">
      <label class="" for="entry_42">Tabella dietetica e Men&ugrave; esposti? <i class="icon-info-sign" data-content="Nel <b>menu</b> viene indicata la composizione del pasto, ad esempio: 'pasta al pomodoro, vitellone alla cacciatora, pur&egrave; di patate'. <br>Nella <b>tabella dietetica</b> per ogni portata viene specificata la grammatura che viene somministrata in base alla fascia di et&agrave;, ad esempio: pasta gr. 50, pomodori pelati gr. 30, cipolla gr. 4, olio gr. 3, parmigiano reggiano gr. 3, eccetera"></i></label>
      <div class="radio-group btn-group" data-toggle="buttons-radio">
       <label class="btn"><input type="radio" name="aaTabellaEsposta" value="1" class="required" id="e_ncte_1" {%if form.data.aaTabellaEsposta == "1" %}CHECKED{%endif%}/>Si</label>
       <label class="btn"><input type="radio" name="aaTabellaEsposta" value="0" class="required" id="e_ncte_2" {%if form.data.aaTabellaEsposta == "0" %}CHECKED{%endif%}/>No</label>   
      </div>
     </div>
    </div>
    <div class="span4">
     <div class="control-group">
      <label class="" for="entry_42">Stoviglie riutilizzabili</label>
      <div class="radio-group btn-group" data-toggle="buttons-radio">
       <label class="btn"><input type="radio" name="ricicloStoviglie" value="1" class="required" id="e_ncte_1" {%if form.data.ricicloStoviglie == "1" %}CHECKED{%endif%}/>Si</label>
       <label class="btn"><input type="radio" name="ricicloStoviglie" value="0" class="required" id="e_ncte_2" {%if form.data.ricicloStoviglie == "0" %}CHECKED{%endif%}/>No</label>   
      </div>
     </div>
    </div>
   </div>
   <div class="row">
    <div class="span4">
     <div class="control-group">
      <label class="" for="entry_42">Bicchieri riutilizzabili</label>
      <div class="radio-group btn-group" data-toggle="buttons-radio">
       <label class="btn"><input type="radio" name="ricicloBicchieri" value="1" class="required" id="e_ncte_1" {%if form.data.ricicloBicchieri == "1" %}CHECKED{%endif%}/>Si</label>
       <label class="btn"><input type="radio" name="ricicloBicchieri" value="0" class="required" id="e_ncte_2" {%if form.data.ricicloBicchieri == "0" %}CHECKED{%endif%}/>No</label>   
      </div>
     </div>
    </div>
    <div class="span4">
     <div class="control-group">
      <label class="" for="entry_42">Posate riutilizzabili</label>
      <div class="radio-group btn-group" data-toggle="buttons-radio">
       <label class="btn"><input type="radio" name="ricicloPosate" value="1" class="required" id="e_ncte_1" {%if form.data.ricicloPosate == "1" %}CHECKED{%endif%}/>Si</label>
       <label class="btn"><input type="radio" name="ricicloPosate" value="0" class="required" id="e_ncte_2" {%if form.data.ricicloPosate == "0" %}CHECKED{%endif%}/>No</label>   
      </div>
     </div>
    </div>
   </div>
  </div>
  <div class="step form-horizontal" id="step3">
  <input type="hidden" class="link" value="step4" id="step3next"/>
   <div class="row">
    <div class="span8">
     <legend><span id="s_primo"></span></legend>
     <div class="control-group">
      <label class="control-label" for="e_pd_1">Durata distribuzione</label>
      <div class="controls">
       <div class="radio-group btn-group" data-toggle="buttons-radio">
        <label class="btn"><input type="radio" name="primoDist" value="1" class="required" id="e_pd_1" {%if form.data.primoDist == "1" %}CHECKED{%endif%}/>&lt; 10 min</label>
        <label class="btn"><input type="radio" name="primoDist" value="2" class="required" id="e_pd_2" {%if form.data.primoDist == "2" %}CHECKED{%endif%}/>10 &lt; 20 min</label>   
        <label class="btn"><input type="radio" name="primoDist" value="3" class="required" id="e_pd_3" {%if form.data.primoDist == "3" %}CHECKED{%endif%}/>&gt; 10 min</label>   
       </div>
      </div>
     </div>
     <div class="control-group">
      <label class="control-label" for="e_pd_1">Condito al momento</label>
      <div class="controls">
       <div class="radio-group btn-group" data-toggle="buttons-radio">
        <label class="btn"><input type="radio" name="primoCondito" value="1" class="required" id="e_pd_1" {%if form.data.primoCondito == "1" %}CHECKED{%endif%}/>Si</label>
        <label class="btn"><input type="radio" name="primoCondito" value="0" class="required" id="e_pd_2" {%if form.data.primoCondito == "0" %}CHECKED{%endif%}/>No</label>   
       </div>
      </div>
     </div>
     <div class="control-group">
      <label class="control-label" for="e_pc_1">Cottura <i class="icon-info-sign" data-content="In caso di piatti che non necessitano cottura indicare il valore centrale ('giusta')."></i></label>
      <div class="controls">
       <div class="radio-group btn-group" data-toggle="buttons-radio">
        <label class="btn"><input type="radio" name="primoCottura" value="1" class="required" id="e_pc_1" {%if form.data.primoCottura == "1" %}CHECKED{%endif%}/>Scarsa</label>
        <label class="btn"><input type="radio" name="primoCottura" value="2" class="required" id="e_pc_2" {%if form.data.primoCottura == "2" %}CHECKED{%endif%}/>Giusta</label>   
        <label class="btn"><input type="radio" name="primoCottura" value="3" class="required" id="e_pc_3" {%if form.data.primoCottura == "3" %}CHECKED{%endif%}/>Eccessiva</label>   
       </div>
      </div>
     </div>
     <div class="control-group">
      <label class="control-label" for="entry_42">Temperatura <i class="icon-info-sign" data-content="In caso di piatti serviti 'freddi' (come insalata o roast-beef) indicare il valore centrale ('giusta')."></i></label>
      <div class="controls">
       <div class="radio-group btn-group" data-toggle="buttons-radio">
        <label class="btn"><input type="radio" name="primoTemperatura" value="1" class="required" id="e_primoTemperatura_1" {%if form.data.primoTemperatura == "1" %}CHECKED{%endif%}/>Scarsa</label>
        <label class="btn"><input type="radio" name="primoTemperatura" value="2" class="required" id="e_primoTemperatura_2" {%if form.data.primoTemperatura == "2" %}CHECKED{%endif%}/>Giusta</label>   
        <label class="btn"><input type="radio" name="primoTemperatura" value="3" class="required" id="e_primoTemperatura_3" {%if form.data.primoTemperatura == "3" %}CHECKED{%endif%}/>Eccessiva</label>   
       </div>
      </div>
     </div>
     <div class="control-group">
      <label class="control-label" for="entry_42">Quantit&agrave;</label>
      <div class="controls">
       <div class="radio-group btn-group" data-toggle="buttons-radio">
        <label class="btn"><input type="radio" name="primoQuantita" value="1" class="required" id="e_primoQuantita_1" {%if form.data.primoQuantita == "1" %}CHECKED{%endif%}/>Scarsa</label>
        <label class="btn"><input type="radio" name="primoQuantita" value="2" class="required" id="e_primoQuantita_2" {%if form.data.primoQuantita == "2" %}CHECKED{%endif%}/>Giusta</label>   
        <label class="btn"><input type="radio" name="primoQuantita" value="3" class="required" id="e_primoQuantita_3" {%if form.data.primoQuantita == "3" %}CHECKED{%endif%}/>Eccessiva</label>   
       </div>
      </div>
     </div>
     <div class="control-group">
      <label class="control-label" for="entry_42">Assaggio</label>
      <div class="controls">
       <div class="radio-group btn-group" data-toggle="buttons-radio">
        <label class="btn"><input type="radio" name="primoAssaggio" value="1" class="required" id="e_primoAssaggio_1" {%if form.data.primoAssaggio == "1" %}CHECKED{%endif%}/>Non Accettabile</label>
        <label class="btn"><input type="radio" name="primoAssaggio" value="2" class="required" id="e_primoAssaggio_2" {%if form.data.primoAssaggio == "2" %}CHECKED{%endif%}/>Accettabile</label>   
        <label class="btn"><input type="radio" name="primoAssaggio" value="3" class="required" id="e_primoAssaggio_3" {%if form.data.primoAssaggio == "3" %}CHECKED{%endif%}/>Gradevole</label>   
       </div>
      </div>
     </div>
     <div class="control-group">
      <label class="control-label" for="entry_42">Gradimento (%) <i class="icon-info-sign" data-content="Considerare circa 20 bambini campione<br/>
  Ritenere 'soddisfatto' un bambino che consuma almeno met&agrave; porzione<br/>
  Calcolare la percentuale di bambini soddisfatti all'interno del campione.<br/>
  Selezionare:<br/>
  <ul>
  <li><b>Rifiutato</b> se la percentuale &egrave; compresa tra 1 e 25%</li>
  <li><b>Parzialmente rifiutato</b> se la percentuale &egrave; compresa tra 26 e 50%</li>
  <li><b>Parzialmente accettato</b> se la percentuale &egrave; compresa tra 51 e 75%</li>
  <li><b>Accettato</b> se la percentuale &egrave; compresa tra 76 e 100%</li>
  </ul>"></i></label>
      <div class="controls">
       <div class="radio-group btn-group" data-toggle="buttons-radio">
        <label class="btn"><input type="radio" name="primoGradimento" value="1" class="required" id="e_primoGradimento_1" {%if form.data.primoGradimento == "1" %}CHECKED{%endif%}/>Tot. Rifiutato</label>
        <label class="btn"><input type="radio" name="primoGradimento" value="2" class="required" id="e_primoGradimento_2" {%if form.data.primoGradimento == "2" %}CHECKED{%endif%}/>Parz. Rifiutato</label>
        <label class="btn"><input type="radio" name="primoGradimento" value="3" class="required" id="e_primoGradimento_3" {%if form.data.primoGradimento == "3" %}CHECKED{%endif%}/>Parz. Accettato</label>   
        <label class="btn"><input type="radio" name="primoGradimento" value="4" class="required" id="e_primoGradimento_4" {%if form.data.primoGradimento == "4" %}CHECKED{%endif%}/>Accettato</label>   
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
  <div class="step form-horizontal" id="step4">
   <div class="row">
    <div class="span8">
     <legend><span id="s_secondo"></span></legend>
     <div class="control-group">
      <label class="control-label" for="e_pd_1">Durata distribuzione</label>
      <div class="controls">
       <div class="radio-group btn-group" data-toggle="buttons-radio">
        <label class="btn"><input type="radio" name="secondoDist" value="1" class="required" id="e_sd_1" {%if form.data.secondoDist == "1" %}CHECKED{%endif%}/>&lt; 10 min</label>
        <label class="btn"><input type="radio" name="secondoDist" value="2" class="required" id="e_sd_2" {%if form.data.secondoDist == "2" %}CHECKED{%endif%}/>10 &lt; 20 min</label>   
        <label class="btn"><input type="radio" name="secondoDist" value="3" class="required" id="e_sd_3" {%if form.data.secondoDist == "3" %}CHECKED{%endif%}/>&gt; 10 min</label>   
       </div>
      </div>
     </div>
     <div class="control-group">
      <label class="control-label" for="e_pc_1">Cottura <i class="icon-info-sign" data-content="In caso di piatti che non necessitano cottura indicare il valore centrale ('giusta')."></i></label>
      <div class="controls">
       <div class="radio-group btn-group" data-toggle="buttons-radio">
        <label class="btn"><input type="radio" name="secondoCottura" value="1" class="required" id="e_sc_1" {%if form.data.secondoCottura == "1" %}CHECKED{%endif%}/>Scarsa</label>
        <label class="btn"><input type="radio" name="secondoCottura" value="2" class="required" id="e_sc_2" {%if form.data.secondoCottura == "2" %}CHECKED{%endif%}/>Giusta</label>   
        <label class="btn"><input type="radio" name="secondoCottura" value="3" class="required" id="e_sc_3" {%if form.data.secondoCottura == "3" %}CHECKED{%endif%}/>Eccessiva</label>   
       </div>
      </div>
     </div>
     <div class="control-group">
      <label class="control-label" for="entry_42">Temperatura <i class="icon-info-sign" data-content="In caso di piatti serviti 'freddi' (come insalata o roast-beef) indicare il valore centrale ('giusta')."></i></label>
      <div class="controls">
       <div class="radio-group btn-group" data-toggle="buttons-radio">
        <label class="btn"><input type="radio" name="secondoTemperatura" value="1" class="required" id="e_st_1" {%if form.data.secondoTemperatura == "1" %}CHECKED{%endif%}/>Scarsa</label>
        <label class="btn"><input type="radio" name="secondoTemperatura" value="2" class="required" id="e_st_2" {%if form.data.secondoTemperatura == "2" %}CHECKED{%endif%}/>Giusta</label>   
        <label class="btn"><input type="radio" name="secondoTemperatura" value="3" class="required" id="e_st_3" {%if form.data.secondoTemperatura == "3" %}CHECKED{%endif%}/>Eccessiva</label>   
       </div>
      </div>
     </div>
     <div class="control-group">
      <label class="control-label" for="entry_42">Quantit&agrave;</label>
      <div class="controls">
       <div class="radio-group btn-group" data-toggle="buttons-radio">
        <label class="btn"><input type="radio" name="secondoQuantita" value="1" class="required" id="e_sq_1" {%if form.data.secondoQuantita == "1" %}CHECKED{%endif%}/>Scarsa</label>
        <label class="btn"><input type="radio" name="secondoQuantita" value="2" class="required" id="e_sq_2" {%if form.data.secondoQuantita == "2" %}CHECKED{%endif%}/>Giusta</label>   
        <label class="btn"><input type="radio" name="secondoQuantita" value="3" class="required" id="e_sq_3" {%if form.data.secondoQuantita == "3" %}CHECKED{%endif%}/>Eccessiva</label>   
       </div>
      </div>
     </div>
     <div class="control-group">
      <label class="control-label" for="entry_42">Assaggio</label>
      <div class="controls">
       <div class="radio-group btn-group" data-toggle="buttons-radio">
        <label class="btn"><input type="radio" name="secondoAssaggio" value="1" class="required" id="e_sa_1" {%if form.data.secondoAssaggio == "1" %}CHECKED{%endif%}/>Non Accettabile</label>
        <label class="btn"><input type="radio" name="secondoAssaggio" value="2" class="required" id="e_sa_2" {%if form.data.secondoAssaggio == "2" %}CHECKED{%endif%}/>Accettabile</label>   
        <label class="btn"><input type="radio" name="secondoAssaggio" value="3" class="required" id="e_sa_3" {%if form.data.secondoAssaggio == "3" %}CHECKED{%endif%}/>Gradevole</label>   
       </div>
      </div>
     </div>
     <div class="control-group">
      <label class="control-label" for="entry_42">Gradimento (%) <i class="icon-info-sign" data-content="Considerare circa 20 bambini campione<br/>
  Ritenere 'soddisfatto' un bambino che consuma almeno met&agrave; porzione<br/>
  Calcolare la percentuale di bambini soddisfatti all'interno del campione.<br/>
  Selezionare:<br/>
  <ul>
  <li><b>Rifiutato</b> se la percentuale &egrave; compresa tra 1 e 25%</li>
  <li><b>Parzialmente rifiutato</b> se la percentuale &egrave; compresa tra 26 e 50%</li>
  <li><b>Parzialmente accettato</b> se la percentuale &egrave; compresa tra 51 e 75%</li>
  <li><b>Accettato</b> se la percentuale &egrave; compresa tra 76 e 100%</li>
  </ul>"></i></label>
      <div class="controls">
       <div class="radio-group btn-group" data-toggle="buttons-radio">
        <label class="btn"><input type="radio" name="secondoGradimento" value="1" class="required" id="e_sg_1" {%if form.data.secondoGradimento == "1" %}CHECKED{%endif%}/>Tot. Rifiutato</label>
        <label class="btn"><input type="radio" name="secondoGradimento" value="2" class="required" id="e_sg_2" {%if form.data.secondoGradimento == "2" %}CHECKED{%endif%}/>Parz. Rifiutato</label>
        <label class="btn"><input type="radio" name="secondoGradimento" value="3" class="required" id="e_sg_3" {%if form.data.secondoGradimento == "3" %}CHECKED{%endif%}/>Parz. Accettato</label>   
        <label class="btn"><input type="radio" name="secondoGradimento" value="4" class="required" id="e_sg_4" {%if form.data.secondoGradimento == "4" %}CHECKED{%endif%}/>Accettato</label>   
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
  <div class="step form-horizontal" id="step5">
   <div class="row">
    <div class="span8">
     <legend><span id="s_contorno"></span></legend>
     <div class="control-group">
      <label class="control-label" for="e_pd_1">Condito al momento</label>
      <div class="controls">
       <div class="radio-group btn-group" data-toggle="buttons-radio">
        <label class="btn"><input type="radio" name="contornoCondito" value="1" class="required" id="e_pd_1" {%if form.data.contornoCondito == "1" %}CHECKED{%endif%}/>Si</label>
        <label class="btn"><input type="radio" name="contornoCondito" value="0" class="required" id="e_pd_2" {%if form.data.contornoCondito == "0" %}CHECKED{%endif%}/>No</label>   
       </div>
      </div>
     </div>
     <div class="control-group">
      <label class="control-label" for="entry_42">Temperatura <i class="icon-info-sign" data-content="In caso di piatti serviti 'freddi' (come insalata o roast-beef) indicare il valore centrale ('giusta')."></i></label>
      <div class="controls">
       <div class="radio-group btn-group" data-toggle="buttons-radio">
        <label class="btn"><input type="radio" name="contornoTemperatura" value="1" class="required" id="e_ct_1" {%if form.data.contornoTemperatura == "1" %}CHECKED{%endif%}/>Scarsa</label>
        <label class="btn"><input type="radio" name="contornoTemperatura" value="2" class="required" id="e_ct_2" {%if form.data.contornoTemperatura == "2" %}CHECKED{%endif%}/>Giusta</label>
        <label class="btn"><input type="radio" name="contornoTemperatura" value="3" class="required" id="e_ct_3" {%if form.data.contornoTemperatura == "3" %}CHECKED{%endif%}/>Eccessiva</label>   
       </div>
      </div>
     </div>
     <div class="control-group">
      <label class="control-label" for="entry_42">Quantit&agrave;</label>
      <div class="controls">
       <div class="radio-group btn-group" data-toggle="buttons-radio">
        <label class="btn"><input type="radio" name="contornoQuantita" value="1" class="required" id="e_cq_1" {%if form.data.contornoQuantita == "1" %}CHECKED{%endif%}/>Scarsa</label>
        <label class="btn"><input type="radio" name="contornoQuantita" value="2" class="required" id="e_cq_2" {%if form.data.contornoQuantita == "2" %}CHECKED{%endif%}/>Giusta</label>   
        <label class="btn"><input type="radio" name="contornoQuantita" value="3" class="required" id="e_cq_3" {%if form.data.contornoQuantita == "3" %}CHECKED{%endif%}/>Eccessiva</label>   
       </div>
      </div>
     </div>
     <div class="control-group">
      <label class="control-label" for="entry_42">Assaggio</label>
      <div class="controls">
       <div class="radio-group btn-group" data-toggle="buttons-radio">
        <label class="btn"><input type="radio" name="contornoAssaggio" value="1" class="required" id="e_ca_1" {%if form.data.contornoAssaggio == "1" %}CHECKED{%endif%}/>Non Accettabile</label>
        <label class="btn"><input type="radio" name="contornoAssaggio" value="2" class="required" id="e_ca_2" {%if form.data.contornoAssaggio == "2" %}CHECKED{%endif%}/>Accettabile</label>   
        <label class="btn"><input type="radio" name="contornoAssaggio" value="3" class="required" id="e_ca_3" {%if form.data.contornoAssaggio == "3" %}CHECKED{%endif%}/>Gradevole</label>   
       </div>
      </div>
     </div>
     <div class="control-group">
      <label class="control-label" for="entry_42">Gradimento (%) <i class="icon-info-sign" data-content="Considerare circa 20 bambini campione<br/>
  Ritenere 'soddisfatto' un bambino che consuma almeno met&agrave; porzione<br/>
  Calcolare la percentuale di bambini soddisfatti all'interno del campione.<br/>
  Selezionare:<br/>
  <ul>
  <li><b>Rifiutato</b> se la percentuale &egrave; compresa tra 1 e 25%</li>
  <li><b>Parzialmente rifiutato</b> se la percentuale &egrave; compresa tra 26 e 50%</li>
  <li><b>Parzialmente accettato</b> se la percentuale &egrave; compresa tra 51 e 75%</li>
  <li><b>Accettato</b> se la percentuale &egrave; compresa tra 76 e 100%</li>
  </ul>"></i></label>
      <div class="controls">
       <div class="radio-group btn-group" data-toggle="buttons-radio">
        <label class="btn"><input type="radio" name="contornoGradimento" value="1" class="required" id="e_cg_1" {%if form.data.contornoGradimento == "1" %}CHECKED{%endif%}/>Tot. Rifiutato</label>
        <label class="btn"><input type="radio" name="contornoGradimento" value="2" class="required" id="e_cg_2" {%if form.data.contornoGradimento == "2" %}CHECKED{%endif%}/>Parz. Rifiutato</label>
        <label class="btn"><input type="radio" name="contornoGradimento" value="3" class="required" id="e_cg_3" {%if form.data.contornoGradimento == "3" %}CHECKED{%endif%}/>Parz. Accettato</label>   
        <label class="btn"><input type="radio" name="contornoGradimento" value="4" class="required" id="e_cg_4" {%if form.data.contornoGradimento == "4" %}CHECKED{%endif%}/>Accettato</label>   
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
  <div class="step form-horizontal" id="step6">
   <div class="row">
    <div class="span8">
     <legend>Pane</legend>
     <div class="control-group">
      <label class="control-label" for="e_pd_1">Tipo Pane:</label>
      <div class="controls">
       <select class="required" name="paneTipo" value="{{form.data.paneTipo}}" id="e_paneTipo">
       <option value=""></option>
       <option value="Integrale">Integrale</option>
       <option value="Farina 0/00">Farina 0/00 (bianco)</option>
       <option value="Farina 1/2">Farina 1/2 (semola)</option>
       <option value="Non definito">Non definito</option>
       </select>
      </div>
     </div>
     <div class="control-group">
      <label class="control-label" for="e_pd_1">Presente in tavola a inizio pasto:</label>
      <div class="controls">
       <div class="radio-group btn-group" data-toggle="buttons-radio">
        <label class="btn"><input type="radio" name="paneServito" value="1" class="required" id="e_bp_1" {%if form.data.paneServito == "1" %}CHECKED{%endif%}/>Si</label>
        <label class="btn"><input type="radio" name="paneServito" value="0" class="required" id="e_bp_2" {%if form.data.paneServito == "0" %}CHECKED{%endif%}/>No</label>   
       </div>
      </div>
     </div>
     <div class="control-group">
      <label class="control-label" for="entry_42">Quantit&agrave;</label>
      <div class="controls">
       <div class="radio-group btn-group" data-toggle="buttons-radio">
        <label class="btn"><input type="radio" name="paneQuantita" value="1" class="required" id="e_bq_1" {%if form.data.paneQuantita == "1" %}CHECKED{%endif%}/>Scarsa</label>
        <label class="btn"><input type="radio" name="paneQuantita" value="2" class="required" id="e_bq_2" {%if form.data.paneQuantita == "2" %}CHECKED{%endif%}/>Giusta</label>   
        <label class="btn"><input type="radio" name="paneQuantita" value="3" class="required" id="e_bq_3" {%if form.data.paneQuantita == "3" %}CHECKED{%endif%}/>Eccessiva</label>   
       </div>
      </div>
     </div>
     <div class="control-group">
      <label class="control-label" for="entry_42">Assaggio</label>
      <div class="controls">
       <div class="radio-group btn-group" data-toggle="buttons-radio">
        <label class="btn"><input type="radio" name="paneAssaggio" value="1" class="required" id="e_ba_1" {%if form.data.paneAssaggio == "1" %}CHECKED{%endif%}/>Non Accettabile</label>
        <label class="btn"><input type="radio" name="paneAssaggio" value="2" class="required" id="e_ba_2" {%if form.data.paneAssaggio == "2" %}CHECKED{%endif%}/>Accettabile</label>   
        <label class="btn"><input type="radio" name="paneAssaggio" value="3" class="required" id="e_ba_3" {%if form.data.paneAssaggio == "3" %}CHECKED{%endif%}/>Gradevole</label>   
       </div>
      </div>
     </div>
     <div class="control-group">
      <label class="control-label" for="entry_42">Gradimento (%) <i class="icon-info-sign" data-content="Considerare circa 20 bambini campione<br/>
  Ritenere 'soddisfatto' un bambino che consuma almeno met&agrave; porzione<br/>
  Calcolare la percentuale di bambini soddisfatti all'interno del campione.<br/>
  Selezionare:<br/>
  <ul>
  <li><b>Rifiutato</b> se la percentuale &egrave; compresa tra 1 e 25%</li>
  <li><b>Parzialmente rifiutato</b> se la percentuale &egrave; compresa tra 26 e 50%</li>
  <li><b>Parzialmente accettato</b> se la percentuale &egrave; compresa tra 51 e 75%</li>
  <li><b>Accettato</b> se la percentuale &egrave; compresa tra 76 e 100%</li>
  </ul>"></i></label>
      <div class="controls">
       <div class="radio-group btn-group" data-toggle="buttons-radio">
        <label class="btn"><input type="radio" name="paneGradimento" value="1" class="required" id="e_bg_1" {%if form.data.paneGradimento == "1" %}CHECKED{%endif%}/>Tot. Rifiutato</label>
        <label class="btn"><input type="radio" name="paneGradimento" value="2" class="required" id="e_bg_2" {%if form.data.paneGradimento == "2" %}CHECKED{%endif%}/>Parz. Rifiutato</label>
        <label class="btn"><input type="radio" name="paneGradimento" value="3" class="required" id="e_bg_3" {%if form.data.paneGradimento == "3" %}CHECKED{%endif%}/>Parz. Accettato</label>   
        <label class="btn"><input type="radio" name="paneGradimento" value="4" class="required" id="e_bg_4" {%if form.data.paneGradimento == "4" %}CHECKED{%endif%}/>Accettato</label>   
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
  <div class="step form-horizontal" id="step7">
   <div class="row">
    <div class="span8">
    <legend>Dessert</legend>
     <div class="control-group">
      <label class="control-label" for="e_pd_1">Tipo Dessert:</label>
      <div class="controls">
       <input type="text" class="required" name="fruttaTipo" id="e_fruttaTipo"/>
      </div>
     </div>
     <div class="control-group">
      <label class="control-label" for="e_pd_1">Servita:</label>
      <div class="controls">
       <select name="fruttaServita" class="required" value="{{form.data.fruttaServita}}" id="e_fruttaServita">
       <option value=""></option>
       <option value="A met&agrave mattina">A met&agrave mattina</option>
       <option value="A fine pasto">A fine pasto</option>
       </select>
      </div>
     </div>
     <div class="control-group">
      <label class="control-label" for="entry_42">Maturazione</label>
      <div class="controls">
       <div class="radio-group btn-group" data-toggle="buttons-radio">
        <label class="btn"><input type="radio" name="fruttaMaturazione" value="1" class="required" id="e_fq_1" {%if form.data.fruttaMaturazione == "1" %}CHECKED{%endif%}/>Scarsa</label>
        <label class="btn"><input type="radio" name="fruttaMaturazione" value="2" class="required" id="e_fq_2" {%if form.data.fruttaMaturazione == "2" %}CHECKED{%endif%}/>Giusta</label>   
        <label class="btn"><input type="radio" name="fruttaMaturazione" value="3" class="required" id="e_fq_3" {%if form.data.fruttaMaturazione == "3" %}CHECKED{%endif%}/>Eccessiva</label>   
       </div>
      </div>
     </div>
     <div class="control-group">
      <label class="control-label" for="entry_42">Quantit&agrave;</label>
      <div class="controls">
       <div class="radio-group btn-group" data-toggle="buttons-radio">
        <label class="btn"><input type="radio" name="fruttaQuantita" value="1" class="required" id="e_fq_1" {%if form.data.fruttaQuantita == "1" %}CHECKED{%endif%}/>Scarsa</label>
        <label class="btn"><input type="radio" name="fruttaQuantita" value="2" class="required" id="e_fq_2" {%if form.data.fruttaQuantita == "2" %}CHECKED{%endif%}/>Giusta</label>   
        <label class="btn"><input type="radio" name="fruttaQuantita" value="3" class="required" id="e_fq_3" {%if form.data.fruttaQuantita == "3" %}CHECKED{%endif%}/>Eccessiva</label>   
       </div>
      </div>
     </div>
     <div class="control-group">
      <label class="control-label" for="entry_42">Assaggio</label>
      <div class="controls">
       <div class="radio-group btn-group" data-toggle="buttons-radio">
        <label class="btn"><input type="radio" name="fruttaAssaggio" value="1" class="required" id="e_fa_1" {%if form.data.fruttaAssaggio == "1" %}CHECKED{%endif%}/>Non Accettabile</label>
        <label class="btn"><input type="radio" name="fruttaAssaggio" value="2" class="required" id="e_fa_2" {%if form.data.fruttaAssaggio == "2" %}CHECKED{%endif%}/>Accettabile</label>   
        <label class="btn"><input type="radio" name="fruttaAssaggio" value="3" class="required" id="e_fa_3" {%if form.data.fruttaAssaggio == "3" %}CHECKED{%endif%}/>Gradevole</label>   
       </div>
      </div>
     </div>
     <div class="control-group">
      <label class="control-label" for="entry_42">Gradimento (%) <i class="icon-info-sign" data-content="Considerare circa 20 bambini campione<br/>
  Ritenere 'soddisfatto' un bambino che consuma almeno met&agrave; porzione<br/>
  Calcolare la percentuale di bambini soddisfatti all'interno del campione.<br/>
  Selezionare:<br/>
  <ul>
  <li><b>Rifiutato</b> se la percentuale &egrave; compresa tra 1 e 25%</li>
  <li><b>Parzialmente rifiutato</b> se la percentuale &egrave; compresa tra 26 e 50%</li>
  <li><b>Parzialmente accettato</b> se la percentuale &egrave; compresa tra 51 e 75%</li>
  <li><b>Accettato</b> se la percentuale &egrave; compresa tra 76 e 100%</li>
  </ul>"></i></label>
      <div class="controls">
       <div class="radio-group btn-group" data-toggle="buttons-radio">
        <label class="btn"><input type="radio" name="fruttaGradimento" value="1" class="required" id="e_fg_1" {%if form.data.fruttaGradimento == "1" %}CHECKED{%endif%}/>Tot. Rifiutato</label>
        <label class="btn"><input type="radio" name="fruttaGradimento" value="2" class="required" id="e_fg_2" {%if form.data.fruttaGradimento == "2" %}CHECKED{%endif%}/>Parz. Rifiutato</label>
        <label class="btn"><input type="radio" name="fruttaGradimento" value="3" class="required" id="e_fg_3" {%if form.data.fruttaGradimento == "3" %}CHECKED{%endif%}/>Parz. Accettato</label>   
        <label class="btn"><input type="radio" name="fruttaGradimento" value="4" class="required" id="e_fg_4" {%if form.data.fruttaGradimento == "4" %}CHECKED{%endif%}/>Accettato</label>   
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
  <div class="step form-vertical" id="step8">
   <div class="row">
    <div class="span4">
     <div class="control-group">
      <label class="control-label" for="entry_42">Durata complessiva pasto <i class="icon-info-sign" data-content="Considerare il tempo intercorso dall'inizio della distribuzione alla fine del pasto dell'ultimo bambino."></i></label>
      <div class="controls">
       <div class="radio-group btn-group" data-toggle="buttons-radio">
        <label class="btn"><input type="radio" name="durataPasto" value="1" class="required" id="e_pd_1" {%if form.data.durataPasto == "1" %}CHECKED{%endif%}/>&lt; 30 min.</label>
        <label class="btn"><input type="radio" name="durataPasto" value="2" class="required" id="e_pd_2" {%if form.data.durataPasto == "2" %}CHECKED{%endif%}/>30 min. &lt; 60</label>   
        <label class="btn"><input type="radio" name="durataPasto" value="3" class="required" id="e_pd_3" {%if form.data.durataPasto == "3" %}CHECKED{%endif%}/>&gt; 60 min.</label>   
       </div>
      </div>
     </div>
    </div>
   </div>
   <div class="row">
    <div class="span2">
     <div class="control-group" >
      <label class="control-label" for="e_numeroPastiTotale">Pasti serviti <i class="icon-info-sign" data-content="Indicare il numero di pasti serviti complessivamente, ai bambini e agli adulti, comprese eventuali diete speciali."></i></label>
      <div class="controls">
       <input type="text" name="numeroPastiTotale" value="" class="span1 required" id="e_numeroPastiTotale"/>    
      </div>
     </div>
    </div>
    <div class="span2">
     <div class="control-group">
      <label class="control-label" for="e_numeroPastiBambini">Pasti serviti ai bambini</label>
      <div class="controls">
       <input type="text" name="numeroPastiBambini" value="" class="span1 required" id="e_numeroPastiBambini"/>    
      </div>
     </div>
    </div>
    <div class="span2">
     <div class="control-group" >
      <label class="control-label" for="e_numeroPastiSpeciali">Pasti speciali serviti <i class="icon-info-sign" data-content="Indicare la somma dei bambini che assumono diete etico-religiose e sanitarie."></i></label>
      <div class="controls">
       <input type="text" name="numeroPastiSpeciali" value="" class="span1 required" id="e_numeroPastiSpeciali"/>    
      </div>
     </div>
    </div>
    <div class="span2">
     <div class="control-group">
      <label class="control-label" for="e_numeroAddetti">Addetti alla distribuzione</label>
      <div class="controls">
       <input type="text" name="numeroAddetti" value="" class="span1 required" id="e_numeroAddetti"/>    
      </div>
     </div>
    </div>
   </div>
   <div class="row">
    <div class="span4">
     <div class="control-group" >
      <label class="control-label" for="e_numeroAddetti">Smaltimento rifiuti <i class="icon-info-sign" data-content="Lo smaltimento rifiuti &egrave; a carico di MilanoRistorazione e ha ingenti criticit&agrave; igienico-sanitarie.<br>
  Specificare:<ul>
  <li><b>Scarso</b> - Evidenti problemi igienici (es. cassonetti della spazzatura facilmente raggiungibili dai bambini)</li>
  <li><b>Mediocre</b> - Potenziali problemi igienici (es. pulizia del locale che contiene i cassonetti giudicata inadeguata)</li>
  <li><b>Sufficiente</b> - Nessun problema igienico ma scarsa attenzione alla raccolta differenziata</li>
  <li><b>Ottimo</b> - Nessun problema igienico e raccolta differenziata ottimizzata</li>
  </ul>"></i></label>
      <div class="controls">
       <div class="radio-group btn-group" data-toggle="buttons-radio">
        <label class="btn"><input type="radio" name="smaltimentoRifiuti" value="1" class="required" id="e_sr_1" {%if form.data.smaltimentoRifiuti == "1" %}CHECKED{%endif%}/>Scarso</label>
        <label class="btn"><input type="radio" name="smaltimentoRifiuti" value="2" class="required" id="e_sr_2" {%if form.data.smaltimentoRifiuti == "2" %}CHECKED{%endif%}/>Mediocre</label>   
        <label class="btn"><input type="radio" name="smaltimentoRifiuti" value="3" class="required" id="e_sr_3" {%if form.data.smaltimentoRifiuti == "3" %}CHECKED{%endif%}/>Sufficiente</label>
        <label class="btn"><input type="radio" name="smaltimentoRifiuti" value="4" class="required" id="e_sr_4" {%if form.data.smaltimentoRifiuti == "4" %}CHECKED{%endif%}/>Ottimo</label>   
       </div>
      </div>
     </div>
    </div>
    <div class="span4">
     <div class="control-group">
      <label class="control-label" for="e_numeroAddetti">Giudizio globale sul servizio</label>
      <div class="controls">
       <div class="radio-group btn-group" data-toggle="buttons-radio">
        <label class="btn"><input type="radio" name="giudizioGlobale" value="1" class="required" id="e_gg_1" {%if form.data.giudizioGlobale == "1" %}CHECKED{%endif%}/>Insufficiente</label>
        <label class="btn"><input type="radio" name="giudizioGlobale" value="2" class="required" id="e_gg_2" {%if form.data.giudizioGlobale == "2" %}CHECKED{%endif%}/>Sufficiente</label>   
        <label class="btn"><input type="radio" name="giudizioGlobale" value="3" class="required" id="e_gg_3" {%if form.data.giudizioGlobale == "3" %}CHECKED{%endif%}/>Buono</label>
       </div>
      </div>
     </div>
    </div>
   </div>
   <div class="row">
    <div class="span8">
     <div class="control-group">
      <label class="control-label" for="e_note">Note</label>
      <div class="controls">
       <textarea name="note" rows="4" cols="120" id="entry_13" class="span8">{{form.data.note}}</textarea>
      </div>
     </div>
    </div>
   </div>
   <div class="row">
    <div class="span8">
     <div class="control-group">
      <label class="">Categorie</label>
      <div class="controls">
       <div class="comment_tags">  
        <div>
         <ul id="item_tags_handler"></ul>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
  <div id="formnav" class="modal-footer modal-actions">
   <button id="e_submit" class="btn btn-primary" type="submit" onclick="" value="Avanti" style="float:right;">Avanti</button>
   <button type="reset" class="btn" onclick="" id="e_annulla" value="Indietro" style="float:right;">Indietro</button>
  </div>
 </form>
</div>
<script type="text/javascript">
var piattounico = false;
$(document).ready(function() {
 $( "#e_dataIspezioneViz" ).datepicker({ altField: '#e_dataIspezione', altFormat: 'yy-mm-dd', dateFormat: 'dd/mm/yy', minDate: new Date(2008, 9, 1), maxDate: '0d' });
 //$( "[type='radio']" ).button(); 
 //onMenuChanged();
 $("#e_fruttaTipo").autocomplete({source:["Albicocche","Arance","Mele","Pere","Mandarini","Pesche","Banane","Uva","Fragole","Ciliegie"]}); 
});
</script>