{% set testi = { "assaggio": ["Non accettabile", "Accettabile", "Gradevole"], 
                 "gradimento": ["Rifiutato", "Parz. rifiutato", "Parz. accettato", "Accettato"],
                 "cottura": ["Scarsa", "Giusta", "Eccessiva"], 
                 "temperatura": ["Freddo", "Giusta", "Caldo"], 
                 "maturazione": ["Acerba", "Giusta", "Matura"], 
                 "quantita": ["Scarsa", "Sufficiente", "Abbondante"],
                 "condito": ["No", "Si"],
                 "pulizia": ["Scarso", "Mediocre", "Sufficiente", "Ottimo"],
                 "distribuzione": ["< 30 min.", "30 < 60 min.", "> 60 min."],
                 "giudizio": ["Insufficiente", "Sufficiente", "Buono"]
                 }
%}
{% set cls = {   "assaggio": ["label131", "label132", "label133"], 
                 "gradimento": ["label41", "label42", "label43", "label44"],
                 "cottura": ["label231", "label232", "label233"], 
                 "temperatura": ["label231", "label232", "label233"], 
                 "maturazione": ["label231", "label232", "label233"], 
                 "quantita": ["label131", "label132", "label133"],
                 "condito": ["", ""],
                 "pulizia": ["label41", "label42", "label43", "label44"],
                 "distribuzione": ["label131", "label132", "label133"], 
                 "giudizio": ["label131", "label132", "label133"] 
                 }
%}
{% macro label(t, a) -%}
<span class="label {{cls[t][a]}}">{{testi[t][a]}}</span>
{%- endmacro %}
<div>
<table>
<tbody>
<tr><td colspan="7">
<table>
<tbody>
<tr>
<td>Piatto</td><td>Assaggio</td><td>Gradimento</td><td>Cottura<br/>Maturazione</td><td>Temperatura</td><td>Quantit&agrave;</td><td>Condito<br/>al momento</td>
</tr>
<tr>
<td>Primo: {{isp.primoEffettivo}}</td><td>{{label("assaggio", isp.primoAssaggio)}}</td><td>{{label("gradimento", isp.primoGradimento)}}</td><td>{{label("cottura", isp.primoCottura)}}</td><td>{{label("temperatura", isp.primoTemperatura)}}</td><td>{{label("quantita", isp.primoQuantita)}}</td><td>{{label("condito", isp.primoCondito)}}</td>
</tr>
<tr>
<td>Secondo: {{isp.secondoEffettivo}}</td><td>{{label("assaggio", isp.secondoAssaggio)}}</td><td>{{label("gradimento", isp.secondoGradimento)}}</td><td>{{label("cottura", isp.secondoCottura)}}</td><td>{{label("temperatura", isp.secondoTemperatura)}}</td><td>{{label("quantita", isp.secondoQuantita)}}</td><td></td>
</tr>
<tr>
<td>Contorno: {{isp.contornoEffettivo}}</td><td>{{label("assaggio", isp.contornoAssaggio)}}</td><td>{{label("gradimento", isp.contornoGradimento)}}</td><td></td><td>{{label("temperatura", isp.contornoTemperatura)}}</td><td>{{label("quantita", isp.contornoQuantita)}}</td><td>{{label("condito", isp.contornoCondito)}}</td>
</tr>
<tr>
<td>Pane: {{isp.paneTipo}}</td><td>{{label("assaggio", isp.paneAssaggio)}}</td><td>{{label("gradimento", isp.paneGradimento)}}</td><td></td><td></td><td>{{label("quantita", isp.paneQuantita)}}</td><td></td>
</tr>
<tr>
<td>Dessert: {{isp.fruttaTipo}}</td><td>{{label("assaggio", isp.fruttaAssaggio)}}</td><td>{{label("gradimento", isp.fruttaGradimento)}}</td><td>{{label("maturazione", isp.fruttaMaturazione)}}</td><td></td><td></td><td>{{label("quantita", isp.fruttaQuantita)}}</td>
</tr>
</tbody>
</table>
<tr>
<td>Servizio</td><td>Durata distribuzione<br/>{{label("distribuzione", isp.arrivoDist)}}</td><td>Durata pasto<br/>{{label("distribuzione", isp.durataPasto)}}</td><td>Pasti serviti totali<br/><span class="label">{{isp.numeroPastiTotale}}</span></td><td>ai Bambini<br/><span class="label">{{isp.numeroPastiBambini}}</span></td><td>Diete<br/><span class="label">{{isp.numeroPastiSpeciali}}</span></td><td>Addetti<br/><span class="label">{{isp.numeroAddetti}}</span></td>
</tr>
<tr>
<td></td><td>Smaltimento Rifiuti<br/>{{label("pulizia", isp.smaltimentoRifiuti)}}</td><td>Pulizia C.Cottura<br/>{{label("pulizia", isp.puliziaCentroCottura)}}</td><td>Pulizia Refettorio<br/>{{label("pulizia", isp.puliziaRefettorio)}}</td><td colspan="3">Giudizio globale<br/>{{label("giudizio", isp.giudizioGlobale)}}</td>
</tr>
<tr>
<td>Note</td><td colspan="6">{{isp.note}}</td>
</tr>
</tbody>
</table>
{% if preview %}
<form id="form1" action="/isp/isp" method="POST">
<script type="dojo/method" event="onSubmit">
$("#e_submit").disabled = true;
$("#e_annulla").disabled = true;
return true;
</script>
<P align="center">
<input type="hidden" name="preview" value="{{preview}}">
<button class="btn primary" type="submit" onclick="ulmsg=false;">Conferma salvataggio dati</button>
<button class="btn" onclick="ulmsg=false; previewback();return false;">Torna a modifiche</button>
<P>
</form>
{% endif %}
</div>

