{% if preview %}
<script type="text/javascript">
var ulmsg=true;
function closeIt() {
if(ulmsg) return "Attenzione, la pagina contiene dati non salvati, uscire comunque ?";
}
window.onbeforeunload = closeIt;
</script>
{% endif %}
{%if public_url%}
<!-- AddThis Button BEGIN -->
<div class="addthis_toolbox addthis_default_style ">
<a href="http://www.addthis.com/bookmark.php?v=250&amp;username=xa-4cdb224129b45357" class="addthis_button_compact" addthis:url="{{public_url}}">Share</a>
<span class="addthis_separator">|</span>
<a class="addthis_button_googlebuzz" addthis:url="{{public_url}}"></a>
<a class="addthis_button_facebook" addthis:url="{{public_url}}"></a>
<a class="addthis_button_twitter" addthis:url="{{public_url}}"></a>
<a class="addthis_button_email" addthis:url="{{public_url}}"></a>
<a href="{{public_url}}" target="_new">Link pubblico a questa pagina</a>
</div>
<script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#username=xa-4cdb224129b45357"></script>
<!-- AddThis Button END -->
{%endif%}
<div>
 <div class="row rowspaced">
  <div class="span12">
   <h3>{{nc.commissione.nome}} - {{nc.commissione.tipoScuola}} - Ispezione del {{nc.dataNonconf}} - Turno {{nc.turno}}</h3>
  </div>
 </div>
 <div class="row rowspaced">
  <div class="span8">
   Tipo Non Conformit&agrave; <span class="label">{{nc.tipoNome()}}</span>
  </div>
  <div class="span4">
  Richiesta campionatura <span class="label">{%if nc.richiestaCampionatura%}Si{%else%}No{%endif%}</span>
  </div>
 </div>
 <div class="row rowspaced">
  <div class="span2">
    Note
  </div>
  <div class="span10">
  {{nc.note}}
  </div>
 </div>
 <div class="row rowspaced">
  <div class="span2">
  Categorie
  </div>
  <div class="span10">
 {%for tag in nc.tags%}{{tag}}&nbsp;{%endfor%}
  </div>
 </div>
{% if preview %}
 <div class="actions">
  <form action="/isp/nc" method="POST" id="form1">
  <input type="hidden" name="preview" value="{{preview}}">
  <button type="submit" id="e_submit" class="btn primary" onclick="ulmsg=false;">Conferma salvataggio dati</button>
  <button class="btn" onclick="previewback(); return false;">Torna a modifiche</button>
  </form>
 </div>
{% endif %}
</div>