<div>
<h1 class="table_separator" id="title" style="display:none;">Nuova Non Conformit&agrave;</h1>
<span class="ss-required-asterisk">* Campo obbligatorio</span>
<form action="/isp/nc" method="post" id="form0" novalidate>
<table width="100%">
<tr>
<td>
<div>
<div><label class="ss-q-title" for="e_commissione">Commissione
<span class="ss-required-asterisk">*</span></label>
<select required="true" name="commissione" id="e_commissione" value="{{form.data.commissione.key}}">{% for cm in commissioni %}
<option value="{{cm.key}}">{{cm.nome}} - {{cm.tipoScuola}}</option>{% endfor %}
</select></div></div>
</td>
<td>
<div>
<div id="e_di"><label class="ss-q-title" for="e_dataNonconfViz">Data Ispezione
<span class="ss-required-asterisk">*</span></label>
<input title="Inserire la data in cui &egrave; stata effettuata l'ispezione." type="text" required="true" name="dataNonconfViz" value="" class="ss-q-short" id="e_dataNonconfViz"/>
<input type="hidden" name="dataNonconf" value="" id="e_dataNonconf"/></div></div>
</span> 
</td>
<td>
<div>
<div><label class="ss-q-title" for="e_turno">Turno
<span class="ss-required-asterisk">*</span></label>
<select name="turno" id="e_turno">
<option value="1"{% if form.data.turno == "1" %} selected{% endif %}>Primo</option>
<option value="2"{% if form.data.turno == "2" %} selected{% endif %}>Secondo</option>
<option value="3"{% if form.data.turno == "3" %} selected{% endif %}>Terzo</option>
<option value="4"{% if form.data.turno == "4" %} selected{% endif %}>Quarto</option>
</select></div></div>
</td>
</tr>
<tr>
<td colspan="2">
<input type="hidden" name="key" value="{{key}}"/>
<div>
<div><label class="ss-q-title" for="e_tipo">Tipo Non Conformit&agrave
<span class="ss-required-asterisk">*</span></label>
<select name="tipo" id="e_tipo" dojoType="dijit.form.FilteringSelect" required="true" value="{{form.data.tipo}}">
<option value=""></option>
<option value="1">Cambiamenti di men&ugrave</option>
<option value="2">Cibo avanzato oltre 30%</option>
<option value="3">Quantit&agrave insufficiente di una vivanda</option>
<option value="4">Tavoli o apparecchiatura tavoli non adeguata</option>
<option value="5">Arredi e attrezzature inadeguate della sala di rigoverno</option>
<option value="6">Inadeguata pulizia dei locali</option>
<option value="7">Errata / mancata consegna o distribuzione delle diete speciali</option>
<option value="8">Ritardo o anticipo nella consegna delle termiche</option>
<option value="9">Corpo estraneo</option>
<option value="10">Temperatura non conforme alla legge</option>
<option value="11">Temperatura della dieta sanitaria giudicata inadeguata</option>
<option value="12">Inadeguato smaltimento della spazzatura</option>
<option value="99">Altro</option>
</select></div></div>
</td>
<td colspan="1">
<br/> <div>
<div><label class="ss-q-title" for="e_rc">Richiesta campionatura
<span class="ss-required-asterisk">*</span></label>
<table border="0" cellpadding="5" cellspacing="0"><tbody>
<tr>
<td class="ss-scalerow"><input type="radio" class="required" name="richiestaCampionatura" required="true" value="1" id="e_rc_1" {% if form.data.richiestaCampionatura == "1" %}CHECKED{%endif%}/><label for="e_rc_1">Si</label></td> 
<td class="ss-scalerow"><input type="radio" class="required" name="richiestaCampionatura" required="true" value="0" id="e_rc_2" {% if form.data.richiestaCampionatura == "0" %}CHECKED{%endif%}/><label for="e_rc_2">No</label></td>
</tr></tbody></table></div></div>
</td>
</tr>
<tr>
<td colspan="3">
<br/> <div>
<div><label class="ss-q-title" for="e_ncNote">Note
</label>
<label class="ss-q-help" for="e_note"></label>
<textarea name="note" rows="8" cols="120" class="ss-q-long" id="e_note" style="margin-top: 1px; margin-bottom: 1px; margin-left: 0px; margin-right: 0px; ">{{form.data.note}}
</textarea></div></div>
</td>
</tr>
<tr>
<td colspan="3">
<div class="comment_tags">Categorie: <div style="width:40em; display:inline;"><ul id="nota_tags_handler"></ul></div></div></td>
</tr>
<tr>
<td colspan="3" align="center">
<button id="e_submit" type="submit" onclick="ulmsg=false;">Salva dati</button><button onclick="return onclosenewitem();" id="e_annulla">Annulla</button>
</td>
</tr>
</table>
</form></div>
<script type="text/javascript">
$().ready(function() {
 $( "#e_dataNonconfViz" ).datepicker({ altField: '#e_dataNonconf', altFormat: 'yy-mm-dd', dateFormat: 'dd/mm/yy', minDate: new Date(2008, 9, 1), maxDate: '+0d' });
 $( "[type='radio']" ).button();
 $("#form0").validate();
 $("[title]").mbTooltip({
    opacity : .90, //opacity
    wait:500, //before show
    ancor:"mouse", //"parent"
    cssClass:"default", // default = default
    timePerWord:70, //time to show in milliseconds per word
    hasArrow:false,
    color:"white",
    imgPath:"img/",
    shadowColor:"black",
    fade:500
 });
 $("#nota_tags_handler").tagHandler({
     getData: { 'msg': "" },
     getURL: '/comments/gettags',            
     autocomplete: true
 });         
 
});
</script>