<script type="text/javascript">
var ulmsg = true;
function closeIt() {
if(ulmsg) return "Attenzione, la pagina contiene dati non salvati, uscire comunque ?";
}
window.onbeforeunload = closeIt;
</script>
<div id="form-error"></div>
<div class="ui-widget ui-widget-content" style="border:none;">
 <form action="/isp/nota" method="post" id="form0" ENCTYPE="multipart/form-data" novalidate style="margin-bottom:0">
  <h1 class="table_separator" id="title" style="display:none;">Nuova Nota</h1>
  <div class="modal-body">
   <input type="hidden" name="key" value="{{key}}"/>
   <div class="step form-stacked">
    <div class="row">
      <div class="span6 box1">
       <label class="label_isp_1" for="e_commissione">Commissione</label>
       <select class="required" name="commissione" id="e_commissione" value="{{form.data.commissione.key}}">{% for cm in commissioni %}
        <option value="{{cm.key()}}">{{cm.nome}} - {{cm.tipoScuola}}</option>{% endfor %}
       </select>
      </div>
      <div class="span6 box1">
       <label class="label_isp_1" for="e_dataNotaViz">Data Ispezione</label>
       <input title="Inserire la data a cui si riferisce la segnalazione." type="text" class="required" name="dataNotaViz" value="" id="e_dataNotaViz"/>
       <input type="hidden" name="dataNota" value="" id="e_dataNota"/>
      </div>   
    </div>   
    <div class="row">
     <div class="span12 box1">
      <label class="label_isp_1" for="e_titolo">Titolo</label>
      <input type="text" id="e_titolo" class="required span12" name="titolo" value="{{form.data.titolo}}"></input>
     </div>
    </div>   
    <div class="row">
     <div class="span12 box1">
      <label class="label_isp_1" for="e_titolo">Testo</label>
      <textarea required="true" name="note" rows="3" class="required span12" id="e_note">{{form.data.note}}</textarea>
     </div>
    </div>   
    <div class="row">
     <div class="span12 box1">
      <label class="label_isp_1" for="e_attach">Allegati</label>
      <input type="file" name="allegato_file_1" allow="image/jpeg, image/png, image/gif, image/tiff, application/pdf"/> Descrizione (opzionale)<input type="text" name="allegato_desc_1" allow="*"/>
      {#<input type="file" name="allegato_file_2" allow="image/jpeg, image/png, image/gif, image/tiff, application/pdf"/> Descrizione (opzionale)<input type="text" name="allegato_desc_2" allow="*"/>
      <input type="file" name="allegato_file_3" allow="image/jpeg, image/png, image/gif, image/tiff, application/pdf"/> Descrizione (opzionale)<input type="text" name="allegato_desc_3" allow="*"/>#}
     </div>
    </div>   
    <div class="span12 box1">
     <label class="label_isp_1">Categorie</label>
     <div class="comment_tags">  
      <div style="width:40em; display:inline;">
       <ul id="nota_tags_handler"></ul>
      </div>
     </div>
    </div>
   </div>
  </div>
  <div id="formnav" class="actions modal-actions">
   <input id="e_submit" class="btn primary" type="submit" onclick="" value="Salva dati" style="float:right;"/> 
   <input type="reset" onclick="closedialog();" id="e_annulla" class="btn" value="Annulla" style="float:right;"/>
  </div>
 </form>
</div>

<script type="text/javascript">
$(document).ready(function() { 
 $( "#e_dataNotaViz" ).datepicker({ altField: '#e_dataNota', altFormat: 'yy-mm-dd', dateFormat: 'dd/mm/yy', minDate: new Date(2008, 9, 1), maxDate: '0d' });
 $("#form0").validate(); 
 //$('#e_note').wysiwyg();
 $("[title]").mbTooltip({
  opacity : .90, //opacity
  wait:500, //before show
  ancor:"mouse", //"parent"
  cssClass:"default", // default = default
  timePerWord:70, //time to show in milliseconds per word
  hasArrow:false,
  color:"white",
  imgPath:"img/",
  shadowColor:"black",
  fade:500
 });

 $('#e_note').tinymce({
  // Location of TinyMCE script
  script_url : '/js/tiny_mce/tiny_mce.js',
  
  // General options
  width : "690",
  content_css : "/js/tiny_mce/themes/advanced/skins/default/custom_content.css",
  theme_advanced_font_sizes: "10px,12px,13px,14px,16px,18px,20px",
  font_size_style_values : "10px,12px,13px,14px,16px,18px,20px",  
  theme : "advanced",
  plugins : "autolink", 
  theme_advanced_buttons1 : "bold,italic,underline,separator,strikethrough,bullist,numlist,undo,redo",
  theme_advanced_buttons2 : "",
  theme_advanced_buttons3 : "",			
  theme_advanced_toolbar_location : "top",
  theme_advanced_toolbar_align : "left",
  theme_advanced_toolbar_align : "left",
  theme_advanced_resizing : false,
  
 });

 $('#form0').submit(function() { 	
   var tags = "";
   $('.tagItem').each(function() {
     tags =+ $(this).text() + ",";
     $("<input />").attr({ type: "hidden", name: "tags[]", value: $(this).text()}).appendTo($('#form0'));
    });
 }); 

 $("#nota_tags_handler").tagHandler({
     getData: { 'msg': "" },
     getURL: '/comments/gettags',            
     autocomplete: true
 }); 
});
</script>