<div>
 <div class="row">
  <div class="span8">
{% if preview %}
   <h3>{{nota.commissione.get().desc()}} - Nota del {{nota.dataNota}}</h3>
 {% endif %}
   <h4>{{nota.titolo}}</h4>
   <div class="controls">
    <div class="scroll" {% if preview %}style="height:{% if nota.get_allegati() %}160{% else %}240{% endif %}px; overflow:auto"{% endif %}>{{nota.note}}</div>
   </div>
{% if nota.has_allegati %}
   <div for="e_attach"><i class="icon-file"></i> Allegati</div>
   <ul class="thumbnails">{%for allegato in nota.get_allegati%}
    <li><a class="thumbnail" href="{{allegato.path()}}" target="new">{%if allegato.isImage()%}<img src="{{allegato.imgthumb()}}" alt="{{allegato.nome}}"/>{%else%}{{allegato.nome}}{%endif%}</a>&nbsp;{{allegato.descrizione}}</li>{%endfor%}
   </ul>
{% endif %}  
{% if preview %}
   <div><i class="icon-tags"></i> Categorie</div>
   <div>
    {%for tag in nota.tags%}<span class="tagItem">{{tag}}</span>{%endfor%}  
   </div>
   <div class="modal-footer modal-actions">
    <form action="/isp/nota" method="POST" id="form1">
     <input type="hidden" name="preview" value="{{preview}}">
     <input type="hidden" id="act_last" name="last" value="">
     <button type="submit" id="e_submit" class="btn btn-primary" onclick="ulmsg=false;" style="float:right;" data-loading-text="Salvataggio in corso...">Conferma e Salva</button>
     <button type="reset" class="btn" onclick="previewback();" style="float:right;">Torna a modifiche</button>
    </form>
   </div>
 {% endif %}
  </div>
 </div>
</div>