<script type="text/javascript">
dojo.require("dijit.Tooltip");
dojo.require("dijit.form.Form");
dojo.require("dijit.form.Textarea");
dojo.require("dijit.form.NumberTextBox");
dojo.require("dijit.form.DateTextBox");
dojo.require("dijit.form.ComboBox");
dojo.require("dijit.form.Button");
dojo.require("dijit.form.FilteringSelect");
dojo.require("custom.form.TimeTextBox");
</script>
<script src="/js/form.js" type="text/javascript"></script>
<script type="text/javascript">
var piattounico = false;
var oldDisp_1 = "";
var oldDisp_2 = "";
var oldDisp_3 = "";
var ulmsg = true;
dojo.addOnLoad(onMenuChanged);

function closeIt() {
if(ulmsg) return "Attenzione, la pagina contiene dati non salvati, uscire comunque ?";
}
window.onbeforeunload = closeIt;
</script>
<div class="ss-form-container"><h1 class="table_separator">Nuova Ispezione</h1>
<p/>
<p/>
<span class="ss-required-asterisk">* Campo obbligatorio</span>
<br/>
<br/>
{% if form.errors %}
<div class="errorbox-bad" id="form-error">
	<p>Non &egrave; stato possibile salvare i dati per i seguenti errori:<br />Correggere i dati e salvare nuovamente</p>
	<ul>
{{form.errors}}
	</ul>
</div>
{% endif %}<form dojoType="dijit.form.Form" action="/commissario/ispezione" method="post" id="form0">
<script type="dojo/method" event="onSubmit">
if(piattounico) {
	dojo.byId("e_sd_1").checked = dojo.byId("e_pd_1").checked;
	dojo.byId("e_sd_2").checked = dojo.byId("e_pd_2").checked;
	dojo.byId("e_sd_3").checked = dojo.byId("e_pd_3").checked;
	dojo.byId("e_secondoCottura_1").checked = dojo.byId("e_primoCottura_1").checked;
	dojo.byId("e_secondoCottura_2").checked = dojo.byId("e_primoCottura_2").checked;
	dojo.byId("e_secondoCottura_3").checked = dojo.byId("e_primoCottura_3").checked;
	dojo.byId("e_secondoTemperatura_1").checked = dojo.byId("e_primoTemperatura_1").checked;
	dojo.byId("e_secondoTemperatura_2").checked = dojo.byId("e_primoTemperatura_2").checked;
	dojo.byId("e_secondoTemperatura_3").checked = dojo.byId("e_primoTemperatura_3").checked;
	dojo.byId("e_secondoQuantita_1").checked = dojo.byId("e_primoQuantita_1").checked;
	dojo.byId("e_secondoQuantita_2").checked = dojo.byId("e_primoQuantita_2").checked;
	dojo.byId("e_secondoQuantita_3").checked = dojo.byId("e_primoQuantita_3").checked;
	dojo.byId("e_secondoAssaggio_1").checked = dojo.byId("e_primoAssaggio_1").checked;
	dojo.byId("e_secondoAssaggio_2").checked = dojo.byId("e_primoAssaggio_2").checked;
	dojo.byId("e_secondoAssaggio_3").checked = dojo.byId("e_primoAssaggio_3").checked;
	dojo.byId("e_secondoGradimento_1").checked = dojo.byId("e_primoGradimento_1").checked;
	dojo.byId("e_secondoGradimento_2").checked = dojo.byId("e_primoGradimento_2").checked;
	dojo.byId("e_secondoGradimento_3").checked = dojo.byId("e_primoGradimento_3").checked;
	dojo.byId("e_secondoGradimento_4").checked = dojo.byId("e_primoGradimento_4").checked;
}
dojo.byId("e_submit").disabled = true;
dojo.byId("e_annulla").disabled = true;
if(this.validate()&&validateradio()){
    return true;
} else {
    dojo.byId("e_submit").disabled = false;
    dojo.byId("e_annulla").disabled = false;
    alert('Il form contiene valori non corretti');
    return false;
}
return true;
</script>
<table width="100%">
<tr>
<td>
<input type="hidden" name="key" value="{{key}}"/>
<div class="errorbox-good">
<div class="ss-form-entry"><label class="ss-q-title" for="e_commissione">Commissione
<span class="ss-required-asterisk">*</span></label>
<select dojoType="dijit.form.FilteringSelect" required="true" name="commissione" value="{{form.data.commissione.key}}" id="e_commissione" onchange="getPrevIspData()">{% for cm in commissioni %}
<option value="{{cm.key}}">{{cm.nome}} - {{cm.tipoScuola}}</option>{% endfor %}
</select></div></div>
</td>
<td>
<div class="errorbox-good">
<div class="ss-form-entry" id="e_di"><label class="ss-q-title" for="e_dataIspezione">Data Ispezione
<span class="ss-required-asterisk">*</span></label>
<input type="text" dojoType="dijit.form.DateTextBox" constraints="{datePattern: 'dd/MM/yyyy'}" onchange="getMenu()" required="true" name="dataIspezione" value="{{form.data.dataIspezione}}" class="ss-q-short" id="e_dataIspezione"/></div></div>
<span style="display:none;" dojoType="dijit.Tooltip" connectId="e_di" position="above" id="tt_di"> 
Inserire la data in cui &egrave; stata effettuata l'ispezione.
</span> 
</td>
<td>
<div class="errorbox-good">
<div class="ss-form-entry"><label class="ss-q-title" for="e_turno">Turno
<span class="ss-required-asterisk">*</span></label>
<select name="turno" id="e_turno">
<option value="1"{% ifequal form.data.turno "1" %} selected{% endifequal %}>Primo</option>
<option value="2"{% ifequal form.data.turno "2" %} selected{% endifequal %}>Secondo</option>
</select></div></div>
</td>
</tr>
<tr>
<td colspan="3">
<br/> <div class="errorbox-good">
<div class="ss-form-entry"><label class="ss-q-title" for="entry_1">Men&ugrave; previsto per il giorno</label></div></div>
</td>
</tr>
<tr>
<td>
<div class="errorbox-good">
<div class="ss-form-entry"><label class="ss-q-title" for="e_primoPrevisto">Primo</label>
<input type="text" dojoType="dijit.form.TextBox" required="true" name="primoPrevisto" readonly="readonly" value="{{form.data.primoPrevisto}}" size="40" id="e_primoPrevisto"/>
</div></div>
</td>
<td>
<div class="errorbox-good">
<div class="ss-form-entry"><label class="ss-q-title" for="e_secondoPrevisto">Secondo
</label>
<input type="text" dojoType="dijit.form.TextBox" required="true" name="secondoPrevisto" readonly="readonly" value="{{form.data.secondoPrevisto}}" size="40" id="e_secondoPrevisto"/>
</div></div>
</td>
<td>
<div class="errorbox-good">
<div class="ss-form-entry"><label class="ss-q-title" for="e_contornoPrevisto">Contorno
</label>
<input type="text" dojoType="dijit.form.TextBox" required="true" name="contornoPrevisto" readonly="readonly" value="{{form.data.contornoPrevisto}}" size="40" id="e_contornoPrevisto"/>
</div></div>
</td>
</tr>
<tr>
<td colspan="3">
<br/> <div class="errorbox-good">
<div class="ss-form-entry"><label class="ss-q-title" for="entry_1">Men&ugrave; effettivo</label>
</div></div>
</td>
</tr>
<tr>
<td>
<div class="errorbox-good">
<div class="ss-form-entry"><label class="ss-q-title" for="e_primoEffettivo">Primo
<span class="ss-required-asterisk">*</span></label>
<input type="text" dojoType="dijit.form.TextBox" name="primoEffettivo" required="true" value="{{form.data.primoEffettivo}}" size="40" id="e_primoEffettivo" onchange="onMenuChanged()"/>
</div></div>
</td>
<td>
<div class="errorbox-good">
<div class="ss-form-entry"><label class="ss-q-title" for="e_secondoEffettivo">Secondo
<span class="ss-required-asterisk">*</span></label>
<input type="text" dojoType="dijit.form.TextBox" name="secondoEffettivo" required="true" value="{{form.data.secondoEffettivo}}" size="40" id="e_secondoEffettivo" onchange="onMenuChanged()"/>
</div></div>
</td>
<td>
<div class="errorbox-good">
<div class="ss-form-entry"><label class="ss-q-title" for="e_contornoEffettivo">Contorno
<span class="ss-required-asterisk">*</span></label>
<input type="text" dojoType="dijit.form.TextBox" name="contornoEffettivo" required="true" value="{{form.data.contornoEffettivo}}" size="40" id="e_contornoEffettivo"/>
</div></div>
</td>
</tr>
<tr>
<td colspan="3">
<br/> <div class="errorbox-good">
<div class="ss-form-entry" id="l_arrivoDist"><label class="ss-q-title" for="entry_15">Tempo trascorso dall'arrivo alla distribuzione
<span class="ss-required-asterisk">*</span></label>
<table border="0" cellpadding="5" cellspacing="0"><tbody>
<tr><td class="ss-scalerow ss-leftlabel">&lt; 10 min</td>
<td class="ss-scalerow"><input type="radio" name="arrivoDist" value="1" id="e_ad_1" {% ifequal form.data.arrivoDist "1" %}CHECKED{%endifequal%}/></td>
<td class="ss-scalerow"><input type="radio" name="arrivoDist" value="2" id="e_ad_2" {% ifequal form.data.arrivoDist "2" %}CHECKED{%endifequal%}/></td>
<td class="ss-scalerow"><input type="radio" name="arrivoDist" value="3" id="e_ad_3" {% ifequal form.data.arrivoDist "3" %}CHECKED{%endifequal%}/></td>
<td class="ss-scalerow ss-rightlabel">&gt; 20 min</td></tr></tbody></table><span style="display:none;" dojoType="dijit.Tooltip" connectId="l_arrivoDist" position="above" id="tt_tesmpoDist"> 
In caso di scuola dotata di Centro Cucina selezionare "&lt; 10 min"</span></div></div>
</td>
</tr>
<tr>
<th class="table_separator" colspan="3">Ambiente e Attrezzature</th>
</tr>
<tr>
<td>
<br/> <div class="errorbox-good">
<div class="ss-form-entry" id="l_puliziaRef"><label class="ss-q-title" for="entry_15">Pulizia Centro Cottura/Cucina/Dispensa
<span class="ss-required-asterisk">*</span></label>
<table border="0" cellpadding="5" cellspacing="0"><tbody>
<tr><td class="ss-scalerow ss-leftlabel">Scarsa</td>
<td class="ss-scalerow"><input type="radio" name="puliziaCentroCottura" value="1" id="e_pcc_1" {% ifequal form.data.puliziaCentroCottura "1" %}CHECKED{%endifequal%}/></td>
<td class="ss-scalerow"><input type="radio" name="puliziaCentroCottura" value="2" id="e_pcc_2" {% ifequal form.data.puliziaCentroCottura "2" %}CHECKED{%endifequal%}/></td>
<td class="ss-scalerow"><input type="radio" name="puliziaCentroCottura" value="3" id="e_pcc_3" {% ifequal form.data.puliziaCentroCottura "3" %}CHECKED{%endifequal%}/></td>
<td class="ss-scalerow"><input type="radio" name="puliziaCentroCottura" value="4" id="e_pcc_4" {% ifequal form.data.puliziaCentroCottura "4" %}CHECKED{%endifequal%}/></td>
<td class="ss-scalerow ss-rightlabel">Buona</td></tr></tbody></table><span style="display:none;" dojoType="dijit.Tooltip" connectId="l_puliziaRef, l_puliziaCC" position="above" id="tt_pulizia"> 
Valori possibili: Scarsa, Mediocre, Sufficiente, Buona
</span></div></div>
</td>
<td>
<br/> <div class="errorbox-good">
<div class="ss-form-entry" id="l_puliziaCC"><label class="ss-q-title" for="entry_15">Pulizia Refettorio
<span class="ss-required-asterisk">*</span></label>
<table border="0" cellpadding="5" cellspacing="0"><tbody>
<tr><td class="ss-scalerow ss-leftlabel">Scarsa</td>
<td class="ss-scalerow"><input type="radio" name="puliziaRefettorio" value="1" id="e_pr_1" {% ifequal form.data.puliziaRefettorio "1" %}CHECKED{%endifequal%}/></td>
<td class="ss-scalerow"><input type="radio" name="puliziaRefettorio" value="2" id="e_pr_2" {% ifequal form.data.puliziaRefettorio "2" %}CHECKED{%endifequal%}/></td>
<td class="ss-scalerow"><input type="radio" name="puliziaRefettorio" value="3" id="e_pr_3" {% ifequal form.data.puliziaRefettorio "3" %}CHECKED{%endifequal%}/></td>
<td class="ss-scalerow"><input type="radio" name="puliziaRefettorio" value="4" id="e_pr_4" {% ifequal form.data.puliziaRefettorio "4" %}CHECKED{%endifequal%}/></td>
<td class="ss-scalerow ss-rightlabel">Buona</td></tr></tbody></table></div></div>
</td>
<td>
</td>
</tr>
<tr id="l_capitolato">
<td colspan="2">
<br/> <div class="errorbox-good">
<div class="ss-form-entry"><label class="ss-q-title" for="entry_42">Le derrate alimentari corrispondono a quanto previsto nel capitolato d'appalto e nel men&ugrave in vigore?
<span class="ss-required-asterisk">*</span></label>
</td>
<td align="center">
<br/> <div class="errorbox-good">
<div class="ss-form-entry">
<table border="0" cellpadding="5" cellspacing="0"><tbody>
<tr><td class="ss-scalerow ss-leftlabel">Si</td>
<td class="ss-scalerow"><input type="radio" name="aaRispettoCapitolato" value="1" id="e_aarc_1" {% ifequal form.data.aaRispettoCapitolato "1" %}CHECKED{%endifequal%}/></td> 
<td class="ss-scalerow"><input type="radio" name="aaRispettoCapitolato" value="0" id="e_aarc_2" {% ifequal form.data.aaRispettoCapitolato "0" %}CHECKED{%endifequal%}/></td>
<td class="ss-scalerow ss-rightlabel">No</td></tr></tbody></table><span style="display:none;" dojoType="dijit.Tooltip" connectId="l_capitolato" position="above" id="tt_capitolato"> 
Differenze tra men&ugrave; previsto e men&ugrave; effettivo devono essere segnalate anche nella scheda "Non conformit&agrave;".<br/>
Indicare "No" anche nel caso in cui il Capitolato d'Appalto (i termini del contratto in essere tra Comune di Milano e MilanoRistorazione S.p.A. che riguardano le caratteristiche dei cibi erogati) non &egrave; a disposizione della Commissione Mensa.
</span></div></div>
</td>
</tr>
<tr>
<td colspan="2">
<br/> <div class="errorbox-good">
<div class="ss-form-entry"><label class="ss-q-title" for="entry_42">Tavoli coperti da tovaglie o tovagliette
<span class="ss-required-asterisk">*</span></label>
</td>
<td align="center">
<br/> <div class="errorbox-good">
<div class="ss-form-entry">
<table border="0" cellpadding="5" cellspacing="0"><tbody>
<tr><td class="ss-scalerow ss-leftlabel">Si</td>
<td class="ss-scalerow"><input type="radio" name="aaTavoliApparecchiati" value="1" id="e_aata_1" {% ifequal form.data.aaTavoliApparecchiati "1" %}CHECKED{%endifequal%}/></td> 
<td class="ss-scalerow"><input type="radio" name="aaTavoliApparecchiati" value="0" id="e_aatp_2" {% ifequal form.data.aaTavoliApparecchiati "0" %}CHECKED{%endifequal%}/></td>
<td class="ss-scalerow ss-rightlabel">No</td></tr></tbody></table></div></div>
</td>
</tr>
<tr>
<td colspan="2">
<br/> <div class="errorbox-good">
<div class="ss-form-entry"><label class="ss-q-title" for="entry_42">Contenitori termici puliti e in buone condizioni
<span class="ss-required-asterisk">*</span></label>
</td>
<td align="center">
<br/> <div class="errorbox-good">
<div class="ss-form-entry">
<table border="0" cellpadding="5" cellspacing="0"><tbody>
<tr><td class="ss-scalerow ss-leftlabel">Si</td>
<td class="ss-scalerow"><input type="radio" name="aaTermichePulite" value="1" id="e_aatp_1" {% ifequal form.data.aaTermichePulite "1" %}CHECKED{%endifequal%}/></td> 
<td class="ss-scalerow"><input type="radio" name="aaTermichePulite" value="0" id="e_aatp_2" {% ifequal form.data.aaTermichePulite "0" %}CHECKED{%endifequal%}/></td>
<td class="ss-scalerow ss-rightlabel">No</td></tr></tbody></table></div></div>
</td>
</tr>
<tr id="l_acqua">
<td colspan="2">
<br/> <div class="errorbox-good">
<div class="ss-form-entry"><label class="ss-q-title" for="entry_42">L'acqua servita proviene dalla cucina o dispensa
<span class="ss-required-asterisk">*</span></label>
</td>
<td align="center">
<br/> <div class="errorbox-good">
<div class="ss-form-entry">
<table border="0" cellpadding="5" cellspacing="0"><tbody>
<tr><td class="ss-scalerow ss-leftlabel">Si</td>
<td class="ss-scalerow"><input type="radio" name="aaAcqua" value="1" id="e_aaac_1" {% ifequal form.data.aaAcqua "1" %}CHECKED{%endifequal%}/></td> 
<td class="ss-scalerow"><input type="radio" name="aaAcqua" value="0" id="e_aaac_2" {% ifequal form.data.aaAcqua "0" %}CHECKED{%endifequal%}/></td>
<td class="ss-scalerow ss-rightlabel">No</td></tr></tbody></table><span style="display:none;" dojoType="dijit.Tooltip" connectId="l_acqua" position="above" id="tt_acqua"> 
Nel Manuale di autocontrollo di MilanoRistorazione &egrave; espressamente vietato il rifornimento di acqua proveniente dai bagni.
</span></div></div>
</td>
</tr>
<tr id="l_scaldaVivande">
<td colspan="2">
<br/> <div class="errorbox-good">
<div class="ss-form-entry"><label class="ss-q-title" for="entry_42">Ci sono sistemi di mantenimento della temperatura (ad esempio carrelli termici o scaldavivande)
<span class="ss-required-asterisk">*</span></label>
</td>
<td align="center">
<br/> <div class="errorbox-good">
<div class="ss-form-entry">
<table border="0" cellpadding="5" cellspacing="0"><tbody>
<tr><td class="ss-scalerow ss-leftlabel">Si</td>
<td class="ss-scalerow"><input type="radio" name="aaScaldaVivande" value="1" id="e_ncsv_1" {% ifequal form.data.aaScaldaVivande "1" %}CHECKED{%endifequal%}/></td> 
<td class="ss-scalerow"><input type="radio" name="aaScaldaVivande" value="0" id="e_ncsv_2" {% ifequal form.data.aaScaldaVivande "0" %}CHECKED{%endifequal%}/></td>
<td class="ss-scalerow ss-rightlabel">No</td></tr></tbody></table><span style="display:none;" dojoType="dijit.Tooltip" connectId="l_scaldaVivande" position="above" id="tt_scaldaVivande"> 
Le scatole termiche di trasporto ("termobox") non sono equiparabili a carrelli o tavoli termici in quanto non sono in grado di mantenere costante la temperatura del cibo una volta aperte.
</span></div></div>
</td>
</tr>
<tr>
<td colspan="2">
<br/> <div class="errorbox-good">
<div class="ss-form-entry"><label class="ss-q-title" for="entry_42">Servizio in modalit&agrave; self service
<span class="ss-required-asterisk">*</span></label>
</td>
<td align="center">
<br/> <div class="errorbox-good">
<div class="ss-form-entry">
<table border="0" cellpadding="5" cellspacing="0"><tbody>
<tr><td class="ss-scalerow ss-leftlabel">Si</td>
<td class="ss-scalerow"><input type="radio" name="aaSelfService" value="1" id="e_nclp_1" {% ifequal form.data.aaSelfService "1" %}CHECKED{%endifequal%}/></td> 
<td class="ss-scalerow"><input type="radio" name="aaSelfService" value="0" id="e_nclp_2" {% ifequal form.data.aaSelfService "0" %}CHECKED{%endifequal%}/></td>
<td class="ss-scalerow ss-rightlabel">No</td></tr></tbody></table></div></div>
</td>
</tr>
<tr id="l_tabellaEsposta">
<td colspan="2" >
<br/> <div class="errorbox-good">
<div class="ss-form-entry"><label class="ss-q-title" for="entry_42">Tabella dietetica e Men&ugrave; esposti
<span class="ss-required-asterisk">*</span></label>
</td>
<td align="center">
<br/> <div class="errorbox-good">
<div class="ss-form-entry">
<table border="0" cellpadding="5" cellspacing="0"><tbody>
<tr><td class="ss-scalerow ss-leftlabel">Si</td>
<td class="ss-scalerow"><input type="radio" name="aaTabellaEsposta" value="1" id="e_ncte_1" {% ifequal form.data.aaTabellaEsposta "1" %}CHECKED{%endifequal%}/></td> 
<td class="ss-scalerow"><input type="radio" name="aaTabellaEsposta" value="0" id="e_ncte_2" {% ifequal form.data.aaTabellaEsposta "0" %}CHECKED{%endifequal%}/></td>
<td class="ss-scalerow ss-rightlabel">No</td></tr></tbody></table><span style="display:none;" dojoType="dijit.Tooltip" connectId="l_tabellaEsposta" position="above" id="tt_tabellaEsposta">Nel <b>menu</b> viene indicata la composizione del pasto, ad esempio: "pasta al pomodoro, vitellone alla cacciatora, pur&egrave; di patate". <br>Nella <b>tabella dietetica</b> per ogni portata viene specificata la grammatura che viene somministrata in base alla fascia di et&agrave;, ad esempio: pasta gr. 50, pomodori pelati gr. 30, cipolla gr. 4, olio gr. 3, parmigiano reggiano gr. 3, eccetera
</span></div></div>
</td>
</tr>
<tr>
<td colspan="2">
<br/> <div class="errorbox-good">
<div class="ss-form-entry"><label class="ss-q-title" for="entry_42">Stoviglie riutilizzabili
<span class="ss-required-asterisk">*</span></label>
</td>
<td align="center">
<br/> <div class="errorbox-good">
<div class="ss-form-entry">
<table border="0" cellpadding="5" cellspacing="0"><tbody>
<tr><td class="ss-scalerow ss-leftlabel">Si</td>
<td class="ss-scalerow"><input type="radio" name="ricicloStoviglie" value="1" id="e_ncte_1" {% ifequal form.data.ricicloStoviglie "1" %}CHECKED{%endifequal%}/></td> 
<td class="ss-scalerow"><input type="radio" name="ricicloStoviglie" value="0" id="e_ncte_2" {% ifequal form.data.ricicloStoviglie "0" %}CHECKED{%endifequal%}/></td>
<td class="ss-scalerow ss-rightlabel">No</td></tr></tbody></table></div></div>
</td>
</tr>
<tr>
<td colspan="2">
<br/> <div class="errorbox-good">
<div class="ss-form-entry"><label class="ss-q-title" for="entry_42">Bicchieri riutilizzabili
<span class="ss-required-asterisk">*</span></label>
</td>
<td align="center">
<br/> <div class="errorbox-good">
<div class="ss-form-entry">
<table border="0" cellpadding="5" cellspacing="0"><tbody>
<tr><td class="ss-scalerow ss-leftlabel">Si</td>
<td class="ss-scalerow"><input type="radio" name="ricicloBicchieri" value="1" id="e_ncte_1" {% ifequal form.data.ricicloBicchieri "1" %}CHECKED{%endifequal%}/></td> 
<td class="ss-scalerow"><input type="radio" name="ricicloBicchieri" value="0" id="e_ncte_2" {% ifequal form.data.ricicloBicchieri "0" %}CHECKED{%endifequal%}/></td>
<td class="ss-scalerow ss-rightlabel">No</td></tr></tbody></table></div></div>
</td>
</tr>
<tr>
<td colspan="2">
<br/> <div class="errorbox-good">
<div class="ss-form-entry"><label class="ss-q-title" for="entry_42">Posate riutilizzabili
<span class="ss-required-asterisk">*</span></label>
</td>
<td align="center">
<br/> <div class="errorbox-good">
<div class="ss-form-entry">
<table border="0" cellpadding="5" cellspacing="0"><tbody>
<tr><td class="ss-scalerow ss-leftlabel">Si</td>
<td class="ss-scalerow"><input type="radio" name="ricicloPosate" value="1" id="e_ncte_1" {% ifequal form.data.ricicloPosate "1" %}CHECKED{%endifequal%}/></td> 
<td class="ss-scalerow"><input type="radio" name="ricicloPosate" value="0" id="e_ncte_2" {% ifequal form.data.ricicloPosate "0" %}CHECKED{%endifequal%}/></td>
<td class="ss-scalerow ss-rightlabel">No</td></tr></tbody></table></div></div>
</td>
</tr>
<tr><th class="table_separator" colspan="3" id="s_primo">Primo Piatto</th></tr>
<tr>
<td>
<br/> <div class="errorbox-good">
<div class="ss-form-entry" id="l_primoDist"><label class="ss-q-title" for="entry_15">Durata distribuzione
<span class="ss-required-asterisk">*</span></label>
<table border="0" cellpadding="5" cellspacing="0"><tbody>
<tr><td class="ss-scalerow ss-leftlabel">&lt; 10 min</td>
<td class="ss-scalerow"><input type="radio" name="primoDist" value="1" id="e_pd_1" {% ifequal form.data.primoDist "1" %}CHECKED{%endifequal%}/></td>
<td class="ss-scalerow"><input type="radio" name="primoDist" value="2" id="e_pd_2" {% ifequal form.data.primoDist "2" %}CHECKED{%endifequal%}/></td>
<td class="ss-scalerow"><input type="radio" name="primoDist" value="3" id="e_pd_3" {% ifequal form.data.primoDist "3" %}CHECKED{%endifequal%}/></td>
<td class="ss-scalerow ss-rightlabel">&gt; 20 min</td></tr></tbody></table></div></div>
<br/><div class="errorbox-good">
<div class="ss-form-entry" id="l_primoCondito"><label class="ss-q-title" for="entry_42">Condito al momento
<span class="ss-required-asterisk">*</span></label>
<table border="0" cellpadding="5" cellspacing="0"><tbody>
<tr><td class="ss-scalerow ss-leftlabel">Si</td>
<td class="ss-scalerow"><input type="radio" name="primoCondito" value="1" id="e_pc_1" {% ifequal form.data.primoCondito "1" %}CHECKED{%endifequal%}/></td> 
<td class="ss-scalerow"><input type="radio" name="primoCondito" value="0" id="e_pc_2" {% ifequal form.data.primoCondito "0" %}CHECKED{%endifequal%}/></td>
<td class="ss-scalerow ss-rightlabel">No</td></tr></tbody></table><span style="display:none;" dojoType="dijit.Tooltip" connectId="l_primoCondito, l_contornoCondito" position="above" id="tt_condito"> 
I primi e i contorni devono essere conditi al momento secondo le modalit&agrave; del Manuale di autocontrollo di MilanoRistorazione.</span></div></div>
</td>
<td>
<br/> <div class="errorbox-good">
<div class="ss-form-entry" id="l_primoCottura"><label class="ss-q-title" for="e_primoCottura">Cottura
<span class="ss-required-asterisk">*</span></label>
<table border="0" cellpadding="5" cellspacing="0"><tbody>
<tr><td class="ss-scalerow ss-leftlabel">Scarsa</td>
<td class="ss-scalerow"><input type="radio" name="primoCottura" value="1" id="e_primoCottura_1" {% ifequal form.data.primoCottura "1" %}CHECKED{%endifequal%}/></td>
<td class="ss-scalerow"><input type="radio" name="primoCottura" value="2" id="e_primoCottura_2" {% ifequal form.data.primoCottura "2" %}CHECKED{%endifequal%}/></td>
<td class="ss-scalerow"><input type="radio" name="primoCottura" value="3" id="e_primoCottura_3" {% ifequal form.data.primoCottura "3" %}CHECKED{%endifequal%}/></td>
<td class="ss-scalerow ss-rightlabel">Eccessiva</td></tr></tbody></table><span style="display:none;" dojoType="dijit.Tooltip" connectId="l_primoCottura, l_secondoCottura, l_contornoCottura" position="above" id="tt_cottura"> 
In caso di piatti che non necessitano cottura indicare il valore centrale ("giusta").</span></div></div>
</td>
<td>
<br/> <div class="errorbox-good">
<div class="ss-form-entry" id="l_primoTemperatura"><label class="ss-q-title" for="e_primoTemperatura">Temperatura
<span class="ss-required-asterisk">*</span></label>
<table border="0" cellpadding="5" cellspacing="0"><tbody>
<tr><td class="ss-scalerow ss-leftlabel">Freddo</td>
<td class="ss-scalerow"><input type="radio" name="primoTemperatura" value="1" id="e_primoTemperatura_1" {% ifequal form.data.primoTemperatura "1" %}CHECKED{%endifequal%}/></td>
<td class="ss-scalerow"><input type="radio" name="primoTemperatura" value="2" id="e_primoTemperatura_2" {% ifequal form.data.primoTemperatura "2" %}CHECKED{%endifequal%}/></td>
<td class="ss-scalerow"><input type="radio" name="primoTemperatura" value="3" id="e_primoTemperatura_3" {% ifequal form.data.primoTemperatura "3" %}CHECKED{%endifequal%}/></td>
<td class="ss-scalerow ss-rightlabel">Caldo</td></tr></tbody></table><span style="display:none;" dojoType="dijit.Tooltip" connectId="l_primoTemperatura, l_secondoTemperatura, l_contornoTemperatura" position="above" id="tt_temperatura"> 
In caso di piatti serviti "freddi" (come insalata o roast-beef) indicare il valore centrale ("giusta").</span></div></div>
</td>
</tr>
<tr>
<td>
<br/> <div class="errorbox-good">
<div class="ss-form-entry"><label class="ss-q-title" for="e_primoQuantita">Quantit&agrave
<span class="ss-required-asterisk">*</span></label>
<table border="0" cellpadding="5" cellspacing="0"><tbody>
<tr><td class="ss-scalerow ss-leftlabel">Scarso</td>
<td class="ss-scalerow"><input type="radio" name="primoQuantita" value="1" id="e_primoQuantita_1" {% ifequal form.data.primoQuantita "1" %}CHECKED{%endifequal%}/></td> 
<td class="ss-scalerow"><input type="radio" name="primoQuantita" value="2" id="e_primoQuantita_2" {% ifequal form.data.primoQuantita "2" %}CHECKED{%endifequal%}/></td> 
<td class="ss-scalerow"><input type="radio" name="primoQuantita" value="3" id="e_primoQuantita_3" {% ifequal form.data.primoQuantita "3" %}CHECKED{%endifequal%}/></td>
<td class="ss-scalerow ss-rightlabel">Abbondante</td></tr></tbody></table></div></div>
</td>
<td>
<br/> <div class="errorbox-good">
<div class="ss-form-entry"><label class="ss-q-title" for="e_primoAssaggio">Assaggio
<span class="ss-required-asterisk">*</span></label>
<table border="0" cellpadding="5" cellspacing="0"><tbody>
<tr><td class="ss-scalerow ss-leftlabel">Non Accettabile</td>
<td class="ss-scalerow"><input type="radio" name="primoAssaggio" value="1" id="e_primoAssaggio_1" {% ifequal form.data.primoAssaggio "1" %}CHECKED{%endifequal%}/></td> 
<td class="ss-scalerow"><input type="radio" name="primoAssaggio" value="2" id="e_primoAssaggio_2" {% ifequal form.data.primoAssaggio "2" %}CHECKED{%endifequal%}/></td> 
<td class="ss-scalerow"><input type="radio" name="primoAssaggio" value="3" id="e_primoAssaggio_3" {% ifequal form.data.primoAssaggio "3" %}CHECKED{%endifequal%}/></td>
<td class="ss-scalerow ss-rightlabel">Gradevole</td></tr></tbody></table></div></div>
</td>
<td>
<br/> <div class="errorbox-good">
<div class="ss-form-entry" id="e_primoGradimento"><label class="ss-q-title" for="e_primoGradimento">Gradimento dei bambini
<span class="ss-required-asterisk">*</span></label>
<table border="0" cellpadding="5" cellspacing="0"><tbody>
<tr><td class="ss-scalerow ss-leftlabel">Rifiutato</td>
<td class="ss-scalerow"><input type="radio" name="primoGradimento" value="1" id="e_primoGradimento_1" {% ifequal form.data.primoGradimento "1" %}CHECKED{%endifequal%}/></td> 
<td class="ss-scalerow"><input type="radio" name="primoGradimento" value="2" id="e_primoGradimento_2" {% ifequal form.data.primoGradimento "2" %}CHECKED{%endifequal%}/></td> 
<td class="ss-scalerow"><input type="radio" name="primoGradimento" value="3" id="e_primoGradimento_3" {% ifequal form.data.primoGradimento "3" %}CHECKED{%endifequal%}/></td> 
<td class="ss-scalerow"><input type="radio" name="primoGradimento" value="4" id="e_primoGradimento_4" {% ifequal form.data.primoGradimento "4" %}CHECKED{%endifequal%}/></td>
<td class="ss-scalerow ss-rightlabel">Accettato</td></tr></tbody></table><span style="display:none;" dojoType="dijit.Tooltip" connectId="e_primoGradimento, e_secondoGradimento, e_contornoGradimento, e_paneGradimento, e_fruttaGradimento" position="above" id="tt_primoGradimento"> 
Considerare circa 20 bambini campione<br/>
Ritenere "soddisfatto" un bambino che consuma almeno met&agrave; porzione<br/>
Calcolare la percentuale di bambini soddisfatti all'interno del campione.<br/>
Selezionare:<br/>
<ul>
<li>"Rifiutato" se la percentuale &egrave; compresa tra 1 e 25%</li>
<li>"Parzialmente rifiutato" se la percentuale &egrave; compresa tra 26 e 50%</li>
<li>"Parzialmente accettato" se la percentuale &egrave; compresa tra 51 e 75%</li>
<li>"Accettato" se la percentuale &egrave; compresa tra 76 e 100%</li>
</ul>
</span></div></div>
</td>
</tr>
<tr id="s_secondo_1">
<th colspan="3" class="table_separator">
Secondo Piatto
</th>
</tr>
<tr id="s_secondo_2">
<td>
<br/> <div class="errorbox-good">
<div class="ss-form-entry" id="l_secondoDist"><label class="ss-q-title" for="entry_15">Durata distribuzione
<span class="ss-required-asterisk">*</span></label>
<table border="0" cellpadding="5" cellspacing="0"><tbody>
<tr><td class="ss-scalerow ss-leftlabel">&lt; 10 min</td>
<td class="ss-scalerow"><input type="radio" name="secondoDist" value="1" id="e_sd_1" {% ifequal form.data.secondoDist "1" %}CHECKED{%endifequal%}/></td>
<td class="ss-scalerow"><input type="radio" name="secondoDist" value="2" id="e_sd_2" {% ifequal form.data.secondoDist "2" %}CHECKED{%endifequal%}/></td>
<td class="ss-scalerow"><input type="radio" name="secondoDist" value="3" id="e_sd_3" {% ifequal form.data.secondoDist "3" %}CHECKED{%endifequal%}/></td>
<td class="ss-scalerow ss-rightlabel">&gt; 20 min</td></tr></tbody></table></div></div>
</td>
<td>
<br/> <div class="errorbox-good">
<div class="ss-form-entry" id="l_secondoCottura"><label class="ss-q-title" for="e_secondoCottura">Cottura
<span class="ss-required-asterisk">*</span></label>
<table border="0" cellpadding="5" cellspacing="0"><tbody>
<tr><td class="ss-scalerow ss-leftlabel">Scarsa</td>
<td class="ss-scalerow"><input type="radio" name="secondoCottura" value="1" id="e_secondoCottura_1" {% ifequal form.data.secondoCottura "1" %}CHECKED{%endifequal%}/></td> 
<td class="ss-scalerow"><input type="radio" name="secondoCottura" value="2" id="e_secondoCottura_2" {% ifequal form.data.secondoCottura "2" %}CHECKED{%endifequal%}/></td> 
<td class="ss-scalerow"><input type="radio" name="secondoCottura" value="3" id="e_secondoCottura_3" {% ifequal form.data.secondoCottura "3" %}CHECKED{%endifequal%}/></td>
<td class="ss-scalerow ss-rightlabel">Eccessiva</td></tr></tbody></table></div></div>
</td>
<td>
<br/> <div class="errorbox-good">
<div class="ss-form-entry" id="l_secondoTemperatura"><label class="ss-q-title" for="e_secondoTemperatura">Temperatura
<span class="ss-required-asterisk">*</span></label>
<table border="0" cellpadding="5" cellspacing="0"><tbody>
<tr><td class="ss-scalerow ss-leftlabel">Freddo</td>
<td class="ss-scalerow"><input type="radio" name="secondoTemperatura" value="1" id="e_secondoTemperatura_1" {% ifequal form.data.secondoTemperatura "1" %}CHECKED{%endifequal%}/></td> 
<td class="ss-scalerow"><input type="radio" name="secondoTemperatura" value="2" id="e_secondoTemperatura_2" {% ifequal form.data.secondoTemperatura "2" %}CHECKED{%endifequal%}/></td> 
<td class="ss-scalerow"><input type="radio" name="secondoTemperatura" value="3" id="e_secondoTemperatura_3" {% ifequal form.data.secondoTemperatura "3" %}CHECKED{%endifequal%}/></td>
<td class="ss-scalerow ss-rightlabel">Caldo</td></tr></tbody></table></div></div>
</td>
</tr>
<tr id="s_secondo_3">
<td>
<br/> <div class="errorbox-good">
<div class="ss-form-entry"><label class="ss-q-title" for="e_secondoQuantita">Quantit&agrave
<span class="ss-required-asterisk">*</span></label>
<table border="0" cellpadding="5" cellspacing="0"><tbody>
<tr><td class="ss-scalerow ss-leftlabel">Scarso</td>
<td class="ss-scalerow"><input type="radio" name="secondoQuantita" value="1" id="e_secondoQuantita_1" {% ifequal form.data.secondoQuantita "1" %}CHECKED{%endifequal%}/></td> 
<td class="ss-scalerow"><input type="radio" name="secondoQuantita" value="2" id="e_secondoQuantita_2" {% ifequal form.data.secondoQuantita "2" %}CHECKED{%endifequal%}/></td> 
<td class="ss-scalerow"><input type="radio" name="secondoQuantita" value="3" id="e_secondoQuantita_3" {% ifequal form.data.secondoQuantita "3" %}CHECKED{%endifequal%}/></td> 
<td class="ss-scalerow ss-rightlabel">Abbondante</td></tr></tbody></table></div></div>
</td>
<td>
<br/> <div class="errorbox-good">
<div class="ss-form-entry"><label class="ss-q-title" for="e_secondoAssaggio">Assaggio
<span class="ss-required-asterisk">*</span></label>
<table border="0" cellpadding="5" cellspacing="0"><tbody>
<tr><td class="ss-scalerow ss-leftlabel">Non Accettabile</td>
<td class="ss-scalerow"><input type="radio" name="secondoAssaggio" value="1" id="e_secondoAssaggio_1" {% ifequal form.data.secondoAssaggio "1" %}CHECKED{%endifequal%}/></td> 
<td class="ss-scalerow"><input type="radio" name="secondoAssaggio" value="2" id="e_secondoAssaggio_2" {% ifequal form.data.secondoAssaggio "2" %}CHECKED{%endifequal%}/></td> 
<td class="ss-scalerow"><input type="radio" name="secondoAssaggio" value="3" id="e_secondoAssaggio_3" {% ifequal form.data.secondoAssaggio "3" %}CHECKED{%endifequal%}/></td> 
<td class="ss-scalerow ss-rightlabel">Gradevole</td></tr></tbody></table></div></div>
</td>
<td>
<br/> <div class="errorbox-good">
<div class="ss-form-entry" id="e_secondoGradimento"><label class="ss-q-title" for="entry_18">Gradimento dei bambini
<span class="ss-required-asterisk">*</span></label>
<table border="0" cellpadding="5" cellspacing="0"><tbody>
<tr><td class="ss-scalerow ss-leftlabel">Rifiutato</td>
<td class="ss-scalerow"><input type="radio" name="secondoGradimento" value="1" id="e_secondoGradimento_1" {% ifequal form.data.secondoGradimento "1" %}CHECKED{%endifequal%}/></td> 
<td class="ss-scalerow"><input type="radio" name="secondoGradimento" value="2" id="e_secondoGradimento_2" {% ifequal form.data.secondoGradimento "2" %}CHECKED{%endifequal%}/></td> 
<td class="ss-scalerow"><input type="radio" name="secondoGradimento" value="3" id="e_secondoGradimento_3" {% ifequal form.data.secondoGradimento "3" %}CHECKED{%endifequal%}/></td> 
<td class="ss-scalerow"><input type="radio" name="secondoGradimento" value="4" id="e_secondoGradimento_4" {% ifequal form.data.secondoGradimento "4" %}CHECKED{%endifequal%}/></td> 
<td class="ss-scalerow ss-rightlabel">Accettato</td></tr></tbody></table></div></div>
</td>
</tr>
<tr>
<th colspan="3" class="table_separator">
Contorno
</th>
</tr>
<tr>
<td>
<br/> <div class="errorbox-good">
<div class="ss-form-entry" id="l_contornoCondito"><label class="ss-q-title" for="e_cc_1">Condito al momento
<span class="ss-required-asterisk">*</span></label>
<table border="0" cellpadding="5" cellspacing="0"><tbody>
<tr><td class="ss-scalerow ss-leftlabel">Si</td>
<td class="ss-scalerow"><input type="radio" name="contornoCondito" value="1" id="e_cc_1" {% ifequal form.data.contornoCondito "1" %}CHECKED{%endifequal%}/></td> 
<td class="ss-scalerow"><input type="radio" name="contornoCondito" value="0" id="e_cc_2" {% ifequal form.data.contornoCondito "0" %}CHECKED{%endifequal%}/></td>
<td class="ss-scalerow ss-rightlabel">No</td></tr></tbody></table></div></div>
</td>
<td>
<br/> <div class="errorbox-good">
<div class="ss-form-entry" id="l_contornoCottura"><label class="ss-q-title"for="entry_15">Cottura
<span class="ss-required-asterisk">*</span></label>
<table border="0" cellpadding="5" cellspacing="0"><tbody>
<tr><td class="ss-scalerow ss-leftlabel">Scarsa</td>
<td class="ss-scalerow"><input type="radio" name="contornoCottura" value="1" id="group_20_1" {% ifequal form.data.contornoCottura "1" %}CHECKED{%endifequal%}/></td> 
<td class="ss-scalerow"><input type="radio" name="contornoCottura" value="2" id="group_20_2" {% ifequal form.data.contornoCottura "2" %}CHECKED{%endifequal%}/></td> 
<td class="ss-scalerow"><input type="radio" name="contornoCottura" value="3" id="group_20_3" {% ifequal form.data.contornoCottura "3" %}CHECKED{%endifequal%}/></td>
<td class="ss-scalerow ss-rightlabel">Eccessiva</td></tr></tbody></table></div></div>
</td>
<td>
<br/> <div class="errorbox-good">
<div class="ss-form-entry" id="l_contornoTemperatura"><label class="ss-q-title" for="entry_16">Temperatura
<span class="ss-required-asterisk">*</span></label>
<table border="0" cellpadding="5" cellspacing="0"><tbody>
<tr><td class="ss-scalerow ss-leftlabel">Freddo</td>
<td class="ss-scalerow"><input type="radio" name="contornoTemperatura" value="1" id="group_22_1" {% ifequal form.data.contornoTemperatura "1" %}CHECKED{%endifequal%}/></td> 
<td class="ss-scalerow"><input type="radio" name="contornoTemperatura" value="2" id="group_22_2" {% ifequal form.data.contornoTemperatura "2" %}CHECKED{%endifequal%}/></td> 
<td class="ss-scalerow"><input type="radio" name="contornoTemperatura" value="3" id="group_22_3" {% ifequal form.data.contornoTemperatura "3" %}CHECKED{%endifequal%}/></td>
<td class="ss-scalerow ss-rightlabel">Caldo</td></tr></tbody></table></div></div>
</td>
</tr>
<tr>
<td>
<br/> <div class="errorbox-good">
<div class="ss-form-entry"><label class="ss-q-title" for="entry_23">Quantit&agrave
<span class="ss-required-asterisk">*</span></label>
<table border="0" cellpadding="5" cellspacing="0"><tbody>
<tr><td class="ss-scalerow ss-leftlabel">Scarso</td>
<td class="ss-scalerow"><input type="radio" name="contornoQuantita" value="1" id="group_45_1" {% ifequal form.data.contornoQuantita "1" %}CHECKED{%endifequal%}/></td> 
<td class="ss-scalerow"><input type="radio" name="contornoQuantita" value="2" id="group_45_2" {% ifequal form.data.contornoQuantita "2" %}CHECKED{%endifequal%}/></td> 
<td class="ss-scalerow"><input type="radio" name="contornoQuantita" value="3" id="group_45_3" {% ifequal form.data.contornoQuantita "3" %}CHECKED{%endifequal%}/></td> 
<td class="ss-scalerow ss-rightlabel">Abbondante</td></tr></tbody></table></div></div>
</td>
<td>
<br/> <div class="errorbox-good">
<div class="ss-form-entry"><label class="ss-q-title" for="entry_23">Assaggio
<span class="ss-required-asterisk">*</span></label>
<table border="0" cellpadding="5" cellspacing="0"><tbody>
<tr><td class="ss-scalerow ss-leftlabel">Non Accettabile</td>
<td class="ss-scalerow"><input type="radio" name="contornoAssaggio" value="1" id="group_24_1" {% ifequal form.data.contornoAssaggio "1" %}CHECKED{%endifequal%}/></td> 
<td class="ss-scalerow"><input type="radio" name="contornoAssaggio" value="2" id="group_24_2" {% ifequal form.data.contornoAssaggio "2" %}CHECKED{%endifequal%}/></td> 
<td class="ss-scalerow"><input type="radio" name="contornoAssaggio" value="3" id="group_24_3" {% ifequal form.data.contornoAssaggio "3" %}CHECKED{%endifequal%}/></td> 
<td class="ss-scalerow ss-rightlabel">Gradevole</td></tr></tbody></table></div></div>
</td>
<td>
<br/> <div class="errorbox-good">
<div class="ss-form-entry" id="e_contornoGradimento"><label class="ss-q-title" for="entry_18">Gradimento dei bambini
<span class="ss-required-asterisk">*</span></label>
<table border="0" cellpadding="5" cellspacing="0"><tbody>
<tr><td class="ss-scalerow ss-leftlabel">Rifiutato</td>
<td class="ss-scalerow"><input type="radio" name="contornoGradimento" value="1" id="group_26_1" {% ifequal form.data.contornoGradimento "1" %}CHECKED{%endifequal%}/></td> 
<td class="ss-scalerow"><input type="radio" name="contornoGradimento" value="2" id="group_26_2" {% ifequal form.data.contornoGradimento "2" %}CHECKED{%endifequal%}/></td> 
<td class="ss-scalerow"><input type="radio" name="contornoGradimento" value="3" id="group_26_3" {% ifequal form.data.contornoGradimento "3" %}CHECKED{%endifequal%}/></td> 
<td class="ss-scalerow"><input type="radio" name="contornoGradimento" value="4" id="group_26_4" {% ifequal form.data.contornoGradimento "4" %}CHECKED{%endifequal%}/></td> 
<td class="ss-scalerow ss-rightlabel">Accettato</td></tr></tbody></table></div></div>
</td>
</tr>
<tr>
<th colspan="3" class="table_separator">Pane</th>
</tr>
<tr>
<td>
<div class="errorbox-good">
<div class="ss-form-entry"><label class="ss-q-title" for="e_paneTipo">Tipo
<span class="ss-required-asterisk">*</span></label>
<select dojoType="dijit.form.FilteringSelect" required="true" name="paneTipo" value="{{form.data.paneTipo}}" id="e_paneTipo">
<option value="Integrale">Integrale</option>
<option value="Farina 0/00">Farina 0/00 (bianco)</option>
<option value="Farina 1/2">Farina 1/2 (semola)</option>
<option value="Non definito">Non definito</option>
</select></div></div>
</td>
<td>
<br/> <div class="errorbox-good">
<div class="ss-form-entry"><label class="ss-q-title" for="e_pp_1">Presente in tavola a inizio pasto
<span class="ss-required-asterisk">*</span></label>
<table border="0" cellpadding="5" cellspacing="0"><tbody>
<tr><td class="ss-scalerow ss-leftlabel">Si</td>
<td class="ss-scalerow"><input type="radio" name="paneServito" value="1" id="e_pp_1" {% ifequal form.data.paneServito "1" %}CHECKED{%endifequal%}/></td> 
<td class="ss-scalerow"><input type="radio" name="paneServito" value="0" id="e_pp_2" {% ifequal form.data.paneServito "0" %}CHECKED{%endifequal%}/></td>
<td class="ss-scalerow ss-rightlabel">No</td></tr></tbody></table></div></div>
</td>
<td>
</td>
</tr>
<tr>
<td>
<br/> <div class="errorbox-good">
<div class="ss-form-entry"><label class="ss-q-title" for="entry_23">Quantita
<span class="ss-required-asterisk">*</span></label>
<table border="0" cellpadding="5" cellspacing="0"><tbody>
<tr><td class="ss-scalerow ss-leftlabel">Scarsa</td>
<td class="ss-scalerow"><input type="radio" name="paneQuantita" value="1" id="group_46_1" {% ifequal form.data.paneQuantita "1" %}CHECKED{%endifequal%}/></td> 
<td class="ss-scalerow"><input type="radio" name="paneQuantita" value="2" id="group_46_2" {% ifequal form.data.paneQuantita "2" %}CHECKED{%endifequal%}/></td> 
<td class="ss-scalerow"><input type="radio" name="paneQuantita" value="3" id="group_46_3" {% ifequal form.data.paneQuantita "3" %}CHECKED{%endifequal%}/></td> 
<td class="ss-scalerow ss-rightlabel">Troppa</td></tr></tbody></table></div></div>
</td>
<td>
<br/> <div class="errorbox-good">
<div class="ss-form-entry"><label class="ss-q-title" for="entry_23">Assaggio
<span class="ss-required-asterisk">*</span></label>
<table border="0" cellpadding="5" cellspacing="0"><tbody>
<tr><td class="ss-scalerow ss-leftlabel">Non Accettabile</td>
<td class="ss-scalerow"><input type="radio" name="paneAssaggio" value="1" id="group_28_1" {% ifequal form.data.paneAssaggio "1" %}CHECKED{%endifequal%}/></td> 
<td class="ss-scalerow"><input type="radio" name="paneAssaggio" value="2" id="group_28_2" {% ifequal form.data.paneAssaggio "2" %}CHECKED{%endifequal%}/></td> 
<td class="ss-scalerow"><input type="radio" name="paneAssaggio" value="3" id="group_28_3" {% ifequal form.data.paneAssaggio "3" %}CHECKED{%endifequal%}/></td> 
<td class="ss-scalerow ss-rightlabel">Gradevole</td></tr></tbody></table></div></div>
</td>
<td>
<br/> <div class="errorbox-good">
<div class="ss-form-entry" id="e_paneGradimento"><label class="ss-q-title" for="entry_18">Gradimento dei bambini
<span class="ss-required-asterisk">*</span></label>
<table border="0" cellpadding="5" cellspacing="0"><tbody>
<tr><td class="ss-scalerow ss-leftlabel">Rifiutato</td>
<td class="ss-scalerow"><input type="radio" name="paneGradimento" value="1" id="group_30_1" {% ifequal form.data.paneGradimento "1" %}CHECKED{%endifequal%}/></td> 
<td class="ss-scalerow"><input type="radio" name="paneGradimento" value="2" id="group_30_2" {% ifequal form.data.paneGradimento "2" %}CHECKED{%endifequal%}/></td> 
<td class="ss-scalerow"><input type="radio" name="paneGradimento" value="3" id="group_30_3" {% ifequal form.data.paneGradimento "3" %}CHECKED{%endifequal%}/></td> 
<td class="ss-scalerow"><input type="radio" name="paneGradimento" value="4" id="group_30_4" {% ifequal form.data.paneGradimento "4" %}CHECKED{%endifequal%}/></td> 
<td class="ss-scalerow ss-rightlabel">Accettato</td></tr></tbody></table></div></div>
</td>
</tr>
<tr>
<th colspan="3" class="table_separator">Frutta</th>
</tr><tr>
<td>
<br/> <div class="errorbox-good">
<div class="ss-form-entry"><label class="ss-q-title" for="e_fruttaTipo">Tipo Frutta
<span class="ss-required-asterisk">*</span></label>
<select dojoType="dijit.form.ComboBox" required="true" name="fruttaTipo" value="{{form.data.fruttaTipo}}" id="e_fruttaTipo">
<option>Mele</option>
<option>Anguria</option>
<option>Arance</option>
<option>Mandarini</option>
<option>Banane</option>
<option>Kiwi</option>
<option>Pere</option>
<option>Uva</option>
<option>Altro (specificare)</option>
</select></div></div>
<br/> <div class="errorbox-good">
<div class="ss-form-entry"><label class="ss-q-title" for="e_fruttaServita">Servita
<span class="ss-required-asterisk">*</span></label>
<select dojoType="dijit.form.FilteringSelect" name="fruttaServita" required="true" value="{{form.data.fruttaServita}}" id="e_fruttaServita">
<option value="A met&agrave mattina">A met&agrave mattina</option>
<option value="A fine pasto">A fine pasto</option>
</select></div></div>
</td>
<td>
<br/> <div class="errorbox-good">
<div class="ss-form-entry"><label class="ss-q-title" for="entry_23">Assaggio
<span class="ss-required-asterisk">*</span></label>
<table border="0" cellpadding="5" cellspacing="0"><tbody>
<tr><td class="ss-scalerow ss-leftlabel">Non Accettabile</td>
<td class="ss-scalerow"><input type="radio" name="fruttaAssaggio" value="1" id="group_32_1" {% ifequal form.data.fruttaAssaggio "1" %}CHECKED{%endifequal%}/></td> 
<td class="ss-scalerow"><input type="radio" name="fruttaAssaggio" value="2" id="group_32_2" {% ifequal form.data.fruttaAssaggio "2" %}CHECKED{%endifequal%}/></td> 
<td class="ss-scalerow"><input type="radio" name="fruttaAssaggio" value="3" id="group_32_3" {% ifequal form.data.fruttaAssaggio "3" %}CHECKED{%endifequal%}/></td> 
<td class="ss-scalerow ss-rightlabel">Gradevole</td></tr></tbody></table></div></div>
</td>
<td>
<br/> <div class="errorbox-good">
<div class="ss-form-entry" id="e_fruttaGradimento"><label class="ss-q-title" for="entry_18">Gradimento dei bambini
<span class="ss-required-asterisk">*</span></label>
<table border="0" cellpadding="5" cellspacing="0"><tbody>
<tr><td class="ss-scalerow ss-leftlabel">Rifiutato</td>
<td class="ss-scalerow"><input type="radio" name="fruttaGradimento" value="1" id="group_34_1" {% ifequal form.data.fruttaGradimento "1" %}CHECKED{%endifequal%}/></td> 
<td class="ss-scalerow"><input type="radio" name="fruttaGradimento" value="2" id="group_34_2" {% ifequal form.data.fruttaGradimento "2" %}CHECKED{%endifequal%}/></td> 
<td class="ss-scalerow"><input type="radio" name="fruttaGradimento" value="3" id="group_34_3" {% ifequal form.data.fruttaGradimento "3" %}CHECKED{%endifequal%}/></td> 
<td class="ss-scalerow"><input type="radio" name="fruttaGradimento" value="4" id="group_34_4" {% ifequal form.data.fruttaGradimento "4" %}CHECKED{%endifequal%}/></td> 
<td class="ss-scalerow ss-rightlabel">Accettato</td></tr></tbody></table></div></div>
</td>
</tr>
<tr>
<td>
</td>
<td>
<br/> <div class="errorbox-good">
<div class="ss-form-entry"><label class="ss-q-title" for="entry_23">Quantit&agrave
<span class="ss-required-asterisk">*</span></label>
<table border="0" cellpadding="5" cellspacing="0"><tbody>
<tr><td class="ss-scalerow ss-leftlabel">Scarsa</td>
<td class="ss-scalerow"><input type="radio" name="fruttaQuantita" value="1" id="group_47_1" {% ifequal form.data.fruttaQuantita "1" %}CHECKED{%endifequal%}/></td> 
<td class="ss-scalerow"><input type="radio" name="fruttaQuantita" value="2" id="group_47_2" {% ifequal form.data.fruttaQuantita "2" %}CHECKED{%endifequal%}/></td> 
<td class="ss-scalerow"><input type="radio" name="fruttaQuantita" value="3" id="group_47_3" {% ifequal form.data.fruttaQuantita "3" %}CHECKED{%endifequal%}/></td> 
<td class="ss-scalerow ss-rightlabel">Abbondante</td></tr></tbody></table></div></div>
</td>
<td>
<br/> <div class="errorbox-good">
<div class="ss-form-entry"><label class="ss-q-title" for="entry_23">Maturazione
<span class="ss-required-asterisk">*</span></label>
<table border="0" cellpadding="5" cellspacing="0"><tbody>
<tr><td class="ss-scalerow ss-leftlabel">Acerba</td>
<td class="ss-scalerow"><input type="radio" name="fruttaMaturazione" value="1" id="group_48_1" {% ifequal form.data.fruttaMaturazione "1" %}CHECKED{%endifequal%}/></td> 
<td class="ss-scalerow"><input type="radio" name="fruttaMaturazione" value="2" id="group_48_2" {% ifequal form.data.fruttaMaturazione "2" %}CHECKED{%endifequal%}/></td> 
<td class="ss-scalerow"><input type="radio" name="fruttaMaturazione" value="3" id="group_48_3" {% ifequal form.data.fruttaMaturazione "3" %}CHECKED{%endifequal%}/></td> 
<td class="ss-scalerow ss-rightlabel">Matura</td></tr></tbody></table></div></div>
</td>
</tr>
<tr>
<th colspan="3" class="table_separator">Fine Pasto
</th>
</tr>
<tr>
<td>
<br/> <div class="errorbox-good">
<div class="ss-form-entry" id="l_durataPasto"><label class="ss-q-title" for="entry_15">Durata complessiva pasto
<span class="ss-required-asterisk">*</span></label>
<table border="0" cellpadding="5" cellspacing="0"><tbody>
<tr><td class="ss-scalerow ss-leftlabel">&lt; 30 min</td>
<td class="ss-scalerow"><input type="radio" name="durataPasto" value="1" id="e_pd_1" {% ifequal form.data.durataPasto "1" %}CHECKED{%endifequal%}/></td>
<td class="ss-scalerow"><input type="radio" name="durataPasto" value="2" id="e_pd_2" {% ifequal form.data.durataPasto "2" %}CHECKED{%endifequal%}/></td>
<td class="ss-scalerow"><input type="radio" name="durataPasto" value="3" id="e_pd_3" {% ifequal form.data.durataPasto "3" %}CHECKED{%endifequal%}/></td>
<td class="ss-scalerow ss-rightlabel">&gt; 60 min</td></tr></tbody></table><span style="display:none;" dojoType="dijit.Tooltip" connectId="l_durataPasto" position="above" id="tt_durataPasto"> 
Considerare il tempo intercorso dall'inizio della distribuzione alla fine del pasto dell'ultimo bambino</span></div></div>
</td>
</tr>
<tr>
<td>
<div class="errorbox-good">
<div class="ss-form-entry"><label class="ss-q-title" for="e_numeroPastiTotale">Numero Pasti serviti
<span class="ss-required-asterisk">*</span></label>
<input type="text" name="numeroPastiTotale" value="{{form.data.numeroPastiTotale}}" class="ss-q-short" id="e_numeroPastiTotale" style="width: 100px;" dojoType="dijit.form.NumberTextBox" constraints="{min:0,max:1000,places:0}" required= "true" invalidMessage= "Inserire un valore compreso tra 0 e 1000"/><span style="display:none;" dojoType="dijit.Tooltip" connectId="e_numeroPastiTotale" position="above" id="tt_numeroPastiTotale"> 
Indicare il numero di pasti serviti complessivamente, ai bambini e agli adulti, comprese eventuali diete speciali.</span></div></div>
</td>
<td>
<div class="errorbox-good">
<div class="ss-form-entry"><label class="ss-q-title" for="e_numeroPastiBambini">Numero Pasti serviti ai bambini
<span class="ss-required-asterisk">*</span></label>
<input type="text" name="numeroPastiBambini" value="{{form.data.numeroPastiBambini}}" class="ss-q-short" id="e_numeroPastiBambini" style="width: 100px;" dojoType="dijit.form.NumberTextBox" constraints="{min:0,max:1000,places:0}" required= "true" invalidMessage= "Inserire un valore compreso tra 0 e 1000"/></div></div>
</td>
<td>
<div class="errorbox-good">
<div class="ss-form-entry"><label class="ss-q-title" for="e_numeroPastiSpeciali">Numero Pasti speciali serviti
<span class="ss-required-asterisk">*</span></label>
<input type="text" name="numeroPastiSpeciali" value="{{form.data.numeroPastiSpeciali}}" class="ss-q-short" id="e_numeroPastiSpeciali" dojoType="dijit.form.NumberTextBox" constraints="{min:0,max:1000,places:0}" required= "true" invalidMessage= "Inserire un valore compreso tra 0 e 1000"/><span style="display:none;" dojoType="dijit.Tooltip" connectId="e_numeroPastiSpeciali" position="above" id="tt_numeroPastiSpeciali"> 
Indicare la somma dei bambini che assumono diete etico-religiose e sanitarie.</span></div></div>
</td>
</tr>
<tr>
<td>
<br/> <div class="errorbox-good">
<div class="ss-form-entry"><label class="ss-q-title" for="e_numeroAddetti">Numero addetti alla distribuzione
<span class="ss-required-asterisk">*</span></label>	
<input type="text" name="numeroAddetti" value="{{form.data.numeroAddetti}}" class="ss-q-short" id="e_numeroAddetti" style="width: 100px;" dojoType="dijit.form.NumberTextBox" constraints="{min:0,max:100,places:0}" required= "true" invalidMessage= "Inserire un valore compreso tra 0 e 100"/></div></div>
</td>
<td>
<br/> <div class="errorbox-good">
<div class="ss-form-entry" id="l_smaltimento"><label class="ss-q-title" for="entry_42">Smaltimento rifiuti
<span class="ss-required-asterisk">*</span></label>
<table border="0" cellpadding="4" cellspacing="0"><tbody>
<tr><td class="ss-scalerow ss-leftlabel">Scarso</td>
<td class="ss-scalerow"><input type="radio" name="smaltimentoRifiuti" value="1" id="group_41_1" {% ifequal form.data.smaltimentoRifiuti "1" %}CHECKED{%endifequal%}/></td> 
<td class="ss-scalerow"><input type="radio" name="smaltimentoRifiuti" value="2" id="group_41_2" {% ifequal form.data.smaltimentoRifiuti "2" %}CHECKED{%endifequal%}/></td> 
<td class="ss-scalerow"><input type="radio" name="smaltimentoRifiuti" value="3" id="group_41_3" {% ifequal form.data.smaltimentoRifiuti "3" %}CHECKED{%endifequal%}/></td> 
<td class="ss-scalerow"><input type="radio" name="smaltimentoRifiuti" value="4" id="group_41_4" {% ifequal form.data.smaltimentoRifiuti "4" %}CHECKED{%endifequal%}/></td> 
<td class="ss-scalerow ss-rightlabel">Ottimo</td></tr></tbody></table><span style="display:none;" dojoType="dijit.Tooltip" connectId="l_smaltimento" position="above" id="tt_smaltimento"> 
Lo smaltimento rifiuti &egrave; a carico di MilanoRistorazione e ha ingenti criticit&agrave; igienico-sanitarie.<br>
Specificare:<ul>
<li>Scarso - Evidenti problemi igienici (es. cassonetti della spazzatura facilmente raggiungibili dai bambini)</li>
<li>Mediocre - Potenziali problemi igienici (es. pulizia del locale che contiene i cassonetti giudicata inadeguata)</li>
<li>Sufficiente - Nessun problema igienico ma scarsa attenzione alla raccolta differenziata</li>
<li>Ottimo - Nessun problema igienico e raccolta differenziata ottimizzata</li>
</ul></span></div></div>
</td>
<td>
<br/> <div class="errorbox-good">
<div class="ss-form-entry" id="l_giudizio"><label class="ss-q-title" for="entry_43">Giudizio Globale sul cibo
<span class="ss-required-asterisk">*</span></label>
<table border="0" cellpadding="5" cellspacing="0"><tbody>
<tr><td class="ss-scalerow ss-leftlabel">Insufficiente</td>
<td class="ss-scalerow"><input type="radio" name="giudizioGlobale" value="1" id="group_43_1" {% ifequal form.data.giudizioGlobale "1" %}CHECKED{%endifequal%}/></td> 
<td class="ss-scalerow"><input type="radio" name="giudizioGlobale" value="2" id="group_43_2" {% ifequal form.data.giudizioGlobale "2" %}CHECKED{%endifequal%}/></td> 
<td class="ss-scalerow"><input type="radio" name="giudizioGlobale" value="3" id="group_43_3" {% ifequal form.data.giudizioGlobale "3" %}CHECKED{%endifequal%}/></td> 
<td class="ss-scalerow ss-rightlabel">Buono</td></tr></tbody></table></div></div>
</td>
</tr>
<tr>
<td colspan="3">
<br/> <div class="errorbox-good">
<div class="ss-form-entry"><label class="ss-q-title" for="e_note">Note
</label>
<label class="ss-q-help" for="entry_13"></label>
<textarea name="note" rows="8" cols="120" class="ss-q-long" id="entry_13" style="margin-top: 1px; margin-bottom: 1px; margin-left: 0px; margin-right: 0px; ">{{form.data.note}}
</textarea></div></div>
</td>
</tr>
<tr>
<td colspan="3" align="center">
<button id="e_submit" type="submit" onclick="ulmsg=false;">Salva dati</button><button onclick="ulmsg=false; location.href='/commissario';return false;" id="e_annulla">Annulla</button>
</td>
</tr>
</table>
</form></div>