<style>
#content-nav { width:14em; }
#content-main {width: 66em;padding:1em;}
</style>
<div id="content-nav" class="sidebar">	
<h1>Commissario</h1>
<a href="/commissario/menu" class="btn" style="width:120px;">Menu</a>
<a href="/commissario/isp" class="btn" style="width:120px;">Ispezioni</a><br/>
<a href="/commissario/nc" class="btn" style="width:120px;">Non conformit&agrave;</a>
<a href="/commissario/diete" class="btn" style="width:120px;">Diete</a>
<a href="/commissario/stats" class="btn" style="width:120px;">Statistiche</a>
<a href="/commissario/commissioni" class="btn" style="width:120px;">Commissioni</a>
<a href="/commissario/calendario" class="btn" style="width:120px;">Calendario</a>
<a href="/commissario/profilo" class="btn" style="width:120px;">Profilo utente</a>
</div>		
