<style>
#content-nav { width:14em; }
#content-main {width: 67em;padding:1em;}
#subwrap {width: 82em;}
</style>
<div id="content-nav" class="sidebar">	
<h1>Commissario</h1>
<a href="/commissario?tab=mn" class="btn" style="width:120px;">Menu</a>
<a href="/commissario?tab=isp" class="btn" style="width:120px;">Ispezioni</a><br/>
<a href="/commissario?tab=nc" class="btn" style="width:120px;">Non conformit&agrave;</a>
<a href="/commissario?tab=ud" class="btn" style="width:120px;">Profilo utente</a>
</div>		
