<script type="text/javascript">
dojo.require("dijit.Tooltip");
dojo.require("dijit.form.Form");
dojo.require("dijit.form.Textarea");
dojo.require("dijit.form.DateTextBox");
dojo.require("dijit.form.ComboBox");
dojo.require("dijit.form.Button");
dojo.require("dijit.form.FilteringSelect");
</script>
<script src="/js/form.js" type="text/javascript"></script>
<div class="ss-form-container">
<h1 class="table_separator">Pappa-Mi - Segnalazione Non Conformit&agrave</h1>
<p/>
<p/>
<span class="ss-required-asterisk">* Campo obbligatorio</span>
<br/>
<br/>
{% if form.errors %}
<div class="errorbox-bad" id="form-error">
	<p>Non è stato possibile salvare i dati per i seguenti errori:<br />Correggere i dati e salvare nuovamente</p>
	<ul>
{{form.errors}}
	</ul>
</div>
{% endif %}<form dojoType="dijit.form.Form" action="/commissario/nonconf" method="post" id="form0">
<script type="dojo/method" event="onSubmit">
dojo.byId("e_submit").disabled = true;
dojo.byId("e_annulla").disabled = true;
enableAll("nc");
if(this.validate()&&validateradio()){
    return true;
} else {
    dojo.byId("e_submit").disabled = false;
    dojo.byId("e_annulla").disabled = false;
    alert('Il form contiene valori non corretti');
    return false;
}
return true;
</script>
<table width="100%">
<tr>
<td>
<input type="hidden" name="k" value="{{key}}"/>
<div class="errorbox-good">
<div class="ss-form-entry"><label class="ss-q-title" for="e_commissione">Commissione
<span class="ss-required-asterisk">*</span></label>
<select name="commissione" id="e_commissione">{% for cm in commissioni %}
<option value="{{cm.key}}"{% ifequal form.data.commissione.key cm.key %} selected{% endifequal %}>{{cm.nome}}</option>{% endfor %}
</select></div></div>
</td>
<td>
<div class="errorbox-good">
<div class="ss-form-entry" id="e_di"><label class="ss-q-title" for="e_dataNonconf">Data Ispezione
<span class="ss-required-asterisk">*</span></label>
<input type="text" dojoType="dijit.form.DateTextBox" constraints="{datePattern: 'dd/MM/yyyy'}" required="true" name="dataNonconf" value="{{form.data.dataNonconf}}" class="ss-q-short" id="e_dataNonconf"/></div></div>
<span dojoType="dijit.Tooltip" connectId="e_di" position="above" id="tt_di"> 
Inserire la data in cui è stata effettuata l'ispezione.
</span> 
</td>
<td>
<input type="hidden" name="key" value="{{key}}"/>
<div class="errorbox-good">
<div class="ss-form-entry"><label class="ss-q-title" for="e_turno">Turno
<span class="ss-required-asterisk">*</span></label>
<select name="turno" id="e_turno">
<option value="1"{% ifequal form.data.turno "1" %} selected{% endifequal %}>Primo</option>
<option value="2"{% ifequal form.data.turno "2" %} selected{% endifequal %}>Secondo</option>
<option value="3"{% ifequal form.data.turno "3" %} selected{% endifequal %}>Terzo</option>
<option value="4"{% ifequal form.data.turno "4" %} selected{% endifequal %}>Quarto</option>
</select></div></div>
</td>
</tr>
<tr>
<th colspan="3" class="table_separator">
Non Conformit&agrave Gravi
</th>
</tr>
<tr>
<td colspan="2">
<input type="hidden" name="key" value="{{key}}"/>
<div class="errorbox-good">
<div class="ss-form-entry"><label class="ss-q-title" for="e_tipo">Tipo Non Conformit&agrave
<span class="ss-required-asterisk">*</span></label>
<select name="tipo" id="e_tipo" dojoType="dijit.form.FilteringSelect" required="true">
<option value="1"{% ifequal form.data.tipo "1" %} selected{% endifequal %}>Cambiamenti di men&ugrave</option>
<option value="2"{% ifequal form.data.tipo "2" %} selected{% endifequal %}>Cibo avanzato oltre 30%</option>
<option value="3"{% ifequal form.data.tipo "3" %} selected{% endifequal %}>Quantit&agrave insufficiente di una vivanda</option>
<option value="4"{% ifequal form.data.tipo "4" %} selected{% endifequal %}>Tavoli o apparecchiatura tavoli non adeguata</option>
<option value="5"{% ifequal form.data.tipo "5" %} selected{% endifequal %}>Arredi e attrezzature inadeguate della sala di rigoverno</option>
<option value="6"{% ifequal form.data.tipo "6" %} selected{% endifequal %}>Inadeguata pulizia dei locali</option>
<option value="7"{% ifequal form.data.tipo "7" %} selected{% endifequal %}>Errata / mancata consegna o distribuzione delle diete speciali</option>
<option value="8"{% ifequal form.data.tipo "8" %} selected{% endifequal %}>Ritardo o anticipo nella consegna delle termiche</option>
<option value="9"{% ifequal form.data.tipo "9" %} selected{% endifequal %}>Corpo estraneo</option>
<option value="10"{% ifequal form.data.tipo "10" %} selected{% endifequal %}>Temperatura non conforme alla legge</option>
<option value="10"{% ifequal form.data.tipo "11" %} selected{% endifequal %}>Temperatura della dieta sanitaria giudicata inadeguata</option>
<option value="10"{% ifequal form.data.tipo "12" %} selected{% endifequal %}>Inadeguato smaltimento della spazzatura</option>
<option value="99"{% ifequal form.data.tipo "99" %} selected{% endifequal %}>Altro</option>
</select></div></div>
</td>
<td colspan="1">
<br/> <div class="errorbox-good">
<div class="ss-form-entry"><label class="ss-q-title" for="e_rc">Richiesta campionatura
<span class="ss-required-asterisk">*</span></label>
<table border="0" cellpadding="5" cellspacing="0"><tbody>
<tr><td class="ss-scalerow ss-leftlabel">Si</td>
<td class="ss-scalerow"><input type="radio" name="richiestaCampionatura" value="1" id="e_rc_1" {% ifequal form.data.richiestaCampionatura "1" %}CHECKED{%endifequal%}/></td> 
<td class="ss-scalerow"><input type="radio" name="richiestaCampionatura" value="0" id="e_rc_2" {% ifequal form.data.richiestaCampionatura "0" %}CHECKED{%endifequal%}/></td>
<td class="ss-scalerow ss-rightlabel">No</td></tr></tbody></table></div></div>
</td>
</tr>
<tr>
<td colspan="3">
<br/> <div class="errorbox-good">
<div class="ss-form-entry"><label class="ss-q-title" for="e_ncNote">Note
</label>
<label class="ss-q-help" for="e_note"></label>
<textarea name="note" rows="8" cols="120" class="ss-q-long" id="e_note" style="margin-top: 1px; margin-bottom: 1px; margin-left: 0px; margin-right: 0px; " dojoType="dijit.form.Textarea">{{form.data.note}}
</textarea></div></div>
</td>
</tr>
<tr>
<td colspan="3" align="center">
<button id="e_submit" type="submit">Salva dati</button><button onclick="location.href='/commissario';return false;" id="e_annulla">Annulla</button>
</td>
</tr>
</table>
</form></div>