<script type="text/javascript">
dojo.require("dijit.Tooltip");
dojo.require("dijit.form.Form");
dojo.require("dijit.form.Textarea");
dojo.require("dijit.form.NumberTextBox");
dojo.require("dijit.form.DateTextBox");
dojo.require("dijit.form.ComboBox");
dojo.require("dijit.form.Button");
dojo.require("dijit.form.FilteringSelect");
dojo.require("custom.form.TimeTextBox");
</script>
<script src="/js/form.js" type="text/javascript"></script>
<script type="text/javascript">
var ulmsg = true;
function closeIt() {
if(ulmsg) return "Attenzione, la pagina contiene dati non salvati, uscire comunque ?";
}
window.onbeforeunload = closeIt;
</script>
<div class="ss-form-container"><h1 class="table_separator">Nuova Nota</h1>
<p/>
<p/>
<span class="ss-required-asterisk">* Campo obbligatorio</span>
<br/>
<br/>
{% if form.errors %}
<div class="errorbox-bad" id="form-error">
	<p>Non &egrave; stato possibile salvare i dati per i seguenti errori:<br />Correggere i dati e salvare nuovamente</p>
	<ul>
{{form.errors}}
	</ul>
</div>
{% endif %}<form dojoType="dijit.form.Form" action="/commissario/nota" method="post" id="form0" ENCTYPE="multipart/form-data">
<script type="dojo/method" event="onSubmit">
dojo.byId("e_submit").disabled = true;
dojo.byId("e_annulla").disabled = true;
if(this.validate()&&validateradio()){
    return true;
} else {
    dojo.byId("e_submit").disabled = false;
    dojo.byId("e_annulla").disabled = false;
    alert('Il form contiene valori non corretti');
    return false;
}
return true;
</script>
<table width="100%">
<tr>
<td>
<input type="hidden" name="key" value="{{key}}"/>
<div class="errorbox-good">
<div class="ss-form-entry"><label class="ss-q-title" for="e_commissione">Commissione
<span class="ss-required-asterisk">*</span></label>
<select dojoType="dijit.form.FilteringSelect" required="true" name="commissione" id="e_commissione" value="{{form.data.commissione.key}}">{% for cm in commissioni %}
<option value="{{cm.key}}">{{cm.nome}} - {{cm.tipoScuola}}</option>{% endfor %}
</select></div></div>
</td>
<td>
<div class="errorbox-good">
<div class="ss-form-entry" id="e_di"><label class="ss-q-title" for="e_dataIspezione">Data
<span class="ss-required-asterisk">*</span></label>
<input type="text" dojoType="dijit.form.DateTextBox" constraints="{datePattern: 'dd/MM/yyyy'}" onchange="getMenu()" required="true" name="dataNota" value="{{form.data.dataIspezione}}" class="ss-q-short" id="e_dataIspezione"/></div></div>
<span style="display:none;" dojoType="dijit.Tooltip" connectId="e_di" position="above" id="tt_di"> 
Inserire la data a cui si riferisce la segnalazione.
</span> 
</td>
<td>
</td>
</tr>
<tr>
<td colspan="3">
<br/> <div class="errorbox-good">
<div class="ss-form-entry"><label class="ss-q-title" for="e_note">Titolo
</label>
<label class="ss-q-help" for="entry_13"></label>
<input type="text" id="e_titolo" style="margin-top: 1px; margin-bottom: 1px; margin-left: 0px; margin-right: 0px; width: 400px;" name="titolo" value="{{form.data.titolo}}">
</input></div></div>
</td>
</tr>
<tr>
<td colspan="3">
<br/> <div class="errorbox-good">
<div class="ss-form-entry"><label class="ss-q-title" for="e_note">Testo
</label>
<label class="ss-q-help" for="entry_13"></label>
<textarea name="note" rows="8" cols="120" class="ss-q-long" id="entry_13" style="margin-top: 1px; margin-bottom: 1px; margin-left: 0px; margin-right: 0px; ">{{form.data.note}}
</textarea></div></div>
</td>
</tr>
<tr>
<td colspan="3">
Allega un file:<input type="file" name="allegato_file" allow="image/jpeg, image/png, image/gif, image/tiff, application/pdf"/> Descrizione (opzionale)<input type="text" name="allegato_desc" allow="*"/>
</td>
</tr>
<tr>
<td colspan="3" align="center">
<button id="e_submit" type="submit" onclick="ulmsg=false;">Salva dati</button><button onclick="ulmsg=false; location.href='/commissario';return false;" id="e_annulla">Annulla</button>
</td>
</tr>
</table>
</form></div>