<script type="text/javascript">
dojo.require("dijit.form.Form");
dojo.require("dijit.form.TextBox");
dojo.require("dijit.form.Button");
dojo.require("dijit.Tooltip");
</script>
<style>
#subwrap {width: 64em;}
#content-main {width: 64em;}
</style>
<H1>Registrazione Nuovo Commissario</H1>
<P>
<P>
<span class="ss-required-asterisk">* Campo obbligatorio</span>
<BR>
<FORM dojoType="dijit.form.Form" action="/commissario/registrazione" method="POST" id="form_0">
<script type="dojo/method" event="onSubmit">
if(this.validate()&&
dojo.byId("e_n").value != "" &&
dojo.byId("e_c").value != "" &&
dojo.byId("e_cm").value != ""){
    return true;
} else {
    alert('Inserire tutti i dati richiesti');
    return false;
}
</script>
<table width="100%">
<tr>
<td>
<div class="errorbox-good">
<div class="ss-form-entry"><label class="ss-q-title" for="e_n">Nome
<span class="ss-required-asterisk">*</span></label>
<label class="ss-q-help" for="e_n"></label>
<input type="text" dojoType="dijit.form.TextBox" required="true" style="width:20em;" name="nome" value="" class="ss-q-short" id="e_n"></div></div>
</td>
<td rowspan="3">
<div class="errorbox-good">
<div class="ss-form-entry"><label class="ss-q-title" for="e_cm">Commissione
<span class="ss-required-asterisk">*</span></label>
<SELECT name="commissione" id="e_cm" multiple="yes">{% for c in commissioni %}
<OPTION value="{{c.key}}"{% ifequal commissione.key c.key %} selected{% endifequal %}>{{c.nome}} - {{c.tipoScuola}}</OPTION>{% endfor %}
</SELECT><span dojoType="dijit.Tooltip" connectId="e_cm" position="above" id="tt_cm"> 
Selezionare una o pi&ugrave Commissioni Mensa</span> 
</div></div>
</td>
</tr>
<tr>
<td>
<div class="errorbox-good">
<div class="ss-form-entry"><label class="ss-q-title" for="e_c">Cognome
<span class="ss-required-asterisk">*</span></label>
<label class="ss-q-help" for="e_c"></label>
<input type="text" dojoType="dijit.form.TextBox" required="true" style="width:20em;" name="cognome" value="" class="ss-q-short" id="e_c"></div></div>
</td>
</tr>
<tr>
<td>
<div class="errorbox-good">
<div class="ss-form-entry"><label class="ss-q-title" for="entry_2">email</label>{{user.email}}</div></div>
</td>
</tr>
<tr>
<td align="center">
<button type="submit">Salva dati</button><button onclick="location.href='/';return false;" id="e_b">Annulla</button>
</td>
</tr>
</table></FORM>