<script type="text/javascript">
dojo.require("dijit.form.Button");
</script>
<style>
#subwrap {width: 64em;}
#content-main {width: 64em;}
</style>
<H1 class="ss-form-title">Registrazione Commissario Completata</H1>
<P>
Grazie per esserti registrato, riceverai a breve via mail la conferma dell'abilitazione.
<P>
<HR class="ss-email-break" style="display:none;">
<BR>
<table width="100%">
<tr>
<td colspan="3">
<DIV class="errorbox-good">
<DIV class="ss-form-entry"><LABEL class="ss-q-title" for="entry_1">Commissione</LABEL> 
{% for c in commissario.commissioni %}
{{c.nome}}<br>
{% endfor %}
</DIV></DIV>
</td>
</tr>
<tr>
<td>
<DIV class="errorbox-good">
<DIV class="ss-form-entry"><LABEL class="ss-q-title" for="entry_0">Nome</LABEL>{{commissario.nome}}</DIV></DIV>
</td>
<td rowspan="3">
<DIV class="errorbox-good">
<DIV class="ss-form-entry"><LABEL class="ss-q-title" for="entry_1">Commissione</LABEL> 
{% for c in commissario.commissioni %}
{{c.nome}}<br>
{% endfor %}
</DIV></DIV>
</td>
</tr>
<tr>
<td>
<DIV class="errorbox-good">
<DIV class="ss-form-entry"><LABEL class="ss-q-title" for="entry_0">Cognome</LABEL>{{commissario.cognome}}
</DIV></DIV>
</td>
</tr>
<tr>
<td>
<DIV class="errorbox-good">
<DIV class="ss-form-entry"><LABEL class="ss-q-title" for="entry_2">email</LABEL>{{commissario.user.email}}</DIV></DIV>
</td>
</tr>
</table>
<P align="center">
<button dojoType="dijit.form.Button" onclick="location.href='/';return false;">Torna a pagina principale</button>
<P>
