<script type="text/javascript">
dojo.require("dijit.form.Form");
dojo.require("dijit.form.TextBox");
dojo.require("dijit.form.Button");
dojo.require("dijit.Tooltip");
</script>
<style>
#subwrap {width: 64em;}
#content-main {width: 64em;}
</style>
<H1>Registrazione Nuovo Commissario</H1>
<P>
<P>
<SPAN class="ss-required-asterisk">* Campo obbligatorio</SPAN>
<BR>
<FORM dojoType="dijit.form.Form" action="/commissario/registrazione" method="POST" id="form_0">
<script type="dojo/method" event="onSubmit">
if(this.validate()&&
dojo.byId("e_n").value != "" &&
dojo.byId("e_c").value != "" &&
dojo.byId("e_cm").value != ""){
    return true;
} else {
    alert('Inserire tutti i dati richiesti');
    return false;
}
</script>
<table width="100%">
<tr>
<td>
<DIV class="errorbox-good">
<DIV class="ss-form-entry"><LABEL class="ss-q-title" for="e_n">Nome
<SPAN class="ss-required-asterisk">*</SPAN></LABEL>
<LABEL class="ss-q-help" for="e_n"></LABEL>
<INPUT type="text" dojoType="dijit.form.TextBox" required="true" style="width:20em;" name="nome" value="" class="ss-q-short" id="e_n"></DIV></DIV>
</td>
<td rowspan="3">
<DIV class="errorbox-good">
<DIV class="ss-form-entry"><LABEL class="ss-q-title" for="e_cm">Commissione
<SPAN class="ss-required-asterisk">*</SPAN></LABEL>
<SELECT name="commissione" id="e_cm" multiple="yes">{% for c in commissioni %}
<OPTION value="{{c.key}}"{% ifequal commissione.key c.key %} selected{% endifequal %}>{{c.nome}} - {{c.tipoScuola}}</OPTION>{% endfor %}
</SELECT><span dojoType="dijit.Tooltip" connectId="e_cm" position="above" id="tt_cm"> 
Selezionare una o pi&ugrave Commissioni Mensa</span> 
</DIV></DIV>
</td>
</tr>
<tr>
<td>
<DIV class="errorbox-good">
<DIV class="ss-form-entry"><LABEL class="ss-q-title" for="e_c">Cognome
<SPAN class="ss-required-asterisk">*</SPAN></LABEL>
<LABEL class="ss-q-help" for="e_c"></LABEL>
<INPUT type="text" dojoType="dijit.form.TextBox" required="true" style="width:20em;" name="cognome" value="" class="ss-q-short" id="e_c"></DIV></DIV>
</td>
</tr>
<tr>
<td>
<DIV class="errorbox-good">
<DIV class="ss-form-entry"><LABEL class="ss-q-title" for="entry_2">email</LABEL>{{user.email}}</DIV></DIV>
</td>
</tr>
<tr>
<td align="center">
<button>Salva dati</button><button onclick="location.href='/';return false;" id="e_b">Annulla</button></FORM>
</td>
</tr>
</table>