<style>#content-main {width: 98%; padding-left:10px; padding-right:10px;}</style>
<h1>I feed RSS di Pappa-Mi</h1>
<p> 
<table cellspacing="0" cellpadding="5" border="0"> 
<tr> 
  <td>Blog Pappa-Mi</td> 
  <td align="right"><a href="http://blog.pappa-mi.it/feeds/posts/default"><img src="/img/rss_icon.gif" border="0" /></a></td> 
</tr> 
<tr> 
  <td>Ispezioni e Non Conformit&agrave;</td> 
  <td align="right"><a href="http://www.pappa-mi.it/feed/ispnc"><img src="/img/rss_icon.gif" border="0" /></a></td> 
</tr> 
<tr> 
  <td>Solo Ispezioni</td> 
  <td align="right"><a href="http://www.pappa-mi.it/feed/isp"><img src="/img/rss_icon.gif" border="0" /></a></td> 
</tr> 
<tr> 
  <td>Non Conformit&agrave;</td> 
  <td align="right"><a href="http://www.pappa-mi.it/feed/nc"><img src="/img/rss_icon.gif" border="0" /></a></td> 
</tr> 
<tr> 
  <td>Selezione di news dal Web</td> 
  <td align="right"><a href="http://plusfeed2.appspot.com/110770353259380281779"><img src="/img/rss_icon.gif" border="0" /></a></td> 
</tr> 
<tr> 
  <td>Calendario eventi segnalati da Pappa-Mi</td> 
  <td align="right"><a href="http://www.google.com/calendar/feeds/aiuto%40pappa-mi.it/public/basic"><img src="/img/rss_icon.gif" border="0" /></a></td>   
</tr> 
</table> 