img.avatar-mini {
display: inline-block;
width: 20px;
height: 20px;
vertical-align: top;
margin-right: 6px;
border-radius: 3px;
border: none;
cursor: pointer;
}

img.avatar {
display: inline-block;
width: 48px;
height: 48px;
vertical-align: top;
margin-right: 6px;
border-radius: 6px;
border: none;
cursor: pointer;
}

img.avatar-big {
display: inline-block;
width: 128px;
height: 128px;
vertical-align: top;
margin-right: 6px;
border-radius: 8px;
border: none;
cursor: pointer;
}

/* SETUP */

/*body {background: url('/img/background.jpg') no-repeat fixed top center; background-color:#3986c8; color:#303030;}*/
container { background:url('/img/back_transp.png'); !important; }

.list-item {
  background-color: #eeeeee;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#fceec1), to(#eedc94));
  background-image: -moz-linear-gradient(top, #eeeeee, #bbbbbb);
  background-image: -ms-linear-gradient(top, #eeeeee, #bbbbbb);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fceec1), color-stop(100%, #eeeeee));
  background-image: -webkit-linear-gradient(top, #eeeeee, #bbbbbb);
  background-image: -o-linear-gradient(top, #eeeeee, #bbbbbb);
  background-image: linear-gradient(top, #eeeeee, #bbbbbb);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#bbbbbb', GradientType=0);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  border-color: #eeeeee #bebebe #bbbbbb;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  margin-bottom: 6px;
  padding: 3px 3px;
  color: #404040;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  border-width: 1px;
  border-style: solid;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
}
.list-item p {
  margin-bottom: 0;
}
.list-item .close {
  float: right;
  margin-top: -2px;
  color: #000000;
  /*font-size: 20px;*/
  font-weight: bold;
  text-shadow: 0 1px 0 #ffffff;
  filter: alpha(opacity=20);
  -khtml-opacity: 0.2;
  -moz-opacity: 0.2;
  opacity: 0.2;
}

/* Topbar special styles
-------------------------------------------------- */
.topbar-wrapper {
  position: relative;
  height: 40px;
  margin: 5px 0 15px;
}
.topbar-wrapper .topbar {
  position: absolute;
  margin: 0 -20px;
  background-color: #fff;
}
.topbar-wrapper .topbar .topbar-inner {
  padding-left: 20px;
  padding-right: 20px;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

.topbar h3 a:hover, .topbar .brand a:hover, .topbar ul .active > a {
  background-color: #fff;
  background-color: rgba(255, 255, 255, 0.05);
  color: #ffffff;
  text-decoration: none;
}
/* the overlayed element */
.simple_overlay {
	
	/* must be initially hidden */
	display:none;
	
	/* place overlay on top of other elements */
	z-index:10000;
	
	/* styling */
	background-color:#333;
	min-height:200px;
	border:1px solid #666;
	
	/* CSS3 styling for latest browsers */
	-moz-box-shadow:0 0 90px 5px #000;
	-webkit-box-shadow: 0 0 90px #000;	
}

/* close button positioned on upper right corner */
.simple_overlay .close {
	background-image:url(/img/close.png);
	position:absolute;
	right:-15px;
	top:-15px;
	cursor:pointer;
	height:35px;
	width:35px;
}

/*TAG CLOUD*/
.tags ul{
	margin:1em 0;
	padding:.5em 10px;
	text-align:center;	
	}
.tags li{
	margin:0;
	padding:0;
	list-style:none;
	display:inline;
	}
.tags li a{
	text-decoration:none;
	color:#888;
	padding:0 2px;	
	}
.tags li a:hover{	
	color:#000;
	}		

.tag1{font-size:100%;}
.tag2{font-size:120%;}
.tag3{font-size:140%;}
.tag4{font-size:160%;}
.tag5{font-size:180%;}

/*radiogroup*/
.toggle.active {
  background-color: #bfbfbf;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#bfbfbf), to(#bfbfbf));
  background-image: -moz-linear-gradient(top, #bfbfbf, #bfbfbf);
  background-image: -ms-linear-gradient(top, #bfbfbf, #bfbfbf);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #bfbfbf), color-stop(100%, #bfbfbf));
  background-image: -webkit-linear-gradient(top, #bfbfbf, #bfbfbf);
  background-image: -o-linear-gradient(top, #bfbfbf, #bfbfbf);
  background-image: linear-gradient(top, #bfbfbf, #bfbfbf);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#bfbfbf', endColorstr='#bfbfbf', GradientType=0);
  color: #333;
  text-decoration: none;
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.25), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.25), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.25), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.radio-group label.active {
  color: #ffffff;
  background-color: #0064cd;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#049cdb), to(#0064cd));
  background-image: -moz-linear-gradient(top, #049cdb, #0064cd);
  background-image: -ms-linear-gradient(top, #049cdb, #0064cd);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #049cdb), color-stop(100%, #0064cd));
  background-image: -webkit-linear-gradient(top, #049cdb, #0064cd);
  background-image: -o-linear-gradient(top, #049cdb, #0064cd);
  background-image: linear-gradient(top, #049cdb, #0064cd);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#049cdb', endColorstr='#0064cd', GradientType=0);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  border-color: #0064cd #0064cd #003f81;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}

.radio-group input[type=radio],
.toggle-group input[type=checkbox],
.toggle input[type=checkbox] {
    display: none;
}

/* because bootstrap "label" selector is too generic we have add another selector to override some properties */

.radio-group > label,
.toggle-group > label,
.toggle {
    text-align: left;
    width: auto;
}

label.toggle {
    float: none;
}

.btngroup {
  display: inline-block;
  vertical-align: bottom;
}
.btngroup .btn {
  float: left;
  border-radius: 0;
}
.btngroup .btn:nth-child(n+2) {
  border-left: none;
}
.btngroup .btn:first-child {
  border-radius: 4px 0 0 4px;
}
.btngroup .btn:last-child {
  border-radius: 0px 4px 4px 0px;
}

.label_isp_1 {
  font-weight:normal;  
}

.label_sep_1 {
  padding-top: 4px;
  /*font-size:12px;*/
}

.box1 {
  margin-top:5px;
}
.section_2_isp {
  /*font-size:18px;*/
  font-weight:bold;
  padding-top: 2px;
  padding-bottom: 4px;
  line-height:normal;
  display:block;
  width:100%;
  text-align:left;
}

footer {
background: url(../img/food_footer.jpg) repeat-x center bottom;
height: 133px;
}

.label.label41 {
  background-color: #c43c35;
}
.label.label42 {
  background-color: #f89406;
}
.label.label43 {
  background-color: #5bd35b;
}
.label.label44 {
  background-color: #46a546;
}

.label.label131 {
  background-color: #c43c35;
}
.label.label132 {
  background-color: #f89406;
}
.label.label133 {
  background-color: #46a546;
}

.label.label231 {
  background-color: #62cffc;
}
.label.label232 {
  background-color: #46a546;
}
.label.label233 {
  background-color: #c43c35;
}

.exp {
background-image: url(//ssl.gstatic.com/s2/oz/images/stream/expand.png);
background-repeat: no-repeat;
background-position: 0 5px;
float: right;
height: 7px;
width: 8px;
padding-top: 5px;
cursor: pointer;
outline: none;
text-decoration: none;
}

.col {
background-image: url(//ssl.gstatic.com/s2/oz/images/stream/collapse.png);
background-position: 0 10px;
}

.expcmt {
background-image: url(//ssl.gstatic.com/s2/oz/images/stream/expand.png);
background-repeat: no-repeat;
background-position: 0 10px;
height: 7px;
width: 8px;
padding-top: 5px;
cursor: pointer;
outline: none;
text-decoration: none;
}

.colcmt {
background-image: url(//ssl.gstatic.com/s2/oz/images/stream/collapse.png);
background-position: 0 5px;
}

.permalink {
background: no-repeat url(//ssl.gstatic.com/s2/tt/images/sharebox/sprite4.png) -69px -15px;
float: right;
text-decoration: none;
width: 17px;
height: 14px;
cursor: default;
margin: 3px 3px;
}

.permalink:hover {
background: no-repeat url(//ssl.gstatic.com/s2/tt/images/sharebox/sprite4.png) -18px -34px;
cursor: pointer;
}

.expcommentnew {
border: 1px solid #DDD;
color: #999;
cursor: text;
display:none;
padding: 2px 7px;
margin-right: 24px;
box-sizing: border-box;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
}

.row.rowspaced {
  margin-bottom: 10px;
}