@import url(base.css);

@page {
    size: A4;
    margin: .5in .5in .5in 1in;
}

body { font-size:10pt; background: white; color: black; }

/* Hide unneccessary content */
#header, #billboard, #content-extra, #content-nav, #documentation #content-secondary, #documentation #content-related, h2.deck { display:none; }

/* Fix widths */
#container .ss-form-container { width:22cm; }
#subwrap, #content-main { width:20cm; float:none; }

/* Formatting and display fixes */
#content { border-top:none; }
.literal-block { overflow:visible; }

/* Typographic adjustments */
#content-main p, #content-main h2, #content-main h3, #content-main h4 { margin-bottom:1em; }