<style> 
label.error { float: none; color: red; padding-left: .5em; vertical-align: top; }
.ui-button { margin-left: -1px; }
.ui-button-icon-only .ui-button-text { padding: 0.35em; } 
.ui-autocomplete-input { margin: 0; padding: 0.48em 0 0.47em 0.45em; }
</style> 
<link href="/css/activity.css" rel="stylesheet" type="text/css" media="screen"/>
<link href="/css/comments.css" rel="stylesheet" type="text/css" media="screen"/>
<link href="/css/jquery.taghandler.css" rel="stylesheet" type="text/css" media="screen"/>
<script type="text/javascript" src="/js/jquery.form.js"></script> 
<script type="text/javascript" src="/js/jquery.taghandler.min.js"></script> 
<script type="text/javascript" src="/js/comments.js"></script> 
<script src="/js/jform.js" type="text/javascript"></script>
<ul class="activity_list" id="activity_list">
{%include "/activity.html"%}
</ul>