{%for m in menu%}
   <!-- Carousel items -->
    <div class="item" id="{{loop.index}}">
     <div class="row">
      <div class="span9">
       <h3>{{m.getData()}} {{m.data}}</h3>
      </div>
     </div>
     <div class="row">
      <div class="span5 well">
       <small>Primo Piatto</small>
       <h3>{{m.primo.nome}}</h3>
       <div class="row">
        <div class="span4">
         <button class="btn btn-ing" data-original-title="Ingredienti" data-detail-key='{{m.primo.key.id()}}' data-detail-cm='{{ctx.cm_key}}'>Ingredienti</button>
         <button class="btn btn-nut" data-original-title="Nutrizione" data-content="Dati non disponibili{#<img src='http://chart.apis.google.com/chart?chf=bg,s,FFFFFF&chs=160x60&cht=p&chco=7777CC|76A4FB|3399CC|3366CC&chd=t:{{m.secondo.carboidrati}},{{m.secondo.grassi}},{{m.secondo.proteine}}&chp=0&chdl={{m.secondo.carboidrati}} Carboidrati|{{m.secondo.grassi}} Grassi|{{m.secondo.proteine}} Proteine'/>#}">Nutrizione</button>
        </div>
       </div>
      </div>
      <div class="span5 well">
       <small>Secondo Piatto</small>
       <h3>{{m.secondo.nome}}</h3>
       <div class="row">
        <div class="span4">
         <button class="btn btn-ing" data-original-title="Ingredienti" data-detail-key='{{m.secondo.key.id()}}' data-detail-cm='{{ctx.cm_key}}'>Ingredienti</button>
         <button class="btn btn-nut" data-original-title="Nutrizione" data-content="Dati non disponibili{#<img src='http://chart.apis.google.com/chart?chf=bg,s,FFFFFF&chs=160x60&cht=p&chco=7777CC|76A4FB|3399CC|3366CC&chd=t:{{m.secondo.carboidrati}},{{m.secondo.grassi}},{{m.secondo.proteine}}&chp=0&chdl={{m.secondo.carboidrati}} Carboidrati|{{m.secondo.grassi}} Grassi|{{m.secondo.proteine}} Proteine'/>#}">Nutrizione</button>
        </div>
       </div>
      </div>
     </div>
     <div class="row">
      <div class="span5 well">
      <small>Contorno</small>
       <h3>{{m.contorno.nome}}</h3>
       <div class="row">
        <div class="span4">
         <button class="btn btn-ing" data-original-title="Ingredienti" data-detail-key='{{m.contorno.key.id()}}' data-detail-cm='{{ctx.cm_key}}'>Ingredienti</button>
         <button class="btn btn-nut" data-original-title="Nutrizione" data-content="Dati non disponibili{#<img src='http://chart.apis.google.com/chart?chf=bg,s,FFFFFF&chs=160x60&cht=p&chco=7777CC|76A4FB|3399CC|3366CC&chd=t:{{m.secondo.carboidrati}},{{m.secondo.grassi}},{{m.secondo.proteine}}&chp=0&chdl={{m.secondo.carboidrati}} Carboidrati|{{m.secondo.grassi}} Grassi|{{m.secondo.proteine}} Proteine'/>#}">Nutrizione</button>
        </div>
       </div>
      </div>
      <div class="span5 well">
       <small>Dessert</small>
       <h3>{{m.dessert.nome}}</h3>
       <div class="row">
        <div class="span4">
         <button class="btn btn-ing" data-original-title="Ingredienti" data-detail-key='{{m.dessert.key.id()}}' data-detail-cm='{{ctx.cm_key}}'>Ingredienti</button>
         <button class="btn btn-nut" data-original-title="Nutrizione" data-content="Dati non disponibili{#<img src='http://chart.apis.google.com/chart?chf=bg,s,FFFFFF&chs=160x60&cht=p&chco=7777CC|76A4FB|3399CC|3366CC&chd=t:{{m.secondo.carboidrati}},{{m.secondo.grassi}},{{m.secondo.proteine}}&chp=0&chdl={{m.secondo.carboidrati}} Carboidrati|{{m.secondo.grassi}} Grassi|{{m.secondo.proteine}} Proteine'/>#}">Nutrizione</button>
        </div>
       </div>
      </div>
     </div>
    </div>
 {%endfor%}
<script>
var isVisible = false;
var clickedAway = false;

$(document).click(function(e) {
  if(isVisible && clickedAway) {
    $('button.btn-ing').popover('hide');
    isVisible = clickedAway = false;
  } else {
    clickedAway = true;
  }
});
$(document).ready(function (){
$('button.btn-ing').popover({
        html: true,
        trigger: 'manual'
    }).click(function(e) {showDishDetails(e);});
});
$('button.btn-nut').popover({});
</script>
