<script type="text/javascript">
dojo.require("dijit.form.Form");
dojo.require("dijit.form.TextBox");
dojo.require("dijit.form.Button");
dojo.require("dijit.Tooltip");
</script>
<style>
#content-main {width: 80em;padding:1em;}
</style>
<div style="padding-left: 5px; padding-right:5px;">
<H1>Supporto</H1>
<p>
In questa presentazione trovate una descrizione del sito Pappa-Mi e una breve guida su come registrarsi e come utilizzare le principali funzioni.
</p><iframe src="http://docs.google.com/a/pappa-mi.it/present/embed?id=ah9h4wmg49zf_448dnmm2mf6&interval=5&size=l" frameborder="0" width="700" height="559"></iframe>
<p>
Le richieste di supporto e chiarimento sull'utilizzo dell'applicazione possono essere inviate alla casella <a href="mailto:aiuto@pappa-mi.it">aiuto@pappa-mi.it</a>
</p>
</div>
