<script type="text/javascript">
$(document).ready(function() { 
  $("#form0").validate({});
});
</script>
{% set providers = [
  ('google', '/auth/google'),
  ('facebook', '/auth/facebook'),
  ('twitter', '/auth/twitter'),
  ('yahoo', '/auth/appengine_openid?provider=yahoo.com'),
  ('linkedin', '/auth/linkedin'),
  ('windowslive', '/auth/windowslive'),
] -%}
<div class="row">
  <div class="span12">
    <legend>Scegli uno dei seguenti account per accedere</legend>    
    <div class="well">
    <ul>
      {% for p, u in providers %}
        <li class="provider-btn"><a href="{{ u }}" class="btn"><img src="/img/eauth/{{ p }}.png" /></a></li>
      {% endfor %}
    </ul>
    </div>
  </div>
  <div class="span12">
    <legend>Oppure inserisci la tua email e password</legend>
    <div class="password-form">
      <div class="span4 well">
        <form id="form0" method="POST" action="/auth/password" class="horizontal-form" novalidate>
          <fieldset class="control-group">
            <label for="email" class="control-label">Email</label>
            <div class="controls"><input type="text" name="email" class="span3 required email" /></div>
          </fieldset>
          <fieldset class="control-group">
            <label for="password" class="control-label">Password</label>
            <div class="controls"><input type="password" name="password" class="span3 required password" /></div><a href="/eauth/pwdrecrq">Ho dimenticato la password</a>
          </fieldset>
          <fieldset class="">
            <button type="submit" class="btn">Login</button>
          </fieldset>
          {% if messages %}
            <div data-dismiss="alert" class="alert alert-block alert-{{ messages[0]['level'] }}">
              <a href="#" class="close">&times;</a>
              <ul>
                {% for message in messages %}
                  <li>{{ message['message']|safe }}</li>
                {% endfor %}
              </ul>
            </div>
          {% endif %}
        </form>
      </div>
      <div class="span6">
        <div class="alert alert-info"><strong>Importante:</strong> Chi era gi&agrave; iscritto a Pappa-Mi deve accedere utilizzando "Google"</div>
      </div>        
    </div>
  </div>
</div>
