<script type="text/javascript">
$(document).ready(function() { 
  $("#form0").validate({
    rules: {
      email: {
        required: true,
        email: true
      },
      c: {
        required: true,
        number: true
      }
    }
  });
  
  $('#form0').ajaxForm({success: function(data) {
    if(data == "Ok") {
      $("#message").html('<div id="message" class="alert alert-info fade in"><a class="close" data-dismiss="alert" href="#">&times;</a>E\' stata inviata una mail all\'indirizzo indicato con la procedura di ripristino</div>');
    } else {
      $("#message").html('<div id="message" class="alert alert-error fade in"><a class="close" data-dismiss="alert" href="#">&times;</a>'+data+'</div>');
    }
    $("#message").alert();    
    }
  });
});
</script>
<div class="row auth">
  <div class="span11">
    <legend>Inserisci l'indirizzo email con cui ti sei registrato</legend>
    <div class="password-form">
      <form id="form0" method="POST" action="/eauth/pwdrecrq" class="horizontal-form" novalidate>
        <fieldset class="control-group">
          <label for="email" class="control-label hidden-phone">Email</label>
          <div class="controls"><input type="text" name="email" class="span3 required email" placeholder="Email"/></div>
        </fieldset>
        <fieldset class="control-group">
          <label for="captcha" class="control-label">{{cap_a}} <i class="icon-plus"></i> {{cap_b}}</label>
          <div class="controls"><input type="input" name="c" class="span1 required" /></div>
        </fieldset>
        <fieldset class="form-actions">
          <button type="submit" class="btn">Invia richiesta</button>
        </fieldset>
        <div id="message"></div>
      </form>
    </div>
  </div>
</div>
