<script type="text/javascript">

$(document).ready(function () {
 $("#new_post_form").validate({
  errorClass: "error",
  errorPlacement: function(error, element) {
    var item = $(element);
    item.tooltip({title:error.text(), trigger:'manual'});
    item.tooltip('show');
  },
  highlight: function(element, errorClass, validClass) {
    var item = $(element).parents(".form_parent");
    item.addClass(errorClass); 
  },
  unhighlight: function(element, errorClass, validClass) {
    var item = $(element).parents(".form_parent");
    item.removeClass(errorClass); 
    $(element).tooltip('hide');
  },  
  rules: {
  }
 });
 $('#new_post_form').ajaxForm({clearForm: true, dataType:'json',success: function(data) { 
  if (data.response!="success") {
   if(data.response=="flooderror"){
    onFloodError(data)
    return			  
   }
  }
  $("#main_stream_list").prepend(data.html)
  $("#open_post_submit").button("reset");
 }, beforeSubmit: function(arr,$form) {
  $("#open_post_submit").button("loading");
  $('#new_post').slideUp();
 }});

 $("ul#node_list a").click(onNodeClick);
 $("#more_posts").click(onMoreClick);

  //$("div#main_stream").children().hide()
  init()
  init_search()
});

function onNodeClick(){
 node_item = $(this);
 key=node_item.attr('key');
 node_item.parent().siblings(".active").removeClass("active");
 node_item.parent().addClass("active");
 $("#node_title span").text(node_item.text());
 $("#node_title a").attr("href", "/social/node/"+key);
 node_item.parent().addClass("active");
 key=node_item.attr('key');
 $("#main_stream_list").empty();
 loadPosts(key,$("#main_stream_"+key).attr('next_cursor'))
}

function init(){
 $("#node_list").children().find("[key]")[0].click();
}

function onMoreClick(){
 key = $('#node_list li.active a').attr('key');
 loadPosts(key,$("#main_stream").attr('next_cursor'))
}


function loadPosts(key,current_cursor){
 $.ajax({
  type: 'POST',
  url:'/social/paginate?cmd=post_main&node='+key+'&cursor='+current_cursor, 
  dataType:'json',
  success:function(data) { 
   $("#form_node").attr("value",key);
   $("#main_stream").attr("next_cursor",data.cursor)
   if(data.response=="success"){
    $("#main_stream_list").append(data.html)
   } else if(data.response="no_posts"){
   $("#no_more_posts").alert();
   $("#no_more_posts").show();
    /*
    if(current_cursor!=undefined){
     $("div#add_posts_"+key).hide()     
     if($("div#node_stream_"+key+">ul").children().length>0){
      $("div#node_stream_"+key+" .pagination_errors").show()
     } else {
      $("div#node_stream_"+key+" .empty_errors").show()  
     }   
    } */   
   }
  }
 });
 //} else {
  //$("ul#node_list li").click(onNodeClick)
  //$("#node_stream_"+key).siblings().hide()
  //$("div#node_stream_"+key).show()
 //}
}



</script>

{%set tab_activity="active"%}
{%include "navigation.html"%}

<div id="node_selector">	
 <div class="row">
  <div class="span3">
   <ul id="node_list" class="nav nav-list well">
    <li class="nav-header"><i class="icon-tags"></i>Nodi</li>
    {%for node in node_list%}<li><a key="{{node.key.urlsafe()}}" href="#">{{node.name}}<i class="pull-right icon-chevron-right"></i></a></li>
    {%endfor%}
    <li>
     <a href="/social/nodelist">Altre scuole e argomenti</a>
    </li>
   </ul>    
  </div>
  <div class="span9">
{%if user %}	
   <div class="well" style="padding: 10px;"><h4><small>Aggiungi nuovo</small></h4>
    <div class="btn-toolbar">
     <div id="open_post_button" class="btn btn-primary" onclick="onOpenPostForm()">Messaggio</div>
     {%if commissario%}
     <button class="btn btn-primary" onclick="opennewisp();">Ispezione</button>
     <button class="btn btn-primary" onclick="opennewdieta();">Ispezione Diete</button>
     <button class="btn btn-primary" onclick="opennewnc();">Non conformit&agrave;</button>
    {%endif%}
     <button class="btn btn-primary" onclick="opennewnota();">Nota</button>
    </div>
   </div>
   {%endif%}  
<div id="new_post" style="display:none" class="well">
 <form id="new_post_form" action="/social/managepost" method="post">
 <input type="hidden" name="cmd" value="create_open_post"/>
 <input type="hidden" id="form_user" name="user" value="{{user.key.urlsafe()}}"/>
 <input type="hidden" id="form_node" name="node" value=""/>
	 <div id="post_title" class="form_parent">
		 <label id="post_content_label" for="titolo">Titolo</label>
		 <input class="span8 comment_textarea required" name="title" id="post_title_text"></input>
	 </div>
	 <div id="post_content" class="form_parent">
		 <label id="post_content_label" for="content">Contenuto</label>
		 <input class="span8 comment_textarea required" name="content" id="post_content_text"></input>
	 </div>
	 <div class="form-actions">
		 <input id="open_post_submit" class="btn btn-primary" type="submit" value="Salva" data-loading-text="Invio risposta in corso..."/>	
		 <input id="open_post_cancel_button" class="btn btn-primary" type="reset" value="Annulla" onclick="onOpenPostFormCancel()"/>
	 </div>
 </form> 
</div>
   <div id="node_title">
    <h4 style="display:inline;"><span>titolo</span></h4><a class="pull-right" href="">link<i class="icon-resize-full"></i></a>
   <div>
   <div id="main_stream">
    <ul id="main_stream_list" class="unstyled">
    </ul>
   </div>
   <div id="main_cmd">
    <div id="more_posts" class="btn btn-normal span5 offset2">Carica altri...</div>
    <div id="no_more_posts" class="span5 offset2 alert alert-info fade in" style="display:none;">Non sono presenti altri messaggi<a class="close" data-dismiss="alert" href="#">&times;</a>
    </div>
   </div>
  </div>
 </div>
</div>	
 <div id="new-data" style="display:none;">
  <div id="new-data-form" style="border: none;"></div> 
  <div id="new-data-preview" style="display:none;"></div> 
 </div> 
 <div id="new-nc" style="display:none;"></div>
