<script type="text/javascript">

function onOpenPostForm(){
$("#new_post_form").show()
$("#open_post_button").hide()
}
function onOpenPostFormCancel(){
$("#new_post_form").hide()
$("#open_post_button").show()
}
</script>


<div id="node_name">{{node.name}}</div>

{%if user%}
<div id="subscribe_btn" style="{% if not show_sub_button %}display:none {% endif%}" class="btn" onclick="onSubscription({{user.key.id()}},{{node.key.id()}})">Iscriviti</div>
<div id="unsubscribe_btn" style="{% if not is_sub %}display:none {% endif%}" class="btn" onclick="onUnsubscription({{user.key.id()}},{{node.key.id()}})">Discriviti</div>
<div id="subscribed_users">Utenti iscritti{% for i in subscriptions %}{% if i!=[] %}<div>aa{{i.0.nome}}</div>{% endif %}{% endfor %}</div>
{%endif%}
<div id="node_posts"> 
	{% for post in latest_posts %}

		<div class="social_post" style="margin:10px;border:2px solid;"> 
			<div class="post_title"><a href="/social/post/{{post.key.urlsafe()}}">{{post.title|e}}</a></div> 
			<div class="post_author">{{post.commissario.nome|e}}</div>
			<div class="post_date">{{post.creation_date.strftime('%d %m %Y')}}</div>
		</div>
	
		{% endfor%}
</div>
	
{%if user and can_post%}	

	<div id="open_post_button" class="btn btn-primary" type="submit" onclick="onOpenPostForm()"/>Inizia Nuova Discussione</div>
  
  	<div id="new_post_form" style="display:none">
		<div id="post_title">
			<div id="post_title_label">Titolo</div>
			<textarea cols="80" rows="4" class="span8 comment_textarea required" name="titolo" id="post_title_text"></textarea>
		</div>
  		<div id="post_content">
			<div id="post_content_label">Contenuto</div>
			<textarea cols="80" rows="4" class="span8 comment_textarea required" name="titolo" id="post_content_text"></textarea>
		</div>
	 <div id="open_post_submit" class="btn btn-primary" type="submit" onclick="onOpenPostSubmitted({{user.key.id()}},{{node.key.id()}})" data-loading-text="Invio risposta in corso..."/>Apri Discussione</div>
	
  	<div id="open_post_cancel_button" class="btn btn-primary" type="submit" onclick="onOpenPostFormCancel()"/>Annulla</div>
	</div>
  
  
{%endif%}
{{prova}}