<div class="row">
	<div class="span12">
		<div class="social_post thumbnail"> 
			<div class="s_post_avatar">
				<img class="" src="{{post.commissario.avatar(cmsro)}}" title="{{post.commissario.nomecompleto(cmsro)}}">
			</div>
			<div class="s_post_content">
				<div class="s_post_header">			
					<div class="s_post_title"><a href="/social/post/{{post.key.urlsafe()}}">{{post.title}}</a></div> 
					<div class="s_post_author">scritto da {{post.commissario.nome}}</div>
					<div class="s_post_date">&nbsp;- il {{post.creation_date.strftime('%d %m %Y')}}</div>
				</div>				
				<div class="s_post_body">
				<div  id="post_content_{{post.key.urlsafe()}}">{{post.content}}</div>
				<div  id="edit_hollow_{{post.key.urlsafe()}}"></div>
				
				<div>
				{% if post.resource%}
				
				{{post.resource.get().render()}}
				{% endif%}	
				</div>			
				</div>									
			{% if user %} 
				<div class="s_post_commands">
 					{%if subscription.can_admin%}<button class="btn btn-danger" onClick="onPostDelete('{{user.key.urlsafe()}}','{{node.key.urlsafe()}}','{{post.key.urlsafe()}}')"><i class="icon-remove"></i>Elimina</button>{%endif%}
					{%if subscription.can_admin or user.key==post.author%}<button class="btn btn-primary" onClick="onPostEdit('{{user.key.urlsafe()}}','{{node.key.urlsafe()}}','{{post.key.urlsafe()}}')"><i class="icon-remove"></i>Modifica</button>{%endif%}
					
					<button class="btn btn-primary" onClick="onPostReshare('{{user.key.urlsafe()}}','{{post.key.urlsafe()}}','{{node.key.urlsafe()}}')"><i class="icon-share-alt"></i>Reshare</button>
				</div>
			{% endif%}			
			</div>			
		</div>			

		<div class="s_replies span8" id="replies">
			<ul class="thumbnails">
{%for reply in replies%}
				<li>
					<div class="s_reply thumbnail"> 
						<div class="s_post_avatar">
							<img class="avatar" src="{{reply.commissario.avatar(cmsro)}}" title="{{reply.commissario.nomecompleto(cmsro)}}">
						</div>
						<div class="s_post_content">
							<div class="s_post_header">			
								<div class="s_post_title"><a href="/social/post/{{reply.key.urlsafe()}}">{{reply.title}}</a></div> 
								<div class="s_post_author">scritto da {{reply.commissario.nome}}</div>
								<div class="s_post_date">&nbsp;- il {{reply.creation_date.strftime('%d %m %Y')}}</div>
							</div>				
							<div class="s_post_body">
								<div  id="post_content_{{reply.key.urlsafe()}}">{{reply.content}}</div>
								<div  id="edit_hollow_{{reply.key.urlsafe()}}"></div>
							</div>				
						{% if user %} 
			
							<div class="s_post_commands">
								{%if subscription.can_admin or user==reply.author%}<button class="btn btn-danger" onClick="onReplyDelete('{{user.key.urlsafe()}}','{{post.key.urlsafe()}}','{{node.key.urlsafe()}}','{{reply.key.urlsafe()}}')"><i class="icon-remove"></i>Elimina</button>{%endif%}
								{%if subscription.can_admin  or user.key==reply.author%}<button class="btn btn-primary" onClick="onPostEdit('{{user.key.urlsafe()}}','{{node.key.urlsafe()}}','{{reply.key.urlsafe()}}')"><i class="icon-remove"></i>Modifica</button>{%endif%}
					
							</div>		
						{% endif%}							
						</div>			
					</div>
				</li>	
{%endfor%}
			</ul>
	{%if user and subscription.can_post%}	
			<form id="reply_form">
				 <textarea row="3" class="span8 comment_textarea required" id="reply_message"></textarea>
				 <div id="reply_submit" class="btn btn-primary" type="submit" onclick="onReplySubmitted('{{user.key.urlsafe()}}','{{post.key.urlsafe()}}','{{node.key.urlsafe()}}')" data-loading-text="Invio risposta in corso..."/>Invia Risposta</div>
			
			</form>
	{%endif%}
		</div>
	</div>
</div>

<div id="modal_reshare">
</div>


