<script type="text/javascript">
$(document).ready(initPost);
</script>
<div class="s_post_root row" data-node-key='{{node.key.urlsafe()}}' data-post-key='{{post.key.urlsafe()}}'>
	<div class="span12">
		<div class="s_post thumbnail"> 
			<div class="s_post_avatar">
				<img class="avatar" src="{{post.commissario.avatar(cmsro)}}" title="{{post.commissario.nomecompleto(cmsro)}}">
			</div>
			<div class="s_post_content">
				<div class="s_post_header">			
					<div class="s_post_title"><a href="/social/post/{{post.key.urlsafe()}}">{{post.title}}</a></div> 
					<div class="s_post_author">scritto da {{post.commissario.nome}}</div>
					<div class="s_post_date">&nbsp;- il {{post.created.strftime('%d/%m/%Y %H:%M:%S')}}</div>
				</div>				
				<div class="s_post_body">
					<div class="post_content" id="post_content_{{post.key.urlsafe()}}">{{post.content}}</div>
					<div class="edit_hollow" id="edit_hollow_{{post.key.urlsafe()}}"></div>
					{%for resource in post.resource%}
					<div class="post_resource well">
					{%include "social/resources/"+post.res_type[loop.index-1]+".html"%}
					</div>			
					{%endfor%}	
					{% if post.attachments|count > 0 %}
					<div class="post_attach well">
					<div><i class="icon-file"></i> Allegati</div>
					<ul class="thumbnails">{%for attach in post.attachments%}
					 <li><a class="thumbnail" href="{{attach.path()}}" target="new">{%if attach.isImage()%}<img src="{{attach.imgthumb()}}" alt="{{attach.nome}}"/>{%else%}{{attach.nome}}{%endif%}</a>&nbsp;{{attach.descrizione}}</li>{%endfor%}
					</ul>
					</div>			
					{% endif %}  
				</div>		
				<div class="s_post_fback pull-left">
				<span class="s_post_votes_c"{%if post.votes|count == 0%} style="display:none;"{%endif%}><i class="icon-star"></i><span class="s_post_votes badge badge-success">{{post.votes|count}}</span></span>
				<span class="s_post_reshares_c"{%if post.reshares|count == 0%} style="display:none;"{%endif%}><i class="icon-share-alt"></i><span class="s_post_reshares badge badge-info"{%if post.reshares|count == 0%} style="display:none;"{%endif%}>{{post.reshares|count}}</span></span>
				</div>
				
				{% if user %} 
				<div class="s_post_commands btn-group">
					{%if subscription.can_admin%}
					<button class="btn btn-normal btn-mini post_del"><i class="icon-remove"></i>Elimina</button>
					{%endif%}
					{%if subscription.can_admin or user.key==post.author%}
					<button class="btn btn-normal btn-mini post_edit"><i class="icon-pencil"></i>Modifica</button>{%endif%}
					<button id="postunsub" class="btn btn-normal btn-mini post_unsub" {%if not postsub %}style="display:none;"{%endif%}><i class="icon-minus-sign"></i>Non seguire</button>
					<button id="postsub" class="btn btn-normal btn-mini post_sub" {%if postsub %}style="display:none;"{%endif%} ><i class="icon-plus-sign"></i>Segui</button>					
					<button class="btn btn-normal btn-mini post_reshare"><i class="icon-share-alt"></i>Reshare</button>
					<button class="btn btn-normal btn-mini post_vote" data-vote="1"{%if not post.can_vote(user)%} style="display:none;"{%endif%}><i class="icon-star"></i>Vota</button>
					<button class="btn btn-normal btn-mini post_unvote" data-vote="0"{%if post.can_vote(user)%} style="display:none;"{%endif%}><i class="icon-star-empty"></i>Annulla voto</button>
				</div>
				{% endif%}			
			</div>			
		</div>			
		<div class="s_replies" id="replies">
			<ul id="comment_list" class="thumbnails">
				{%for reply in replies%}
				{%include "social/pagination/comment.html"%}
				{%endfor%}
			</ul>
			{%if user and subscription.can_post%}	
			<ul id="comment_list" class="thumbnails">
				<li class="s_reply">
				 <div class="thumbnail"> 
				  <div class="s_post_avatar">
				   <img class="avatar" src="{{cmsro.avatar(cmsro)}}" title="{{cmsro.avatar(cmsro)}}">
				  </div>
				  <div class="s_post_content">
				   <div class="s_post_header">			
				    <div class="s_post_title"></div> 
				    <div class="s_post_author">{{cmsro.nomecompleto(cmsro)}}</div>
				    <div class="s_post_date"></div>
				   </div>				
				   <div class="s_post_body">
				    <div class="post_content">		
					<form id="new_comment_form" action="/social/managepost" method="post">
						<input type="hidden" name="cmd" value="create_reply_post"/>				
						<input type="hidden" id="form_node" name="node" value="{{node.key.urlsafe()}}"/>
						<input type="hidden" id="form_post" name="post" value="{{post.key.urlsafe()}}"/>
						<div id="post_content" class="form_parent">
							<input row="3" class="span8 comment_textarea required" id="reply_message" name="content"></textarea>
							<input id="reply_submit" class="btn btn-primary" type="submit" value="Invia" data-loading-text="Invio risposta in corso..."/>
						</div>
					</form>
				    </div>
				   </div>
				  </div>
				 </div>
				</li>
			</ul>
			{%endif%}
		</div>
	</div>
</div>
<div class="s_tools">
	<div id="modal_reshare"></div>
	<div class="edit_post" style="display:none;">
		<input class="edit_content" name="content" value="">
		<div id="edit_commands btn-group">
			<button class="btn btn-normal btn-mini s_post_edit_submit"><i class="icon-share-alt"></i>Conferma</button>	
			<button class="btn btn-normal btn-mini s_post_edit_cancel"><i class="icon-share-alt"></i>Annulla</button>			
		</div>
	</div>
</div>
