<style>
#node_title {
display:none;
}
#node_container {
margin-top:20px;
}
</style>
<div class="row">
  <div class="col-md-12 img-rounded s_node_wall" style="background:url('{{node.image_wall_path}}');">
    <img class="avatar-big s_node_avatar" src="{{node.image_avatar_path}}">
    <div class="s_node_header">
      <div id="node_name" style="">
        <h1 style="display:inline;">{{node.name}}</h1>
        {%if user%}<a class="pull-right s_node_link" style="margin-left:5px;" target="new" href="mailto:'Pappa-Mi - {{node.name}}' <node-{{node.key.id()}}@pappa-mi.it>">mail&nbsp;<i class="icon-envelope"></i></a>{%endif%}
        <a class="pull-right s_node_link" style="margin-left:5px;" target="new" href="/node/{{node.key.id()}}/rss">rss |</a>
        <a class="pull-right s_node_link" target="new" href="/node/{{node.key.id()}}">link a questo argomento |</a>
      </div>
      <div id="node_description"><h4>{{node.description}}</h4></div>
    </div>
  </div>
</div>
<div class="row">
  <div id="node_container" class="col-md-12"></div>
</div>
<script type="text/javascript">
$(document).ready(function () {
  loadNode('{{node.key.urlsafe()}}', 'nolist')
});
</script>
