<div class="node_root" data-node-key='{{node_key}}' data-sub-status='{%if subscription%}true{%else%}false{%endif%}' data-ntfy-period='{%if subscription%}{{subscription.ntfy_period}}{%endif%}'>
{%if user %}
 <div class="s_node_commands btn-toolbar">
  <div class="btn-group" style="display:inline;">
   <a class="btn btn-primary dropdown-toggle" id="add_new" data-toggle="dropdown" href="#">Aggiungi nuovo...<span class="caret"></span></a>
   <ul class="dropdown-menu">
    <li><a class="open_msg" onclick="onOpenPostForm()" href="#">Messaggio</a></li>
    {%if cmsro.isCommissario() %}
    <li class="hidden-phone"><a class="open_isp" onclick="opennewisp();" href="#">Ispezione</a></li>
    <li class="hidden-phone"><a class="open_dieta" onclick="opennewdieta();" href="#">Ispezione Diete</a></li>
    <li class="hidden-phone"><a class="open_nc" onclick="opennewnc();" href="#">Non conformit&agrave;</a></li>
   {%endif%}
    <li class="hidden-phone"><a class="open_nota" onclick="opennewnota();" href="#">Nota</a></li>
   </ul>
  </div>
  {%if node%}
  {%if admin%}
  <a class="btn btn-normal" href="/node/edit/{{node.key.id()}}">Modifica</a>
  {%endif%}
  <div class="btn-group pull-right" style="display:inline;" id="node_subscription">
   <div id="subscribe_btn" class="btn"></div>
   <a id="sub_prop" class="btn dropdown-toggle" data-toggle="dropdown" href="#">
	 <span class="icon-cog"></span>
   </a>
   <ul id="ntfy_prop" class="dropdown-menu">
	 <li><a id="ntfy_period_-1" class='ntfy_period' data-ntfy-period='-1'><i class="icon-ok" style="visibility:hidden"></i>Nessuna</a></li>
	 <li><a id="ntfy_period_0" class='ntfy_period' data-ntfy-period='0'><i class="icon-ok" style="visibility:hidden"></i>Immediato</a></li>
	 <li><a id="ntfy_period_1" class='ntfy_period' data-ntfy-period='1'><i class="icon-ok" style="visibility:hidden"></i>Quotidiano</a></li>
	 <li><a id="ntfy_period_7" class='ntfy_period' data-ntfy-period='7'><i class="icon-ok" style="visibility:hidden"></i>Settimanale</a></li>
   </ul>
  </div>
   {%endif%}
 </div>
{%endif%} 
 <div id="node_title" class="s_node_header_em">
  {%if node%}<img class="avatar pull-left" src="{{node.image_avatar_path}}">{%endif%}
  <h3 style="display:inline;">{{node_name}}</h3>{%if node%}<a class="pull-right s_node_link" style="margin-left:5px;" target="_new" href="/node/{{node.key.id()}}/rss">rss</a><a class="pull-right s_node_link" target="_new" href="/node/{{node.key.id()}}">link a questo argomento</a>{%endif%}
 </div>{%if user %}
 <div id="new_post" style="display:none" class="well">
  <form id="new_post_form" action="/post/manage" method="post" enctype="multipart/form-data" class="form-stacked" novalidate="true">
   <input type="hidden" name="cmd" value="create_open_post"/>
   <input type="hidden" id="form_user" name="user" value="{{user.key.urlsafe()}}"/>
   <a class="pull-right close" onclick="onOpenPostForm()" href="#">&times;</a>{%if node%} 	   
   <input type="hidden" id="form_node" name="node" value="{{node.key.urlsafe()}}"/>{%else%}
   <div class="form_parent">
    <label for="node">Argomento</label>
    <select class="required" name="node" id="form_node">
    {%for node in node_list%}<option value="{{node.key.urlsafe()}}">{{node.name}}</option>
    {%endfor%}
    </select>
   </div>{%endif%}
   <div class="form_parent">
	   <label for="post_title_text">Titolo</label>
	   <input class="span8 required" type="text" name="title" id="post_title_text">
   </div>
   <div class="form_parent">
	   <label id="post_content_label" for="content">Contenuto</label>
	   <textarea id="post_content_text" class="required span8" name="content"></textarea>
   </div>
   <div class="form_parent post_attachments">       
    <label class="control-label" for="e_attach">Allegati</label>
    <input type="file" name="attach_file" id="p_attach_file" allow="image/jpeg, image/png, image/gif, image/tiff, application/pdf, application/msword, application/x-excel"/>
   </div>	   
   <div class="form-actions">
	   <input id="open_post_submit" class="btn btn-primary" type="submit" value="Salva" data-loading-text="Invio risposta in corso..."/>	
	   <input id="open_post_cancel_button" class="btn btn-primary" type="reset" value="Annulla" onclick="onOpenPostFormCancel()"/>
   </div>
  </form> 
 </div>{%endif%}
 <div id="main_stream">
  <ul id="main_stream_list" class="unstyled">
  </ul>
 </div>
 <div id="main_cmd">
  <div id="more_posts" class="btn btn-normal offset2 span5">Carica altri...</div>
  <div id="no_more_posts" class="offset2 span5 alert alert-info fade in" style="display:none;">Non sono presenti altri messaggi<a class="close" data-dismiss="alert" href="#">&times;</a>
 </div>
</div>
<div id="new-data" style="display:none;">
 <div id="new-data-form" style="border: none;"></div> 
 <div id="new-data-preview" style="display:none;"></div> 
</div> 
<div id="new-nc" style="display:none;"></div>

