<style>
#node_title {
display:none;
}
#node_container {
margin-top:20px;
}
</style>
<div class="row">
  <div class="span12 img-rounded s_node_wall" style="background:url('{{node.image_wall_path}}');">
    <img class="avatar-big s_node_avatar" src="{{node.image_avatar_path}}">
    <div class="s_node_header">
      <div id="node_name" style=""><h1>{{node.name}}</h1></div>
      <div id="node_description"><h4>{{node.description}}</h4></div>
    </div>
  </div>
</div>
{#<div class="row">
  <div class="span12">
{%for resource in node.resource%}
{%include "resources/"+node.res_type[loop.index-1]+".html"%}
{%endfor%}	
  </div>
</div>#}
<div class="row">
  <div id="node_container" class="span12"></div>
</div>
<script type="text/javascript">
$(document).ready(function () {
  loadNode('{{node.key.urlsafe()}}', 'nolist')
});
</script>
